<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<!--realgrid -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/st/st004/st004.js}"></script>

<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div class="contents_wrap">
                <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                    <ul class="bdb">
                        <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                        <li style="text-align:right; width:48%;">
                            <button class="btn_co" id="popArrangeBtn">
                                <span class="btn_icon_co">&nbsp;</span>
                                <span class="btn_main_txt">Arrange</span>
                            </button>
                            <button class="btn_s" th:id="save">
                                <span class="btn_icon">&nbsp;</span>
                                <span class="btn_main_txt">Save(S)</span>
                            </button>
                        </li>
                    </ul>
                </div>

                <div style="height:100%; width:100%" class="div_tablerow">

                    <div style="display:table; height:100%; width:40%; float:left" class="bdr">
                        <ul class="bdb div_tablerow bgf7" style="height:30px;">
                            <th:block layout:insert="~{/fragments/page-buttons :: dot('Location')}"/>
                            <li style="width:78%; text-align:right;">
                                <button class="btn_co btn_inquiry01">
                                    <span class="btn_icon_co">&nbsp;</span>
                                    <span class="btn_main_txt">Inquiry</span>
                                </button>
                            </li>
                        </ul>
                        <ul class="bdb div_tablerow" style="height:auto;">
                            <li style="width:100%; text-align:left; float: left">
                                <dl style="width: 420px">
                                    <th:block layout:insert="~{/fragments/page-buttons :: searchInputYellow ('Repository','repositoryName')}"/>
                                    <dt class="pdl_15" style="width: 80px">Row</dt>
                                    <dd class="w120"><input type=text style="width:110px" data-ax-path="rowNo"></dd>
                                </dl>
                                <dl style="width: 420px">
                                    <th:block layout:insert="~{/fragments/page-buttons :: searchInputYellow ('Shelf','shelfName')}"/>
                                    <dt class="pdl_15" style="width: 80px"> Column</dt>
                                    <dd class="w120"><input type=text style="width:110px" data-ax-path="columnNo"></dd>
                                </dl>
                            </li>
                        </ul>
                        <div style="height:100%; width:100%" class="div_tablerow bdb">
                            <div id="realgrid01" style="width:100%; height:100%"></div>
                        </div>
                    </div>


                    <div style="display:table; height:100%; width:60%; float:right">
                        <ul class="bdb div_tablerow bgf7" style="height:30px;">
                            <th:block layout:insert="~{/fragments/page-buttons :: dot('Container')}"/>
                            <li style="width:78%; text-align:right;">
                                <button class="btn_co btn_inquiry02">
                                    <span class="btn_icon_co">&nbsp;</span>
                                    <span class="btn_main_txt">Inquiry</span>
                                </button>
                                <button class="btn_co">
                                    <span class="btn_icon_co">&nbsp;</span>
                                    <span class="btn_main_txt">Confirm</span>
                                </button>
                                <button class="btn_co">
                                    <span class="btn_icon_co">&nbsp;</span>
                                    <span class="btn_main_txt">Cancel</span>
                                </button>
                                <button class="btn_d">
                                    <span class="btn_icon">&nbsp;</span>
                                    <span class="btn_main_txt">Delete</span>
                                </button>
                            </li>
                        </ul>

                        <ul class="bdb div_tablerow" style="height:auto;">
                            <li style="width:100%; text-align:left; float: left">
                                <dl style="width: 630px">
                                    <dt class="mgl_5 w120">Status</dt>
                                    <dd>
                                        <select data-ax-path="statusUuid" style="width:135px;">
                                            <option value=""></option>
                                            <option th:each="item : ${statusUuid}"
                                                    th:value="${item.codeDetailUUID}"
                                                    th:text="${item.codeName}"/>
                                        </select>
                                    </dd>
                                    <dt class="w130">Container Name</dt>
                                    <dd><input type=text style="width:135px"></dd>
                                </dl>
                                <dl style="width: 630px">
                                    <dt class="mgl_5 w120">Container Type</dt>
                                    <dd>
                                        <select data-ax-path="containerTypeUuid" style="width:135px;">
                                            <option value=""></option>
                                            <option th:each="item : ${containerTypeUuid}"
                                                    th:value="${item.codeDetailUUID}"
                                                    th:text="${item.codeName}"/>
                                        </select>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                        <ul class="bdb div_tablerow" style="height:25px;">
                            <li style="width:100%; text-align:left;">
                                <input type=text class="yeongye"  readonly style="width: 90px; text-align: right" data-ax-path="selectedRowNo">
                                <input type=text class="yeongye"  readonly style="width: 84px;text-align: right" data-ax-path="selectedColumnNo">
                            </li>
                        </ul>
                        <div style="height:100%; width:100%" class="div_tablerow bdb">
                            <div id="realgrid02" style="width:100%; height:100%"></div>
                        </div>
                    </div>

                </div>



            </div>

        </div>
    </form>
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>