<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.sla.sh_sla_80.ShSla80Mapper">

    <select id="findAll" resultType="shSla80" parameterType="shSla80" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_CHASU AS calleeChasu,
            CUSTOMER_WAIT_ENABLE AS customerWaitEnable,
            CORP_CODE AS corpCode,
            CALLEE_REQ_GUBUN AS calleeReqGubun,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            PLACE_GUBUN AS placeGubun,
            REGION_GUBUN AS regionGubun,
            TERMINAL_NO AS terminalNo,
            CALLEE_GUBUN AS calleeGubun,
            CALLEE_REQ_DATETIME AS calleeReqDatetime,
            ARRIVAL_PLAN_DATETIME AS arrivalPlanDatetime,
            ARRIVAL_DATETIME AS arrivalDatetime,
            HANDLE_METHOD AS handleMethod,
            CALLEE_ELAPSED_TIME AS calleeElapsedTime,
            CALLEE_ELAPSED_SECONDS AS calleeElapsedSeconds,
            ARRIVAL_ELAPSED_TIME AS arrivalElapsedTime,
            ARRIVAL_ELAPSED_SECONDS AS arrivalElapsedSeconds,
            ARRIVAL_PLAN_REPORT_DATETIME AS arrivalPlanReportDatetime,
            ERROR_CONTENT AS errorContent,
            MODEL_NAME AS modelName
        FROM
            ATMS_SLA_80
    </select>

    <select id="findOne" resultType="shSla80" parameterType="shSla80" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_CHASU AS calleeChasu,
            CUSTOMER_WAIT_ENABLE AS customerWaitEnable,
            CORP_CODE AS corpCode,
            CALLEE_REQ_GUBUN AS calleeReqGubun,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            PLACE_GUBUN AS placeGubun,
            REGION_GUBUN AS regionGubun,
            TERMINAL_NO AS terminalNo,
            CALLEE_GUBUN AS calleeGubun,
            CALLEE_REQ_DATETIME AS calleeReqDatetime,
            ARRIVAL_PLAN_DATETIME AS arrivalPlanDatetime,
            ARRIVAL_DATETIME AS arrivalDatetime,
            HANDLE_METHOD AS handleMethod,
            CALLEE_ELAPSED_TIME AS calleeElapsedTime,
            CALLEE_ELAPSED_SECONDS AS calleeElapsedSeconds,
            ARRIVAL_ELAPSED_TIME AS arrivalElapsedTime,
            ARRIVAL_ELAPSED_SECONDS AS arrivalElapsedSeconds,
            ARRIVAL_PLAN_REPORT_DATETIME AS arrivalPlanReportDatetime,
            ERROR_CONTENT AS errorContent,
            MODEL_NAME AS modelName
        FROM
            ATMS_SLA_80
        WHERE
            TX_ID = #{txId}, ERROR_DATETIME = #{errorDatetime}, CALLEE_CHASU = #{calleeChasu}
    </select>

   <update id="delete" parameterType="shSla80" statementType="PREPARED">
        DELETE FROM
            ATMS_SLA_80
        WHERE
            TX_ID = #{txId}, ERROR_DATETIME = #{errorDatetime}, CALLEE_CHASU = #{calleeChasu}
    </update>

   <update id="update" parameterType="shSla80" statementType="PREPARED">
        UPDATE ATMS_SLA_80
        SET
            CUSTOMER_WAIT_ENABLE = #{customerWaitEnable},
            CORP_CODE = #{corpCode},
            CALLEE_REQ_GUBUN = #{calleeReqGubun},
            BRANCH_CODE = #{branchCode},
            BRANCH_NAME = #{branchName},
            CORNER_CODE = #{cornerCode},
            CORNER_NAME = #{cornerName},
            PLACE_GUBUN = #{placeGubun},
            REGION_GUBUN = #{regionGubun},
            TERMINAL_NO = #{terminalNo},
            CALLEE_GUBUN = #{calleeGubun},
            CALLEE_REQ_DATETIME = #{calleeReqDatetime},
            ARRIVAL_PLAN_DATETIME = #{arrivalPlanDatetime},
            ARRIVAL_DATETIME = #{arrivalDatetime},
            HANDLE_METHOD = #{handleMethod},
            CALLEE_ELAPSED_TIME = #{calleeElapsedTime},
            CALLEE_ELAPSED_SECONDS = #{calleeElapsedSeconds},
            ARRIVAL_ELAPSED_TIME = #{arrivalElapsedTime},
            ARRIVAL_ELAPSED_SECONDS = #{arrivalElapsedSeconds},
            ARRIVAL_PLAN_REPORT_DATETIME = #{arrivalPlanReportDatetime},
            ERROR_CONTENT = #{errorContent},
            MODEL_NAME = #{modelName}
        WHERE
            TX_ID = #{txId}, ERROR_DATETIME = #{errorDatetime}, CALLEE_CHASU = #{calleeChasu}
    </update>

   <update id="insert" parameterType="shSla80" statementType="PREPARED">
        INSERT INTO ATMS_SLA_80 (
            TX_ID,
            ERROR_DATETIME,
            CALLEE_CHASU,
            CUSTOMER_WAIT_ENABLE,
            CORP_CODE,
            CALLEE_REQ_GUBUN,
            BRANCH_CODE,
            BRANCH_NAME,
            CORNER_CODE,
            CORNER_NAME,
            PLACE_GUBUN,
            REGION_GUBUN,
            TERMINAL_NO,
            CALLEE_GUBUN,
            CALLEE_REQ_DATETIME,
            ARRIVAL_PLAN_DATETIME,
            ARRIVAL_DATETIME,
            HANDLE_METHOD,
            CALLEE_ELAPSED_TIME,
            CALLEE_ELAPSED_SECONDS,
            ARRIVAL_ELAPSED_TIME,
            ARRIVAL_ELAPSED_SECONDS,
            ARRIVAL_PLAN_REPORT_DATETIME,
            ERROR_CONTENT,
            MODEL_NAME
        ) VALUES (
            #{txId},
            #{errorDatetime},
            #{calleeChasu},
            #{customerWaitEnable},
            #{corpCode},
            #{calleeReqGubun},
            #{branchCode},
            #{branchName},
            #{cornerCode},
            #{cornerName},
            #{placeGubun},
            #{regionGubun},
            #{terminalNo},
            #{calleeGubun},
            #{calleeReqDatetime},
            #{arrivalPlanDatetime},
            #{arrivalDatetime},
            #{handleMethod},
            #{calleeElapsedTime},
            #{calleeElapsedSeconds},
            #{arrivalElapsedTime},
            #{arrivalElapsedSeconds},
            #{arrivalPlanReportDatetime},
            #{errorContent},
            #{modelName}
        )
    </update>
</mapper>