<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rc/rc001/p_rc00103.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">
                <div class="contents_wrap">
                    <div style="height:100%; width:100%" class="div_tablerow">
                        <div style="height:100%; width:100%" class="div_table">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('')}"/>
                                <th:block layout:insert="~{/fragments/page-buttons :: add-and-delete}"/>
                                <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry('show','none')}"/>
                            </ul>
                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div id="realgrid01" style="width:100%; height:100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>