<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.sla.sh_sla_40.ShSla40Mapper">

    <select id="findAll" resultType="shSla40" parameterType="shSla40" statementType="PREPARED">
        SELECT
            SEQ_NO AS seqNo,
            CORP_CODE AS corpCode,
            GUBUN AS gubun,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            TERMINAL_NO AS terminalNo,
            CALLEE_REQ_DATETIME AS calleeReqDatetime,
            CHECKPOINT_SCORE1 AS checkpointScore1,
            CHECKPOINT_SCORE2 AS checkpointScore2,
            CHECKPOINT_SCORE3 AS checkpointScore3,
            CHECKPOINT_SCORE4 AS checkpointScore4,
            HAPPYCALL_AGENT AS happycallAgent,
            HAPPYCALL_DATETIME AS happycallDatetime,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_REQ_USER AS calleeReqUser,
            CUSTOMER AS customer,
            TEL_NO AS telNo,
            CONTENT AS content
        FROM
            ATMS_SLA_40
    </select>

    <select id="findOne" resultType="shSla40" parameterType="shSla40" statementType="PREPARED">
        SELECT
            SEQ_NO AS seqNo,
            CORP_CODE AS corpCode,
            GUBUN AS gubun,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            TERMINAL_NO AS terminalNo,
            CALLEE_REQ_DATETIME AS calleeReqDatetime,
            CHECKPOINT_SCORE1 AS checkpointScore1,
            CHECKPOINT_SCORE2 AS checkpointScore2,
            CHECKPOINT_SCORE3 AS checkpointScore3,
            CHECKPOINT_SCORE4 AS checkpointScore4,
            HAPPYCALL_AGENT AS happycallAgent,
            HAPPYCALL_DATETIME AS happycallDatetime,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_REQ_USER AS calleeReqUser,
            CUSTOMER AS customer,
            TEL_NO AS telNo,
            CONTENT AS content
        FROM
            ATMS_SLA_40
        WHERE
            SEQ_NO = #{seqNo}
    </select>

   <update id="delete" parameterType="shSla40" statementType="PREPARED">
        DELETE FROM
            ATMS_SLA_40
        WHERE
            SEQ_NO = #{seqNo}
    </update>

   <update id="update" parameterType="shSla40" statementType="PREPARED">
        UPDATE ATMS_SLA_40
        SET
            CORP_CODE = #{corpCode},
            GUBUN = #{gubun},
            BRANCH_CODE = #{branchCode},
            BRANCH_NAME = #{branchName},
            CORNER_CODE = #{cornerCode},
            CORNER_NAME = #{cornerName},
            TERMINAL_NO = #{terminalNo},
            CALLEE_REQ_DATETIME = #{calleeReqDatetime},
            CHECKPOINT_SCORE1 = #{checkpointScore1},
            CHECKPOINT_SCORE2 = #{checkpointScore2},
            CHECKPOINT_SCORE3 = #{checkpointScore3},
            CHECKPOINT_SCORE4 = #{checkpointScore4},
            HAPPYCALL_AGENT = #{happycallAgent},
            HAPPYCALL_DATETIME = #{happycallDatetime},
            ERROR_DATETIME = #{errorDatetime},
            CALLEE_REQ_USER = #{calleeReqUser},
            CUSTOMER = #{customer},
            TEL_NO = #{telNo},
            CONTENT = #{content}
        WHERE
            SEQ_NO = #{seqNo}
    </update>

   <update id="insert" parameterType="shSla40" statementType="PREPARED">
        INSERT INTO ATMS_SLA_40 (
            SEQ_NO,
            CORP_CODE,
            GUBUN,
            BRANCH_CODE,
            BRANCH_NAME,
            CORNER_CODE,
            CORNER_NAME,
            TERMINAL_NO,
            CALLEE_REQ_DATETIME,
            CHECKPOINT_SCORE1,
            CHECKPOINT_SCORE2,
            CHECKPOINT_SCORE3,
            CHECKPOINT_SCORE4,
            HAPPYCALL_AGENT,
            HAPPYCALL_DATETIME,
            ERROR_DATETIME,
            CALLEE_REQ_USER,
            CUSTOMER,
            TEL_NO,
            CONTENT
        ) VALUES (
            #{seqNo},
            #{corpCode},
            #{gubun},
            #{branchCode},
            #{branchName},
            #{cornerCode},
            #{cornerName},
            #{terminalNo},
            #{calleeReqDatetime},
            #{checkpointScore1},
            #{checkpointScore2},
            #{checkpointScore3},
            #{checkpointScore4},
            #{happycallAgent},
            #{happycallDatetime},
            #{errorDatetime},
            #{calleeReqUser},
            #{customer},
            #{telNo},
            #{content}
        )
    </update>
</mapper>