<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad002.dao.Ad002Mapper">

    <select id="select" resultType="Ad00201VO" parameterType="Ad00201VO" statementType="PREPARED">
            <![CDATA[
            SELECT
               Z.MESSAGE_UUID messageUUID,
               Z.MESSAGE_CODE messageCode,
               Z.MESSAGE_NAME messageName,
               Z.SERVICE_UUID serviceUuid,
               Z.DB_ERROR_CODE dbErrorCode,
               Z.DESCRIPTION description,
               Z.NOTES notes,
               Z.USE_YN useYN,
               ]]>
               <include refid="Common.UserName"><property name="userUuid" value="Z.INSERT_UUID"/></include> as insertUuid,
              <![CDATA[
               Z.INSERT_DATE as insertDate,
               ]]>
               <include refid="Common.UserName"><property name="userUuid" value="Z.UPDATE_UUID"/></include> as updateUuid,
               <![CDATA[
               Z.UPDATE_DATE as updateDate
               ]]>
            FROM
              AD_MESSAGE Z
            WHERE
              1=1
        <if test="null != messageCode and '' != messageCode">
            <![CDATA[
            AND
            Z.MESSAGE_CODE LIKE '%' || #{messageCode} || '%'
            ]]>
        </if>
        <if test="null != messageName and '' != messageName">
            <![CDATA[
            AND
            Z.MESSAGE_NAME LIKE '%' || #{messageName} || '%'
            ]]>
        </if>
        <if test="null != serviceUuid and '' != serviceUuid">
            <![CDATA[
            AND
            Z.SERVICE_UUID = #{serviceUuid}
            ]]>
        </if>
        <if test="null != useYN and '' != useYN">
            <![CDATA[
            AND
            Z.USE_YN = #{useYN}
            ]]>
        </if>
    </select>

</mapper>