@charset "utf-8";

@font-face {
	font-family: 'nanum';
	src: url('font/NanumGothic.eot');
	src: local('나눔고딕'), local('NanumGothic'), url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
		url('font/NanumGothic.woff') format('woff'),
		url('font/NanumGothic.ttf') format('truetype');
}

@font-face {
	font-family: 'notosans';
	src: url('font/NotoSans-Regular.eot');
	src: local('NotoSans-Regular'), local('NotoSans-Regular'), url('font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('font/NotoSans-Regular.woff') format('woff'),
		url('font/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'notosansi';
	src: url('font/NotoSans-Italic.eot');
	src: local('NotoSans-Italic'), local('NotoSans-Italic'), url('font/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('font/NotoSans-Italic.woff') format('woff'),
		url('font/NotoSans-Italic.ttf') format('truetype');
}


/* pc 초기화 */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,table td {
    margin:0;
    padding:0; 
    font-size: 12px;
    font-family:nanum,"나눔고딕",NanumGothic,"맑은 고딕", Dotum,Helvetica,sans-serif;
    
}
fieldset,img {border:0 none}
img {vertical-align:top}
dl,ul,ol,menu,li {
    list-style:none;
    font-family:nanum,"나눔고딕",NanumGothic,"맑은 고딕", Dotum,Helvetica,sans-serif;
    
}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
input,select,textarea,button {vertical-align:middle}

button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,{
    font-size:16px;line-height:16px;
    font-family:nanum,"나눔고딕",NanumGothic,"맑은 고딕", Dotum,Arial,Helvetica,sans-serif;
    color:#333333} /* color값은 디자인가이드에 맞게사용 */
a {color:#595757;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
table { /*border-collapse: collapse;*/ border-spacing: 0px}
caption, legend {
    width:0;height:0;overflow:hidden;visibility:hidden;line-height:0;font-size:0}

/* 스킵네비 */
#skipnavigation {position:absolute; left:0; top:-1000px; width:100%; height: 0px; z-index:1000; line-height:0px; font-size:0px}
#skipnavigation a{display:block; text-align:center; width: 100%; line-height:0px; font-size:0px}
#skipnavigation a:focus, #skipnavigation a:hover, #skipnavigation a:active {position:absolute; left:0px; top:1000px; padding: 8px 0; display:block; height:20px; background:#20262c; font-size:12px; font-weight:bold; line-height:18px; color:#fff}

/*자주 사용되는 스타일모음*/
.ir {display: block; font-size: 0; height: 0; line-height: 0; margin: 0; overflow: hidden; padding: 0; width: 0;}

/* Element Hidden Type */
.skip {position:absolute;top:0;height:0;visibility:hidden;font-size:0}
.hide {position:fixed;top:-10000px;left:-10000px}

/* align style */
.clear {clear:both}
.clearfix {display:inline-block;width:100%}
.clearfix:after {content:"";display:block;visibility:hidden;clear:both}
.ft_left {display:block;float:left}
.ft_right {display:block;float:right}
.left {text-align:left !important}
.right {text-align:right !important}
.center {text-align:center !important}
.inline {display:inline}
.vtop {vertical-align:top !important}
.vmiddle {vertical-align:middle !important}
.vtop {vertical-align:top}
.vbottom {vertical-align:bottom !important}

/* no style */
.no_mar {margin:0 !important}
.no_padd {padding:0 !important}
.no_bul {padding-left:0 !important;background:none !important}
.no_bold {font-weight:normal !important}
.no_color {color:#666666 !important}
.no_bg {background:none !important}
.no_dis {position:absolute;visibility:hidden;height:0;font-size:0 !important}
.none {display:none !important}
.no_border {border:none !important}
.no_border_btm {border-bottom:none !important}
.no_border_top {border-top:none !important}
.no_border_left {border-left:none !important}/*160615추가*/

.mgb0 {margin-bottom:0 !important}
.mgt0 {margin-top:0 !important}
.mgr0 {margin-right:0 !important}
.mgl0 {margin-left:0 !important}

.pdb0 {padding-bottom:0 !important}
.pdt0 {padding-top:0 !important}
.pdr0 {padding-right:0 !important}
.pdl0 {padding-left:0 !important}
.pd0 {padding: 0 !important}

.bdb0 {border-bottom:0 !important}
.bdt0 {border-top:0 !important}
.bdl0 {border-left:0 !important}
.bdr0 {border-right:0 !important}

.bold {font-weight:600}
.w5 {width:5% !important}
.w10 {width:10% !important}
.w15 {width:15% !important}
.w20 {width:20% !important}
.w25 {width:25% !important}
.w30 {width:30% !important}
.w35 {width:35% !important}
.w40 {width:40% !important} 
.w45 {width:45% !important}
.w50 {width:50% !important}
.w55 {width:55% !important}
.w60 {width:60% !important}
.w65 {width:65% !important}
.w70 {width:70% !important}
.w75 {width:75% !important}
.w80 {width:80% !important}
.w85 {width:85% !important}
.w90 {width:90% !important}
.w95 {width:95% !important}
.w100 {width:100% !important}

.h5 {height:5px !important}
.h10 {height:10px !important}
.h15 {height:15px !important}
.h20 {height:20px !important}
.h25 {height:25px !important}
.h30 {height:30px !important}
.h35 {height:35px !important}
.h40 {height:40px !important}
.h45 {height:45px !important}
.h50 {height:50px !important}
.h55 {height:55px !important}
.h60 {height:60px !important}
.h65 {height:65px !important}
.h70 {height:70px !important}
.h75 {height:75px !important}
.h80 {height:80px !important}
.h85 {height:85px !important}
.h90 {height:90px !important}
.h95 {height:95px !important}
.h100 {height:100px !important}
.h150 {height:150px !important}

.mgt_5 {margin-top:5px !important}
.mgt_10 {margin-top:10px !important}
.mgt_15 {margin-top:15px !important}
.mgt_20 {margin-top:20px !important}
.mgt_25 {margin-top:25px !important}
.mgt_30 {margin-top:30px !important}
.mgt_35 {margin-top:35px !important}
.mgt_40 {margin-top:40px !important}
.mgt_45 {margin-top:45px !important}
.mgt_50 {margin-top:50px !important}
.mgt_55 {margin-top:55px !important}
.mgt_60 {margin-top:60px !important}
.mgt_65 {margin-top:65px !important}
.mgt_70 {margin-top:70px !important}
.mgt_75 {margin-top:75px !important}
.mgt_80 {margin-top:80px !important}
.mgt_85 {margin-top:85px !important}
.mgt_90 {margin-top:90px !important}
.mgt_95 {margin-top:95px !important}
.mgt_100 {margin-top:100px !important}

.mgr_5 {margin-right:5px !important}
.mgr_2 {margin-right:2px !important}
.mgr_6 {margin-right:6px !important}
.mgr_7 {margin-right:7px !important}
.mgr_8 {margin-right:8px !important}
.mgr_9 {margin-right:9px !important}
.mgr_10 {margin-right:10px !important}
.mgr_12 {margin-right:12px !important}
.mgr_15 {margin-right:15px !important}
.mgr_20 {margin-right:20px !important}
.mgr_25 {margin-right:25px !important}
.mgr_30 {margin-right:30px !important}
.mgr_35 {margin-right:35px !important}
.mgr_40 {margin-right:40px !important}
.mgr_45 {margin-right:45px !important}
.mgr_50 {margin-right:50px !important}
.mgr_55 {margin-right:55px !important}
.mgr_60 {margin-right:60px !important}
.mgr_65 {margin-right:65px !important}
.mgr_70 {margin-right:70px !important}
.mgr_75 {margin-right:75px !important}
.mgr_80 {margin-right:80px !important}
.mgr_85 {margin-right:85px !important}
.mgr_90 {margin-right:90px !important}
.mgr_95 {margin-right:95px !important}
.mgr_100 {margin-right:100px !important}

.mgb_5 {margin-bottom:5px !important}
.mgb_7 {margin-bottom:7px !important}
.mgb_10 {margin-bottom:10px !important}
.mgb_12 {margin-bottom:12px !important}
.mgb_13 {margin-bottom:13px !important}
.mgb_15 {margin-bottom:15px !important}
.mgb_20 {margin-bottom:20px !important}
.mgb_22 {margin-bottom:22px !important}
.mgb_25 {margin-bottom:25px !important}
.mgb_30 {margin-bottom:30px !important}
.mgb_35 {margin-bottom:35px !important}
.mgb_36 {margin-bottom:36px !important}
.mgb_37 {margin-bottom:37px !important}
.mgb_38 {margin-bottom:38px !important}
.mgb_40 {margin-bottom:40px !important}
.mgb_45 {margin-bottom:45px !important}
.mgb_50 {margin-bottom:50px !important}
.mgb_55 {margin-bottom:55px !important}
.mgb_60 {margin-bottom:60px !important}
.mgb_65 {margin-bottom:65px !important}
.mgb_70 {margin-bottom:70px !important}
.mgb_75 {margin-bottom:75px !important}
.mgb_80 {margin-bottom:80px !important}
.mgb_85 {margin-bottom:85px !important}
.mgb_90 {margin-bottom:90px !important}
.mgb_95 {margin-bottom:95px !important}
.mgb_100 {margin-bottom:100px !important}
.mgb_150 {margin-bottom:150px !important}
.mgb_200 {margin-bottom:200px !important}

.mgl_5 {margin-left:5px !important}
.mgl_7 {margin-left:7px !important}
.mgl_8 {margin-left:8px !important}
.mgl_10 {margin-left:10px !important}
.mgl_12 {margin-left:12px !important}
.mgl_15 {margin-left:15px !important}
.mgl_20 {margin-left:20px !important}
.mgl_25 {margin-left:25px !important}
.mgl_30 {margin-left:30px !important}
.mgl_35 {margin-left:35px !important}
.mgl_40 {margin-left:40px !important}
.mgl_45 {margin-left:45px !important}
.mgl_50 {margin-left:50px !important}
.mgl_55 {margin-left:55px !important}
.mgl_60 {margin-left:60px !important}
.mgl_65 {margin-left:65px !important}
.mgl_70 {margin-left:70px !important}
.mgl_75 {margin-left:75px !important}
.mgl_80 {margin-left:80px !important}
.mgl_85 {margin-left:85px !important}
.mgl_90 {margin-left:90px !important}
.mgl_95 {margin-left:95px !important}
.mgl_100 {margin-left:100px !important}
.mgl_140 {margin-left:140px !important}
.mgl_235 {margin-left:235px !important}


.pdt_5 {padding-top:5px !important}
.pdt_10 {padding-top:10px !important}
.pdt_15 {padding-top:15px !important}
.pdt_17 {padding-top:17px !important}
.pdt_20 {padding-top:20px !important}
.pdt_25 {padding-top:25px !important}
.pdt_30 {padding-top:30px !important}
.pdt_35 {padding-top:35px !important}
.pdt_40 {padding-top:40px !important}
.pdt_45 {padding-top:45px !important}
.pdt_50 {padding-top:50px !important}
.pdt_55 {padding-top:55px !important}
.pdt_60 {padding-top:60px !important}
.pdt_65 {padding-top:65px !important}
.pdt_70 {padding-top:70px !important}
.pdt_75 {padding-top:75px !important}
.pdt_80 {padding-top:80px !important}
.pdt_85 {padding-top:85px !important}
.pdt_90 {padding-top:90px !important}
.pdt_95 {padding-top:95px !important}
.pdt_100 {padding-top:100px !important}

.pdr_5 {padding-right:5px !important}
.pdr_10 {padding-right:10px !important}
.pdr_15 {padding-right:15px !important}
.pdr_20 {padding-right:20px !important}
.pdr_25 {padding-right:25px !important}
.pdr_30 {padding-right:30px !important}
.pdr_35 {padding-right:35px !important}
.pdr_40 {padding-right:40px !important}
.pdr_45 {padding-right:45px !important}
.pdr_50 {padding-right:50px !important}
.pdr_55 {padding-right:55px !important}
.pdr_60 {padding-right:60px !important}
.pdr_65 {padding-right:65px !important}
.pdr_70 {padding-right:70px !important}
.pdr_75 {padding-right:75px !important}
.pdr_80 {padding-right:80px !important}
.pdr_85 {padding-right:85px !important}
.pdr_90 {padding-right:90px !important}
.pdr_95 {padding-right:95px !important}
.pdr_100 {padding-right:100px !important}

.pdb_5 {padding-bottom:5px !important}
.pdb_7 {padding-bottom:7px !important}
.pdb_10 {padding-bottom:10px !important}
.pdb_15 {padding-bottom:15px !important}
.pdb_20 {padding-bottom:20px !important}
.pdb_25 {padding-bottom:25px !important}
.pdb_30 {padding-bottom:30px !important}
.pdb_35 {padding-bottom:35px !important}
.pdb_40 {padding-bottom:40px !important}
.pdb_45 {padding-bottom:45px !important}
.pdb_50 {padding-bottom:50px !important}
.pdb_55 {padding-bottom:55px !important}
.pdb_60 {padding-bottom:60px !important}
.pdb_65 {padding-bottom:65px !important}
.pdb_70 {padding-bottom:70px !important}
.pdb_75 {padding-bottom:75px !important}
.pdb_80 {padding-bottom:80px !important}
.pdb_85 {padding-bottom:85px !important}
.pdb_90 {padding-bottom:90px !important}
.pdb_95 {padding-bottom:95px !important}
.pdb_100 {padding-bottom:100px !important}

.pdl_5 {padding-left:5px !important}
.pdl_10 {padding-left:10px !important}
.pdl_15 {padding-left:15px !important}
.pdl_20 {padding-left:20px !important}
.pdl_25 {padding-left:25px !important}
.pdl_30 {padding-left:30px !important}
.pdl_35 {padding-left:35px !important}
.pdl_40 {padding-left:40px !important}
.pdl_45 {padding-left:45px !important}
.pdl_50 {padding-left:50px !important}
.pdl_55 {padding-left:55px !important}
.pdl_60 {padding-left:60px !important}
.pdl_65 {padding-left:65px !important}
.pdl_70 {padding-left:70px !important}
.pdl_75 {padding-left:75px !important}
.pdl_80 {padding-left:80px !important}
.pdl_85 {padding-left:85px !important}
.pdl_90 {padding-left:90px !important}
.pdl_95 {padding-left:95px !important}
.pdl_100 {padding-left:100px !important}
.pdl_235 {padding-left:235px !important}

.ls-1 {letter-spacing:-1px !important}
.ls-2 {letter-spacing:-2px !important}
.ls-3 {letter-spacing:-3px !important}
.ls-4 {letter-spacing:-4px !important}
.ls-5 {letter-spacing:-5px !important}

.f11 {font-size:11px !important}
.f12 {font-size:12px !important}
.f13 {font-size:13px !important}
.f14 {font-size:14px !important}
.f15 {font-size:15px !important}
.f16 {font-size:16px !important}
.f17 {font-size:17px !important}
.f18 {font-size:18px !important}
.f19 {font-size:19px !important}
.f20 {font-size:20px !important}
.f21 {font-size:21px !important}
.f22 {font-size:22px !important}
.f23 {font-size:23px !important}
.f24 {font-size:24px !important}
.f25 {font-size:25px !important}
.f26 {font-size:26px !important}
.f27 {font-size:27px !important}
.f28 {font-size:28px !important}
.f29 {font-size:29px !important}
.f30 {font-size:30px !important}
.f31 {font-size:31px !important}
.f32 {font-size:32px !important}
.f33 {font-size:33px !important}
.f34 {font-size:34px !important}
.f35 {font-size:35px !important}




