<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.cash.sh03001160.Sh03001160Mapper">

    <select id="findAll" resultType="sh03001160" parameterType="sh03001160" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            ADD_CASH_SENDING_SEQ_NO AS addCashSendingSeqNo,
            CASH_SENDING_DATE AS cashSendingDate,
            BILLING_EXPECT_DATE AS billingExpectDate,
            ADD_CASH_SENDING_AMT AS addCashSendingAmt,
            MNG_OFFICE AS mngOffice,
            CLOSE_GUBUN AS closeGubun,
            CASH_SENDING_STND_DATE AS cashSendingStndDate,
            ADD_CASH_50K_SENDING_AMT AS addCash50kSendingAmt
        FROM
            ATMS_03001160
    </select>

    <select id="findOne" resultType="sh03001160" parameterType="sh03001160" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            ADD_CASH_SENDING_SEQ_NO AS addCashSendingSeqNo,
            CASH_SENDING_DATE AS cashSendingDate,
            BILLING_EXPECT_DATE AS billingExpectDate,
            ADD_CASH_SENDING_AMT AS addCashSendingAmt,
            MNG_OFFICE AS mngOffice,
            CLOSE_GUBUN AS closeGubun,
            CASH_SENDING_STND_DATE AS cashSendingStndDate,
            ADD_CASH_50K_SENDING_AMT AS addCash50kSendingAmt
        FROM
            ATMS_03001160
        WHERE
            BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, ADD_CASH_SENDING_SEQ_NO = #{addCashSendingSeqNo}, CASH_SENDING_DATE = #{cashSendingDate}
    </select>

    <select id="nextSeqNo" resultType="sh03001160" parameterType="sh03001160" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            CASE
              WHEN TO_NUMBER(ADD_CASH_SENDING_SEQ_NO)+1 &lt; 10 THEN CONCAT('00',TO_CHAR(TO_NUMBER(ADD_CASH_SENDING_SEQ_NO)+1))
              WHEN TO_NUMBER(ADD_CASH_SENDING_SEQ_NO)+1 &lt; 100 THEN CONCAT('0',TO_CHAR(TO_NUMBER(ADD_CASH_SENDING_SEQ_NO)+1))
              WHEN TO_NUMBER(ADD_CASH_SENDING_SEQ_NO)+1 &gt;= 100 THEN TO_CHAR(TO_NUMBER(ADD_CASH_SENDING_SEQ_NO)+1)
            END AS addCashSendingSeqNo,
            CASH_SENDING_DATE AS cashSendingDate,
            BILLING_EXPECT_DATE AS billingExpectDate,
            ADD_CASH_SENDING_AMT AS addCashSendingAmt,
            MNG_OFFICE AS mngOffice,
            CLOSE_GUBUN AS closeGubun,
            CASH_SENDING_STND_DATE AS cashSendingStndDate,
            ADD_CASH_50K_SENDING_AMT AS addCash50kSendingAmt
        FROM
            (SELECT * FROM ATMS_03001160
                WHERE JISA_CODE = #{jisaCode}
                  AND BRANCH_CODE = #{branchCode}
                  AND TERMINAL_NO = #{terminalNo}
                  AND CASH_SENDING_DATE = #{cashSendingDate}
            ORDER BY ADD_CASH_SENDING_SEQ_NO DESC)
        WHERE ROWNUM = 1
    </select>

   <update id="delete" parameterType="sh03001160" statementType="PREPARED">
        DELETE FROM
            ATMS_03001160
        WHERE
            BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, ADD_CASH_SENDING_SEQ_NO = #{addCashSendingSeqNo}, CASH_SENDING_DATE = #{cashSendingDate}
    </update>

   <update id="update" parameterType="sh03001160" statementType="PREPARED">
        UPDATE ATMS_03001160
        SET
            JISA_CODE = #{jisaCode},
            BILLING_EXPECT_DATE = #{billingExpectDate},
            ADD_CASH_SENDING_AMT = #{addCashSendingAmt},
            MNG_OFFICE = #{mngOffice},
            CLOSE_GUBUN = #{closeGubun},
            CASH_SENDING_STND_DATE = #{cashSendingStndDate},
            ADD_CASH_50K_SENDING_AMT = #{addCash50kSendingAmt}
        WHERE
            BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, ADD_CASH_SENDING_SEQ_NO = #{addCashSendingSeqNo}, CASH_SENDING_DATE = #{cashSendingDate}
    </update>

   <update id="insert" parameterType="sh03001160" statementType="PREPARED">
        INSERT INTO ATMS_03001160 (
            JISA_CODE,
            BRANCH_CODE,
            TERMINAL_NO,
            ADD_CASH_SENDING_SEQ_NO,
            CASH_SENDING_DATE,
            BILLING_EXPECT_DATE,
            ADD_CASH_SENDING_AMT,
            MNG_OFFICE,
            CLOSE_GUBUN,
            CASH_SENDING_STND_DATE,
            ADD_CASH_50K_SENDING_AMT
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{terminalNo},
            #{addCashSendingSeqNo},
            #{cashSendingDate},
            #{billingExpectDate},
            #{addCashSendingAmt},
            #{mngOffice},
            #{closeGubun},
            #{cashSendingStndDate},
            #{addCash50kSendingAmt}
        )
    </update>
</mapper>