<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.cash.sh03001210.Sh03001210Mapper">

    <select id="findAll" resultType="sh03001210" parameterType="sh03001210" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo
        FROM
            ATMS_03001210
    </select>

    <select id="findOne" resultType="sh03001210" parameterType="sh03001210" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo
        FROM
            ATMS_03001210
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}
    </select>

   <update id="delete" parameterType="sh03001210" statementType="PREPARED">
        DELETE FROM
            ATMS_03001210
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}
    </update>

   <update id="update" parameterType="sh03001210" statementType="PREPARED">
        UPDATE ATMS_03001210
        SET
            JISA_CODE = #{jisaCode}
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}
    </update>

   <update id="insert" parameterType="sh03001210" statementType="PREPARED">
        INSERT INTO ATMS_03001210 (
            TX_ID,
            JISA_CODE,
            BRANCH_CODE,
            TERMINAL_NO
        ) VALUES (
            #{txId},
            #{jisaCode},
            #{branchCode},
            #{terminalNo}
        )
    </update>
</mapper>