<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.at.at001.dao.At001Mapper">
    <select id="getAuthorityList" resultType="At00101VO"  statementType="PREPARED">
        SELECT
          AUTHORITY_UUID AS authorityUuid,
          FC_AD_CODE_NM(AUTHORITY_TYPE_UUID) AS authorityTypeUuid ,
          AUTHORITY_NO AS authorityNo,
          AUTHORITY_NAME AS authorityName,
          ORG_TYPE_UUID AS orgTypeUuid,
          TO_CHAR(START_DATE,'YYYY-MM-DD')  AS startDate,
          TO_CHAR(END_DATE,'YYYY-MM-DD')  AS endDate,
          MAIN_JOB AS mainJob ,
          TO_CHAR(DESCRIPTION_DATE,'YYYY-MM-DD')  AS descriptionDate,
          DESCRIPTOR_UUID AS descriptorUuid,
          (SELECT USER_NAME FROM AC_USER WHERE Z.DESCRIPTOR_UUID = USER_UUID) AS descriptorName,
          LEVEL_OF_DETAIL_UUID AS levelOfDetailUuid,
          DESCRIPTION AS description,
          NOTES AS notes
        FROM AT_AUTHORITY Z
        <where>
            1=1
            <if test="authorityTypeUuid != null">
              AND AUTHORITY_TYPE_UUID = #{authorityTypeUuid}
            </if>
            <if test="authorityName != null">
                AND  UPPER(Z.AUTHORITY_NAME) LIKE  UPPER('%' || #{authorityName} || '%')
            </if>
            <if test="antiAuthorityUuid != null">
                AND  AUTHORITY_UUID != #{antiAuthorityUuid}
            </if>
        </where>
        ORDER BY AUTHORITY_NO
    </select>
    <select id="getRelAuthorityList" resultType="At00102VO"  statementType="PREPARED">
        SELECT
            AUTHORITY_RELATION_UUID as authorityRelationUuid,
            AUTHORITY_UUID AS authorityUuid,
            RELATION_TYPE_UUID AS relationTypeUuid ,
            REL_AUTHORITY_UUID AS relAuthorityUuid,
            (SELECT AUTHORITY_NAME FROM AT_AUTHORITY WHERE Z.REL_AUTHORITY_UUID = AUTHORITY_UUID) AS relAuthorityName,
            (SELECT AUTHORITY_NO FROM AT_AUTHORITY WHERE Z.REL_AUTHORITY_UUID = AUTHORITY_UUID) AS relAuthorityNo
        FROM AT_AUTHORITY_RELATION Z
        <where>
            Z.AUTHORITY_UUID = #{authorityUuid}
        </where>
    </select>
    <select id="getAuthorityMetaInfoList" resultType="At00103VO"  statementType="PREPARED">
        SELECT
            Z2.AGGREGATION_UUID AS aggregationUuid,
            Z2.AUTHORITY_RECORD_RESULT_UUID AS authorityRecordResultUuid,
            Z2.AUTHORITY_UUID AS authorityUuid,
            Z2.ENTITY_COLUMN_UUID AS entityColumnUuid,
            Z1.AUTHORITY_ENTITY_COLUMN_UUID AS authorityEntityColumnUuid,
            Z1.ENTITY_COLUMN_TITLE AS entityColumnTitle,
            (SELECT Z4.TERM_NAME
             FROM AD_ENTITY_COLUMN Z3, AD_GLOSSARY Z4
             WHERE Z3.GLOSSARY_UUID = Z4.GLOSSARY_UUID AND Z2.ENTITY_COLUMN_UUID = Z3.ENTITY_COLUMN_UUID) AS termName,
            (SELECT Z4.TERM_CODE
             FROM AD_ENTITY_COLUMN Z3, AD_GLOSSARY Z4
             WHERE Z3.GLOSSARY_UUID = Z4.GLOSSARY_UUID AND Z2.ENTITY_COLUMN_UUID = Z3.ENTITY_COLUMN_UUID) AS termCode,
            (SELECT ENTITY_TYPE_CODE
             FROM AD_ENTITY_TYPE
             WHERE Z1.ENTITY_TYPE_UUID = ENTITY_TYPE_UUID) AS entityTypeCode,
            (SELECT ENTITY_TYPE_NAME
             FROM AD_ENTITY_TYPE
             WHERE Z1.ENTITY_TYPE_UUID = ENTITY_TYPE_UUID) AS entityTypeName
        FROM
            AT_AUTHORITY_ENTITY_COLUMN Z1, AT_AUTHORITY_RESULT Z2
        <where>
            Z1.ENTITY_COLUMN_UUID = Z2.ENTITY_COLUMN_UUID AND
            Z2.AUTHORITY_UUID = #{authorityUuid}
        </where>
    </select>
    <select id="getAuthorityRelation" resultType="At00102VO"  statementType="PREPARED">
        SELECT
            AUTHORITY_RELATION_UUID as authorityRelationUuid,
            AUTHORITY_UUID as authorityUuid,
            RELATION_TYPE_UUID as relationTypeUuid,
            REL_AUTHORITY_UUID as relAuthorityUuid,
            <include refid="Common.UserName"><property name="userUuid" value="INSERT_UUID"/></include> as insertUuid,
            INSERT_DATE as insertDate,
            <include refid="Common.UserName"><property name="userUuid" value="UPDATE_UUID"/></include> as updateUuid,
            UPDATE_DATE as updateDate
        FROM AT_AUTHORITY_RELATION
        <where>
            AUTHORITY_UUID = #{authorityUuid} AND
            RELATION_TYPE_UUID = #{relationTypeUuid} AND
            REL_AUTHORITY_UUID = #{relAuthorityUuid}
        </where>
    </select>
</mapper>