<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.error.sh01001190.Sh01001190Mapper">

    <select id="findAll" resultType="sh01001190" parameterType="sh01001190" statementType="PREPARED">
        SELECT
            HANDLE_DATETIME AS handleDatetime,
            MNG_STND_DATE AS mngStndDate,
            MNG_STND_CRITIC AS mngStndCritic,
            ERROR_COUNT AS errorCount,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            CORNER_CODE AS cornerCode,
            MODEL_CODE AS modelCode,
            CORNER_NAME AS cornerName,
            HANDLE_EMP_NAME AS handleEmpName,
            MEMO_CONTENT AS memoContent,
            CALLEE_REQ_DATE AS calleeReqDate,
            CALLEE_SEQ_NO AS calleeSeqNo,
            ERROR_METHOD AS errorMethod
        FROM
            ATMS_01001190
    </select>

    <select id="findOne" resultType="sh01001190" parameterType="sh01001190" statementType="PREPARED">
        SELECT
            HANDLE_DATETIME AS handleDatetime,
            MNG_STND_DATE AS mngStndDate,
            MNG_STND_CRITIC AS mngStndCritic,
            ERROR_COUNT AS errorCount,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            CORNER_CODE AS cornerCode,
            MODEL_CODE AS modelCode,
            CORNER_NAME AS cornerName,
            HANDLE_EMP_NAME AS handleEmpName,
            MEMO_CONTENT AS memoContent,
            CALLEE_REQ_DATE AS calleeReqDate,
            CALLEE_SEQ_NO AS calleeSeqNo,
            ERROR_METHOD AS errorMethod
        FROM
            ATMS_01001190
        WHERE
            HANDLE_DATETIME = #{handleDatetime}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CORNER_CODE = #{cornerCode}
    </select>

   <update id="delete" parameterType="sh01001190" statementType="PREPARED">
        DELETE FROM
            ATMS_01001190
        WHERE
            HANDLE_DATETIME = #{handleDatetime}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CORNER_CODE = #{cornerCode}
    </update>

   <update id="update" parameterType="sh01001190" statementType="PREPARED">
        UPDATE ATMS_01001190
        SET
            MNG_STND_DATE = #{mngStndDate},
            MNG_STND_CRITIC = #{mngStndCritic},
            ERROR_COUNT = #{errorCount},
            JISA_CODE = #{jisaCode},
            MODEL_CODE = #{modelCode},
            CORNER_NAME = #{cornerName},
            HANDLE_EMP_NAME = #{handleEmpName},
            MEMO_CONTENT = #{memoContent},
            CALLEE_REQ_DATE = #{calleeReqDate},
            CALLEE_SEQ_NO = #{calleeSeqNo},
            ERROR_METHOD = #{errorMethod}
        WHERE
            HANDLE_DATETIME = #{handleDatetime}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CORNER_CODE = #{cornerCode}
    </update>

   <update id="insert" parameterType="sh01001190" statementType="PREPARED">
        INSERT INTO ATMS_01001190 (
            HANDLE_DATETIME,
            MNG_STND_DATE,
            MNG_STND_CRITIC,
            ERROR_COUNT,
            JISA_CODE,
            BRANCH_CODE,
            TERMINAL_NO,
            CORNER_CODE,
            MODEL_CODE,
            CORNER_NAME,
            HANDLE_EMP_NAME,
            MEMO_CONTENT,
            CALLEE_REQ_DATE,
            CALLEE_SEQ_NO,
            ERROR_METHOD
        ) VALUES (
            #{handleDatetime},
            #{mngStndDate},
            #{mngStndCritic},
            #{errorCount},
            #{jisaCode},
            #{branchCode},
            #{terminalNo},
            #{cornerCode},
            #{modelCode},
            #{cornerName},
            #{handleEmpName},
            #{memoContent},
            #{calleeReqDate},
            #{calleeSeqNo},
            #{errorMethod}
        )
    </update>
</mapper>