<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.terminal_status.TerminalStatusMapper">

    <select id="findAll" resultType="terminalStatus" parameterType="terminalStatus" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            TERMINAL_NO AS terminalNo,
            OPER_ENABLE AS operEnable,
            MODEL_CODE AS modelCode,
            BRANCH_GUBUN AS branchGubun,
            TERMINAL_TYPE AS terminalType,
            PLACE_GUBUN AS placeGubun,
            OPER_TIME_GUBUN AS operTimeGubun,
            WEEKEND_OPER_GUBUN AS weekendOperGubun,
            CHECK_OPER_ENABLE AS checkOperEnable,
            CASH_50K_OPER_ENABLE AS cash50kOperEnable,
            OPER_START_TIME AS operStartTime,
            OPER_END_TIME AS operEndTime,
            TASK_APPLY_DATE AS taskApplyDate,
            WORK_DATE AS workDate,
            SECURITY_CORP AS securityCorp,
            INSTALL_PLACE_GUBUN AS installPlaceGubun,
            ADDR AS addr,
            PHOTO_ENABLE AS photoEnable,
            BOOTH_CORP AS boothCorp,
            BOOTH_TYPE AS boothType,
            INTERCOM_ENABLE AS intercomEnable,
            ENVELOPE_ENABLE AS envelopeEnable,
            GARBAGECAN_ENABLE AS garbagecanEnable,
            SHREDDER_ENABLE AS shredderEnable,
            EXTINGUISHER_ENABLE AS extinguisherEnable,
            POSTER_COUNT AS posterCount,
            COOLER_HEATER_ENABLE AS coolerHeaterEnable,
            SLOPE_ENABLE AS slopeEnable,
            TERMINAL_CORP_CODE AS terminalCorpCode,
            HIRE_TERMINAL_ENABLE AS hireTerminalEnable,
            INSTALL_TERMINAL_GUBUN AS installTerminalGubun,
            TERMINAL_HIRE_FEE AS terminalHireFee,
            GATEWAY_IP_ADDR AS gatewayIpAddr,
            TERMINAL_IP_ADDR AS terminalIpAddr,
            TERMINAL_SMASK_ADDR AS terminalSmaskAddr,
            TERMINAL_PROD_NO AS terminalProdNo
        FROM
            ATMS_TERMINAL_STATUS
    </select>

    <select id="findOne" resultType="terminalStatus" parameterType="terminalStatus" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            TERMINAL_NO AS terminalNo,
            OPER_ENABLE AS operEnable,
            MODEL_CODE AS modelCode,
            BRANCH_GUBUN AS branchGubun,
            TERMINAL_TYPE AS terminalType,
            PLACE_GUBUN AS placeGubun,
            OPER_TIME_GUBUN AS operTimeGubun,
            WEEKEND_OPER_GUBUN AS weekendOperGubun,
            CHECK_OPER_ENABLE AS checkOperEnable,
            CASH_50K_OPER_ENABLE AS cash50kOperEnable,
            OPER_START_TIME AS operStartTime,
            OPER_END_TIME AS operEndTime,
            TASK_APPLY_DATE AS taskApplyDate,
            WORK_DATE AS workDate,
            SECURITY_CORP AS securityCorp,
            INSTALL_PLACE_GUBUN AS installPlaceGubun,
            ADDR AS addr,
            PHOTO_ENABLE AS photoEnable,
            BOOTH_CORP AS boothCorp,
            BOOTH_TYPE AS boothType,
            INTERCOM_ENABLE AS intercomEnable,
            ENVELOPE_ENABLE AS envelopeEnable,
            GARBAGECAN_ENABLE AS garbagecanEnable,
            SHREDDER_ENABLE AS shredderEnable,
            EXTINGUISHER_ENABLE AS extinguisherEnable,
            POSTER_COUNT AS posterCount,
            COOLER_HEATER_ENABLE AS coolerHeaterEnable,
            SLOPE_ENABLE AS slopeEnable,
            TERMINAL_CORP_CODE AS terminalCorpCode,
            HIRE_TERMINAL_ENABLE AS hireTerminalEnable,
            INSTALL_TERMINAL_GUBUN AS installTerminalGubun,
            TERMINAL_HIRE_FEE AS terminalHireFee,
            GATEWAY_IP_ADDR AS gatewayIpAddr,
            TERMINAL_IP_ADDR AS terminalIpAddr,
            TERMINAL_SMASK_ADDR AS terminalSmaskAddr,
            TERMINAL_PROD_NO AS terminalProdNo
        FROM
            ATMS_TERMINAL_STATUS
        WHERE
            JISA_CODE = #{jisaCode}, BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}
    </select>

   <update id="delete" parameterType="terminalStatus" statementType="PREPARED">
        DELETE FROM
            ATMS_TERMINAL_STATUS
        WHERE
            JISA_CODE = #{jisaCode}, BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}
    </update>

   <update id="update" parameterType="terminalStatus" statementType="PREPARED">
        UPDATE ATMS_TERMINAL_STATUS
        SET
            BRANCH_NAME = #{branchName},
            CORNER_NAME = #{cornerName},
            OPER_ENABLE = #{operEnable},
            MODEL_CODE = #{modelCode},
            BRANCH_GUBUN = #{branchGubun},
            TERMINAL_TYPE = #{terminalType},
            PLACE_GUBUN = #{placeGubun},
            OPER_TIME_GUBUN = #{operTimeGubun},
            WEEKEND_OPER_GUBUN = #{weekendOperGubun},
            CHECK_OPER_ENABLE = #{checkOperEnable},
            CASH_50K_OPER_ENABLE = #{cash50kOperEnable},
            OPER_START_TIME = #{operStartTime},
            OPER_END_TIME = #{operEndTime},
            TASK_APPLY_DATE = #{taskApplyDate},
            WORK_DATE = #{workDate},
            SECURITY_CORP = #{securityCorp},
            INSTALL_PLACE_GUBUN = #{installPlaceGubun},
            ADDR = #{addr},
            PHOTO_ENABLE = #{photoEnable},
            BOOTH_CORP = #{boothCorp},
            BOOTH_TYPE = #{boothType},
            INTERCOM_ENABLE = #{intercomEnable},
            ENVELOPE_ENABLE = #{envelopeEnable},
            GARBAGECAN_ENABLE = #{garbagecanEnable},
            SHREDDER_ENABLE = #{shredderEnable},
            EXTINGUISHER_ENABLE = #{extinguisherEnable},
            POSTER_COUNT = #{posterCount},
            COOLER_HEATER_ENABLE = #{coolerHeaterEnable},
            SLOPE_ENABLE = #{slopeEnable},
            TERMINAL_CORP_CODE = #{terminalCorpCode},
            HIRE_TERMINAL_ENABLE = #{hireTerminalEnable},
            INSTALL_TERMINAL_GUBUN = #{installTerminalGubun},
            TERMINAL_HIRE_FEE = #{terminalHireFee},
            GATEWAY_IP_ADDR = #{gatewayIpAddr},
            TERMINAL_IP_ADDR = #{terminalIpAddr},
            TERMINAL_SMASK_ADDR = #{terminalSmaskAddr},
            TERMINAL_PROD_NO = #{terminalProdNo}
        WHERE
            JISA_CODE = #{jisaCode}, BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}
    </update>

   <update id="insert" parameterType="terminalStatus" statementType="PREPARED">
        INSERT INTO ATMS_TERMINAL_STATUS (
            JISA_CODE,
            BRANCH_CODE,
            BRANCH_NAME,
            CORNER_CODE,
            CORNER_NAME,
            TERMINAL_NO,
            OPER_ENABLE,
            MODEL_CODE,
            BRANCH_GUBUN,
            TERMINAL_TYPE,
            PLACE_GUBUN,
            OPER_TIME_GUBUN,
            WEEKEND_OPER_GUBUN,
            CHECK_OPER_ENABLE,
            CASH_50K_OPER_ENABLE,
            OPER_START_TIME,
            OPER_END_TIME,
            TASK_APPLY_DATE,
            WORK_DATE,
            SECURITY_CORP,
            INSTALL_PLACE_GUBUN,
            ADDR,
            PHOTO_ENABLE,
            BOOTH_CORP,
            BOOTH_TYPE,
            INTERCOM_ENABLE,
            ENVELOPE_ENABLE,
            GARBAGECAN_ENABLE,
            SHREDDER_ENABLE,
            EXTINGUISHER_ENABLE,
            POSTER_COUNT,
            COOLER_HEATER_ENABLE,
            SLOPE_ENABLE,
            TERMINAL_CORP_CODE,
            HIRE_TERMINAL_ENABLE,
            INSTALL_TERMINAL_GUBUN,
            TERMINAL_HIRE_FEE,
            GATEWAY_IP_ADDR,
            TERMINAL_IP_ADDR,
            TERMINAL_SMASK_ADDR,
            TERMINAL_PROD_NO
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{branchName},
            #{cornerCode},
            #{cornerName},
            #{terminalNo},
            #{operEnable},
            #{modelCode},
            #{branchGubun},
            #{terminalType},
            #{placeGubun},
            #{operTimeGubun},
            #{weekendOperGubun},
            #{checkOperEnable},
            #{cash50kOperEnable},
            #{operStartTime},
            #{operEndTime},
            #{taskApplyDate},
            #{workDate},
            #{securityCorp},
            #{installPlaceGubun},
            #{addr},
            #{photoEnable},
            #{boothCorp},
            #{boothType},
            #{intercomEnable},
            #{envelopeEnable},
            #{garbagecanEnable},
            #{shredderEnable},
            #{extinguisherEnable},
            #{posterCount},
            #{coolerHeaterEnable},
            #{slopeEnable},
            #{terminalCorpCode},
            #{hireTerminalEnable},
            #{installTerminalGubun},
            #{terminalHireFee},
            #{gatewayIpAddr},
            #{terminalIpAddr},
            #{terminalSmaskAddr},
            #{terminalProdNo}
        )
    </update>
</mapper>