<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. RMSoft Co.,Ltd. All rights reserved
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Common">
    <sql id="UserName">(SELECT USER_NAME FROM AC_USER WHERE USER_UUID = ${userUuid} AND ROWNUM = 1)</sql>
</mapper>