<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad003.dao.Ad003Mapper">

    <select id="selectDetail" resultType="Ad00302VO" parameterType="Ad00302VO" statementType="PREPARED">
    <![CDATA[

        ]]>
    </select>
    <select id="getCode" resultType="Ad00303VO" parameterType="Ad00303VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            Z1.CODE_DETAIL_UUID as codeDetailUUID,
            Z.CATEGORY_CODE categoryCode,
            Z1.CODE as code,
            Z1.CODE_NAME as codeName
        FROM
            AD_CODE_HEADER Z,
            AD_CODE_DETAIL Z1
        WHERE Z.CODE_HEADER_UUID = Z1.CODE_HEADER_UUID
         ]]>
        <if test="null != categoryCode">
            AND Z.CATEGORY_CODE = #{categoryCode}
        </if>
    </select>
</mapper>