<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001230.Sh02001230Mapper">

    <select id="findAll" resultType="sh02001230" parameterType="sh02001230" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            CHANGE_BEFORE_ASSET_SEQ_NO AS changeBeforeAssetSeqNo,
            CHANGE_AFTER_ASSET_SEQ_NO AS changeAfterAssetSeqNo,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            CHANGE_DATETIME AS changeDatetime
        FROM
            ATMS_02001230
    </select>

    <select id="findOne" resultType="sh02001230" parameterType="sh02001230" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            CHANGE_BEFORE_ASSET_SEQ_NO AS changeBeforeAssetSeqNo,
            CHANGE_AFTER_ASSET_SEQ_NO AS changeAfterAssetSeqNo,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            CHANGE_DATETIME AS changeDatetime
        FROM
            ATMS_02001230
        WHERE
            TX_ID = #{txId}
    </select>

   <update id="delete" parameterType="sh02001230" statementType="PREPARED">
        DELETE FROM
            ATMS_02001230
        WHERE
            TX_ID = #{txId}
    </update>

   <update id="update" parameterType="sh02001230" statementType="PREPARED">
        UPDATE ATMS_02001230
        SET
            CHANGE_BEFORE_ASSET_SEQ_NO = #{changeBeforeAssetSeqNo},
            CHANGE_AFTER_ASSET_SEQ_NO = #{changeAfterAssetSeqNo},
            JISA_CODE = #{jisaCode},
            BRANCH_CODE = #{branchCode},
            CORNER_CODE = #{cornerCode},
            CHANGE_DATETIME = #{changeDatetime}
        WHERE
            TX_ID = #{txId}
    </update>

   <update id="insert" parameterType="sh02001230" statementType="PREPARED">
        INSERT INTO ATMS_02001230 (
            TX_ID,
            CHANGE_BEFORE_ASSET_SEQ_NO,
            CHANGE_AFTER_ASSET_SEQ_NO,
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            CHANGE_DATETIME
        ) VALUES (
            #{txId},
            #{changeBeforeAssetSeqNo},
            #{changeAfterAssetSeqNo},
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{changeDatetime}
        )
    </update>
</mapper>