<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">


<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rc/rc005/rc005.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">


        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">

                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                        <ul class="bdb">
                            <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                            <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry}"/>
                        </ul>
                    </div>
                    <div class="div_tablerow">
                        <ul style="height: 30px; width: 100%" class="bdb">
                            <li style="width: 2%;"><img src="/assets/images/ams/icon/fo.png" alt="folder"></li>
                            <li style="width: 78%; text-align: left" data-ax-path="navi"></li>
                            <li style="width: 19.5%; padding-right: 0.5%">
                            </li>
                        </ul>
                    </div>
                    <div class="bdb div_tablerow cont_title">
                        <ul style="height: 30px; width: 100%">
                            <li data-ax-path="itemTitle" class="pdl_10">
                                Item - browser explorer detail 1-1
                        </ul>
                    </div>

                    <div style="height:100%; width:100%" class="div_tablerow">

                        <div style="display:table; height:100%; width:16%; float:left" class="bdr">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Record Hierarchy')}"/>
                            </ul>

                            <ul class="bdb" style="height:30px;width:100%; float:left">
                                <li class="bdr"><a href="#" class="open_close" id="rg_tree_allopen">Expand</a></li>
                                <li><a href="#" class="open_close" id="rg_tree_allclose">Collapse</a></li>
                            </ul>
                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div data-z-tree="tree-view-01" data-fit-height-content="tree-view-01" style="height: 100%;width : 100%;overflow-x: auto; max-width: 271px;" class="ztree"></div>
                            </div>
                        </div>
                        <!--오늘쪽 내용에서 좌측 트리부분-->

                        <div style="display:table; height:100%; width:84%; float:left">

                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Item Details')}"/>
                            </ul>
                            <div style="height:100%; width:100%;" class="div_tablerow">
                                <div class="explorer_list">
                                    <div style="width: 100%; height: 100%; position: absolute; float: left"
                                         id="topmove">

                                        <div class="bdt pdb_10 cont_wrap01" style="width: 86%;">

                                            <!-- Contents display -->
                                            <div class="bdb bgf7 bdr bdl " style="padding: 5px;display:none;">
                                                <span><b>Contents Display</b></span>
                                            </div>
                                            <div class="scr_bar cont_display" style="display: none">
                                                <ul>
                                                    <li class="pdr_5">
                                                        <img src="/assets/images/ams/img01.jpg" alt="img">
                                                        <p></p>
                                                    </li>

                                                </ul>
                                            </div>
                                            <!-- Contents display -->


                                            <!-- system metadata -->
                                            <div class="serv_title bdt" style="margin-top: 0">
                                                <span><b>System Metadata</b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">
                                                <ul>
                                                    <li style="width: 33%;">
                                                        <b>Code </b>
                                                        <div data-ax-path="code"></div>
                                                    </li>
                                                    <li style="width: 33%;">
                                                        <b>Type </b>
                                                        <div data-ax-path="type"></div>
                                                    </li>
                                                    <li style="width: 34%;">
                                                        <b>Published Status </b>
                                                        <div data-ax-path="publishedStatus"></div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 66%;">
                                                        <b>Title </b>
                                                        <div data-ax-path="title">
                                                        </div>
                                                    </li>

                                                    <!--<li style="width: 34%;">
                                                        <b>Level </b>
                                                        <div data-ax-path="level">Record Group</div>
                                                    </li>-->
                                                </ul>

                                                <ul style="padding-top: 32px">
                                                    <li style="width: 49%;">
                                                        <b>Description </b>
                                                        <div data-ax-path="description">
                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Notes </b>
                                                        <div data-ax-path="notes">
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Author </b>
                                                        <div data-ax-path="author"></div>
                                                    </li>
                                                    <li style="width: 67%;">
                                                        <b>From </b>
                                                        <div data-ax-path="from"></div>
                                                    </li>

                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Date of Description </b>
                                                        <div data-ax-path="rcDateOfDescription" style="height: 18px;"></div>
                                                    </li>
                                                    <!--<li style="width: 67%;">-->
                                                        <!--<b>Includes </b>-->
                                                        <!--<div>시리즈(140)을 포함하고 있습니다.-->
                                                            <!--<br> 파일(80)을 포함하고 있습니다.-->
                                                        <!--</div>-->
                                                    <!--</li>-->

                                                </ul>

                                            </div>
                                            <!-- system metadata -->

                                            <!-- Contextual Metadata  -->
                                            <div class="bdb bdt mgt_10 bgf7 bdr bdl " style="padding: 5px;">
                                                <span><b>Contextual Metadata</b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">

                                                <ul>
                                                    <li style="width: 49%">
                                                        <ol>
                                                            <li>
                                                                <b>Provenance </b>
                                                                <div data-ax-path="provenance"></div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Creator </b>
                                                                <div data-ax-path="creator"></div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Date of Creation</b>
                                                                <div data-ax-path="rcDateOfCreation" style="height: 18px;"></div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Open Status </b>
                                                                <div></div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <ol>
                                                            <li>
                                                                <b>Reference Code </b>
                                                                <div data-ax-path="referenceCode">
                                                                </div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Keyword </b>
                                                                <div data-ax-path="keyword">
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ul>

                                            </div>
                                            <!-- Contextual Metadata  -->


                                            <!-- Component list -->
                                            <div class="bdb bdt mgt_10 bgf7 bdr bdl " style="padding: 5px;">
                                                <div><b>Component List</b></div>
                                            </div>
                                            <div class="comp_list_wrap pdt_10">
                                                <div id="realgrid01"
                                                     style="width:100%; height:100%; border: 1px solid #ccc"></div>
                                            </div>
                                            <!-- Component list -->


                                        </div>

                                        <!--우측메뉴 시작-->

                                        <div class="bdt cont_wrap02" style="width: 11%;">
                                            <div style="border:0px;">
                                                <!--ADD -->


                                                <!--Editor-->
                                                <div class="bdb pdb_30">
                                                    <ul>
                                                        <li>
                                                            <b>Do</b>
                                                        </li>
                                                        <li>
                                                            <a href="#" id="edit">
                                                                <span><img src="/assets/images/ams/icon/icon05.png" alt="edit"></span>
                                                                <span>Edit</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                    <span><img src="/assets/images/ams/icon/icon06.png"></span>
                                                    <span>Digital Object</span>
                                                    </li>-->
                                                        <li>
                                                            <a href="#" id="move">
                                                                <span><img src="/assets/images/ams/icon/icon07.png" alt="move"></span>
                                                                <span>Move</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                    <span><img src="/assets/images/ams/icon/icon08.png"></span>
                                                    <span>Duplicate</span>
                                                    </li>-->
                                                        <li>
                                                            <a href="#" id="updateStatus">
                                                                <span><img src="/assets/images/ams/icon/icon15.png" alt="update"></span>
                                                                <span>Update Status</span>
                                                            </a>
                                                        </li>
                                                        <li style="border-bottom: 1px dotted #ddd; width: 85%">
                                                            <a href="#" id="delete">
                                                                <span><img src="/assets/images/ams/icon/icon13.png" alt="delete"></span>
                                                                <span>Delete</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                            <span><img src="/assets/images/ams/icon/icon14.png"
                                                                       alt="classify"></span>
                                                            <span>Classify</span>
                                                        </li>-->
                                                    </ul>
                                                </div>
                                                <!--Editor-->


                                                <div class="top_move">
                                                    <a href="#topmove">&and;<br>Top</a></div>
                                            </div>

                                        </div>
                                        <!--우측메뉴 끝-->

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--오른쪽 내용영역 전체 e -->
    </form>
</div>