<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001150.Sh02001150Mapper">

    <select id="findAll" resultType="sh02001150" parameterType="sh02001150" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            TERMINAL_SEQ_NO AS terminalSeqNo,
            RESULT_STEXT_GUBUN AS resultStextGubun,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            TERMINAL_CORP_CODE AS terminalCorpCode,
            MODEL_CODE AS modelCode,
            TERMINAL_PROD_NO AS terminalProdNo,
            WORK_COMPLETE_ENABLE AS workCompleteEnable,
            WORK_COMPLETE_DATE AS workCompleteDate,
            UNUSL AS unusl
        FROM
            ATMS_02001150
    </select>

    <select id="findOne" resultType="sh02001150" parameterType="sh02001150" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            TERMINAL_SEQ_NO AS terminalSeqNo,
            RESULT_STEXT_GUBUN AS resultStextGubun,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            TERMINAL_CORP_CODE AS terminalCorpCode,
            MODEL_CODE AS modelCode,
            TERMINAL_PROD_NO AS terminalProdNo,
            WORK_COMPLETE_ENABLE AS workCompleteEnable,
            WORK_COMPLETE_DATE AS workCompleteDate,
            UNUSL AS unusl
        FROM
            ATMS_02001150
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </select>

   <update id="delete" parameterType="sh02001150" statementType="PREPARED">
        DELETE FROM
            ATMS_02001150
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="update" parameterType="sh02001150" statementType="PREPARED">
        UPDATE ATMS_02001150
        SET
            TERMINAL_SEQ_NO = #{terminalSeqNo},
            RESULT_STEXT_GUBUN = #{resultStextGubun},
            JISA_CODE = #{jisaCode},
            BRANCH_CODE = #{branchCode},
            CORNER_CODE = #{cornerCode},
            TERMINAL_NO = #{terminalNo},
            TERMINAL_CORP_CODE = #{terminalCorpCode},
            MODEL_CODE = #{modelCode},
            TERMINAL_PROD_NO = #{terminalProdNo},
            WORK_COMPLETE_ENABLE = #{workCompleteEnable},
            WORK_COMPLETE_DATE = #{workCompleteDate},
            UNUSL = #{unusl}
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="insert" parameterType="sh02001150" statementType="PREPARED">
        INSERT INTO ATMS_02001150 (
            WORK_SEQ_NO,
            TERMINAL_SEQ_NO,
            RESULT_STEXT_GUBUN,
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            TERMINAL_NO,
            TERMINAL_CORP_CODE,
            MODEL_CODE,
            TERMINAL_PROD_NO,
            WORK_COMPLETE_ENABLE,
            WORK_COMPLETE_DATE,
            UNUSL
        ) VALUES (
            #{workSeqNo},
            #{terminalSeqNo},
            #{resultStextGubun},
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{terminalNo},
            #{terminalCorpCode},
            #{modelCode},
            #{terminalProdNo},
            #{workCompleteEnable},
            #{workCompleteDate},
            #{unusl}
        )
    </update>
</mapper>