<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.error.error_status.ErrorStatusMapper">

    <select id="findAll" resultType="errorStatus" parameterType="errorStatus" statementType="PREPARED">
     SELECT Z1.JISA_CODE AS jisaCode,
             Z1.BRANCH_CODE AS branchCode,
             Z1.CORNER_CODE AS cornerCode,
             Z1.TERMINAL_NO AS terminalNo,
             Z1.ERROR_DATETIME AS errorDatetime,
             Z1.CALLEE_REQ_DATETIME AS calleeReqDatetime,
             Z1.CALLEE_PLAN_DATETIME AS calleePlanDatetime,
             Z1.ARRIVAL_PLAN_DATETIME AS arrivalPlanDatetime,
             Z1.CORNER_ARRIVAL_DATETIME AS cornerArrivalDatetime,
             Z1.HANDLE_DATETIME AS handleDatetime,
             Z1.CANCLE_REQ_DATETIME AS cancleReqDatetime,
             Z1.ELAPSED_TIME AS elapsedTime,
             Z1.CALLEE_REQ_SEQ_NO AS calleeReqSeqNo,
             Z1.TX_ID AS txId,
             Z1.ERROR_TYPE AS errorType,
             Z1.ERROR_PROCESS_STATUS AS errorProcessStatus,
             Z1.CASH_10K_EMPTY_STATUS AS cash10kEmptyStatus,
             Z1.CASH_50K_EMPTY_STATUS AS cash50kEmptyStatus,
             Z1.CALLEE_GUBUN AS calleeGubun,
             Z1.NOTICE_CONTENT AS noticeContent,
             Z1.CUSTOMER_INFO AS customerInfo,
             Z1.HANDLE_CONTENT AS handleContent
      FROM (
              SELECT  ZZ1.JISA_CODE,
                      ZZ1.BRANCH_CODE,
                      ZZ1.CORNER_CODE,
                      ZZ1.TERMINAL_NO,
                      ZZ1.ERROR_DATETIME,
                      ZZ1.CALLEE_REQ_DATETIME,
                      ZZ1.CALLEE_PLAN_DATETIME,
                      ZZ1.ARRIVAL_PLAN_DATETIME,
                      ZZ1.CORNER_ARRIVAL_DATETIME,
                      ZZ1.HANDLE_DATETIME,
                      ZZ1.CANCLE_REQ_DATETIME,
                      ZZ1.ELAPSED_TIME,
                      ZZ1.CALLEE_REQ_SEQ_NO,
                      ZZ1.TX_ID,
                      ZZ1.ERROR_TYPE,
                      ZZ1.ERROR_PROCESS_STATUS,
                      ZZ1.CASH_10K_EMPTY_STATUS,
                      ZZ1.CASH_50K_EMPTY_STATUS,
                      ZZ1.CALLEE_GUBUN,
                      ZZ2.NOTICE_CONTENT,
                      ZZ2.CUSTOMER_INFO,
                      ZZ2.HANDLE_CONTENT,
                      ROW_NUMBER() OVER(PARTITION BY ZZ1.JISA_CODE,ZZ1.BRANCH_CODE,ZZ1.CORNER_CODE,ZZ1.TERMINAL_NO,TX_ID ORDER BY ZZ1.ERROR_DATETIME DESC) AS rnum
              FROM
                    ATMS_ERROR_STATUS ZZ1, ATMS_ERROR_HANDLE_MNG ZZ2
              WHERE ZZ1.JISA_CODE = ZZ2.JISA_CODE(+)
                AND ZZ1.BRANCH_CODE = ZZ2.BRANCH_CODE(+)
                AND ZZ1.CORNER_CODE = ZZ2.CORNER_CODE(+)
                AND ZZ1.TERMINAL_NO = ZZ2.TERMINAL_NO(+)
                AND ZZ1.ERROR_DATETIME = ZZ2.ERROR_DATETIME(+)
        ) Z1 WHERE rnum = 1
               AND ERROR_PROCESS_STATUS IN ('0','1','2','3','4')
               AND (HANDLE_DATETIME + 1/24 > SYSDATE OR HANDLE_DATETIME IS NULL)
    </select>

    <select id="findOne" resultType="errorStatus" parameterType="errorStatus" statementType="PREPARED">
        SELECT Z1.JISA_CODE AS jisaCode,
                Z1.BRANCH_CODE AS branchCode,
                Z1.CORNER_CODE AS cornerCode,
                Z1.TERMINAL_NO AS terminalNo,
                Z1.ERROR_DATETIME AS errorDatetime,
                Z1.CALLEE_REQ_DATETIME AS calleeReqDatetime,
                Z1.CALLEE_PLAN_DATETIME AS calleePlanDatetime,
                Z1.ARRIVAL_PLAN_DATETIME AS arrivalPlanDatetime,
                Z1.CORNER_ARRIVAL_DATETIME AS cornerArrivalDatetime,
                Z1.HANDLE_DATETIME AS handleDatetime,
                Z1.CANCLE_REQ_DATETIME AS cancleReqDatetime,
                Z1.ELAPSED_TIME AS elapsedTime,
                Z1.CALLEE_REQ_SEQ_NO AS calleeReqSeqNo,
                Z1.TX_ID AS txId,
                Z1.ERROR_TYPE AS errorType,
                Z1.ERROR_PROCESS_STATUS AS errorProcessStatus,
                Z1.CASH_10K_EMPTY_STATUS AS cash10kEmptyStatus,
                Z1.CASH_50K_EMPTY_STATUS AS cash50kEmptyStatus,
                Z1.CALLEE_GUBUN AS calleeGubun
        FROM  ATMS_ERROR_STATUS Z1
        WHERE Z1.BRANCH_CODE = #{branchCode}
        AND Z1.CORNER_CODE = #{cornerCode}
        AND Z1.TERMINAL_NO = #{terminalNo}
        <if test="errorDatetime != null">
            AND Z1.ERROR_DATETIME = #{errorDatetime}
        </if>
    </select>

    <select id="findHistory" resultType="errorStatus" parameterType="errorStatus" statementType="PREPARED">
        SELECT Z1.JISA_CODE AS jisaCode,
                Z1.BRANCH_CODE AS branchCode,
                Z1.CORNER_CODE AS cornerCode,
                Z1.TERMINAL_NO AS terminalNo,
                Z1.ERROR_DATETIME AS errorDatetime,
                Z1.CALLEE_REQ_DATETIME AS calleeReqDatetime,
                Z1.CALLEE_PLAN_DATETIME AS calleePlanDatetime,
                Z1.ARRIVAL_PLAN_DATETIME AS arrivalPlanDatetime,
                Z1.CORNER_ARRIVAL_DATETIME AS cornerArrivalDatetime,
                Z1.HANDLE_DATETIME AS handleDatetime,
                Z1.CANCLE_REQ_DATETIME AS cancleReqDatetime,
                Z1.ELAPSED_TIME AS elapsedTime,
                Z1.CALLEE_REQ_SEQ_NO AS calleeReqSeqNo,
                Z1.TX_ID AS txId,
                Z1.ERROR_TYPE AS errorType,
                Z1.ERROR_PROCESS_STATUS AS errorProcessStatus,
                Z1.CASH_10K_EMPTY_STATUS AS cash10kEmptyStatus,
                Z1.CASH_50K_EMPTY_STATUS AS cash50kEmptyStatus,
                Z1.CALLEE_GUBUN AS calleeGubun,
                Z2.NOTICE_CONTENT AS noticeContent,
                Z2.CUSTOMER_INFO AS customerInfo,
                Z2.HANDLE_CONTENT AS handleContent,
                Z2.LAST_MODIFY_DATETIME AS lastModifyDatetime,
                Z2.LAST_MODIFY_EMP_NAME AS lastModifyEmpName,
                Z3.STEXT_GUBUN AS stextGubun,
                Z3.TOTAL_CLASSIFY_CODE AS totalClassifyCode
        FROM ATMS_ERROR_STATUS Z1, ATMS_ERROR_HANDLE_MNG Z2, ATMS_01001110 Z3
        WHERE Z1.BRANCH_CODE= Z2.BRANCH_CODE(+)
          AND Z1.CORNER_CODE = Z2.CORNER_CODE(+)
          AND Z1.TERMINAL_NO = Z2.TERMINAL_NO(+)
          AND Z1.ERROR_DATETIME = Z2.ERROR_DATETIME(+)
          AND Z1.BRANCH_CODE= Z3.BRANCH_CODE
          AND Z1.CORNER_CODE = Z3.CORNER_CODE
          AND Z1.TERMINAL_NO = Z3.TERMINAL_NO
          AND Z1.ERROR_DATETIME = Z3.ERROR_DATETIME
          AND Z1.BRANCH_CODE = #{branchCode}
          AND Z1.CORNER_CODE = #{cornerCode}
          AND Z1.TERMINAL_NO = #{terminalNo}
        <if test="startDate != null and endDate != null">
            AND Z1.ERROR_DATETIME BETWEEN #{startDate} AND #{endDate}
        </if>
        ORDER BY Z1.ERROR_DATETIME DESC
    </select>

   <update id="delete" parameterType="errorStatus" statementType="PREPARED">
        DELETE FROM
            ATMS_ERROR_STATUS
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="update" parameterType="errorStatus" statementType="PREPARED">
        UPDATE ATMS_ERROR_STATUS
        SET
            ERROR_PROCESS_STATUS = #{errorProcessStatus},
            CASH_EMPTY_STATUS = #{cashEmptyStatus}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="insert" parameterType="errorStatus" statementType="PREPARED">
        INSERT INTO ATMS_ERROR_STATUS (
            BRANCH_CODE,
            CORNER_CODE,
            TERMINAL_NO,
            ERROR_DATETIME,
            ERROR_PROCESS_STATUS,
            CASH_EMPTY_STATUS
        ) VALUES (
            #{branchCode},
            #{cornerCode},
            #{terminalNo},
            #{errorDatetime},
            #{errorProcessStatus},
            #{cashEmptyStatus}
        )
    </update>
</mapper>