<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rs/rs005/rs005.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">
                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                        <ul class="bdb">
                            <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                        </ul>
                    </div>
                    <div class="bdb div_tablerow searchFields">
                        <dl>
                            <dt class="mgl_5 w150">Status</dt>
                            <dd>
                                <select data-ax-path="statusUuid" style="width:135px;">
                                    <option value=""></option>
                                    <option th:each="item : ${statusUuid}"
                                            th:value="${item.codeDetailUUID}"
                                            th:text="${item.codeName}"/>
                                </select>
                            </dd>
                            <dt class="mgl_5">RS Name</dt>
                            <dd>
                                <input type=text style="width:135px" data-ax-path="rsName">
                            </dd>
                            <dt class="mgl_5">Disposal Type</dt>
                            <dd>
                                <select data-ax-path="disposalTypeUuid" style="width:135px;">
                                    <option value=""></option>
                                    <option th:each="item : ${disposalTypeUuid}"
                                            th:value="${item.codeDetailUUID}"
                                            th:text="${item.codeName}"/>
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="mgl_5 w150">Disposal Due Date</dt>
                            <dd class="w_auto">
                                <div class="input-group" data-ax5picker="date">
                                    <div class="cld_box" style="background-color: #fffdd6">
                                        <input type="text" data-ax-path="startFromDate" style="background-color: #fffdd6;ime-mode:disabled;"
                                               placeholder="YYYY-MM-DD" maxlength="10">
                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                    </div>
                                    ~
                                    <div class="cld_box" style="background-color: #fffdd6">
                                        <input type="text" data-ax-path="startToDate" style="background-color: #fffdd6;ime-mode:disabled;"
                                               placeholder="YYYY-MM-DD" maxlength="10">
                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png">
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="mgl_5 w150">Disposal Confirm Date</dt>
                            <dd class="w_auto">
                                <div class="input-group" data-ax5picker="date">
                                    <div class="cld_box" style="background-color: #fffdd6">
                                        <input type="text" data-ax-path="startFromDate" style="background-color: #fffdd6;ime-mode:disabled;"
                                               placeholder="YYYY-MM-DD" maxlength="10">
                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                    </div>
                                    ~
                                    <div class="cld_box" style="background-color: #fffdd6">
                                        <input type="text" data-ax-path="startToDate" style="background-color: #fffdd6;ime-mode:disabled;"
                                               placeholder="YYYY-MM-DD" maxlength="10">
                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png">
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="mgl_5 w150">Disposal Complete Date</dt>
                            <dd class="w_auto">
                                <div class="input-group" data-ax5picker="date">
                                    <div class="cld_box" style="background-color: #fffdd6">
                                        <input type="text" data-ax-path="startFromDate" style="background-color: #fffdd6;ime-mode:disabled;"
                                               placeholder="YYYY-MM-DD" maxlength="10">
                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                    </div>
                                    ~
                                    <div class="cld_box" style="background-color: #fffdd6">
                                        <input type="text" data-ax-path="startToDate" style="background-color: #fffdd6;ime-mode:disabled;"
                                               placeholder="YYYY-MM-DD" maxlength="10">
                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png">
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div style="height:100%; width:100%" class="bgf7 div_tablerow">

                        <div style="height:100%; width:100%" class="div_table">
                            <ul class="bdb bdt div_tablerow" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Disposal Records')}"/>
                                <th:block layout:insert="~{/fragments/page-buttons :: confirm-and-cancel-and-disposal}"/>
                            </ul>
                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div id="realgrid01" style="width:100%; height:100%"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </form>
</div>