<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. RMSoft Co.,Ltd. All rights reserved
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.wf.wf002.dao.Wf002Mapper">
    <select id="findAllWorkflow" resultType="Wf00201VO" parameterType="Wf00201VO" statementType="PREPARED">
        SELECT
            Z.WORKFLOW_UUID as workflowUuid,
            Z.WORKFLOW_NAME as workflowName,
            Z.SERVICE_UUID as serviceUuid,
            Z.DESCRIPTION description,
            Z.NOTES notes,
            Z.USE_YN useYn,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z.INSERT_UUID"/>
            </include>
            as insertUuid,
            Z.INSERT_DATE as insertDate,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z.UPDATE_UUID"/>
            </include>
            as updateUuid,
            Z.UPDATE_DATE as updateDate
        FROM
            WF_WORKFLOW Z
        <where>
            <if test="workflowName != null">
                Z.WORKFLOW_NAME LIKE '%' || #{workflowName} || '%'
            </if>
            <if test="serviceUuid != null">
                AND Z.SERVICE_UUID = #{serviceUuid}
            </if>
            <if test="useYn != null">
                AND Z.USE_YN = #{useYn}
            </if>
        </where>
    </select>

    <select id="findWorkflowJob" resultType="Wf00202VO" parameterType="String"
            statementType="PREPARED">
        SELECT
            Z1.WORKFLOW_JOB_UUID as workflowJobUuid,
            Z1.WORKFLOW_UUID as workflowUuid,
            Z1.SEQUENCE as sequence,
            Z1.JOB_UUID as jobUuid,
            Z2.JOB_NAME as jobName,
            Z2.API as api,
            Z1.SKIP_YN as skipYn,
            Z1.TERMINATE_YN as terminateYn,
            Z1.DESCRIPTION as description,
            Z1.NOTES as notes,
            Z1.USE_YN as useYn,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z1.INSERT_UUID"/>
            </include>
            as insertUuid,
            Z1.INSERT_DATE insertDate,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z1.UPDATE_UUID"/>
            </include>
            as updateUuid,
            Z1.UPDATE_DATE updateDate
        FROM
            WF_WORKFLOW_JOB Z1,
            WF_JOB Z2
        WHERE Z1.JOB_UUID = Z2.JOB_UUID
          AND Z1.WORKFLOW_UUID = #{workflowUuid}
        ORDER BY Z1.SEQUENCE ASC
    </select>
</mapper>