<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.rs.rs002.dao.Rs002Mapper">
    <select id="getRsTriggerList" resultType="Rs00201VO" parameterType="Rs00201VO" statementType="PREPARED">
        SELECT
            TRIGGER_UUID as triggerUuid,
            STATUS_UUID as statusUuid,
            TRIGGER_CODE as triggerCode,
            TRIGGER_NAME as triggerName,
            TO_CHAR(TRIGGER_DATE,'YYYY-MM-DD')  as triggerDate,
            DESCRIPTION as description,
            NOTES as notes,
            USE_YN as useYn,
            <include refid="Common.UserName"><property name="userUuid" value="INSERT_UUID"/></include> as insertUuid,
            INSERT_DATE as insertDate,
            <include refid="Common.UserName"><property name="userUuid" value="UPDATE_UUID"/></include> as updateUuid,
            UPDATE_DATE as updateDate
        FROM
          RS_TRIGGER
        <where>
            <if test="statusUuid != null">
                STATUS_UUID = #{statusUuid}
            </if>
            <if test="triggerCode != null">
                AND TRIGGER_CODE LIKE '%' || #{triggerCode} || '%'
            </if>
            <if test="triggerName != null">
                AND TRIGGER_NAME LIKE '%' || #{triggerName} || '%'
            </if>
            <if test="useYn != null">
                AND USE_YN = #{useYn}
            </if>
        </where>
        ORDER BY TRIGGER_CODE
    </select>
    <select id="getRelatedData" resultType="int" parameterType="String" statementType="PREPARED">
        SELECT COUNT(*)
        FROM RS_RECORD_SCHEDULE
        WHERE TRIGGER_UUID = #{triggerUuid}
    </select>
</mapper>