<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad010.dao.Ad010Mapper">

    <select id="getList01" resultType="ad01001VO" parameterType="ad01001VO" statementType="PREPARED">
     SELECT
        TO_CHAR(SUM(CLASSIFICATION_DRAFT + CLASSIFICATION_CONFIRM),'999,999') AS classificationScheme,
        TO_CHAR(SUM(CLASS_DRAFT + CLASS_CONFIRM),'999,999') AS class01,
        TO_CHAR(SUM(GRS_DRAFT + GRS_CONFIRM),'999,999') AS generalRecordsSchedule,
        TO_CHAR(SUM(RS_DRAFT + RS_CONFIRM),'999,999') AS recordSchedule,
        TO_CHAR(SUM(DF_EVENT_DRAFT + DF_EVENT_CONFIRM),'999,999') AS disposalFreezeEvent,
        TO_CHAR(SUM(DF_DEGREE_DRAFT + DF_DEGREE_CONFIRM),'999,999') AS disposalFreezeDegree,
        TO_CHAR(SUM(NORMAL_RECORD_GROUP + NORMAL_SERIES + NORMAL_FILE + NORMAL_NONE),'999,999') AS normalRecords,
		TO_CHAR(SUM(PUBLISHED_RECORD_GROUP + PUBLISHED_SERIES + PUBLISHED_FILE),'999,999') AS publishedRecords,
   		TO_CHAR(SUM(TEMPORARY_AGGREGATION),'999,999') AS temporaryAggregation,
	    TO_CHAR(SUM(TEMPORARY_ITEM),'999,999') AS temporaryItem,
		TO_CHAR(SUM(NORMAL_RECORD_GROUP),'999,999') AS normalRecordGroup,
		TO_CHAR(SUM(NORMAL_SERIES),'999,999') AS normalSeries,
	    TO_CHAR(SUM(NORMAL_FILE),'999,999') AS normalFile,
	    TO_CHAR(SUM(NORMAL_NONE),'999,999') AS normalNone,
	    TO_CHAR(SUM(NORMAL_ITEM),'999,999') AS normalItem,
	    TO_CHAR(SUM(PUBLISHED_RECORD_GROUP),'999,999') AS publishedRecordGroup ,
	    TO_CHAR(SUM(PUBLISHED_SERIES),'999,999') AS publishedSeries,
	    TO_CHAR(SUM(PUBLISHED_FILE),'999,999') AS publishedFile,
	    TO_CHAR(SUM(PUBLISHED_ITEM),'999,999') AS publishedItem,
	    TO_CHAR(SUM(CLASSIFICATION_DRAFT),'999,999') AS classificationDraft,
	    TO_CHAR(SUM(CLASSIFICATION_CONFIRM),'999,999') AS classificationConfirm,
	    TO_CHAR(SUM(CLASS_DRAFT),'999,999') AS classDraft,
	    TO_CHAR(SUM(CLASS_CONFIRM),'999,999') AS classConfirm,
	    TO_CHAR(SUM(CLASSIFY_RECORD),'999,999') AS classifyRecord,
	    TO_CHAR(SUM(NORMAL_RECORD),'999,999') AS normalRecord,
	    TO_CHAR(SUM(GRS_DRAFT),'999,999') AS grsDraft,
    	TO_CHAR(SUM(GRS_CONFIRM),'999,999') AS grsConfirm,
    	TO_CHAR(SUM(RS_DRAFT),'999,999') AS rsDraft,
    	TO_CHAR(SUM(RS_CONFIRM),'999,999') AS rsConfirm,
    	TO_CHAR(SUM(RS_SCHEDULING_RECORD),'999,999') AS rsSchedulingRecord,
    	TO_CHAR(SUM(NORMAL_RECORD_ITEM),'999,999') AS normalRecordItem,
    	TO_CHAR(SUM(DF_EVENT_DRAFT),'999,999') AS dfEventDraft,
    	TO_CHAR(SUM(DF_EVENT_CONFIRM),'999,999') AS dfEventConfirm,
    	TO_CHAR(SUM(DF_DEGREE_DRAFT),'999,999') AS dfDegreeDraft,
    	TO_CHAR(SUM(DF_DEGREE_CONFIRM),'999,999') AS dfDegreeConfirm,
    	TO_CHAR(SUM(DF_FREEZE_RECORD),'999,999') AS dfFreezeRecord,
    	TO_CHAR(SUM(DF_RECORD_DRAFT),'999,999') AS dfRecordDraft,
    	TO_CHAR(SUM(DF_RECORD_CONFIRM),'999,999') AS dfRecordConfirm,
    	TO_CHAR(SUM(DF_RECORD_COMPLETE),'999,999') AS dfRecordComplete
    FROM
    ( SELECT * FROM (
		  SELECT
			TEMPORARY_AGGREGATION,
			TEMPORARY_ITEM,
			NORMAL_RECORD_GROUP,
			NORMAL_SERIES,
		    NORMAL_FILE,
		    NORMAL_NONE,
		    NORMAL_ITEM,
		    PUBLISHED_RECORD_GROUP,
		    PUBLISHED_SERIES,
		    PUBLISHED_FILE,
		    PUBLISHED_ITEM,
		    0 AS CLASSIFICATION_DRAFT,
		    0 AS CLASSIFICATION_CONFIRM,
		    0 AS CLASS_DRAFT,
		    0 AS CLASS_CONFIRM,
		    0 AS CLASSIFY_RECORD,
		    0 AS NORMAL_RECORD,
		    0 AS GRS_DRAFT,
	    	0 AS GRS_CONFIRM,
	    	0 AS RS_DRAFT,
	    	0 AS RS_CONFIRM,
	    	0 AS RS_SCHEDULING_RECORD,
	    	0 AS NORMAL_RECORD_ITEM,
	    	0 AS DF_EVENT_DRAFT,
	    	0 AS DF_EVENT_CONFIRM,
	    	0 AS DF_DEGREE_DRAFT,
	    	0 AS DF_DEGREE_CONFIRM,
	    	0 AS DF_FREEZE_RECORD,
	    	0 AS DF_RECORD_DRAFT,
	    	0 AS DF_RECORD_CONFIRM,
	    	0 AS DF_RECORD_COMPLETE
		FROM AD_RECORDS_STATISTICS
		WHERE ROWNUM = 1
	    ORDER BY STATISTICS_DATE
	)
    UNION
    SELECT * FROM (
		SELECT
			0 AS TEMPORARY_AGGREGATION,
			0 AS TEMPORARY_ITEM,
			0 AS NORMAL_RECORD_GROUP,
			0 AS NORMAL_SERIES,
		    0 AS NORMAL_FILE,
		    0 AS NORMAL_NONE,
		    0 AS NORMAL_ITEM,
		    0 AS PUBLISHED_RECORD_GROUP,
		    0 AS PUBLISHED_SERIES,
		    0 AS PUBLISHED_FILE,
		    0 AS PUBLISHED_ITEM,
		    CLASSIFICATION_DRAFT,
		    CLASSIFICATION_CONFIRM,
		    CLASS_DRAFT,
		    CLASS_CONFIRM ,
		    CLASSIFY_RECORD,
		    NORMAL_RECORD,
		    0 AS GRS_DRAFT,
	    	0 AS GRS_CONFIRM,
	    	0 AS RS_DRAFT,
	    	0 AS RS_CONFIRM,
	    	0 AS RS_SCHEDULING_RECORD,
	    	0 AS NORMAL_RECORD_ITEM,
	    	0 AS DF_EVENT_DRAFT,
	    	0 AS DF_EVENT_CONFIRM,
	    	0 AS DF_DEGREE_DRAFT,
	    	0 AS DF_DEGREE_CONFIRM,
	    	0 AS DF_FREEZE_RECORD,
	    	0 AS DF_RECORD_DRAFT,
	    	0 AS DF_RECORD_CONFIRM,
	    	0 AS DF_RECORD_COMPLETE
		FROM AD_CLASSIFICATION_STATISTICS
		WHERE ROWNUM = 1
	    ORDER BY STATISTICS_DATE
	)
	UNION
	SELECT * FROM (
	    SELECT
	    	0 AS TEMPORARY_AGGREGATION,
			0 AS TEMPORARY_ITEM,
			0 AS NORMAL_RECORD_GROUP,
			0 AS NORMAL_SERIES,
		    0 AS NORMAL_FILE,
		    0 AS NORMAL_NONE,
		    0 AS NORMAL_ITEM,
		    0 AS PUBLISHED_RECORD_GROUP,
		    0 AS PUBLISHED_SERIES,
		    0 AS PUBLISHED_FILE,
		    0 AS PUBLISHED_ITEM,
		    0 AS CLASSIFICATION_DRAFT,
		    0 AS CLASSIFICATION_CONFIRM,
		    0 AS CLASS_DRAFT,
		    0 AS CLASS_CONFIRM,
		    0 AS CLASSIFY_RECORD,
		    0 AS NORMAL_RECORD,
	    	GRS_DRAFT,
	    	GRS_CONFIRM,
	    	RS_DRAFT,
	    	RS_CONFIRM,
	    	RS_SCHEDULING_RECORD,
	    	NORMAL_RECORD_ITEM,
	    	0 AS DF_EVENT_DRAFT,
	    	0 AS DF_EVENT_CONFIRM,
	    	0 AS DF_DEGREE_DRAFT,
	    	0 AS DF_DEGREE_CONFIRM,
	    	0 AS DF_FREEZE_RECORD,
	    	0 AS DF_RECORD_DRAFT,
	    	0 AS DF_RECORD_CONFIRM,
	    	0 AS DF_RECORD_COMPLETE
	    FROM AD_RS_STATISTICS
	    WHERE ROWNUM = 1
	    ORDER BY STATISTICS_DATE DESC
	)
    UNION
    SELECT * FROM (
	    SELECT
	    	0 AS TEMPORARY_AGGREGATION,
			0 AS TEMPORARY_ITEM,
			0 AS NORMAL_RECORD_GROUP,
			0 AS NORMAL_SERIES,
		    0 AS NORMAL_FILE,
		    0 AS NORMAL_NONE,
		    0 AS NORMAL_ITEM,
		    0 AS PUBLISHED_RECORD_GROUP,
		    0 AS PUBLISHED_SERIES,
		    0 AS PUBLISHED_FILE,
		    0 AS PUBLISHED_ITEM,
		    0 AS CLASSIFICATION_DRAFT,
		    0 AS CLASSIFICATION_CONFIRM,
		    0 AS CLASS_DRAFT,
		    0 AS CLASS_CONFIRM,
		    0 AS CLASSIFY_RECORD,
		    0 AS NORMAL_RECORD,
		    0 AS GRS_DRAFT,
	    	0 AS GRS_CONFIRM,
	    	0 AS RS_DRAFT,
	    	0 AS RS_CONFIRM,
	    	0 AS RS_SCHEDULING_RECORD,
	    	0 AS NORMAL_RECORD_ITEM,
	    	DF_EVENT_DRAFT,
	    	DF_EVENT_CONFIRM,
	    	DF_DEGREE_DRAFT,
	    	DF_DEGREE_CONFIRM,
	    	DF_FREEZE_RECORD,
	    	0 AS DF_RECORD_DRAFT,
	    	0 AS DF_RECORD_CONFIRM,
	    	0 AS DF_RECORD_COMPLETE
	    FROM AD_DF_STATISTICS
	    WHERE ROWNUM = 1
	    ORDER BY STATISTICS_DATE DESC
    )
    UNION
    SELECT * FROM (
	    SELECT
	    	0 AS TEMPORARY_AGGREGATION,
			0 AS TEMPORARY_ITEM,
			0 AS NORMAL_RECORD_GROUP,
			0 AS NORMAL_SERIES,
		    0 AS NORMAL_FILE,
		    0 AS NORMAL_NONE,
		    0 AS NORMAL_ITEM,
		    0 AS PUBLISHED_RECORD_GROUP,
		    0 AS PUBLISHED_SERIES,
		    0 AS PUBLISHED_FILE,
		    0 AS PUBLISHED_ITEM,
		    0 AS CLASSIFICATION_DRAFT,
		    0 AS CLASSIFICATION_CONFIRM,
		    0 AS CLASS_DRAFT,
		    0 AS CLASS_CONFIRM,
		    0 AS CLASSIFY_RECORD,
		    0 AS NORMAL_RECORD,
		    0 AS GRS_DRAFT,
	    	0 AS GRS_CONFIRM,
	    	0 AS RS_DRAFT,
	    	0 AS RS_CONFIRM,
	    	0 AS RS_SCHEDULING_RECORD,
	    	0 AS NORMAL_RECORD_ITEM,
	    	0 AS DF_EVENT_DRAFT,
	    	0 AS DF_EVENT_CONFIRM,
	    	0 AS DF_DEGREE_DRAFT,
	    	0 AS DF_DEGREE_CONFIRM,
	    	0 AS DF_FREEZE_RECORD,
	    	DF_RECORD_DRAFT,
	    	DF_RECORD_CONFIRM,
	    	DF_RECORD_COMPLETE
	    FROM ad_df_record_statistics
	  	WHERE ROWNUM = 1
	    ORDER BY STATISTICS_DATE DESC
      )
  )
  </select>
	<select id="getNoticeList" resultType="ad01002VO" parameterType="ad01002VO" statementType="PREPARED">
	  SELECT
	  	NOTICE_UUID as noticeUuid,
        TITLE as title,
        REGISTER_UUID as registerUuid,
        FC_AC_USER_NM(REGISTER_UUID) as registerName,
        TO_CHAR(REGISTER_DATE,'yyyy-MM-dd HH24:MI:SS') as registerDate,
        CONTENTS as contents,
        FILE_NAME as fileName,
        FILE_PATH as filePath
	  FROM AD_NOTICE
  </select>
</mapper>