<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/ad/ad007/ad007.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">
                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow searchFields">
                        <ul class="bdb">
                            <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                            <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry}"/>
                        </ul>
                    </div>
                    <div class="bdb div_tablerow searchFields">
                        <dl>
                            <dt class="mgl_5">Entity Type</dt>
                            <dd>
                                <select data-ax-path="entityType" style="width:180px;" id="entityType">
                                    <option th:each="item, index : ${entityTypeList}"
                                            th:value="${item.code}"
                                            th:text="${item.codeName}"
                                            th:if="${index.index} == 0 "/>
                                </select>
                            </dd>
                        </dl>

                    </div>
                    <div style="height:100%; width:100%" class="div_tablerow">

                        <div style="display:table; height:50%; width:100%">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Setup')}"/>
                                <th:block layout:insert="~{/fragments/page-buttons :: add-and-delete}"/>
                            </ul>
                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div id="realgrid01" style="width:100%; height:100%"></div>
                            </div>
                        </div>

                        <div style="display:table; height:50%; width:100%">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot ('Segment')}"/>
                                <th:block layout:insert="~{/fragments/page-buttons :: add-and-delete}"/>
                            </ul>
                            <ul class="bdb div_tablerow" style="height:24px;">
                                <li style="width:100%; text-align:left;">
                                    <input type=text class="yeongye" data-ax-path="termCodeLabel" value="" readonly
                                           style="width:205px; height: 22px; margin-left: 0.5px">
                                </li>
                            </ul>

                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div id="realgrid02" style="width:100%; height:100%"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </form>
</div>

<!--오른쪽 내용영역 전체 e -->


</html>