<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">


<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rc/rc001/rc001.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
    <div class="cssBody" style="top:80px">
        <div style="display:table; height:100%; width:100%">

            <div class="contents_wrap">
                <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                    <ul class="bdb">
                        <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                        <li style="width:50%; text-align:left;" th:text="${pageName}">Record Explorer</li>
                        <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry}"/>
                    </ul>
                </div>
                <div class="bdb div_tablerow">
                   <ul style="height: 30px; width: 100%">
                       <li style="width: 2%;"><img src="/assets/images/ams/icon/fo.png" alt="folder"></li>
                       <li style="width: 78%; text-align: left">Root > root2 > root3</li>
                       <li style="width: 19.5%; padding-right: 0.5%">
                            <div class="src_box3" ><input type=text>
                          <a href="#" id="dialog-link5">
                          <img src="/assets/images/ams/search_normal.png" alt="search"></a>
                          </div>
                       </li>
                   </ul>
                   

                </div>
                
                <div style="height:100%; width:100%" class="div_tablerow">

                <div style="display:table; height:100%; width:16%; float:left" class="bdr">
                    <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                        <li style="width:80%; text-align:left;">
                            <img src="/assets/images/ams/img_dot2.png" alt="dot">Aggregation</li>
                        <li style="text-align:right; width:18%;">
                        
                        </li>
                    </ul>

                    <ul class="bdb" style="height:30px;width:100%; float:left">
                        <li class="bdr"><a href="#" class="open_close" id="rg_tree_allopen">Expand</a></li>
                        <li><a href="#" class="open_close" id="rg_tree_allclose">Collapse</a></li>
                    </ul>
                    <div style="height:100%; width:100%;    " class="div_tablerow bdb">
                        <!--<div id="realgridT1" style="width:100%; height:100%"></div>-->
                        <div data-z-tree="tree-view-01" data-fit-height-content="tree-view-01" style="height: 100%;width : 100%;overflow-x: auto;" class="ztree"></div>
                    </div>
                </div><!--오늘쪽 내용에서 좌측 트리부분-->

                <div style="display:table; height:100%; width:82.8%; float:left">

                    <ul class="bdt bdb bgf7 div_tablerow" style="height:30px;">
                        <li style="width:40%; text-align:left;">
                            <img src="/assets/images/ams/img_dot2.png" alt="dot">Record</li>
                        <li style="text-align:right; float: right;">
                           
                           <ul class="exp-menu" style="width: 375px; height: auto; overflow: hidden; position: absolute; right: 150px;">
                            <li style="width: 125px"><a href="#">Add</a>
                              <ul style="">
                                <li><a href="#">Aggregation</a></li>
                                <li><a href="#">Item</a></li>
                              </ul>
                            </li>
                            <li style="width: 125px"><a href="#">View</a>
                              <ul>
                                <li><a href="#">Properties</a></li>
                              </ul>
                            </li>
                            <li style="width: 125px"><a href="#">Do</a>
                              <ul>
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Move</a></li>
                                <li><a href="#">Update Status</a></li>
                                <li class="bdb"><a href="#">Delete</a></li>
                                <li><a href="#">Classify</a></li>
                              </ul>
                            </li> 
                           <!-- <li style="width: 125px"><a href="#">Status</a>
                                <ul>
                                <li><a href="#">Update Status</a></li>
                                <li><a href="#">Move</a></li>
                                <li><a href="#">Lock structure</a></li>
                              </ul
                            </li> >-->
                          </ul>

                        </li>
                        <li style="text-align:right;">
                            <button onclick="exp_listView()" class="show_grid" >
                                <img src="/assets/images/ams/btn_show_grid.png" alt="큰아이콘"> Icon
                            </button>
                        
                            <button onclick="exp_gridView()" class="show_list" >
                                <img src="/assets/images/ams/btn_show_list.png" alt="쟈세히"> Grid
                            </button>
                        </li>
                        
                       
                    </ul>
                    <div style="height:100%; width:100%;" class="div_tablerow">
                        <div style="width:100%; height:100%;" id="realgrid" class="explorer_grid"></div>
                        <div class="explorer_list">
                            <div style="width: 100%; height: 100%; position: absolute; float: left">
                               
                                 <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 mbg_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                                
                                  <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                            
                                
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                
                                <div class="explorer_img" title="일반파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_go.png" alt="file"></div>
                                    <div class="explorer_text">일반파일입니다.바로가기</div>
                                </div> 
                                
                                <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                 <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 mbg_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                                
                                  <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                            
                                
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                
                                <div class="explorer_img" title="일반파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_go.png" alt="file"></div>
                                    <div class="explorer_text">일반파일입니다.바로가기</div>
                                </div> 
                                
                                <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                 <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 mbg_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                                
                                  <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                            
                                
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                
                                <div class="explorer_img" title="일반파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_go.png" alt="file"></div>
                                    <div class="explorer_text">일반파일입니다.바로가기</div>
                                </div> 
                                
                                <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                 <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 mbg_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                                
                                  <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                            
                                
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                
                                <div class="explorer_img" title="일반파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_go.png" alt="file"></div>
                                    <div class="explorer_text">일반파일입니다.바로가기</div>
                                </div> 
                                
                                <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                 <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 mbg_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                                
                                  <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                            
                                
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                
                                <div class="explorer_img" title="일반파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_go.png" alt="file"></div>
                                    <div class="explorer_text">일반파일입니다.바로가기</div>
                                </div> 
                                
                                <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                 <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 mbg_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                                
                                  <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                            
                                
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                
                                <div class="explorer_img" title="일반파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_go.png" alt="file"></div>
                                    <div class="explorer_text">일반파일입니다.바로가기</div>
                                </div> 
                                
                                <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                               
                                 <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 mbg_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                                
                                  <div class="explorer_folder_empty" title="폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder.png" alt="folder"></div>
                                    <div class="explorer_4line">폴더안에는 아무것도 없는 것을 나타내는 아이콘이니다.</div>
                                </div>
                                
                                <div class="explorer_folder_full" title="3줄일때는 클래스에 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_go.png" alt="folder"></div>
                                    <div class="explorer_text">3줄일때는 클래스에 </div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="1줄일때는 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f.png" alt="folder"></div>
                                    <div class="explorer_text">mbg_30</div>
                                </div> 
                                
                                 <div class="explorer_folder_full" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_folder_f_go.png" alt="folder"></div>
                                    <div class="explorer_text">바로가기 </div>
                                </div> 
                            
                                
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                
                                <div class="explorer_img" title="일반파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_go.png" alt="file"></div>
                                    <div class="explorer_text">일반파일입니다.바로가기</div>
                                </div> 
                                
                                <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 mgb_30">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                                
                                <div class="explorer_img" title="이미지파일입니다.">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img_go.png" alt="images"></div>
                                    <div class="explorer_text">이미지파일입니다.바로가기</div>
                                </div> 
                                <div class="explorer_file" title="두줄 ">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file.png" alt="file"></div>
                                    <div class="explorer_text">두줄 </div>
                                </div> 
                                 <div class="explorer_file" title="이미지파일이에요">
                                    <div class="exp_check"><input type="checkbox"></div>
                                    <div><img src="/assets/images/ams/explorer_file_img.png" alt="image"></div>
                                    <div class="explorer_text">이미지파일이에요</div>
                                </div> 
                            
                            </div>
                        </div>
                    </div>
                    <div class="div_tablerow exp_detail">
                        <div style="width:5%; height: 80px; float: left;border-top:1px solid #ddd; text-align: center; line-height: 70px">
                            <img src="/assets/images/ams/explorer_folder_f.png" alt="폴더이미지">
                        </div>                        
                        <div style="width:95%; height: 97px; float: left;border-top:1px solid #ddd">
                            <div style="width: 100%">
                               <span style="width: 48%; "><b>Title </b>: 서울특별시</span>
                               
                               <span style="width: 24%;"><b>Author </b>: 김길동</span>
                               
                               <span style="width: 28%;"><b>Code</b> : 10303-133301000</span>
                           </div>
                           <div style="width: 100%">
                               <span style="width: 30%;"><b>Level</b> : Record Group</span>
                                
                               <span style="width: 18%;"><b>Type</b> : Normal</span>
                               
                               <span style="width: 24%;"><b>Date</b> : 2017-10-19 ~ 2017-10-23</span>
                               
                               <span style="width: 28%;"><b>Published Status </b>: Published</span>
                           </div>
                           
                           <div style="width: 100%">
                               <span style="width: 48%;"><b>Description</b> : 서울 기록관 영구기록물 관리시스템SDA(Seoul Digital Archives)의 개발과 관련한 기록물서울 기록관 영구기록물 관리시스템SDA(Seoul Digital Archives)의A(Seoul Digital 기록물서울 기록관 영구기록물 관리</span>
                               
                               
                               <span style="width: 52%;"><b>Notes </b>: 서울 기록관 영구기록물 관리시스템SDA(Seoul Digital Archives)의 개발과 관련한 기록물</span>
                           </div>
                           
                
                        </div>                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <!--오른쪽 내용영역 전체 e -->


    

 