<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title th:text="${@environment.getProperty('config.title')}">title</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/favicon.ico/}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico/}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${@environment.getProperty('config.extendedCss')}}"/>
    <link layout:fragment="css"/>

    <script type="text/javascript" th:src="@{/assets/js/plugins.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/axboot.js}"></script>

    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/realgridjs-lic.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/realgridjs_eval.1.1.22.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/realgridjs-api.1.1.22.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/jszip.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/util/GridWrapper.js}"></script>

    <script type="text/javascript">
        var sessionJson = convertJsonObj('[[${scriptSession}]]');
        var menuJson = convertJsonObj('[[${menuJson}]]');
        var commonCodeJson = convertJsonObj('[[${commonCodeJson}]]');

        var CONTEXT_PATH = 'http://[[${#httpServletRequest.serverName}]]:[[${#httpServletRequest.serverPort}]]';
        /*var CONTEXT_PATH   = 'http://[[@{${@environment.getProperty("server.url")}}]]:[[@{${@environment.getProperty("server.port")}}]]';*/
        var SCRIPT_SESSION = (function (json) {
            return json;
        })(sessionJson);
        var TOP_MENU_DATA = (function (json) {
            return json;
        })(menuJson);
        var COMMON_CODE = (function (json) {
            return json;
        })(commonCodeJson);

        function convertJsonObj(jsonStr) {
            return jsonStr == null || jsonStr == '' ? null : JSON.parse(jsonStr.replace(/&quot;/gi, '"'));
        }
    </script>
    <script type="text/javascript" th:src="@{/axboot.config.js}"></script>
    <script layout:fragment="js"></script>
    <script layout:fragment="script"></script>

    <style>
        @media screen and (max-width: 1279px) {
            .header {
                height: 30px;
                width: 1280px;
            }

            .cssBody {
                padding-left: 220px;
                width: 1280px;
            }

            .left {
                width: 220px;
            }

            .left_close_open_btn a {
                left: 220px;
            }

        }

        @media screen and (max-height: 681px) {
            .header {
                height: 30px;
                /*width:1280px;*/
            }

            .cssBody {
                /*left: 190px;*/
                /*width:1090px;*/
                height: 984px;
            }

            .left {
                /*width: 190px;*/
                height: 984px;
            }

            .left_close_open_btn a {
                /*left: 190px;*/
            }

            /*.bottom_close{ margin-bottom: -3px}*/

        }
    </style>
</head>

<body class="ax-body" th:classappend="${axbody_class}" onselectstart="return false;">

<div id="ax-frame-root" class="visible show-aside" data-root-container="true">

    <!-- header-tool -->
    <div class="ax-frame-header-tool">
        <div class="ax-split-col" style="height: 100%;">
            <div class="ax-split-panel text-align-left">
                <div class="ax-split-col ax-frame-logo-info">
                    <div class="ax-split-panel">서울 기록원</div>
                </div>
            </div>
            <div class="ax-split-panel text-align-right">
                <div class="ax-split-col ax-frame-user-info">
                    <div class="ax-split-panel">
                        <a href="#ax" onclick="viewDiv(1);">
                            <i class="ion-android-person"></i>
                            <span th:text="#{axboot.admin.login.status.message(${loginUser.userNm})}"></span>
                        </a>
                    </div>
                    <div class="panel-split"></div>
                    <div class="ax-split-panel">
                        <a th:href="@{/api/logout}">
                            <span th:text="#{axboot.admin.logout}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <div id="cssBody" style="width: 100%;height: 100%;position: fixed; top: 30px;">
        <div class="ax-frame-header">
            <div class="ax-split-col" style="height: 100%;">
                <div class="ax-split-panel cell-logo">
                    <a th:href="@{/main}">
                        <img th:src="@{${@environment.getProperty('config.logo.amsheader')}}"/>
                    </a>
                </div>
                <div id="ax-top-menu" class="ax-split-panel ax-split-flex" style="padding-left:10px;width:100% ">
                    <span id="ax-top-menu-text"><i class="cqc-home"></i></span>
                </div>
                <div class="ax-split-panel cell-aside-handle"></div>
                <div style="" class="bigsmall_btn">
                    <a href="#" onclick="bigView()" class="big_close">
                        <img th:src="@{/assets/images/btn_big.jpg}" alt="grid big show">
                    </a>
                    <a href="#" onclick="smallView()" class="small_open">
                        <img th:src="@{/assets/images/btn_small.jpg}" alt="grid normal show">
                    </a>
                </div>
            </div>
        </div>

        <!-- header-tab -->
        <div class="ax-frame-header-tab">
            <div id="ax-frame-header-tab-container"></div>
        </div>

        <!-- aside -->
        <!--<div class="ax-frame-aside" id="ax-frame-aside" style="display: none"></div>
        <script type="text/html" data-tmpl="ax-frame-aside">
            <div class="ax-frame-aside-menu-holder">
                <div style="height: 10px;"></div>
                {{#items}}
                <a class="aside-menu-item aside-menu-item-label{{#hasChildren}} {{#open}}opend{{/open}}{{/hasChildren}}" data-label-index="{{@i}}">
                    {{{name}}}
                </a>
                {{#hasChildren}}
                <div class="aside-menu-item aside-menu-item-tree-body {{#open}}opend{{/open}}" data-tree-body-index="{{@i}}">
                    <div class="tree-holder ztree" id="aside-menu-{{@i}}" data-tree-holder-index="{{@i}}"></div>
                </div>
                {{/hasChildren}}
                {{/items}}
            </div>
        </script>-->

        <!-- contents -->
        <div class="left bdr" style="top:50px">
            <div class="left_top1 bdb"><!--height: 3.7%;-->
                <ul>
                    <li class="left-all-menu bdr">
                        <a href="#" onclick="allmenuView()">전체메뉴</a></li>
                    <li class="left-my-menu">
                        <a href="#" onclick="mymenuView()">나의메뉴</a></li>
                </ul>
            </div><!--전체메뉴 나의 메뉴 탭부분-->
            <div class="left_top2"><!--height: 3.7%;-->
                <ul>
                    <li style="padding:0 1%;width:76%">
                        <input type="text" style="width:100%;vertical-align:middle"></li>
                    <li style="width:24%">
                        <button class="btn_small">검색</button>
                    </li>
                </ul>
            </div><!--메인 좌측 검색부분-->
            <div class="left_top3 bdt bdb">
                <ul>
                    <li class="bdr">
                        <a href="#" class="open_close" id="rg_tree_allopen_m1">전체열기</a></li>
                    <li>
                        <a href="#" class="open_close" id="rg_tree_allclose_m1">전체닫기</a></li>
                </ul>
            </div>
            <div class="left_bottom1">
                <div style="width:100%; height:100%" class="bdb">
                    <div id="realgridM1" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
            <!--전체메뉴-->
            <!--
            <div class="left_bottom2">
                <div style="width:100%; height:50%;">
                    <div id="realgridM2" style="width: 100%; height: 100%;"></div>
                </div>
                <div style="width:100%; height:50%" class="bdb bdt">
                    <div id="realgridM3" style="width: 100%; height: 100%;"></div>
                </div>

            </div>
            -->
        </div><!--메인좌측-->
        <div class="left_close_open_btn">
            <a href="#" onclick="leftcloseView()" class="leftmenu_close">◀</a>
            <a href="#" onclick="leftopenView()" class="leftmenu_open">▶</a>

            <a href="#" onclick="left7closeView()" class="leftmenu7_close">◀</a>
            <a href="#" onclick="left7openView()" class="leftmenu7_open"> ▶</a>
        </div>
        <!--나의 메뉴인 즐겨찾기와 최근메뉴-->
        <div layout:fragment="contents"></div>

        <!-- footer -->
        <div class="ax-frame-foot">
            <div class="ax-split-col" style="height: 100%;">
                <div class="ax-split-panel text-align-left"
                     th:text="${@environment.getProperty('config.copyrights')}"></div>
                <div class="ax-split-panel text-align-right">
                    Last account activity <b id="account-activity-timer">00</b> ago.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 사용자 설정 팝업창 시작 popup.css-->
<!-- 사용자 설정 팝업창 끝-->
</body>
</html>
