<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.rs.rs001.dao.Rs001Mapper">
    <select id="getRsGeneralRecordScheduleList" resultType="Rs00101VO" parameterType="Rs00101VO" statementType="PREPARED">
        SELECT
        GENERAL_RECORD_SCHEDULE_UUID as generalRecordScheduleUuid,
        STATUS_UUID as statusUuid,
        GRS_CODE as grsCode,
        GRS_NAME as grsName,
        RETENTION_PERIOD_UUID as retentionPeriodUuid,
        DISPOSAL_TYPE_UUID as disposalTypeUuid,
        BASED_ON as basedOn,
        TRIGGER_YN as triggerYn,
        DESCRIPTION as description,
        NOTES as notes,
        USE_YN as useYn,
        <include refid="Common.UserName"><property name="userUuid" value="INSERT_UUID"/></include> as insertUuid,
        INSERT_DATE as insertDate,
        <include refid="Common.UserName"><property name="userUuid" value="UPDATE_UUID"/></include> as updateUuid,
        UPDATE_DATE as updateDate
        FROM
        RS_GENERAL_RECORD_SCHEDULE
        <where>
            <if test="statusUuid != null">
                STATUS_UUID = #{statusUuid}
            </if>
            <if test="retentionPeriodUuid != null">
                AND RETENTION_PERIOD_UUID = #{retentionPeriodUuid}
            </if>
            <if test="disposalTypeUuid != null">
                AND DISPOSAL_TYPE_UUID = #{disposalTypeUuid}
            </if>
            <if test="grsCode != null">
                AND UPPER(GRS_CODE)  LIKE '%' || #{grsCode} || '%'
            </if>
            <if test="grsName != null">
                AND UPPER(GRS_NAME)  LIKE '%' || #{grsName} || '%'
            </if>
            <if test="useYn != null">
                AND USE_YN = #{useYn}
            </if>
            <if test="triggerYn != null">
                AND TRIGGER_YN = #{triggerYn}
            </if>
        </where>
        --ORDER BY
    </select>
</mapper>