<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.cash.sh03001150.Sh03001150Mapper">

    <select id="findAll" resultType="sh03001150" parameterType="sh03001150" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            NONE_PROCESS_AMT AS noneProcessAmt,
            NONE_PROCESS_SEQ_NO AS noneProcessSeqNo,
            DEAL_DATE AS dealDate,
            STATEMENT_NO AS statementNo,
            DEAL_BANK AS dealBank,
            CARD_ACCOUNT_NO AS cardAccountNo,
            DEAL_TYPE AS dealType,
            DEAL_AMT AS dealAmt,
            MANAGER_NAME AS managerName,
            CUSTOMER_NAME AS customerName,
            CUSTOMER_TELNO AS customerTelno,
            MNG_OFFICE AS mngOffice,
            UNUSL AS unusl,
            PROCESS_DATE AS processDate,
            SEND_COMMISSION AS sendCommission,
            RTN_COMMISSION AS rtnCommission
        FROM
            ATMS_03001150
    </select>

    <select id="findOne" resultType="sh03001150" parameterType="sh03001150" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            NONE_PROCESS_AMT AS noneProcessAmt,
            NONE_PROCESS_SEQ_NO AS noneProcessSeqNo,
            DEAL_DATE AS dealDate,
            STATEMENT_NO AS statementNo,
            DEAL_BANK AS dealBank,
            CARD_ACCOUNT_NO AS cardAccountNo,
            DEAL_TYPE AS dealType,
            DEAL_AMT AS dealAmt,
            MANAGER_NAME AS managerName,
            CUSTOMER_NAME AS customerName,
            CUSTOMER_TELNO AS customerTelno,
            MNG_OFFICE AS mngOffice,
            UNUSL AS unusl,
            PROCESS_DATE AS processDate,
            SEND_COMMISSION AS sendCommission,
            RTN_COMMISSION AS rtnCommission
        FROM
            ATMS_03001150
        WHERE
            BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, NONE_PROCESS_SEQ_NO = #{noneProcessSeqNo}, DEAL_DATE = #{dealDate}
    </select>

    <select id="nextSeqNo" resultType="sh03001150" parameterType="sh03001150" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            NONE_PROCESS_AMT AS noneProcessAmt,
            DEAL_DATE AS dealDate,
            STATEMENT_NO AS statementNo,
            DEAL_BANK AS dealBank,
            CARD_ACCOUNT_NO AS cardAccountNo,
            DEAL_TYPE AS dealType,
            DEAL_AMT AS dealAmt,
            MANAGER_NAME AS managerName,
            CUSTOMER_NAME AS customerName,
            CUSTOMER_TELNO AS customerTelno,
            MNG_OFFICE AS mngOffice,
            UNUSL AS unusl,
            PROCESS_DATE AS processDate,
            SEND_COMMISSION AS sendCommission,
            RTN_COMMISSION AS rtnCommission,
            CASE WHEN TO_NUMBER(NONE_PROCESS_SEQ_NO)+1 &lt; 10 THEN CONCAT('00',TO_CHAR(TO_NUMBER(NONE_PROCESS_SEQ_NO)+1))
                  WHEN TO_NUMBER(NONE_PROCESS_SEQ_NO)+1 &lt; 100 THEN CONCAT('0',TO_CHAR(TO_NUMBER(NONE_PROCESS_SEQ_NO)+1))
                  WHEN TO_NUMBER(NONE_PROCESS_SEQ_NO)+1 &gt;= 100 THEN TO_CHAR(TO_NUMBER(NONE_PROCESS_SEQ_NO)+1)
            END AS noneProcessSeqNo
        FROM
            (SELECT *
              FROM ATMS_03001150
            WHERE JISA_CODE = #{jisaCode}
              AND BRANCH_CODE = #{branchCode}
              AND TERMINAL_NO = #{terminalNo}
              AND DEAL_DATE = #{dealDate}
            ORDER BY NONE_PROCESS_SEQ_NO DESC)
        WHERE ROWNUM = 1
    </select>

   <update id="delete" parameterType="sh03001150" statementType="PREPARED">
        DELETE FROM
            ATMS_03001150
        WHERE
            BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, NONE_PROCESS_SEQ_NO = #{noneProcessSeqNo}, DEAL_DATE = #{dealDate}
    </update>

   <update id="update" parameterType="sh03001150" statementType="PREPARED">
        UPDATE ATMS_03001150
        SET
            JISA_CODE = #{jisaCode},
            NONE_PROCESS_AMT = #{noneProcessAmt},
            STATEMENT_NO = #{statementNo},
            DEAL_BANK = #{dealBank},
            CARD_ACCOUNT_NO = #{cardAccountNo},
            DEAL_TYPE = #{dealType},
            DEAL_AMT = #{dealAmt},
            MANAGER_NAME = #{managerName},
            CUSTOMER_NAME = #{customerName},
            CUSTOMER_TELNO = #{customerTelno},
            MNG_OFFICE = #{mngOffice},
            UNUSL = #{unusl},
            PROCESS_DATE = #{processDate},
            SEND_COMMISSION = #{sendCommission},
            RTN_COMMISSION = #{rtnCommission}
        WHERE
            BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, NONE_PROCESS_SEQ_NO = #{noneProcessSeqNo}, DEAL_DATE = #{dealDate}
    </update>

   <update id="insert" parameterType="sh03001150" statementType="PREPARED">
        INSERT INTO ATMS_03001150 (
            JISA_CODE,
            BRANCH_CODE,
            TERMINAL_NO,
            NONE_PROCESS_AMT,
            NONE_PROCESS_SEQ_NO,
            DEAL_DATE,
            STATEMENT_NO,
            DEAL_BANK,
            CARD_ACCOUNT_NO,
            DEAL_TYPE,
            DEAL_AMT,
            MANAGER_NAME,
            CUSTOMER_NAME,
            CUSTOMER_TELNO,
            MNG_OFFICE,
            UNUSL,
            PROCESS_DATE,
            SEND_COMMISSION,
            RTN_COMMISSION
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{terminalNo},
            #{noneProcessAmt},
            #{noneProcessSeqNo},
            #{dealDate},
            #{statementNo},
            #{dealBank},
            #{cardAccountNo},
            #{dealType},
            #{dealAmt},
            #{managerName},
            #{customerName},
            #{customerTelno},
            #{mngOffice},
            #{unusl},
            #{processDate},
            #{sendCommission},
            #{rtnCommission}
        )
    </update>
</mapper>