<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001130.Sh02001130Mapper">

    <select id="findAll" resultType="sh02001130" parameterType="sh02001130" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            WORK_SEQ_NO AS workSeqNo,
            TERMINAL_SEQ_NO AS terminalSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            TERMINAL_CORP_CODE AS terminalCorpCode,
            MODEL_CODE AS modelCode,
            HIRE_TERMINAL_ENABLE AS hireTerminalEnable,
            INSTALL_TERMINAL_GUBUN AS installTerminalGubun,
            TERMINAL_HIRE_FEE AS terminalHireFee,
            GATEWAY_IP_ADDR AS gatewayIpAddr,
            TERMINAL_IP_ADDR AS terminalIpAddr,
            TERMINAL_SMASK_ADDR AS terminalSmaskAddr,
            WORK_PLAN_DATETIME AS workPlanDatetime,
            TERMINAL_PROD_NO AS terminalProdNo
        FROM
            ATMS_02001130
    </select>

    <select id="findOne" resultType="sh02001130" parameterType="sh02001130" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            WORK_SEQ_NO AS workSeqNo,
            TERMINAL_SEQ_NO AS terminalSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            TERMINAL_CORP_CODE AS terminalCorpCode,
            MODEL_CODE AS modelCode,
            HIRE_TERMINAL_ENABLE AS hireTerminalEnable,
            INSTALL_TERMINAL_GUBUN AS installTerminalGubun,
            TERMINAL_HIRE_FEE AS terminalHireFee,
            GATEWAY_IP_ADDR AS gatewayIpAddr,
            TERMINAL_IP_ADDR AS terminalIpAddr,
            TERMINAL_SMASK_ADDR AS terminalSmaskAddr,
            WORK_PLAN_DATETIME AS workPlanDatetime,
            TERMINAL_PROD_NO AS terminalProdNo
        FROM
            ATMS_02001130
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </select>

   <update id="delete" parameterType="sh02001130" statementType="PREPARED">
        DELETE FROM
            ATMS_02001130
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="update" parameterType="sh02001130" statementType="PREPARED">
        UPDATE ATMS_02001130
        SET
            JISA_CODE = #{jisaCode},
            BRANCH_CODE = #{branchCode},
            CORNER_CODE = #{cornerCode},
            TERMINAL_NO = #{terminalNo},
            TERMINAL_SEQ_NO = #{terminalSeqNo},
            CHANGE_CHASU = #{changeChasu},
            STEXT_GUBUN = #{stextGubun},
            TERMINAL_CORP_CODE = #{terminalCorpCode},
            MODEL_CODE = #{modelCode},
            HIRE_TERMINAL_ENABLE = #{hireTerminalEnable},
            INSTALL_TERMINAL_GUBUN = #{installTerminalGubun},
            TERMINAL_HIRE_FEE = #{terminalHireFee},
            GATEWAY_IP_ADDR = #{gatewayIpAddr},
            TERMINAL_IP_ADDR = #{terminalIpAddr},
            TERMINAL_SMASK_ADDR = #{terminalSmaskAddr},
            WORK_PLAN_DATETIME = #{workPlanDatetime},
            TERMINAL_PROD_NO = #{terminalProdNo}
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="insert" parameterType="sh02001130" statementType="PREPARED">
        INSERT INTO ATMS_02001130 (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            TERMINAL_NO,
            WORK_SEQ_NO,
            TERMINAL_SEQ_NO,
            CHANGE_CHASU,
            STEXT_GUBUN,
            TERMINAL_CORP_CODE,
            MODEL_CODE,
            HIRE_TERMINAL_ENABLE,
            INSTALL_TERMINAL_GUBUN,
            TERMINAL_HIRE_FEE,
            GATEWAY_IP_ADDR,
            TERMINAL_IP_ADDR,
            TERMINAL_SMASK_ADDR,
            WORK_PLAN_DATETIME,
            TERMINAL_PROD_NO
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{terminalNo},
            #{workSeqNo},
            #{terminalSeqNo},
            #{changeChasu},
            #{stextGubun},
            #{terminalCorpCode},
            #{modelCode},
            #{hireTerminalEnable},
            #{installTerminalGubun},
            #{terminalHireFee},
            #{gatewayIpAddr},
            #{terminalIpAddr},
            #{terminalSmaskAddr},
            #{workPlanDatetime},
            #{terminalProdNo}
        )
    </update>
</mapper>