<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad006.dao.Ad006Mapper">

    <select id="searchEntityType" resultType="Ad00601VO" parameterType="Ad00601VO" statementType="PREPARED">
        <![CDATA[
      SELECT ENTITY_TYPE_UUID  as  entityTypeUuid
            , ENTITY_TYPE_CODE  as  entityType
            , ENTITY_TYPE_NAME  as  entityName
            , DESCRIPTION       as  description
            , NOTES             as  netes
            , USE_YN            as  useYN
            , AUDIT_YN          as  auditYN
            ]]>
        ,
        <include refid="Common.UserName">
            <property name="userUuid" value="INSERT_UUID"/>
        </include>
        as insertUuid
        <![CDATA[
            , INSERT_DATE       as  insertDate
            ]]>
        ,
        <include refid="Common.UserName">
            <property name="userUuid" value="UPDATE_UUID"/>
        </include>
        as updateUuid
        <![CDATA[
            , UPDATE_DATE       as  updateDate
            FROM AD_ENTITY_TYPE
        WHERE
        1=1
            ]]>
        <if test="null != entityType and '' != entityType">
            <![CDATA[
            AND
            ENTITY_TYPE_CODE = LIKE '%'||#{entityType} ||'%'
          ]]>
        </if>
        <if test="null != entityName and '' != entityName">
            <![CDATA[
            AND
            ENTITY_TYPE_NAME LIKE '%'||#{entityName} ||'%'
          ]]>
        </if>
        <if test="null != useYN and '' != useYN">
            <![CDATA[
            AND
            USE_YN = #{useYN}
          ]]>
        </if>
        ORDER BY ENTITY_TYPE_CODE ASC
    </select>

    <select id="getEntityColumnList" resultType="Ad00602VO" parameterType="Ad00601VO" statementType="PREPARED">
        <![CDATA[



      SELECT Z2.ENTITY_COLUMN_UUID AS entityColumnUuid,
              NVL(Z2.ENTITY_TYPE_UUID,(SELECT ENTITY_TYPE_UUID FROM AD_ENTITY_TYPE WHERE ENTITY_TYPE_CODE = #{entityType})) AS entityTypeUuid,
              Z2.GLOSSARY_UUID AS glossaryUuid,
              Z2.TERM_CODE AS termCode,
              Z2.TERM_NAME AS termName,
              FC_AD_CODE_NM (Z2.DATA_TYPE_UUID) AS dataType1,
              Z1.COLUMN_NAME AS columnName,
              Z1.COMMENTS AS comments,
              Z1.DATA_TYPE AS dataType2,
              Z1.NULLABLE AS nullable,
              NVL(Z2.AUDIT_YN,'N') AS auditYN,
              Z2.DESCRIPTION AS description,
              Z2.NOTES AS notes,
              NVL(Z2.USE_YN,'N') AS useYN,
              FC_AC_USER_NM (Z2.INSERT_UUID) AS insertUuid,
              Z2.INSERT_DATE  AS insertDate,
              FC_AC_USER_NM (Z2.UPDATE_UUID) AS updateUuid,
              Z2.UPDATE_DATE AS updateDate
        FROM (SELECT A.TABLE_NAME,
                      A.COLUMN_NAME,
                      B.COMMENTS,
                      A.DATA_TYPE,
                      A.NULLABLE,
                      A.COLUMN_ID
                FROM ALL_TAB_COLUMNS A, ALL_COL_COMMENTS B
               WHERE     A.TABLE_NAME = B.TABLE_NAME
                     AND A.COLUMN_NAME = B.COLUMN_NAME
                     AND A.TABLE_NAME = #{entityType}) Z1,
         (SELECT A.ENTITY_TYPE_CODE,
                  B.ENTITY_COLUMN_UUID,
                  B.ENTITY_TYPE_UUID,
                  B.GLOSSARY_UUID,
                  C.TERM_CODE,
                  C.TERM_NAME,
                  C.DATA_TYPE_UUID,
                  B.AUDIT_YN,
                  B.DESCRIPTION,
                  B.NOTES,
                  B.USE_YN,
                  B.INSERT_UUID,
                  B.INSERT_DATE,
                  B.UPDATE_UUID,
                  B.UPDATE_DATE
            FROM AD_ENTITY_TYPE A, AD_ENTITY_COLUMN B, AD_GLOSSARY C
           WHERE     1 = 1
                 AND A.ENTITY_TYPE_UUID = B.ENTITY_TYPE_UUID
                 AND C.GLOSSARY_UUID = B.GLOSSARY_UUID
                 AND A.ENTITY_TYPE_CODE = #{entityType}) Z2
       WHERE Z1.COLUMN_NAME = Z2.TERM_CODE(+)
       ORDER BY Z1.COLUMN_ID




        ]]>

    </select>

    <select id="checkEntityType" resultType="int" parameterType="String" statementType="PREPARED">
        <![CDATA[



          SELECT COUNT(DISTINCT TABLE_NAME) FROM  ALL_TAB_COLUMNS WHERE TABLE_NAME = #{entityType}



        ]]>
    </select>

    <select id="checkEntityColumn" resultType="int" parameterType="AdEntityColumn" statementType="PREPARED">
        <![CDATA[



          SELECT COUNT(1)
            FROM
            ALL_TAB_COLUMNS Z1, AD_ENTITY_TYPE Z2, AD_GLOSSARY Z3
            WHERE
            Z1.TABLE_NAME = Z2.ENTITY_TYPE_CODE
            AND
            Z1.COLUMN_NAME = Z3.TERM_CODE
            AND
            Z2.ENTITY_TYPE_UUID = #{entityTypeUuid}
            AND
            Z3.GLOSSARY_UUID = #{glossaryUuid}



        ]]>
    </select>

</mapper>