<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.error.minwon_mng.MinwonMngMapper">

    <select id="findAll" resultType="minwonMng" parameterType="minwonMng" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            REG_DATETIME AS regDatetime,
            MINWON_TYPE AS minwonType,
            MINWON_STATUS AS minwonStatus,
            MINWON_CONTENT AS minwonContent,
            HANDLE_CONTENT AS handleContent,
            UPDATE_DATETIME AS updateDatetime,
            LAST_MODIFY_EMP_NAME AS lastModifyEmpName
        FROM
            ATMS_MINWON_MNG
    </select>

    <select id="findOne" resultType="minwonMng" parameterType="minwonMng" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            REG_DATETIME AS regDatetime,
            MINWON_TYPE AS minwonType,
            MINWON_STATUS AS minwonStatus,
            MINWON_CONTENT AS minwonContent,
            HANDLE_CONTENT AS handleContent,
            UPDATE_DATETIME AS updateDatetime,
            LAST_MODIFY_EMP_NAME AS lastModifyEmpName
        FROM
            ATMS_MINWON_MNG
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, REG_DATETIME = #{regDatetime}
    </select>

   <update id="delete" parameterType="minwonMng" statementType="PREPARED">
        DELETE FROM
            ATMS_MINWON_MNG
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, REG_DATETIME = #{regDatetime}
    </update>

   <update id="update" parameterType="minwonMng" statementType="PREPARED">
        UPDATE ATMS_MINWON_MNG
        SET
            JISA_CODE = #{jisaCode},
            MINWON_TYPE = #{minwonType},
            MINWON_STATUS = #{minwonStatus},
            MINWON_CONTENT = #{minwonContent},
            HANDLE_CONTENT = #{handleContent},
            UPDATE_DATETIME = #{updateDatetime},
            LAST_MODIFY_EMP_NAME = #{lastModifyEmpName}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, REG_DATETIME = #{regDatetime}
    </update>

   <update id="insert" parameterType="minwonMng" statementType="PREPARED">
        INSERT INTO ATMS_MINWON_MNG (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            TERMINAL_NO,
            REG_DATETIME,
            MINWON_TYPE,
            MINWON_STATUS,
            MINWON_CONTENT,
            HANDLE_CONTENT,
            UPDATE_DATETIME,
            LAST_MODIFY_EMP_NAME
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{terminalNo},
            #{regDatetime},
            #{minwonType},
            #{minwonStatus},
            #{minwonContent},
            #{handleContent},
            #{updateDatetime},
            #{lastModifyEmpName}
        )
    </update>
</mapper>