<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ac.ac002.dao.Ac002Mapper">
    <select id="getStartupProgram" resultType="Ac002VO" parameterType="Ac002VO" statementType="PREPARED">
      <![CDATA[
        SELECT
          Z2."MENU_NAME" as "id",
          Z2."MENU_UUID" as "menuId",
          Z2."MENU_NAME" as "menuNm",
          Z1."PROGRAM_NAME" as "progNm",
          Z2."PARAMETER" as "menuParams",
          Z1."URL" as "url",
          Z1."URL" as "progPh"
        FROM
          AD_PROGRAM Z1,
          AD_MENU Z2
        WHERE
          Z1.PROGRAM_UUID =Z2.PROGRAM_UUID
          AND
          ROWNUM = 1
          AND
      ]]>
          Z1.PROGRAM_UUID = #{startProgramUuid}
    </select>

    <select id="getBookmark" resultType="Ac00201VO" parameterType="Ac00201VO" statementType="PREPARED">
        SELECT
            BOOKMARK_UUID AS bookmarkUuid,
            MENU_UUID AS menuUuid,
            MENU_NAME AS menuName
        FROM
            AD_BOOKMARK
        WHERE USER_UUID = #{userUuid}
    </select>
</mapper>