<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.sla.sh_sla_g1.ShSlaG1Mapper">

    <select id="findAll" resultType="shSlaG1" parameterType="shSlaG1" statementType="PREPARED">
        SELECT
            WITHDRAW_DATETIME AS withdrawDatetime,
            REAL_CLASSIFY AS realClassify,
            REAL_NO AS realNo,
            ISSUE_ORG AS issueOrg,
            WITHDRAW_ORG AS withdrawOrg,
            TX_ID AS txId,
            PROGRESS_STATUS AS progressStatus,
            WITHDRAW_EMP_NAME AS withdrawEmpName,
            TRANSFER_EMP_NAME AS transferEmpName,
            TAKEOVER_EMP_NAME AS takeoverEmpName,
            RETURN_EMP_NAME AS returnEmpName,
            RECEIVE_EMP_NAME AS receiveEmpName,
            TRANSFER_DATETIME AS transferDatetime,
            RETURN_DATETIME AS returnDatetime,
            STORAGE_UNUSL AS storageUnusl
        FROM
            ATMS_SLA_G1
    </select>

    <select id="findOne" resultType="shSlaG1" parameterType="shSlaG1" statementType="PREPARED">
        SELECT
            WITHDRAW_DATETIME AS withdrawDatetime,
            REAL_CLASSIFY AS realClassify,
            REAL_NO AS realNo,
            ISSUE_ORG AS issueOrg,
            WITHDRAW_ORG AS withdrawOrg,
            TX_ID AS txId,
            PROGRESS_STATUS AS progressStatus,
            WITHDRAW_EMP_NAME AS withdrawEmpName,
            TRANSFER_EMP_NAME AS transferEmpName,
            TAKEOVER_EMP_NAME AS takeoverEmpName,
            RETURN_EMP_NAME AS returnEmpName,
            RECEIVE_EMP_NAME AS receiveEmpName,
            TRANSFER_DATETIME AS transferDatetime,
            RETURN_DATETIME AS returnDatetime,
            STORAGE_UNUSL AS storageUnusl
        FROM
            ATMS_SLA_G1
        WHERE
            WITHDRAW_DATETIME = #{withdrawDatetime}, REAL_NO = #{realNo}, TX_ID = #{txId}
    </select>

   <update id="delete" parameterType="shSlaG1" statementType="PREPARED">
        DELETE FROM
            ATMS_SLA_G1
        WHERE
            WITHDRAW_DATETIME = #{withdrawDatetime}, REAL_NO = #{realNo}, TX_ID = #{txId}
    </update>

   <update id="update" parameterType="shSlaG1" statementType="PREPARED">
        UPDATE ATMS_SLA_G1
        SET
            REAL_CLASSIFY = #{realClassify},
            ISSUE_ORG = #{issueOrg},
            WITHDRAW_ORG = #{withdrawOrg},
            PROGRESS_STATUS = #{progressStatus},
            WITHDRAW_EMP_NAME = #{withdrawEmpName},
            TRANSFER_EMP_NAME = #{transferEmpName},
            TAKEOVER_EMP_NAME = #{takeoverEmpName},
            RETURN_EMP_NAME = #{returnEmpName},
            RECEIVE_EMP_NAME = #{receiveEmpName},
            TRANSFER_DATETIME = #{transferDatetime},
            RETURN_DATETIME = #{returnDatetime},
            STORAGE_UNUSL = #{storageUnusl}
        WHERE
            WITHDRAW_DATETIME = #{withdrawDatetime}, REAL_NO = #{realNo}, TX_ID = #{txId}
    </update>

   <update id="insert" parameterType="shSlaG1" statementType="PREPARED">
        INSERT INTO ATMS_SLA_G1 (
            WITHDRAW_DATETIME,
            REAL_CLASSIFY,
            REAL_NO,
            ISSUE_ORG,
            WITHDRAW_ORG,
            TX_ID,
            PROGRESS_STATUS,
            WITHDRAW_EMP_NAME,
            TRANSFER_EMP_NAME,
            TAKEOVER_EMP_NAME,
            RETURN_EMP_NAME,
            RECEIVE_EMP_NAME,
            TRANSFER_DATETIME,
            RETURN_DATETIME,
            STORAGE_UNUSL
        ) VALUES (
            #{withdrawDatetime},
            #{realClassify},
            #{realNo},
            #{issueOrg},
            #{withdrawOrg},
            #{txId},
            #{progressStatus},
            #{withdrawEmpName},
            #{transferEmpName},
            #{takeoverEmpName},
            #{returnEmpName},
            #{receiveEmpName},
            #{transferDatetime},
            #{returnDatetime},
            #{storageUnusl}
        )
    </update>
</mapper>