<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">


<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rc/rc004/rc004.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">

        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">

                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                        <ul class="bdb">
                            <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                            <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry}"/>
                        </ul>
                    </div>
                    <div class="div_tablerow">
                        <ul style="height: 30px; width: 100%" class="bdb">
                            <li style="width: 2%;"><img src="/assets/images/ams/icon/fo.png" alt="folder"></li>
                            <li style="width: 78%; text-align: left" data-ax-path="navi"></li>
                            <li style="width: 19.5%; padding-right: 0.5%">
                                <!--    <div class="src_box3" ><input type=text>
                              <a href="#" id="dialog-link5">
                              <img src="images/search_normal.png" alt="search"></a>
                              </div>-->
                            </li>
                        </ul>
                    </div>
                    <div class="div_tablerow cont_title">
                        <ul style="height: 30px; width: 100%">
                            <li class="pdl_10" data-ax-path="headTitle">
                                </li>
                        </ul>
                    </div>

                    <div style="height:100%; width:100%" class="div_tablerow">

                        <div style="display:table; height:100%; width:16%; float:left" class="bdr">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Record Hierarchy')}"/>
                            </ul>
                            <ul class="bdb" style="height:30px;width:100%; float:left">
                                <li class="bdr"><a href="#" class="open_close" id="rg_tree_allopen">Expand</a></li>
                                <li><a href="#" class="open_close" id="rg_tree_allclose">Collapse</a></li>
                            </ul>
                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div data-z-tree="tree-view-01" data-fit-height-content="tree-view-01" style="height: 100%;width : 100%;overflow-x: auto; max-width: 271px;" class="ztree"></div>
                            </div>
                        </div>
                        <!--오늘쪽 내용에서 좌측 트리부분-->

                        <div style="display:table; height:100%; width:84%; float:left">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Item Details')}"/>
                            </ul>
                            <div style="height:100%; width:100%;" class="div_tablerow">
                                <div class="explorer_list">
                                    <div class="explorer_list_cont" id="topmove">

                                        <div class="bdt cont_wrap01" style="width: 86%;">

                                            <!-- system metadata -->
                                            <div class="serv_title" style="border-top:0; margin-top: 0">
                                                <span><b>System Metadata</b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">
                                                <ul>
                                                    <li style="width: 33%;">
                                                        <b>Code </b><div data-ax-path="itemCode">text readonly</div>
                                                        <input type="hidden" data-ax-path="itemUuid">
                                                    </li>
                                                    <li style="width: 33%;">
                                                        <b>Type </b>
                                                        <div>
                                                            <select data-ax-path="typeUuid" style="width: 200px;">
                                                                <option></option>
                                                                <option th:attr="defaultYN =  ${item.defaultYN}"
                                                                        th:each="item : ${typeUuid}"
                                                                        th:value="${item.codeDetailUUID}"
                                                                        th:text="${item.codeName}" />
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li style="width: 34%;">
                                                        <b>Published Status</b>
                                                        <div>
                                                            <select data-ax-path="publishedStatusUuid" style="width: 200px; background-color: #fffdd6" >
                                                                <option th:each="item : ${publishedStatusUuid}"
                                                                        th:value="${item.codeDetailUUID}"
                                                                        th:text="${item.codeName}"
                                                                        th:attr="defaultYN =  ${item.defaultYN}"
                                                                />
                                                            </select>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul style="padding-top: 16px">
                                                    <li style="width: 66%;">
                                                        <b>Title </b>
                                                        <div>
                                                            <textarea data-ax-path="title"  class="txtar" style="height: 35px; background-color: #fffdd6; width: 90%"></textarea>
                                                        </div>
                                                    </li>

                                                    <li style="width: 34%;">
                                                        <!--    <b>Level </b>
                                                            <div>
                                                                <select style="width: 200px">
                                                                    <option>Level</option>
                                                                    <option>Level</option>
                                                                    <option>Level</option>
                                                                </select>
                                                            </div>-->
                                                    </li>
                                                </ul>

                                                <ul class="pdt_15">
                                                    <li style="width: 49%;">
                                                        <b>Description </b>
                                                        <div>
                                                            <textarea data-ax-path="description" class="txtar" style="height: 162px"></textarea>
                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Notes </b>
                                                        <div>
                                                            <textarea data-ax-path="notes" class="txtar" style="height: 162px"></textarea>
                                                        </div>
                                                    </li>
                                                </ul>


                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Author </b>
                                                        <div>
                                                            <textarea data-ax-path="author" class="txtar" style="height: 35px; width: 95%"></textarea>
                                                        </div>
                                                    </li>

                                                    <li style="width: 67%;">
                                                        <b>From </b>
                                                        <div>
                                                            <div class="src_box2" style="width: 100%;background-color: #fffdd6;">
                                                                <input data-ax-path="raAggregationCode" type=hidden style="width: 97%">
                                                                <input data-ax-path="raAggregationUuid" type=hidden style="width: 97%">
                                                                <input data-ax-path="from" type=text style="width: 97%;background-color: #fffdd6;" >
                                                                <a href="#" style="top: 0;">
                                                                    <img src="/assets/images/ams/search_normal.png" alt="find"></a>
                                                            </div>
                                                        </div>

                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Date of Description  </b>
                                                        <dd class="w_auto">
                                                            <div class="input-group" data-ax5picker="date">
                                                                <div class="cld_box">
                                                                    <input type="text" data-ax-path="descriptionStartDate" style="ime-mode:disabled;"
                                                                           placeholder="YYYY-MM-DD" maxlength="10">
                                                                    <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                </div>
                                                                ~
                                                                <div class="cld_box">
                                                                    <input type="text" data-ax-path="descriptionEndDate" style="ime-mode:disabled;"
                                                                           placeholder="YYYY-MM-DD" maxlength="10">
                                                                    <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >

                                                                </div>
                                                            </div>
                                                        </dd>
                                                    </li>

                                                    <li style="width: 67%;">
                                                        &nbsp;
                                                    </li>
                                                </ul>

                                            </div>
                                            <!-- system metadata -->

                                            <!-- Contextual Metadata -->
                                            <div class="serv_title">
                                                <span><b>Contextual Metadata </b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">
                                                <ul>
                                                    <li style="width: 49%">
                                                        <ol>
                                                            <li>
                                                                <b>Provenance </b>
                                                                <div>
                                                                    <textarea data-ax-path="provenance" class="txtar" style="height: 35px"></textarea>
                                                                </div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Creator </b>
                                                                <div>
                                                                    <textarea data-ax-path="creator" class="txtar" style="height: 35px"></textarea>
                                                                </div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Date of Creation</b>
                                                                <dd class="w_auto">
                                                                    <div data-ax5picker="date">
                                                                        <div class="cld_box" >
                                                                            <input type="text" data-ax-path="creationStartDate" style="ime-mode:disabled;"
                                                                                   placeholder="YYYY-MM-DD" maxlength="10">
                                                                            <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                        </div>
                                                                        ~
                                                                        <div class="cld_box" >
                                                                            <input type="text" data-ax-path="creationEndDate" style="ime-mode:disabled;"
                                                                                   placeholder="YYYY-MM-DD" maxlength="10">
                                                                            <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                        </div>
                                                                    </div>
                                                                </dd>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Open Status</b>
                                                                <input data-ax-path="openStatusUuid" type="hidden">
                                                                <div>
                                                                    <select data-ax-path="openStatusUuid" style="width: 200px;">
                                                                        <option value=""></option>
                                                                        <option th:each="item : ${openStatusUuid}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"th:attr="defaultYN =  ${item.defaultYN}"

                                                                        />
                                                                    </select>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li>
                                                        <ol>
                                                            <li>
                                                                <b>Reference Code </b>
                                                                <div>
                                                                    <textarea data-ax-path="referenceCode" class="txtar" style="height: 120px"></textarea>
                                                                </div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Keyword </b>
                                                                <div>
                                                                    <textarea data-ax-path="keyword" class="txtar" style="height: 80px"></textarea>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ul>


                                                <!--<ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 01 </b>
                                                        <div>
                                                            <input type="text" style="width: 100%">
                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 02</b>
                                                        <div>
                                                            <div class="cld_box">
                                                                <input type=text id="datepicker5">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 03 </b>
                                                        <div>
                                                            <input type="text" style="width: 100%">
                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 04</b>
                                                        <div>
                                                            <div class="cld_box">
                                                                <input type=text id="datepicker6">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 05 </b>
                                                        <div>
                                                            <input type="text" style="width: 100%">
                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 06</b>
                                                        <div>
                                                            <div class="cld_box">
                                                                <input type=text id="datepicker7">
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 07 </b>
                                                        <div>
                                                            <input type="text" style="width: 100%">
                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 08</b>
                                                        <div>
                                                            <input type="text" style="width: 100%">
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 09</b>
                                                        <div>
                                                            <input type="text" style="width: 100%">
                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 10</b>
                                                        <div>
                                                            <input type="text" style="width: 100%">
                                                        </div>
                                                    </li>
                                                </ul>-->
                                            </div>

                                            <!-- Contextual Metadata -->



                                            <!-- Component list -->
                                            <div class="bdb bdt mgt_10 bgf7 bdr bdl " style="padding: 5px;">
                                                <div><b>Component List</b></div>
                                            </div>
                                            <div class="comp_list_wrap pdt_10">
                                                <div id="realgrid01" style="width:100%; height:100%; border: 1px solid #ccc" ></div>
                                            </div>
                                            <!-- Component list -->



                                        </div>


                                        <div class="top_move">
                                            <a href="#topmove">&and;<br>Top</a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
