<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001220.Sh02001220Mapper">

    <select id="findAll" resultType="sh02001220" parameterType="sh02001220" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            FAC_SEQ_NO AS facSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            JISA_CODE AS jisaCode,
            NOUSE_BRANCH_CODE AS nouseBranchCode,
            NOUSE_CORNER_CODE AS nouseCornerCode,
            NOUSE_FAC_GUBUN_CODE AS nouseFacGubunCode,
            NOUSE_FAC_CODE AS nouseFacCode,
            NOUSE_ASSET_SEQ_NO AS nouseAssetSeqNo,
            NOUSE_GUBUN AS nouseGubun,
            NEW_BRANCH_CODE AS newBranchCode,
            NEW_CORNER_CODE AS newCornerCode,
            NEW_FAC_GUBUN_CODE AS newFacGubunCode,
            NEW_FAC_CODE AS newFacCode,
            NEW_HIRE_FAC_ENABLE AS newHireFacEnable,
            NEW_INSTALL_ARTICLE_GUBUN AS newInstallArticleGubun,
            NEW_ASSET_SEQ_NO AS newAssetSeqNo,
            FAC_IP_ADDR AS facIpAddr,
            FAC_GW_ADDR AS facGwAddr,
            FAC_SMASK_ADDR AS facSmaskAddr,
            NEW_HIRE_FEE AS newHireFee
        FROM
            ATMS_02001220
    </select>

    <select id="findOne" resultType="sh02001220" parameterType="sh02001220" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            FAC_SEQ_NO AS facSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            JISA_CODE AS jisaCode,
            NOUSE_BRANCH_CODE AS nouseBranchCode,
            NOUSE_CORNER_CODE AS nouseCornerCode,
            NOUSE_FAC_GUBUN_CODE AS nouseFacGubunCode,
            NOUSE_FAC_CODE AS nouseFacCode,
            NOUSE_ASSET_SEQ_NO AS nouseAssetSeqNo,
            NOUSE_GUBUN AS nouseGubun,
            NEW_BRANCH_CODE AS newBranchCode,
            NEW_CORNER_CODE AS newCornerCode,
            NEW_FAC_GUBUN_CODE AS newFacGubunCode,
            NEW_FAC_CODE AS newFacCode,
            NEW_HIRE_FAC_ENABLE AS newHireFacEnable,
            NEW_INSTALL_ARTICLE_GUBUN AS newInstallArticleGubun,
            NEW_ASSET_SEQ_NO AS newAssetSeqNo,
            FAC_IP_ADDR AS facIpAddr,
            FAC_GW_ADDR AS facGwAddr,
            FAC_SMASK_ADDR AS facSmaskAddr,
            NEW_HIRE_FEE AS newHireFee
        FROM
            ATMS_02001220
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </select>

   <update id="delete" parameterType="sh02001220" statementType="PREPARED">
        DELETE FROM
            ATMS_02001220
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="update" parameterType="sh02001220" statementType="PREPARED">
        UPDATE ATMS_02001220
        SET
            FAC_SEQ_NO = #{facSeqNo},
            CHANGE_CHASU = #{changeChasu},
            STEXT_GUBUN = #{stextGubun},
            JISA_CODE = #{jisaCode},
            NOUSE_BRANCH_CODE = #{nouseBranchCode},
            NOUSE_CORNER_CODE = #{nouseCornerCode},
            NOUSE_FAC_GUBUN_CODE = #{nouseFacGubunCode},
            NOUSE_FAC_CODE = #{nouseFacCode},
            NOUSE_ASSET_SEQ_NO = #{nouseAssetSeqNo},
            NOUSE_GUBUN = #{nouseGubun},
            NEW_BRANCH_CODE = #{newBranchCode},
            NEW_CORNER_CODE = #{newCornerCode},
            NEW_FAC_GUBUN_CODE = #{newFacGubunCode},
            NEW_FAC_CODE = #{newFacCode},
            NEW_HIRE_FAC_ENABLE = #{newHireFacEnable},
            NEW_INSTALL_ARTICLE_GUBUN = #{newInstallArticleGubun},
            NEW_ASSET_SEQ_NO = #{newAssetSeqNo},
            FAC_IP_ADDR = #{facIpAddr},
            FAC_GW_ADDR = #{facGwAddr},
            FAC_SMASK_ADDR = #{facSmaskAddr},
            NEW_HIRE_FEE = #{newHireFee}
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="insert" parameterType="sh02001220" statementType="PREPARED">
        INSERT INTO ATMS_02001220 (
            WORK_SEQ_NO,
            FAC_SEQ_NO,
            CHANGE_CHASU,
            STEXT_GUBUN,
            JISA_CODE,
            NOUSE_BRANCH_CODE,
            NOUSE_CORNER_CODE,
            NOUSE_FAC_GUBUN_CODE,
            NOUSE_FAC_CODE,
            NOUSE_ASSET_SEQ_NO,
            NOUSE_GUBUN,
            NEW_BRANCH_CODE,
            NEW_CORNER_CODE,
            NEW_FAC_GUBUN_CODE,
            NEW_FAC_CODE,
            NEW_HIRE_FAC_ENABLE,
            NEW_INSTALL_ARTICLE_GUBUN,
            NEW_ASSET_SEQ_NO,
            FAC_IP_ADDR,
            FAC_GW_ADDR,
            FAC_SMASK_ADDR,
            NEW_HIRE_FEE
        ) VALUES (
            #{workSeqNo},
            #{facSeqNo},
            #{changeChasu},
            #{stextGubun},
            #{jisaCode},
            #{nouseBranchCode},
            #{nouseCornerCode},
            #{nouseFacGubunCode},
            #{nouseFacCode},
            #{nouseAssetSeqNo},
            #{nouseGubun},
            #{newBranchCode},
            #{newCornerCode},
            #{newFacGubunCode},
            #{newFacCode},
            #{newHireFacEnable},
            #{newInstallArticleGubun},
            #{newAssetSeqNo},
            #{facIpAddr},
            #{facGwAddr},
            #{facSmaskAddr},
            #{newHireFee}
        )
    </update>
</mapper>