<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rs/rs003/rs003.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">
                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                        <ul class="bdb">
                            <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                            <th:block layout:insert="~{/fragments/page-buttons :: confirm-and-cancel-and-save-and-inquiry-and-update}"/>
                        </ul>
                    </div>
                    <div class="bdb div_tablerow searchFields">
                        <dl>
                            <dt class="mgl_5 w150">Status</dt>
                            <dd>
                                <select data-ax-path="statusUuid" style="width:135px;">
                                    <option value=""></option>
                                    <option th:each="item : ${statusUuid}"
                                            th:value="${item.codeDetailUUID}"
                                            th:text="${item.codeName}"/>
                                </select>
                            </dd>
                            <dt class="mgl_5">Retention period</dt>
                            <dd>
                                <select data-ax-path="retentionPeriodUuid" style="width:135px;">
                                    <option value=""></option>
                                    <option th:each="item : ${retentionPeriodUuid}"
                                            th:value="${item.codeDetailUUID}"
                                            th:text="${item.codeName}"/>
                                </select>
                            </dd>
                            <dt class="mgl_5">Disposal Type</dt>
                            <dd>
                                <select data-ax-path="disposalTypeUuid" style="width:135px;">
                                    <option value=""></option>
                                    <option th:each="item : ${disposalTypeUuid}"
                                            th:value="${item.codeDetailUUID}"
                                            th:text="${item.codeName}"/>
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="mgl_5 w150">RS Code</dt>
                            <dd>
                                <input type=text style="width:135px" data-ax-path="rsCode">
                            </dd>
                            <dt class="mgl_5">RS Name</dt>
                            <dd>
                                <input type=text style="width:135px" data-ax-path="rsName">
                            </dd>
                        </dl>
                        <dl>
                            <th:block layout:insert="~{/fragments/page-buttons :: searchInputYellow ('GRS Code','grsCode')}"/>
                            <dd class="w_auto" style="padding-right: 15px">
                                <div class="rdo_box">
                                    <span class="rdo_box_title" style="width:90px">Recalculation</span>
                                    <label>
                                        <input type="radio" name="radio3" data-ax-path="recalculationYn" class="no_border" value="Y">Yes</label>
                                    <label>
                                        <input type="radio" name="radio3" data-ax-path="recalculationYn" class="no_border" value="N">No</label>
                                    <label>
                                        <input type="radio" name="radio3" data-ax-path="recalculationYn" class="no_border"  value="" checked>All</label>
                                </div>
                            </dd>
                            <dd class="w_auto" style="padding-right: 15px">
                                <div class="rdo_box">
                                    <span class="rdo_box_title">Trigger</span>
                                    <label>
                                        <input type="radio" name="radio2" data-ax-path="triggerYn" class="no_border" value="Y">Yes</label>
                                    <label>
                                        <input type="radio" name="radio2" data-ax-path="triggerYn" class="no_border" value="N">No</label>
                                    <label>
                                        <input type="radio" name="radio2" data-ax-path="triggerYn" class="no_border"  value="" checked>All</label>
                                </div>
                            </dd>
                            <dd class="w_auto">
                                <div class="rdo_box">
                                    <span class="rdo_box_title">Use</span>
                                    <label>
                                        <input type="radio" name="radio1" data-ax-path="useYn" class="no_border" value="Y">Yes</label>
                                    <label>
                                        <input type="radio" name="radio1" data-ax-path="useYn" class="no_border" value="N">No</label>
                                    <label>
                                        <input type="radio" name="radio1" data-ax-path="useYn" class="no_border"  value="" checked>All</label>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div style="height:100%; width:100%" class="bgf7 div_tablerow">

                        <div style="height:100%; width:100%" class="div_table">
                            <ul class="bdb bdt div_tablerow" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Record Schedule')}"/>
                                <th:block layout:insert="~{/fragments/page-buttons :: add-and-delete}"/>
                            </ul>
                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div id="realgrid01" style="width:100%; height:100%"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </form>
</div>