<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.rs.rs004.dao.Rs004Mapper">
    <select id="getRecordScheduleResultList" resultType="Rs00401VO"  statementType="PREPARED">
        SELECT
        A3.RS_CODE AS rsCode,
        A3.RS_NAME AS rsName,
        A3.RETENTION_PERIOD_UUID AS retentionPeriodUuid,
        CASE WHEN (SELECT COUNT(*) FROM DF_DISPOSAL_FREEZE_RESULT WHERE ITEM_UUID = A1.ITEM_UUID) = '0' THEN 'N' ELSE 'Y' END
        AS disposalFreeze,
        A1.RECORD_SCHEDULE_RESULT_UUID AS recordScheduleResultUuid,
        A1.RECORD_SCHEDULE_UUID AS recordScheduleUuid,
        A1.ITEM_UUID AS itemUuid,
        A1.STATUS_UUID AS statusUuid,
        A1.DISPOSAL_TYPE_UUID AS disposalTypeUuid,
        TO_CHAR(A1.INITIAL_DATE,'YYYY-MM-DD') AS initialDate,
        TO_CHAR(A1.DISPOSAL_DUE_DATE,'YYYY-MM-DD') AS disposalDueDate,
        TO_CHAR(A1.DISPOSAL_CONFIRM_DATE,'YYYY-MM-DD') AS disposalConfirmDate,
        A1.DISPOSAL_CONFIRM_REASON AS disposalConfirmReason,
        A1.DISPOSAL_COMPLETE_DATE AS disposalCompleteDate,
        A1.DISPOSAL_STATUS as disposalStatus,
        A1.DESCRIPTION AS description,
        A1.NOTES AS notes,
        A2.ITEM_CODE AS itemCode,
        A2.TYPE_UUID AS itemTypeUuid,
        A4.CREATION_END_DATE AS creationEndDate,
        A2.TITLE AS itemTitle,
        (
        SELECT
        SUBSTR(SYS_CONNECT_BY_PATH(TITLE,' >> '),4) path
        FROM
        RC_AGGREGATION C
        WHERE A2.AGGREGATION_UUID = C.AGGREGATION_UUID
        START WITH PARENT_AGGREGATION_UUID IS NULL
        CONNECT BY PRIOR AGGREGATION_UUID = PARENT_AGGREGATION_UUID
        ) AS aggregationTree,
        <include refid="Common.UserName"><property name="userUuid" value="A1.INSERT_UUID"/></include> as insertUuid,
        A1.INSERT_DATE as insertDate,
        <include refid="Common.UserName"><property name="userUuid" value="A1.UPDATE_UUID"/></include> as updateUuid,
        A1.UPDATE_DATE as updateDate
        FROM RS_RECORD_SCHEDULE_RESULT A1, RC_ITEM A2, RS_RECORD_SCHEDULE A3, RC_ITEM_CON A4
        <where>
            A1.ITEM_UUID = A2.ITEM_UUID
            AND A1.RECORD_SCHEDULE_UUID = A3.RECORD_SCHEDULE_UUID
            AND A1.ITEM_UUID = A4.ITEM_UUID
            AND FC_AD_CODE(A1.DISPOSAL_STATUS) = 'DRAFT'
            <if test="statusUuid != null">
                AND  A1.STATUS_UUID = #{statusUuid}
            </if>
            <if test="retentionPeriodUuid != null">
                AND  A3.RETENTION_PERIOD_UUID = #{retentionPeriodUuid}
            </if>
            <if test="disposalTypeUuid != null">
                AND  A1.DISPOSAL_TYPE_UUID = #{disposalTypeUuid}
            </if>
            <if test="recordScheduleUuid != null">
                AND  A1.RECORD_SCHEDULE_UUID = #{recordScheduleUuid}
            </if>
            <if test="rsCode != null">
                AND  A3.RS_CODE = #{rsCode}
            </if>
            <if test="null != disposalFromDueDate and '' != disposalToDueDate">
                <![CDATA[
            AND
                A1.DISPOSAL_DUE_DATE  BETWEEN to_date(#{disposalFromDueDate},'YYYY-MM-DD') AND to_date(#{disposalToDueDate},'YYYY-MM-DD')
            ]]>
            </if>
            <if test="disposalFreeze != null">
                AND #{disposalFreeze} = CASE WHEN (SELECT COUNT(*) FROM DF_DISPOSAL_FREEZE_RESULT WHERE ITEM_UUID = A1.ITEM_UUID) = '0' THEN 'N' ELSE 'Y' END
            </if>
        </where>
        ORDER BY A3.RS_CODE, A2.ITEM_CODE
    </select>
    <select id="getRecordScheduleList" resultType="Rs00301VO"  statementType="PREPARED">
        SELECT
            RS_NAME as rsName,
            RS_CODE as rsCode,
            RECORD_SCHEDULE_UUID as recordScheduleUuid,
            '[' || RS_CODE || '] ' || RS_NAME AS path
        FROM RS_RECORD_SCHEDULE
        WHERE USE_YN = 'Y' AND FC_AD_CODE_NM(STATUS_UUID) = 'Confirm'
        ORDER BY RS_CODE
    </select>
    <select id="getRecordScheduleAggregationList" parameterType="Rs00402VO" resultType="Rs00402VO"  statementType="PREPARED">
        SELECT
            DISTINCT(A.AGGREGATION_UUID) AS aggregationUuid,
            A.TITLE AS title,
            C.RS_CODE AS rsCode,
            C.RS_NAME AS rsName,
            C.RETENTION_PERIOD_UUID AS retentionPeriodUuid,
            C.DISPOSAL_TYPE_UUID AS disposalTypeUuid,
            C.RECORD_SCHEDULE_UUID AS recordScheduleUuid,
            (
                SELECT SYS_CONNECT_BY_PATH((
                SELECT TITLE FROM RC_AGGREGATION WHERE AGGREGATION_UUID = T1.AGGREGATION_UUID), ' > ')
                FROM
                (
                    SELECT CONNECT_BY_ROOT AGGREGATION_UUID AS ROOT, AGGREGATION_UUID, PARENT_AGGREGATION_UUID, TITLE
                    FROM RC_AGGREGATION
                    START WITH PARENT_AGGREGATION_UUID IS NULL
                    CONNECT BY PRIOR AGGREGATION_UUID = PARENT_AGGREGATION_UUID
                ) T1
                WHERE AGGREGATION_UUID = A.AGGREGATION_UUID
                AND ROWNUM = 1
                START WITH T1.PARENT_AGGREGATION_UUID IS NULL
                CONNECT BY PRIOR T1.AGGREGATION_UUID = T1.PARENT_AGGREGATION_UUID
             ) AS catPath
        FROM RC_AGGREGATION A, RC_AGGREGATION_CON B, RS_RECORD_SCHEDULE C
        WHERE A.AGGREGATION_UUID = B.AGGREGATION_UUID
              AND B.RECORD_SCHEDULE_UUID = C.RECORD_SCHEDULE_UUID
              AND CONNECT_BY_ISLEAF = 1
              AND B.RECORD_SCHEDULE_UUID = #{recordScheduleUuid}
        START WITH B.RECORD_SCHEDULE_UUID = #{recordScheduleUuid}
        CONNECT BY PRIOR A.AGGREGATION_UUID = A.PARENT_AGGREGATION_UUID
    </select>

</mapper>