<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul..Rs004Mapper">

    <select id="findAll" resultType="rs004" parameterType="rs004" statementType="PREPARED">
        SELECT
            RECORD_SCHEDULE_RESULT_UUID AS recordScheduleResultUuid,
            RECORD_SCHEDULE_UUID AS recordScheduleUuid,
            STATUS_UUID AS statusUuid,
            ITEM_UUID AS itemUuid,
            DISPOSAL_TYPE_UUID AS disposalTypeUuid,
            INITIAL_DATE AS initialDate,
            DISPOSAL_DUE_DATE AS disposalDueDate,
            DISPOSAL_CONFIRM_DATE AS disposalConfirmDate,
            DISPOSAL_CONFIRM_REASON AS disposalConfirmReason,
            DISPOSAL_COMPLETE_DATE AS disposalCompleteDate,
            DESCRIPTION AS description,
            NOTES AS notes,
            INSERT_UUID AS insertUuid,
            INSERT_DATE AS insertDate,
            UPDATE_UUID AS updateUuid,
            UPDATE_DATE AS updateDate
        FROM
            RS_RECORD_SCHEDULE_RESULT
    </select>

    <select id="findOne" resultType="rs004" parameterType="rs004" statementType="PREPARED">
        SELECT
            RECORD_SCHEDULE_RESULT_UUID AS recordScheduleResultUuid,
            RECORD_SCHEDULE_UUID AS recordScheduleUuid,
            STATUS_UUID AS statusUuid,
            ITEM_UUID AS itemUuid,
            DISPOSAL_TYPE_UUID AS disposalTypeUuid,
            INITIAL_DATE AS initialDate,
            DISPOSAL_DUE_DATE AS disposalDueDate,
            DISPOSAL_CONFIRM_DATE AS disposalConfirmDate,
            DISPOSAL_CONFIRM_REASON AS disposalConfirmReason,
            DISPOSAL_COMPLETE_DATE AS disposalCompleteDate,
            DESCRIPTION AS description,
            NOTES AS notes,
            INSERT_UUID AS insertUuid,
            INSERT_DATE AS insertDate,
            UPDATE_UUID AS updateUuid,
            UPDATE_DATE AS updateDate
        FROM
            RS_RECORD_SCHEDULE_RESULT
        WHERE
            RECORD_SCHEDULE_RESULT_UUID = #{recordScheduleResultUuid}
    </select>

   <update id="delete" parameterType="rs004" statementType="PREPARED">
        DELETE FROM
            RS_RECORD_SCHEDULE_RESULT
        WHERE
            RECORD_SCHEDULE_RESULT_UUID = #{recordScheduleResultUuid}
    </update>

   <update id="update" parameterType="rs004" statementType="PREPARED">
        UPDATE RS_RECORD_SCHEDULE_RESULT
        SET
            RECORD_SCHEDULE_UUID = #{recordScheduleUuid},
            STATUS_UUID = #{statusUuid},
            ITEM_UUID = #{itemUuid},
            DISPOSAL_TYPE_UUID = #{disposalTypeUuid},
            INITIAL_DATE = #{initialDate},
            DISPOSAL_DUE_DATE = #{disposalDueDate},
            DISPOSAL_CONFIRM_DATE = #{disposalConfirmDate},
            DISPOSAL_CONFIRM_REASON = #{disposalConfirmReason},
            DISPOSAL_COMPLETE_DATE = #{disposalCompleteDate},
            DESCRIPTION = #{description},
            NOTES = #{notes},
            INSERT_UUID = #{insertUuid},
            INSERT_DATE = #{insertDate},
            UPDATE_UUID = #{updateUuid},
            UPDATE_DATE = #{updateDate}
        WHERE
            RECORD_SCHEDULE_RESULT_UUID = #{recordScheduleResultUuid}
    </update>

   <update id="insert" parameterType="rs004" statementType="PREPARED">
        INSERT INTO RS_RECORD_SCHEDULE_RESULT (
            RECORD_SCHEDULE_RESULT_UUID,
            RECORD_SCHEDULE_UUID,
            STATUS_UUID,
            ITEM_UUID,
            DISPOSAL_TYPE_UUID,
            INITIAL_DATE,
            DISPOSAL_DUE_DATE,
            DISPOSAL_CONFIRM_DATE,
            DISPOSAL_CONFIRM_REASON,
            DISPOSAL_COMPLETE_DATE,
            DESCRIPTION,
            NOTES,
            INSERT_UUID,
            INSERT_DATE,
            UPDATE_UUID,
            UPDATE_DATE
        ) VALUES (
            #{recordScheduleResultUuid},
            #{recordScheduleUuid},
            #{statusUuid},
            #{itemUuid},
            #{disposalTypeUuid},
            #{initialDate},
            #{disposalDueDate},
            #{disposalConfirmDate},
            #{disposalConfirmReason},
            #{disposalCompleteDate},
            #{description},
            #{notes},
            #{insertUuid},
            #{insertDate},
            #{updateUuid},
            #{updateDate}
        )
    </update>
</mapper>