<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">


<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rc/rc002/rc002.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">
                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                        <ul class="bdb">
                            <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                            <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry}"/>
                        </ul>
                    </div>
                    <div class="div_tablerow">
                        <ul style="height: 30px; width: 100%" class="bdb">
                            <li style="width: 2%;"><img src="/assets/images/ams/icon/fo.png" alt="folder"></li>
                            <li style="width: 78%; text-align: left">Root > root2 > root3</li>
                            <li style="width: 19.5%; padding-right: 0.5%">
                              <!--    <div class="src_box3" ><input type=text>
                              <a href="#" id="dialog-link5">
                              <img src="images/search_normal.png" alt="search"></a>
                              </div>-->
                            </li>
                        </ul>
                    </div>
                    <div class="div_tablerow cont_title">
                        <ul style="height: 30px; width: 100%">
                            <li class="pdl_10" data-ax-path="rcHeadTitle">
                                Add new archival description - Untitled(draft)
                            </li>
                        </ul>
                    </div>

                    <div style="height:100%; width:100%" class="div_tablerow">

                        <div style="display:table; height:100%; width:16%; float:left" class="bdr">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Record Hierarchy')}"/>
                            </ul>

                            <ul class="bdb" style="height:30px;width:100%; float:left">
                                <li class="bdr"><a href="#" class="open_close" id="rg_tree_allopen">Expand</a></li>
                                <li><a href="#" class="open_close" id="rg_tree_allclose">Collapse</a></li>
                            </ul>
                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div data-z-tree="tree-view-01" data-fit-height-content="tree-view-01" style="height: 100%;width : 100%;overflow-x: auto; max-width: 271px;" class="ztree"></div>
                            </div>
                        </div>
                        <!--오늘쪽 내용에서 좌측 트리부분-->

                        <div style="display:table; height:100%; width:84%; float:left">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Aggregation Details')}"/>
                            </ul>

                            <div style="height:100%; width:100%;" class="div_tablerow">
                                <div class="explorer_list">
                                    <div class="explorer_list_cont" id="topmove">

                                        <div class="bdt cont_wrap01" style="width: 86%;">

                                            <!-- system metadata -->
                                            <div class="serv_title" style="border-top:0; margin-top: 0">
                                                <span><b>System Metadata</b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">
                                                <ul>
                                                    <li style="width: 33%;">
                                                        <b>Code </b>
                                                        <div data-ax-path="rcAggregationCode">text readonly</div>
                                                    </li>
                                                    <li style="width: 33%;">
                                                        <b>Type </b>
                                                        <div>
                                                            <select data-ax-path="typeUuid" style="width: 200px; background-color: #fffdd6">
                                                                <option value=""></option>
                                                                <option th:each="item : ${typeUuid}" th:value="${item.codeDetailUUID}" th:text="${item.codeName}"/>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li style="width: 34%;">
                                                        <b>Published Status</b>
                                                        <div>
                                                            <select data-ax-path="publishedStatusUuid" style="width: 200px; background-color: #fffdd6" >
                                                                <option th:each="item : ${publishedStatusUuid}" th:value="${item.codeDetailUUID}" th:text="${item.codeName}"/>
                                                            </select>
                                                        </div>
                                                    </li>
                                                </ul>


                                                <ul style="padding-top: 16px">
                                                    <li style="width: 66%;">
                                                        <b>Title </b>
                                                        <div>
                                                            <textarea class="txtar" data-ax-path="rcTitle"
                                                                      style="height: 35px; background-color: #fffdd6; width: 90%"></textarea>
                                                        </div>
                                                    </li>

                                                    <li style="width: 34%;">
                                                        <b>Level </b>
                                                        <div>
                                                            <div class="src_box2" style="width: 200px">
                                                                <input type=text style="width: 200px;background-color: #fffdd6">
                                                                <a href="#" style="top: 0">
                                                                    <img src="/assets/images/ams/search_normal.png"
                                                                         alt="find"></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_15">
                                                    <li style="width: 49%;">
                                                        <b>Description </b>
                                                        <div>
                                                            <textarea class="txtar" style="height: 162px" data-ax-path="rcDescription"></textarea>
                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Notes </b>
                                                        <div>
                                                            <textarea class="txtar" style="height: 162px" data-ax-path="rcNotes"></textarea>
                                                        </div>
                                                    </li>
                                                </ul>


                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Author </b>
                                                        <div>
                                                            <textarea class="txtar" data-ax-path="rcAuthor"
                                                                      style="height: 35px; width: 95%"></textarea>
                                                        </div>
                                                    </li>

                                                    <li style="width: 67%;">
                                                        <b>From </b>
                                                        <div>
                                                            <div class="src_box2" style="width: 100%">
                                                                <input type=text style="width: 97%" data-ax-path="rcFrom">
                                                                <a href="#" style="top: 0">
                                                                    <img src="/assets/images/ams/search_normal.png"
                                                                         alt="find"></a>
                                                            </div>
                                                        </div>

                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Date of Description </b>
                                                        <div>
                                                            <div class="cld_box" data-ax5picker="date">
                                                                <!--<input data-ax-path="descriptionStartDate" type=text id="datepicker1">-->
                                                                <div class="cld_box">
                                                                    <input type="text" data-ax-path="descriptionStartDate" style="ime-mode:disabled;"
                                                                           placeholder="YYYY-MM-DD" maxlength="10">
                                                                    <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                </div>
                                                            </div>
                                                            ~
                                                            <div class="cld_box" data-ax5picker="date">
                                                                <!--<input data-ax-path="descriptionEndDate" type=text id="datepicker2">-->
                                                                <div class="cld_box">
                                                                    <input type="text" data-ax-path="descriptionEndDate" style="ime-mode:disabled;"
                                                                           placeholder="YYYY-MM-DD" maxlength="10">
                                                                    <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li style="width: 67%;">
                                                        &nbsp;
                                                    </li>
                                                </ul>

                                            </div>
                                            <!-- system metadata -->


                                            <!-- Contextual Metadata -->
                                            <div class="serv_title">
                                                <span><b>Contextual Metadata </b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">
                                                <ul>
                                                    <li style="width: 49%">
                                                        <ol>
                                                            <li>
                                                                <b>Provenance </b>
                                                                <div>
                                                                    <textarea class="txtar" data-ax-path="rcProvenance"
                                                                              style="height: 35px"></textarea>
                                                                </div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Creator </b>
                                                                <div>
                                                                    <textarea class="txtar" data-ax-path="rcCreator"
                                                                              style="height: 35px"></textarea>
                                                                </div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Date of Creation</b>
                                                                <div>
                                                                    <div class="cld_box" data-ax5picker="date">
                                                                        <!--<input data-ax-path="descriptionStartDate" type=text id="datepicker1">-->
                                                                        <div class="cld_box">
                                                                            <input type="text" data-ax-path="creationStartDate" style="ime-mode:disabled;"
                                                                                   placeholder="YYYY-MM-DD" maxlength="10">
                                                                            <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                        </div>
                                                                    </div>
                                                                    ~
                                                                    <div class="cld_box" data-ax5picker="date">
                                                                        <!--<input data-ax-path="descriptionEndDate" type=text id="datepicker2">-->
                                                                        <div class="cld_box">
                                                                            <input type="text" data-ax-path="creationEndDate" style="ime-mode:disabled;"
                                                                                   placeholder="YYYY-MM-DD" maxlength="10">
                                                                            <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Reference Code </b>
                                                        <span>
                                            <textarea class="txtar" style="height: 170px"></textarea>
                                        </span>
                                                    </li>
                                                </ul>



                                    <!--<ul class="pdt_20">
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 01 </b>
                                            <div>
                                                <input type="text" style="width: 100%">
                                            </div>
                                        </li>
                                        <li style="width: 2%;">
                                        </li>
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 02</b>
                                            <div>
                                                <div class="cld_box">
                                                    <input type=text id="datepicker5">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="pdt_20">
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 03 </b>
                                            <div>
                                                <input type="text" style="width: 100%">
                                            </div>
                                        </li>
                                        <li style="width: 2%;">
                                        </li>
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 04</b>
                                            <div>
                                                <div class="cld_box">
                                                    <input type=text id="datepicker6">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="pdt_20">
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 05 </b>
                                            <div>
                                                <input type="text" style="width: 100%">
                                            </div>
                                        </li>
                                        <li style="width: 2%;">
                                        </li>
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 06</b>
                                            <div>
                                                <div class="cld_box">
                                                    <input type=text id="datepicker7">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="pdt_20">
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 07 </b>
                                            <div>
                                                <input type="text" style="width: 100%">
                                            </div>
                                        </li>
                                        <li style="width: 2%;">
                                        </li>
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 08</b>
                                            <div>
                                                <input type="text" style="width: 100%">
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="pdt_20">
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 09</b>
                                            <div>
                                                <input type="text" style="width: 100%">
                                            </div>
                                        </li>
                                        <li style="width: 2%;">
                                        </li>
                                        <li style="width: 49%;">
                                            <b>Additional Metadata 10</b>
                                            <div>
                                                <input type="text" style="width: 100%">
                                            </div>
                                        </li>
                                    </ul>
                                </div>-->
                                            <!-- Contextual Metadata -->


                                            <!-- Child Aggregations -->
                                            <div class="togl01 serv_title">
                                                <span><b>Child Aggregations</b></span>
                                                <input type="button" value="▼" id="open_btn1" class="open_btn">
                                            </div>
                                            <div class="togl01_show serv_cont">

                                                <ul class="pdb_10">

                                                    <li style="width: 11%;">
                                                        <b>Aggregation Code</b>
                                                        <div>
                                                            <input type="text" style="width: 135px;" class="bgf7"
                                                                   readonly>
                                                        </div>
                                                    </li>
                                                    <li style="width: 75%; padding: 0 0.5%;">
                                                        <b>Title </b>
                                                        <div>
                                                            <input type="text"
                                                                   style="width: 100%;  background-color: #fffdd6; ">
                                                        </div>
                                                    </li>
                                                    <li style="width: 11%;">
                                                        <b>Level </b>
                                                        <div>
                                                            <select style="width: 135px">
                                                                <option>Level</option>
                                                                <option>Level</option>
                                                                <option>Level</option>
                                                            </select>
                                                        </div>
                                                    </li>

                                                    <li style="width: 2%; text-align: center">
                                                        <b>&nbsp; </b>
                                                        <div><a href="#" class="btn_del" style="">X</a></div>
                                                    </li>

                                                </ul>

                                                <ul class="pdb_10">
                                                    <li style="width: 11%;">
                                                        <input type="text" style="width: 135px;" class="bgf7" readonly>
                                                    </li>
                                                    <li style="width: 75%; padding: 0 0.5%;">
                                                        <input type="text"
                                                               style="width: 100%;  background-color: #fffdd6; ">
                                                    </li>
                                                    <li style="width: 11%;">
                                                        <select style="width: 135px">
                                                            <option>Level</option>
                                                            <option>Level</option>
                                                            <option>Level</option>
                                                        </select>
                                                    </li>

                                                    <li style="width: 2%; text-align: center">
                                                        <a href="#" class="btn_del" style="">X</a>
                                                    </li>
                                                </ul>

                                                <ul>
                                                    <li style="width: 100%;">
                                                        <a href="#"><b style="color: red">+ Add New</b></a>
                                                    </li>
                                                </ul>

                                            </div>
                                            <!-- Child Aggregations -->


                                            <!-- Reference Aggregation -->
                                            <div class="togl02 serv_title">
                                                <span><b>Reference Aggregations</b></span>
                                                <input type="button" value="▼" id="open_btn2" class="open_btn">
                                            </div>
                                            <div class="togl02_show serv_cont">

                                                <ul class="pdb_10">
                                                    <li style="width: 11%;">
                                                        <b>Aggregation Code </b>
                                                        <div>
                                                            <div class="src_box2">
                                                                <input type=text>
                                                                <a href="#" style="top: 0">
                                                                    <img src="http://localhost/@AMS/images/search_normal.png"
                                                                         alt="find"></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li style="width: 75%; padding: 0 0.5%;">
                                                        <b>Title</b>
                                                        <div>
                                                            <input type="text" style="width: 100%" readonly
                                                                   class="bgf7">
                                                        </div>
                                                    </li>
                                                    <li style="width: 11%;">
                                                        <b>Type </b>
                                                        <div>
                                                            <select data-ax-path="typeUuid" style="width: 200px; background-color: #fffdd6">
                                                                <option value=""></option>
                                                                <option th:each="item : ${typeUuid}" th:value="${item.codeDetailUUID}" th:text="${item.codeName}"/>
                                                            </select>
                                                        </div>
                                                    </li>

                                                    <li style="width: 2%; text-align: center">
                                                        <b>&nbsp; </b>
                                                        <div><a href="#" class="btn_del" style="">X</a></div>
                                                    </li>
                                                </ul>

                                                <ul class="pdb_10">
                                                    <li style="width: 11%;">

                                                        <div class="src_box2">
                                                            <input type=text>
                                                            <a href="#" style="top: 0">
                                                                <img src="/assets/images/ams/search_normal.png"
                                                                     alt="find"></a>
                                                        </div>

                                                    </li>
                                                    <li style="width: 75%; padding: 0 0.5%;">
                                                        <input type="text" style="width: 100%" readonly class="bgf7">
                                                    </li>
                                                    <li style="width: 11%;">

                                                        <input type="text" style="width: 135px; margin-right: 3px"
                                                               readonly class="bgf7">

                                                    </li>

                                                    <li style="width: 2%; text-align: center">
                                                        <a href="#" class="btn_del" style="">X</a>
                                                    </li>
                                                </ul>

                                                <ul>
                                                    <li style="width: 100%;">
                                                        <a href="#"><b style="color: red">+ Add New</b></a>
                                                    </li>
                                                </ul>

                                            </div>
                                            <!-- Reference Aggregation -->


                                            <!-- Item -->
                                            <div class="togl03 serv_title">
                                                <span><b>Reference Items</b></span>
                                                <input type="button" value="▼" id="open_btn3" class="open_btn">
                                            </div>
                                            <div class="togl03_show serv_cont">
                                                <ul class="pdb_10">
                                                    <li style="width: 11%;">
                                                        <b>Item Code </b>
                                                        <div>
                                                            <div class="src_box2">
                                                                <input type=text>
                                                                <a href="#" style="top: 0">
                                                                    <img src="/assets/images/ams/search_normal.png"
                                                                         alt="find"></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li style="width: 75%; padding: 0 0.5%;">
                                                        <b>Title</b>
                                                        <div>
                                                            <input type="text" style="width: 100%" readonly
                                                                   class="bgf7">
                                                        </div>
                                                    </li>
                                                    <li style="width: 11%;">
                                                        <b>Type </b>
                                                        <div>
                                                            <input type="text" style="width: 135px; margin-right: 3px"
                                                                   readonly class="bgf7">
                                                        </div>
                                                    </li>

                                                    <li style="width: 2%; text-align: center">
                                                        <b>&nbsp;</b>
                                                        <div><a href="#" class="btn_del" style="">X</a></div>
                                                    </li>
                                                </ul>
                                                <ul class="pdb_10">
                                                    <li style="width: 11%;">

                                                        <div class="src_box2">
                                                            <input type=text>
                                                            <a href="#" style="top: 0">
                                                                <img src="/assets/images/ams/search_normal.png"
                                                                     alt="find"></a>
                                                        </div>

                                                    </li>
                                                    <li style="width: 75%; padding: 0 0.5%;">
                                                        <input type="text" style="width: 100%" readonly class="bgf7">
                                                    </li>
                                                    <li style="width: 11%;">

                                                        <input type="text" style="width: 135px; margin-right: 3px"
                                                               readonly class="bgf7">

                                                    </li>

                                                    <li style="width: 2%; text-align: center">
                                                        <a href="#" class="btn_del" style="">X</a>
                                                    </li>
                                                </ul>

                                                <ul>
                                                    <li style="width: 100%;">
                                                        <a href="#"><b style="color: red">+ Add New</b></a>
                                                    </li>
                                                </ul>

                                            </div>
                                            <!-- Item -->


                                            <!-- cancel save -->
                                            <!--<div class="bdb" style="padding: 5px;margin-bottom: 20px">
                                            <ul class="pdt_20">
                                                <li style="width: 100%; text-align: center">
                                                    <button class="btn_big_s">Save</button>
                                                    <button class="btn_big_c">Cancel</button>
                                                </li>
                                            </ul>
                                        </div>-->
                                            <!-- cancel save -->
                                        </div>


                                        <div class="top_move">
                                            <a href="#topmove">&and;<br>Top</a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>