<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.overhaul_plan.OverhaulPlanMapper">

    <select id="findAll" resultType="overhaulPlan" parameterType="overhaulPlan" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            OVERHAUL_DATE AS overhaulDate,
            OVERHAUL_GUBUN AS overhaulGubun
        FROM
            ATMS_OVERHAUL_PLAN
    </select>

    <select id="findOne" resultType="overhaulPlan" parameterType="overhaulPlan" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            OVERHAUL_DATE AS overhaulDate,
            OVERHAUL_GUBUN AS overhaulGubun
        FROM
            ATMS_OVERHAUL_PLAN
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </select>

   <update id="delete" parameterType="overhaulPlan" statementType="PREPARED">
        DELETE FROM
            ATMS_OVERHAUL_PLAN
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </update>

   <update id="update" parameterType="overhaulPlan" statementType="PREPARED">
        UPDATE ATMS_OVERHAUL_PLAN
        SET
            JISA_CODE = #{jisaCode},
            OVERHAUL_GUBUN = #{overhaulGubun}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </update>

   <update id="insert" parameterType="overhaulPlan" statementType="PREPARED">
        INSERT INTO ATMS_OVERHAUL_PLAN (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            OVERHAUL_DATE,
            OVERHAUL_GUBUN
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{overhaulDate},
            #{overhaulGubun}
        )
    </update>
</mapper>