<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/mng/cash/sh03001150.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] ===== -->
<div layout:fragment="base-title" class="ax-base-title" role="page-title">
    <h1 class="title"><i class="cqc-browser"></i> <span th:text="${pageName}"/></h1>
    <p class="desc" th:text="${pageRemark}"/>
</div>
<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <th:block layout:insert="~{/fragments/page-buttons :: buttons}"/>
    <th:block layout:insert="~{/fragments/page-header  :: search-bar(id='searchView0')}">
        <div layout:fragment="table">
            <th:block layout:insert="~{/fragments/table :: tr-td6(
            text1='지사명', style1='width: 210px', lstyle1='width: 100px',
            text2='지점명/코드', style2='width: 330px', lstyle2='width: 100px',
            text3='코너명/단말번호', style3='width: 360px', lstyle3='width: 130px',
            text4='거래종류', style4='width: 250px', lstyle4='width: 100px',
            text5='거래일자', style5='width: 250px', lstyle5='width: 100px',
            text6='검색', style6='width: 300px', lstyle6='display:none',)}">
                <div layout:fragment="wrap-1">
                    <select th:class="form-control" th:classappend="${class}" name="jisaCode" id="jisaCode">
                        <option value="">전체</option>
                        <option th:each="item : ${jisaCode}" th:value="${item.code}" th:text="${item.name}"/>
                    </select>
                </div>
                <div layout:fragment="wrap-2">
                    <div class="form-inline" >
                        <input type="text" id="branchName" class="form-control W150" value=""
                               data-searchview-btn="modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                        <input type="text" id="branchCode" class="form-control W60" value="" maxlength="4" minlength="4"/>
                    </div>
                </div>
                <div layout:fragment="wrap-3">
                    <div class="form-inline">
                        <input type="text" id="cornerName" class="form-control W150" value=""
                               data-searchview-btn="modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                        <input type="text" id="terminalNo" class="form-control W60" value="" maxlength="4" minlength="4"/>
                    </div>
                </div>
                <div layout:fragment="wrap-4">
                    <select th:class="form-control" th:classappend="${class}" name="dealType" id="dealType">
                        <option value="">전체</option>
                        <option th:each="item : ${dealType}" th:value="${item.code}" th:text="${item.name}"/>
                    </select>
                </div>
                <div layout:fragment="wrap-5">
                    <div class="input-group" data-ax5picker="date">
                        <input type="text" class="form-control" id="dealDate" placeholder="yyyy-MM-dd"
                               style="text-align: center">
                        <span class="input-group-addon"><i id="calDate" class="cqc-calendar"></i></span>
                    </div>
                </div>
                <div layout:fragment="wrap-6">
                    <div class="form-inline">
                        <button type="button" class="btn btn-default" data-page-btn="search">
                            <i class="cqc-magnifier"></i> 조회
                        </button>
                        <button class="btn btn-primary" data-page-btn="search-view-clear" style="margin-left: 5px;">
                            <i class="cqc-zoomout"></i> 초기화
                        </button>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
    <th:block layout:insert="~{/fragments/page-content :: content-panels}" th:with="orientation='vertical', attr1='{width: \'1091\'}', style1='padding-right: 10px', attr2='{width: \'*\'}',   style2='padding: 0px 10px', scroll2='scroll'">

        <!-- ===== [ left-panel ] ===== -->
        <div layout:fragment="panel-1">

            <div class="ax-button-group" data-fit-height-aside="grid-view-01">
                <div class="left">
                    <h2><i class="cqc-list"></i> 미처리금액보고서 목록</h2>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default" data-page-btn="excel">
                        <i class="cqc-download"></i> 엑셀
                    </button>
                </div>
            </div>
            <div data-ax5grid="grid-view-01" data-fit-height-content="grid-view-01" style="height: 300px;"></div>

        </div>
        <!-- ===== [ left-panel _END_ ] ===== -->

        <!-- ===== [ right-panel ] ===== -->
        <div layout:fragment="panel-2">

            <div class="ax-button-group" role="panel-header">
                <div class="left">
                    <h2><i class="cqc-news"></i> 미처리금액보고서</h2>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default" data-form-view-01-btn="form-clear">
                        <i class="cqc-erase"></i> 신규보고서
                    </button>
                    <button type="button" class="btn btn-default" data-form-view-01-btn="save">
                        <i class="cqc-circle-with-plus"></i> 보고서 저장
                    </button>
                    <button type="button" class="btn btn-default" data-form-view-01-btn="add">
                        <i class="cqc-circle-with-plus"></i> 보고서 통보
                    </button>
                </div>
            </div>

            <form name="formView01" id="formView01" method="post" onsubmit="return false">
                <div data-ax-tbl class="ax-search-tbl" minWidth="700px">
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='지사명', text2='지점명/코드', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <select th:class="form-control" th:classappend="${class}" name="jisaCodeForm" id="jisaCodeForm" data-ax-path="jisaCode" style="width: 150px">
                                <option value="">선택</option>
                                <option th:each="item : ${jisaCode}" th:value="${item.code}" th:text="${item.name}"/>
                            </select>
                        </div>
                        <div layout:fragment="wrap-2">
                            <div class="form-inline">
                                <input type="text" id="branchNameForm" data-ax-path="branchName" class="form-control W150" value=""
                                       data-form-view-01-btn="modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                                <input type="text" id="branchCodeForm" data-ax-path="branchCode" class="form-control W60" value=""
                                       data-form-view-01-btn="modal" readonly="readonly" style="text-align: center" maxlength="4" minlength="4"/>
                            </div>
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='코너명/단말번호', text2='거래일자', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <div class="form-inline">
                                <input type="text" id="cornerNameForm" data-ax-path="cornerName" class="form-control W150" value=""
                                       data-form-view-01-btn="modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                                <input type="text" id="terminalNoForm" data-ax-path="terminalNo" class="form-control W60" value=""
                                       data-form-view-01-btn="modal" readonly="readonly" style="text-align: center" maxlength="4" minlength="4"/>
                            </div>
                        </div>
                        <div layout:fragment="wrap-2">
                            <div class="input-group" data-ax5picker="date" style="width: 150px">
                                <input type="text"  data-ax-validate="required" id="dealDateForm" data-ax-path="dealDate" class="form-control" placeholder="yyyy-MM-dd" style="text-align: center">
                                <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                            </div>
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='일련번호', text2='미처리금액', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <input name="noneProcessSeqNo" data-ax-path="noneProcessSeqNo" data-ax-validate="required" title="일련번호"
                                   type="text" class="form-control W150" readonly="readonly" placeholder maxlength="3">
                        </div>
                        <div layout:fragment="wrap-2">
                            <input name="noneProcessAmt" data-ax-path="noneProcessAmt" type="text" title="미처리금액"
                                   class="form-control W150" placeholder data-ax5formatter="money(int)" maxlength="15">
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='거래종류', text2='전표번호', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <select th:class="form-control" th:classappend="${class}" id="dealTypeForm" data-ax-path="dealType" style="width: 150px">
                                <option value="">선택</option>
                                <option th:each="item : ${dealType}" th:value="${item.code}" th:text="${item.name}"/>
                            </select>
                        </div>
                        <div layout:fragment="wrap-2">
                            <input name="statementNo" data-ax-path="statementNo" type="text" title="전표번호"
                                   class="form-control W150" placeholder maxlength="4">
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='거래은행', text2='카드/계좌번호', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <select th:class="form-control" th:classappend="${class}" id="dealBank" name="dealBank" data-ax-path="dealBank" style="width: 150px">
                                <option value="">선택</option>
                                <option th:each="item : ${bankCode}" th:value="${item.code}" th:text="${item.name}"/>
                            </select>
                        </div>
                        <div layout:fragment="wrap-2">
                            <input name="cardAccountNo" data-ax-path="cardAccountNo" type="text" title="카드/계좌번호"
                                   class="form-control W150" placeholder maxlength="20">
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='거래금액', text2='담당자명', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <input name="dealAmt" data-ax-path="dealAmt" title="거래금액"
                                   type="text" class="form-control W150" placeholder data-ax5formatter="money(int)" maxlength="15">
                        </div>
                        <div layout:fragment="wrap-2">
                            <input name="managerName" data-ax-path="managerName" type="text" title="담당자명"
                                   class="form-control W150" placeholder maxlength="10">
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='송금수수료', text2='반환수수료', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <input name="sendCommission" data-ax-path="sendCommission" title="송금수수료"
                                   type="text" class="form-control W150" placeholder data-ax5formatter="money(int)" maxlength="15">
                        </div>
                        <div layout:fragment="wrap-2">
                            <input name="rtnCommission" data-ax-path="rtnCommission" type="text" title="반환수수료"
                                   class="form-control W150" placeholder data-ax5formatter="money(int)" maxlength="15">
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='고객명', text2='고객연락처', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <input name="customerName" data-ax-path="customerName" title="고객명"
                                   type="text" class="form-control W150" placeholder maxlength="10">
                        </div>
                        <div layout:fragment="wrap-2">
                            <input name="customerTelno" data-ax-path="customerTelno" type="text" title="고객연락처"
                                   class="form-control W150" placeholder maxlength="12">
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='관리사무소', text2='처리일시', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <input name="mngOffice" data-ax-path="mngOffice" title="관리사무소"
                                   type="text" class="form-control W150" placeholder maxlength="20">
                        </div>
                        <div layout:fragment="wrap-2">
                            <div class="input-group" data-ax5picker="date" style="width: 150px">
                                <input type="text"  data-ax-validate="required" name="processDate" data-ax-path="processDate" class="form-control" placeholder="yyyy-MM-dd" style="text-align: center">
                                <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                            </div>
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td(text='특이사항', style='width: 100%', style1='width: 150px')}">
                        <div layout:fragment="wrap">
                            <textarea name="unusl" data-ax-path="unusl" class="form-control" maxlength="50" style="height: 150px"></textarea>
                        </div>
                    </th:block>
                </div>
            </form>

            <div class="H5"></div>
        </div>
        <!-- ===== [ right-panel ] _END_ ===== -->
    </th:block>
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>