<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/mng/cash/sh03001160.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] ===== -->
<div layout:fragment="base-title" class="ax-base-title" role="page-title">
    <h1 class="title"><i class="cqc-browser"></i> <span th:text="${pageName}"/></h1>
    <p class="desc" th:text="${pageRemark}"/>
</div>
<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <th:block layout:insert="~{/fragments/page-buttons :: buttons}"/>
    <th:block layout:insert="~{/fragments/page-header  :: search-bar(id='searchView0')}">
        <div layout:fragment="table">
            <th:block layout:insert="~{/fragments/table :: tr-td5(
            text1='지사명',          style1='width: 210px', lstyle1='width: 100px',
            text2='지점명/코드',     style2='width: 330px', lstyle2='width: 100px',
            text3='코너명/단말번호', style3='width: 340px', lstyle3='width: 110px',
            text4='현송일자',        style4='width: 330px', lstyle4='width: 100px',
            text5='검색',            style5='width: 300px', lstyle5='display:none',)}">
                <div layout:fragment="wrap-1">
                    <select th:class="form-control" th:classappend="${class}" name="jisaCode" id="jisaCode">
                        <option value="">전체</option>
                        <option th:each="item : ${jisaCode}" th:value="${item.code}" th:text="${item.name}"/>
                    </select>
                </div>
                <div layout:fragment="wrap-2">
                    <div class="form-inline" >
                        <input type="text" id="branchName" class="form-control W150" value=""
                               data-searchview-btn="modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                        <input type="text" id="branchCode" class="form-control W60" value="" maxlength="4" minlength="4"/>
                    </div>
                </div>
                <div layout:fragment="wrap-3">
                    <div class="form-inline" >
                        <input type="text" id="cornerName" class="form-control W150" value=""
                               data-searchview-btn="modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                        <input type="text" id="terminalNo" class="form-control W60" value="" maxlength="4" minlength="4"/>
                    </div>
                </div>
                <div layout:fragment="wrap-4">
                    <div class="input-group" data-ax5picker="date">
                        <div class="input-group" data-ax5picker="date">
                            <input type="text" class="form-control" id="startDate" placeholder="yyyy-MM-dd"
                                   style="text-align: center">
                            <span class="input-group-addon">~</span>
                            <input type="text" class="form-control" id="endDate" placeholder="yyyy-MM-dd"
                                   style="text-align: center">
                            <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div layout:fragment="wrap-5">
                    <div class="form-inline">
                        <button type="button" class="btn btn-default" data-page-btn="search">
                            <i class="cqc-magnifier"></i> 조회
                        </button>
                        <button class="btn btn-primary" data-page-btn="search-view-clear" style="margin-left: 5px;">
                            <i class="cqc-zoomout"></i> 초기화
                        </button>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
    <th:block layout:insert="~{/fragments/page-content :: content-panels}" th:with="orientation='vertical', attr1='{width: \'1101\'}', style1='padding-right: 10px', attr2='{width: \'*\'}',   style2='padding: 0px 10px', scroll2='scroll'">

        <!-- ===== [ left-panel ] ===== -->
        <div layout:fragment="panel-1">

            <div class="ax-button-group" data-fit-height-aside="grid-view-01">
                <div class="left">
                    <h2><i class="cqc-list"></i> 추가현송계획 목록</h2>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default" data-page-btn="excel">
                        <i class="cqc-download"></i> 엑셀
                    </button>
                </div>
            </div>
            <div data-ax5grid="grid-view-01" data-fit-height-content="grid-view-01" style="height: 300px;"></div>

        </div>
        <!-- ===== [ left-panel _END_ ] ===== -->

        <!-- ===== [ right-panel ] ===== -->
        <div layout:fragment="panel-2">

            <div class="ax-button-group" role="panel-header">
                <div class="left">
                    <h2><i class="cqc-news"></i> 추가현송계획 통보</h2>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default" data-form-view-03-btn="form-clear">
                        <i class="cqc-erase"></i> 신규계획서
                    </button>
                    <button type="button" class="btn btn-default" data-form-view-03-btn="add">
                        <i class="cqc-save"></i> 추가현송 저장
                    </button>
                    <button type="button" class="btn btn-default" data-form-view-03-btn="save">
                        <i class="cqc-save"></i> 추가현송 통보
                    </button>
                </div>
            </div>

            <form name="formView01" id="formView01" method="post" onsubmit="return false">
                <div data-ax-tbl class="ax-search-tbl" minWidth="700px">
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='지사명', text2='지점명/코드(*)', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <select th:class="form-control" th:classappend="${class}" data-ax-path="jisaCode" name="jisaCodeForm" id="jisaCodeForm" style="width: 150px">
                                <option value="">선택</option>
                                <option th:each="item : ${jisaCode}" th:value="${item.code}" th:text="${item.name}"/>
                            </select>
                        </div>
                        <div layout:fragment="wrap-2">
                            <div class="form-inline">
                                <input type="text" id="branchNameForm" data-ax-path="branchName" class="form-control W150" value=""
                                       data-form-view-03-btn="modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                                <input type="text" id="branchCodeForm" data-ax-path="branchCode" class="form-control W60" value=""
                                       data-form-view-03-btn="modal" readonly="readonly" style="text-align: center" maxlength="4" minlength="4"/>
                            </div>
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='코너명/단말번호(*)', text2='현송기준일자(*)', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <div class="form-inline">
                                <input type="text" id="cornerNameForm" data-ax-path="cornerName" class="form-control W150" value=""
                                       data-form-view-03-btn="modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                                <input type="text" id="terminalNoForm" data-ax-path="terminalNo" class="form-control W60" value=""
                                       data-form-view-03-btn="modal" readonly="readonly" style="text-align: center" maxlength="4" minlength="4"/>
                            </div>
                        </div>
                        <div layout:fragment="wrap-2">
                            <div class="input-group" data-ax5picker="date" style="width: 150px">
                                <input type="text"  data-ax-validate="required" data-ax-path="cashSendingStndDate" id="cashSendingStndDate"
                                       class="form-control" placeholder="yyyy-MM-dd" style="text-align: center">
                                <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                            </div>
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='청구예상일자', text2='현송일자', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <div class="input-group" data-ax5picker="date" style="width: 150px">
                                <input type="text"  data-ax-validate="required" data-ax-path="billingExpectDate" id="billingExpectDate"
                                       class="form-control" placeholder="yyyy-MM-dd" style="text-align: center">
                                <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                            </div>
                        </div>
                        <div layout:fragment="wrap-2">
                            <div class="input-group" data-ax5picker="date" style="width: 150px">
                                <input type="text"  data-ax-validate="required" data-ax-path="cashSendingDate" id="cashSendingDateForm"
                                       class="form-control" placeholder="yyyy-MM-dd" style="text-align: center">
                                <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                            </div>
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='추가현송액(만원권)', text2='추가현송액(5만원권)', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <input id="addCashSendingAmt" name="addCashSendingAmt" data-ax-path="addCashSendingAmt" data-ax-validate="required" title="추가현송액(만원권)" style="text-align: left" maxlength="15"
                                   type="text" class="form-control W150" placeholder data-ax5formatter="money(int)">
                        </div>
                        <div layout:fragment="wrap-2">
                            <input id="addCash50kSendingAmt" name="addCash50kSendingAmt" data-ax-path="addCash50kSendingAmt" data-ax-validate="required" title="추가현송액(5만원권)" style="text-align: left" maxlength="15"
                                   type="text" class="form-control W150" placeholder data-ax5formatter="money(int)">
                        </div>
                    </th:block>
                    <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='관리사무소', text2='마감구분', style1='width: 150px', style2='width: 230px', style='width: 380px')}">
                        <div layout:fragment="wrap-1">
                            <input id="mngOffice" name="mngOffice" data-ax-path="mngOffice" data-ax-validate="required" title="관리사무소" type="text" class="form-control W150" style="text-align: left"/>
                        </div>
                        <div layout:fragment="wrap-2">
                            <select th:class="form-control" th:classappend="${class}" data-ax-path="closeGubun" name="closeGubun" id="closeGubun" style="width: 150px">
                                <option value="">선택</option>
                                <option th:each="item : ${closeGubun}" th:value="${item.code}" th:text="${item.name}"/>
                            </select>
                        </div>
                    </th:block>
                </div>
            </form>

            <div class="H5"></div>
        </div>
        <!-- ===== [ right-panel ] _END_ ===== -->
    </th:block>
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>