<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001140.Sh02001140Mapper">

    <select id="findAll" resultType="sh02001140" parameterType="sh02001140" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            TERMINAL_SEQ_NO AS terminalSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            NOUSE_JISA_CODE AS nouseJisaCode,
            NOUSE_BRANCH_NO AS nouseBranchNo,
            NOUSE_CORNER_CODE AS nouseCornerCode,
            NOUSE_TERMINAL_NO AS nouseTerminalNo,
            TERMINAL_CORP_CODE AS terminalCorpCode,
            MODEL_CODE AS modelCode,
            HIRE_TERMINAL_ENABLE AS hireTerminalEnable,
            NOUSE_GUBUN AS nouseGubun,
            WORK_PLAN_DATETIME AS workPlanDatetime
        FROM
            ATMS_02001140
    </select>

    <select id="findOne" resultType="sh02001140" parameterType="sh02001140" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            TERMINAL_SEQ_NO AS terminalSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            NOUSE_JISA_CODE AS nouseJisaCode,
            NOUSE_BRANCH_NO AS nouseBranchNo,
            NOUSE_CORNER_CODE AS nouseCornerCode,
            NOUSE_TERMINAL_NO AS nouseTerminalNo,
            TERMINAL_CORP_CODE AS terminalCorpCode,
            MODEL_CODE AS modelCode,
            HIRE_TERMINAL_ENABLE AS hireTerminalEnable,
            NOUSE_GUBUN AS nouseGubun,
            WORK_PLAN_DATETIME AS workPlanDatetime
        FROM
            ATMS_02001140
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </select>

   <update id="delete" parameterType="sh02001140" statementType="PREPARED">
        DELETE FROM
            ATMS_02001140
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="update" parameterType="sh02001140" statementType="PREPARED">
        UPDATE ATMS_02001140
        SET
            TERMINAL_SEQ_NO = #{terminalSeqNo},
            CHANGE_CHASU = #{changeChasu},
            STEXT_GUBUN = #{stextGubun},
            NOUSE_JISA_CODE = #{nouseJisaCode},
            NOUSE_BRANCH_NO = #{nouseBranchNo},
            NOUSE_CORNER_CODE = #{nouseCornerCode},
            NOUSE_TERMINAL_NO = #{nouseTerminalNo},
            TERMINAL_CORP_CODE = #{terminalCorpCode},
            MODEL_CODE = #{modelCode},
            HIRE_TERMINAL_ENABLE = #{hireTerminalEnable},
            NOUSE_GUBUN = #{nouseGubun},
            WORK_PLAN_DATETIME = #{workPlanDatetime}
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="insert" parameterType="sh02001140" statementType="PREPARED">
        INSERT INTO ATMS_02001140 (
            WORK_SEQ_NO,
            TERMINAL_SEQ_NO,
            CHANGE_CHASU,
            STEXT_GUBUN,
            NOUSE_JISA_CODE,
            NOUSE_BRANCH_NO,
            NOUSE_CORNER_CODE,
            NOUSE_TERMINAL_NO,
            TERMINAL_CORP_CODE,
            MODEL_CODE,
            HIRE_TERMINAL_ENABLE,
            NOUSE_GUBUN,
            WORK_PLAN_DATETIME
        ) VALUES (
            #{workSeqNo},
            #{terminalSeqNo},
            #{changeChasu},
            #{stextGubun},
            #{nouseJisaCode},
            #{nouseBranchNo},
            #{nouseCornerCode},
            #{nouseTerminalNo},
            #{terminalCorpCode},
            #{modelCode},
            #{hireTerminalEnable},
            #{nouseGubun},
            #{workPlanDatetime}
        )
    </update>
</mapper>