<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.st.st020.dao.St020Mapper">
    <select id="getStRfidTag" resultType="St02001VO" parameterType="St02001VO" statementType="PREPARED">
        SELECT
               A.AGGREGATION_UUID aggregationUuid,
               RFID_TAG_UUID rfidTagUuid,
               B.code,
               B.title,
               B."level",
               B."type",
               B.publishedStatus,
               B.author,
               B.descStrDate,
               B.descEdDate,
               repository.REPOSITORY_NAME repositoryName,
               shelf.SHELF_NAME shelfName,
               (location.ROW_NO || '행 ' || location.COLUMN_NO || '열') as locationName,
               PUBLISH_STATUS_UUID publishStatusUuid,
               ( SELECT COUNT( AGGREGATION_UUID )  FROM ST_RFID_TAG WHERE AGGREGATION_UUID = A.AGGREGATION_UUID GROUP BY AGGREGATION_UUID) publishCount,
               PUBLISH_DATE publishDate
        FROM ST_RFID_TAG A
               INNER JOIN (
                          SELECT ar.AGGREGATION_UUID, ar.CONTAINER_UUID    FROM RC_ITEM item
                                                                                  INNER JOIN ST_ARRANGE_RECORDS_RESULT ar
                                                                                    ON ar.AGGREGATION_UUID = item.AGGREGATION_UUID
                          ) etc
                 ON etc.AGGREGATION_UUID = A.AGGREGATION_UUID
               INNER JOIN ST_ARRANGE_CONTAINERS_RESULT acr
                 ON acr.CONTAINER_UUID = etc.CONTAINER_UUID
               INNER JOIN ST_LOCATION location
                 ON location.LOCATION_UUID = acr.LOCATION_UUID
               INNER JOIN ST_CONTAINER container
                 ON container.CONTAINER_UUID = etc.CONTAINER_UUID
               INNER JOIN ST_SHELF shelf
                 ON shelf.SHELF_UUID = location.SHELF_UUID
               INNER JOIN ST_REPOSITORY repository
                 ON repository.REPOSITORY_UUID = shelf.REPOSITORY_UUID
               INNER JOIN (SELECT AGGREGATION_UUID                                                                         as uuid,
                                  1                                                                                        as orderNo,
                                  (SELECT CODE_NAME
                                   FROM AD_CODE_DETAIL
                                   WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID)                                      as publishedStatus,
                                  AGGREGATION_CODE                                                                         as code,
                                  TITLE                                                                                    as title,
                                  (SELECT CODE_NAME
                                   FROM AD_CODE_DETAIL
                                   WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID)                                                  as "type",
                                  (SELECT LEVEL_NAME
                                   FROM RC_LEVEL
                                   WHERE LEVEL_UUID = Z1.LEVEL_UUID)                                                       as "level",
                                  AUTHOR                                                                                   as author,
                                  DESCRIPTION_START_DATE                                                                   as descStrDate,
                                  DESCRIPTION_END_DATE                                                                     as descEdDate,
                                  DESCRIPTION                                                                              as description,
                                  NOTES                                                                                    as notes,
                                  ((SELECT COUNT(*) FROM RC_AGGREGATION WHERE PARENT_AGGREGATION_UUID = Z1.AGGREGATION_UUID) +
                                   (SELECT COUNT(*)
                                    FROM RC_ITEM
                                    WHERE AGGREGATION_UUID = Z1.AGGREGATION_UUID))                                         as childCnt
                           FROM RC_AGGREGATION Z1
                           UNION ALL SELECT ITEM_UUID                                                                    as uuid,
                                            2                                                                            as orderNo,
                                            (SELECT CODE_NAME
                                             FROM AD_CODE_DETAIL
                                             WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID)                          as publishedStatus,
                                            ITEM_CODE                                                                    as code,
                                            TITLE                                                                        as title,
                                            (SELECT CODE_NAME
                                             FROM AD_CODE_DETAIL
                                             WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID)                                      as "type",
                                            ''                                                                           as "level",
                                            AUTHOR                                                                       as author,
                                            DESCRIPTION_START_DATE                                                       as descStrDate,
                                            DESCRIPTION_END_DATE                                                         as descEdDate,
                                            DESCRIPTION                                                                  as description,
                                            NOTES                                                                        as notes,
                                            0                                                                            as childCnt
                                     FROM RC_ITEM Z1) B on B.UUID = A.AGGREGATION_UUID



        <where>
            1=1

        </where>
    </select>



</mapper>
