<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.rs.rs005.dao.Rs005Mapper">
    <select id="getDisposalRecordList" resultType="Rs00501VO"  statementType="PREPARED">
        SELECT
            A1.RECORD_SCHEDULE_RESULT_UUID AS recordScheduleResultUuid,
            A1.RECORD_SCHEDULE_UUID AS recordScheduleUuid,
            A1.ITEM_UUID AS itemUuid,
            A1.DISPOSAL_STATUS AS disposalStatus,
            A1.DISPOSAL_TYPE_UUID AS disposalTypeUuid,
            TO_CHAR(A1.INITIAL_DATE,'YYYY-MM-DD') AS initialDate,
            TO_CHAR(A1.DISPOSAL_DUE_DATE,'YYYY-MM-DD') AS disposalDueDate,
            TO_CHAR(A1.DISPOSAL_CONFIRM_DATE,'YYYY-MM-DD') AS disposalConfirmDate,
            A1.DISPOSAL_CONFIRM_REASON AS disposalConfirmReason,
            A1.DISPOSAL_COMPLETE_DATE AS disposalCompleteDate,
            A1.DISPOSAL_STATUS as disposalStatus,
            A1.DESCRIPTION AS description,
            A1.NOTES AS notes,
            A2.TYPE_UUID AS itemTypeUuid,
            A2.TITLE AS itemTitle,
            (
              SELECT
                SUBSTR(SYS_CONNECT_BY_PATH(TITLE,' >> '),4) path
              FROM
                RC_AGGREGATION C
              WHERE A2.AGGREGATION_UUID = C.AGGREGATION_UUID
              START WITH PARENT_AGGREGATION_UUID IS NULL
              CONNECT BY PRIOR AGGREGATION_UUID = PARENT_AGGREGATION_UUID
            ) AS aggregationTree,
            <include refid="Common.UserName"><property name="userUuid" value="A1.INSERT_UUID"/></include> as insertUuid,
            A1.INSERT_DATE as insertDate,
            <include refid="Common.UserName"><property name="userUuid" value="A1.UPDATE_UUID"/></include> as updateUuid,
            A1.UPDATE_DATE as updateDate
        FROM RS_RECORD_SCHEDULE_RESULT A1, RC_ITEM A2
        <where>
            A1.ITEM_UUID = A2.ITEM_UUID
            AND FC_AD_CODE(A1.STATUS_UUID) = 'CONFIRM'
            AND  0 <![CDATA[ < ]]> (
                        SELECT COUNT(*)
                        FROM DF_DISPOSAL_FREEZE_RESULT
                        WHERE ITEM_UUID = A1.ITEM_UUID
            )
            <if test="disposalStatus != null">
                AND  A1.DISPOSAL_STATUS = #{disposalStatus}
            </if>
            <if test="itemTitle != null">
                AND  A2.TITLE LIKE '%' || #{itemTitle} || '%'
            </if>
            <if test="disposalTypeUuid != null">
                AND  A1.DISPOSAL_TYPE_UUID = #{disposalTypeUuid}
            </if>
            <if test="null != disposalFromConfirmDate and '' != disposalToConfirmDate">
                <![CDATA[
            AND
                A1.DISPOSAL_CONFIRM_DATE  between to_date(#{disposalFromConfirmDate},'YYYY-MM-DD') and to_date(#{disposalToConfirmDate},'YYYY-MM-DD')
            ]]>
            </if>
            <if test="null != disposalFromDueDate and '' != disposalToDueDate">
                <![CDATA[
            AND
                A1.DISPOSAL_DUE_DATE  between to_date(#{disposalFromDueDate},'YYYY-MM-DD') and to_date(#{disposalToDueDate},'YYYY-MM-DD')
            ]]>
            </if>
            <if test="null != disposalFromCompleteDate and '' != disposalToCompleteDate">
                <![CDATA[
            AND
                A1.DISPOSAL_COMPLETE_DATE  between to_date(#{disposalFromCompleteDate},'YYYY-MM-DD') and to_date(#{disposalToCompleteDate},'YYYY-MM-DD')
            ]]>
            </if>
        </where>
    </select>
</mapper>