<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.cash.sh03001170.Sh03001170Mapper">

    <select id="findAll" resultType="sh03001170" parameterType="sh03001170" statementType="PREPARED">
        SELECT
            B.TX_ID AS txId,
            (SELECT NAME FROM ATMS_COMMON_CODE WHERE GROUP_CD = 'JISA_CODE' AND CODE = A.JISA_CODE) AS jisaName,
            A.JISA_CODE AS jisaCode,
            (SELECT DISTINCT BRANCH_NAME FROM ATMS_TERMINAL_STATUS WHERE BRANCH_CODE = A.BRANCH_CODE) AS branchName,
            A.BRANCH_CODE AS branchCode,
            (SELECT DISTINCT CORNER_NAME FROM ATMS_TERMINAL_STATUS WHERE TERMINAL_NO = A.TERMINAL_NO) AS cornerName,
            A.TERMINAL_NO AS terminalNo,
            B.CASH_SENDING_DATE AS cashSendingDate,
            B.CASH_SENDING_AMT AS cashSendingAmt,
            B.CASH_50K_SENDING_AMT AS cash50kSendingAmt,
            B.MNG_OFFICE AS mngOffice
        FROM
            (SELECT * FROM ATMS_TERMINAL_STATUS
            <where>
                <if test="jisaCode != null"> JISA_CODE = #{jisaCode} </if>
                <if test="branchCode != null"> AND BRANCH_CODE = #{branchCode} </if>
                <if test="terminalNo != null"> AND TERMINAL_NO = #{terminalNo} </if>
            </where>
            ) A
            LEFT OUTER JOIN ATMS_03001170 B
                ON B.JISA_CODE (+)= A.JISA_CODE
               AND B.BRANCH_CODE (+) = A.BRANCH_CODE
               AND B.TERMINAL_NO (+) = A.TERMINAL_NO
               AND B.CASH_SENDING_DATE (+) BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="findOne" resultType="sh03001170" parameterType="sh03001170" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            CASH_SENDING_DATE AS cashSendingDate,
            CASH_SENDING_AMT AS cashSendingAmt,
            MNG_OFFICE AS mngOffice,
            CASH_50K_SENDING_AMT AS cash50kSendingAmt
        FROM
            ATMS_03001170
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CASH_SENDING_DATE = #{cashSendingDate}
    </select>

   <update id="delete" parameterType="sh03001170" statementType="PREPARED">
        DELETE FROM
            ATMS_03001170
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CASH_SENDING_DATE = #{cashSendingDate}
    </update>

   <update id="update" parameterType="sh03001170" statementType="PREPARED">
        UPDATE ATMS_03001170
        SET
            JISA_CODE = #{jisaCode},
            CASH_SENDING_AMT = #{cashSendingAmt},
            MNG_OFFICE = #{mngOffice},
            CASH_50K_SENDING_AMT = #{cash50kSendingAmt}
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CASH_SENDING_DATE = #{cashSendingDate}
    </update>

   <update id="insert" parameterType="sh03001170" statementType="PREPARED">
        INSERT INTO ATMS_03001170 (
            TX_ID,
            JISA_CODE,
            BRANCH_CODE,
            TERMINAL_NO,
            CASH_SENDING_DATE,
            CASH_SENDING_AMT,
            MNG_OFFICE,
            CASH_50K_SENDING_AMT
        ) VALUES (
            #{txId},
            #{jisaCode},
            #{branchCode},
            #{terminalNo},
            #{cashSendingDate},
            #{cashSendingAmt},
            #{mngOffice},
            #{cash50kSendingAmt}
        )
    </update>
</mapper>