<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title th:text="${@environment.getProperty('config.title')}">title</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/ams/favicon00.png}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/images/ams/favicon00.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${@environment.getProperty('config.extendedCss')}}"/>

    <link layout:fragment="css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/button.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/ams_layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/ax5uploader.css"/>
    <!--<link rel="import" href="../../home/main.html">-->

    <script type="text/javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
        /* $(function() {
             var images = ['bg_login02.jpg', 'bg_login01.jpg', 'bg_login03.jpg'];
             $('.background').css({'background': 'url(assets/images/' + images[Math.floor(Math.random() * images.length)] + ')'});
         });*/

        var sessionJson = convertJsonObj('[[${scriptSession}]]');
        var menuJson = convertJsonObj('[[${menuJson}]]');
        var permissionJson = convertJsonObj('[[${permissionJson}]]');
        var commonCodeJson = convertJsonObj('[[${commonCodeJson}]]');
        var commonMessageJson = convertJsonObj('[[${commonMessageJson}]]');
        var commonConfigJson = convertJsonObj('[[${commonConfigJson}]]');
        var entityListJson = convertJsonObj('[[${entityListJson}]]');

        var CONTEXT_PATH = 'http://[[${#httpServletRequest.serverName}]]:[[${#httpServletRequest.serverPort}]]';
        /*var CONTEXT_PATH   = 'http://[[@{${@environment.getProperty("server.url")}}]]:[[@{${@environment.getProperty("server.port")}}]]';*/
        var SCRIPT_SESSION = (function (json) {
            return json;
        })(sessionJson);
        var TOP_MENU_DATA = (function (json) {
            return json;
        })(menuJson);
        var PERMISSION_DATA = (function (json) {
            return json;
        })(permissionJson);
        var COMMON_CODE = (function (json) {
            return json;
        })(commonCodeJson);

        var COMMON_MESSAGE = (function (json) {
            return json;
        })(commonMessageJson);

        var COMMON_CONFIG = (function (json) {
            return json;
        })(commonConfigJson);

        var ENTITY_LIST = (function (json) {
            return json;
        })(entityListJson);

        function convertJsonObj(jsonStr) {
            return jsonStr == null || jsonStr == '' ? null : JSON.parse(jsonStr.replace(/&quot;/gi, '"').replace(/\r\n|\n/gi, "<br />"));
        }

        function addConMetaShow(){

        }

    </script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/realgridjs-lic.js}"></script>
    <!--<script type="text/javascript" th:src="@{/assets/js/libs/realgrid/realgridjs_eval.1.1.27.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/realgridjs.1.1.26.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/realgridjs-api.1.1.26.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/jszip.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/util/GridWrapper.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/util/TreeGridWrapper.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/realgrid/util/SimpleGridWrapper.js}"></script>

    <script type="text/javascript" th:src="@{/assets/js/plugins.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/axboot.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.backstretch.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/libs/ajax-cross-origin/js/jquery.ajax-cross-origin.min.js}"></script>
    <script type="text/javascript" th:src="@{/axboot.config.js}"></script>
    <script layout:fragment="js"></script>
    <script layout:fragment="script"></script>
    <script>
        $("docuemnt").ready(function () {
            var setupFontFamily = "";
            for (var i = 0; i < parent.COMMON_CONFIG.length; i++) {
                if (
                    "SYS_FORM_FONT" == parent.COMMON_CONFIG[i]["configurationCode"]
                )
                    setupFontFamily += parent.COMMON_CONFIG[i]["configurationValue"] + ",";

            }
            if (setupFontFamily != "") {
                $("#commonStyle")
                    .html(
                        "<style>*,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, table td{font-family : " + setupFontFamily.substring(0, setupFontFamily.length - 1) + " !important;</style>"
                    );
            }

            $.each(PERMISSION_DATA, function (idx, item) {
                item['pmsFunctionName'] = axboot.commonCodeValueByUuid("CD108", item['pmsFuntionUuid']);
                $.each(ENTITY_LIST, function (idx, row) {
                    if (item['pmsEntityTypeUuid'] == row['entityTypeUuid']) {
                        item['pmsEntityTypeCode'] = row["entityType"];
                        return false;
                    }
                });
            });

           //  var link = document.querySelector('link[rel="import"]');
           //  var content = link.import;
           //  var el = content.querySelector('.home');
           //  var contents  = document.querySelector('#main-content');
           //
           // contents.appendChild(el.cloneNode(true));
        });
    </script>
    <style id="commonStyle">

    </style>
    <style>
        @media screen and (max-width: 1279px) {
            .header {
                height: 30px;
                width: 1280px;
            }

            .cssBody {
                padding-left: 220px;
                width: 1280px;
            }

            .left {
                width: 220px;
            }

            .left_close_open_btn a {
                left: 220px;
            }

        }

        @media screen and (max-height: 681px) {
            .header {
                height: 30px;
                /*width:1280px;*/
            }

            .cssBody {
                /*left: 190px;*/
                /*width:1090px;*/
                height: 984px;
            }

            .left {
                /*width: 190px;*/
                height: 984px;
            }

            .left_close_open_btn a {
                /*left: 190px;*/
            }

            /*.bottom_close{ margin-bottom: -3px}*/

        }
        .panel-sub { display: inline-block; vertical-align: top; font-size: 12px; height: 100%; margin-bottom: 0px!important;min-width: 240px!important; }
        #searchBtn { width: 50px; height: 100%; border: 0px; background: #41a679; outline: none; float: right; color: #ffffff; margin: 0px; font-size: 18px; }
        .gallery {overflow-y: hidden!important;}
        .content_frame { display:table; width:70%; padding-left:10px; float:left; }
        .panel-heading {font-size: 14px}
        .panel-heading01 { border: 0px!important; background: #ddd!important; color: #101010!important; font-size: 15px!important;font-weight: bold!important; }
        .panel-right { margin-bottom: 19px;border: 1px solid #ddd; }
        .panel-end { margin-bottom: 0;border: 1px solid #ddd;}
        .number-label { font-size : 12px!important;}
        .panel-sub > .panel {margin-bottom: 0px!important;}
        ul>li>label {font-weight: bold;font-size : 13px;text-overflow: ellipsis!important;}
        ul>ul>li>label {font-weight:normal; font-size : 12px;text-overflow: ellipsis!important;}
        ul>li {padding-left:7px!important;text-overflow: ellipsis!important;}
        ul>ul>li {padding-left:14px!important; height: 18px;text-overflow: ellipsis!important;}
        li {text-overflow: ellipsis!important;}
        ul{list-style-type: disc!important;}
        label {padding: 0px!important;margin: 0!important;}
    </style>
</head>
<body class="ax-body" th:classappend="${axbody_class}" onselectstart="return false;">
<script>
    $.backstretch([
        "assets/images/bg_login02.jpg"
        //"assets/images/bg_login01.jpg"
//        ,"assets/images/bg_login02.jpg"
//        ,"assets/images/bg_login03.jpg"
    ], {duration: 3000, fade: 1000});
</script>
<div id="ax-frame-root" class="visible show-aside" data-root-container="true">
    <!-- header-tool -->
    <div class="ax-frame-header-tool">
        <div class="ax-split-col" style="height: 100%;">
            <div class="ax-split-panel text-align-left">
                <div class="ax-split-col ax-frame-logo-info">
                    <div class="ax-split-panel">Seoul Metropolitan Archives</div>
                </div>
            </div>
            <div class="ax-split-panel text-align-right">
                <div class="ax-split-col ax-frame-user-info">
                    <div class="ax-split-panel">
                        <a href="#ax" id="userNm">
                            <i class="ion-android-person"></i>
                            <span th:text="#{axboot.admin.login.status.message(${loginUser.userNm})}"></span>
                        </a>
                    </div>
                    <div class="panel-split"></div>
                    <div class="ax-split-panel">
                        <a th:href="@{#}" id="logout">
                            <span th:text="#{axboot.admin.logout}"></span>
                            <!--<span>Sign Out</span>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <div id="cssBody" style="width: 100%;height: 100%;position: fixed; top: 30px;">
        <div class="ax-frame-header">
            <div class="ax-split-col" style="height: 100%;">
                <div class="ax-split-panel cell-logo">
                    <a th:href="@{/main}">
                        <img th:src="@{${@environment.getProperty('config.logo.amsheader')}}"/>
                    </a>
                </div>
                <div id="ax-top-menu" class="ax-split-panel ax-split-flex" style="padding-left:10px;width:100% ">
                    <span id="ax-top-menu-text"><i class="cqc-home"></i></span>
                </div>
                <div class="ax-split-panel cell-aside-handle"></div>
                <div style="" class="bigsmall_btn">
                    <a href="#" onclick="bigView()" class="big_close">
                        <img th:src="@{/assets/images/btn_big.jpg}" alt="grid big show">
                    </a>
                    <a href="#" onclick="smallView()" class="small_open">
                        <img th:src="@{/assets/images/btn_small.jpg}" alt="grid normal show">
                    </a>
                </div>
            </div>
        </div>

        <!-- header-tab -->
        <div class="ax-frame-header-tab">
            <div id="ax-frame-header-tab-container"></div>
        </div>

        <!-- contents -->
        <div class="left bdr" style="top:50px">
            <div class="left_top1 bdb"><!--height: 3.7%;-->
                <ul>
                    <li id="btnAllMenu" class="left-all-menu bdr">
                        <a href="#" onclick="allmenuView()">Full Menu</a></li>
                    <li id="btnMyMenu" class="left-my-menu">
                        <a href="#" onclick="myMenuView()">My Menu</a></li>
                </ul>
            </div><!--전체메뉴 나의 메뉴 탭부분-->
            <div class="left_top2"><!--height: 3.7%;-->
                <ul>
                    <li style="padding:0 1%;width:76%">
                        <input type="text" style="width:100%;vertical-align:middle;font-size:12px;" id="leftMenuParam">
                    </li>
                    <li style="width:24%">
                        <button class="btn_small" id="searchLeftMenu">Search</button>
                    </li>
                </ul>
            </div><!--메인 좌측 검색부분-->
            <div class="left_top3 bdt bdb">
                <ul>
                    <li class="bdr">
                        <a href="#" class="open_close expendAll" id="rg_tree_allopen_m1">Expand All</a></li>
                    <li>
                        <a href="#" class="open_close collapseAll" id="rg_tree_allclose_m1">Collapse All</a></li>
                </ul>
            </div>
            <div class="left_bottom1">
                <div style="width:100%; height:100%;" class="bdb">
                    <div id="realgridM1" style="width: 100%; height: 100%;"></div>
                    <div id="realgridM2" style="display:none; width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div><!--메인좌측-->

        <div class="left_close_open_btn">
            <a href="#" onclick="leftcloseView()" class="leftmenu_close">◀</a>
            <a href="#" onclick="leftopenView()" class="leftmenu_open">▶</a>

            <a href="#" onclick="left7closeView()" class="leftmenu7_close">◀</a>
            <a href="#" onclick="left7openView()" class="leftmenu7_open"> ▶</a>
        </div>

        <!--나의 메뉴인 즐겨찾기와 최근메뉴-->
        <div id="main-content" class="ax-frame-contents" style="left: 0%; padding-left: 0px; background: white">
            <form name="formView01" id="formView01" method="post" onsubmit="return false">
                <div class="contents_wrap" style="padding: 60px 75px 180px 75px">
                    <div class="div_tablerow" style="width: 100%;height: 107px;">
                        <div style="text-align: center; margin-bottom: 50px;">
                            <div style="display: inline-block; height: 52px;width: 700px;border: 1px solid #41a679;background: #ffffff;">
                                <input type="text" data-ax-path="searchInput" placeholder="검색어 입력" style="font-size: 24px;width: 640px;padding: 10px;border: 0px;outline: none;float: left;height: 100%">
                                <button id="searchBtn">검색</button>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%;height: 100%;">
                        <div style="display:table; width:30%; padding-right: 10px; float:left">
                            <div style="width: 100%;" class="div_tablerow bdb" >
                                <div class="panel panel-default panel-end">
                                    <ul style="height: 36px;width: 100%;    background: #ddd">
                                        <li style="width: 32%;text-align: left;padding-left: 0!important;display:table-cell;">
                                            <p class="panel-heading panel-heading01">Notice</p>
                                        </li>
                                        <li style="text-align:right; width:68%;padding-left: 0!important;display:table-cell;">
                                            <button class="btn_a">
                                                <span class="btn_icon">&nbsp;</span>
                                                <span class="btn_main_txt">Add</span>
                                            </button>
                                        </li>
                                    </ul>
                                    <!--<p class="panel-heading panel-heading01">Notice</p>-->
                                    <div class="panel-body gallery" style="height: 100%;width: 100%;padding:2px">
                                        <div data-ax5grid="grid-view-01" data-fit-height-content="grid-view-01" style="height: 546px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_frame">
                            <div class="panel panel-default panel-right">
                                <p class="panel-heading panel-heading01">Record Statistics</p>
                                <div class="gallery" style="width: 100%; padding:5px">
                                    <div style="height: 351px">
                                        <div class="panel-sub">
                                            <div class="panel panel-default">
                                                <p class="panel-heading">ㆍRecords</p>
                                                <div class="panel-body gallery" style="height: 314px;width: 100%;padding:10px 2px;">
                                                    <ul style="height: 100%">
                                                        <li class="temporaryRecords"><label class="li-bold">- Temporary Records</label> </li>
                                                        <li class="temporaryRecords" style="padding-left: 20px!important;"><label> : &nbsp;</label><label class="number-label" data-ax-path="temporaryAggregation"></label><label>/</label><label data-ax-path="temporaryItem"></label></li>
                                                        <ul>
                                                            <li><label>ㆍAggregation :&nbsp; </label><label data-ax-path="temporaryAggregation"></label></li>
                                                            <li><label>ㆍItem :&nbsp; </label><label data-ax-path="temporaryItem"/></li>
                                                        </ul>
                                                        <li class="temporaryRecords"><label id="normalRecords" class="li-bold"> - Normal Records </label></li>
                                                        <li class="temporaryRecords" style="padding-left: 20px!important;"><label> : &nbsp;</label><label data-ax-path="normalRecords"></label><label>/</label><label data-ax-path="normalItem"/></li>
                                                        <ul>
                                                            <li><label>ㆍRecord Group : &nbsp;</label><label data-ax-path="normalRecordGroup"/></li>
                                                            <li><label>ㆍSeries : &nbsp;</label><label data-ax-path="normalSeries"/></li>
                                                            <li><label>ㆍFile : &nbsp;</label><label data-ax-path="normalFile"/></li>
                                                            <li><label>ㆍNone : &nbsp;</label><label data-ax-path="normalNone"/></li>
                                                            <li><label>ㆍItem : &nbsp;</label><label data-ax-path="normalItem"/></li>
                                                        </ul>
                                                        <li class="temporaryRecords"><label class="li-bold" id="publishedRecords"> - Published Records</label></li>
                                                        <li class="temporaryRecords" style="padding-left: 20px!important;"><label> : &nbsp;</label><label data-ax-path="publishedRecords"></label><label>/</label><label data-ax-path="publishedItem"></label></li>
                                                        <ul>
                                                            <li><label>ㆍRecord Group : &nbsp;</label><label data-ax-path="publishedRecordGroup"/></li>
                                                            <li><label>ㆍSeries : &nbsp;</label><label data-ax-path="publishedSeries"/></li>
                                                            <li><label>ㆍFile : &nbsp;</label><label data-ax-path="publishedFile"/></li>
                                                            <li><label>ㆍItem : &nbsp;</label><label data-ax-path="publishedItem"/></li>
                                                        </ul>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-sub">
                                            <div class="panel panel-default">
                                                <p class="panel-heading">ㆍClassification</p>
                                                <div class="panel-body gallery" style="height: 314px;width: 100%;padding:10px 2px;">
                                                    <ul style="height: 100%">
                                                        <li id="classificationScheme"><label class="li-bold"> - Classification Scheme : &nbsp;</label><label data-ax-path="classificationScheme"></label> </li>
                                                        <ul>
                                                            <li><label>ㆍDraft : &nbsp;</label><label data-ax-path="classificationDraft"/></li>
                                                            <li><label>ㆍConfirm : &nbsp;</label><label data-ax-path="classificationConfirm"/></li>
                                                        </ul>
                                                        <li id="class"><label class="li-bold"> - Class : &nbsp;</label><label data-ax-path="class01"></label> </li>
                                                        <ul>
                                                            <li><label>ㆍDraft : &nbsp;</label><label data-ax-path="classDraft"/></li>
                                                            <li><label>ㆍConfirm : &nbsp;</label><label data-ax-path="classConfirm"/></li>
                                                        </ul>
                                                        <li class="classifyRecords"><label class="li-bold"> - Classify Records(aggregation)</label></li>
                                                        <li class="classifyRecords" style="padding-left: 20px!important;"><label> : &nbsp;</label><label data-ax-path="classifyRecord"></label><label>/</label><label data-ax-path="normalRecord"></label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-sub">
                                            <div class="panel panel-default">
                                                <p class="panel-heading">ㆍRecord Schedule</p>
                                                <div class="panel-body gallery" style="height: 314px;width: 100%;padding:10px 2px;">
                                                    <ul style="height: 100%">
                                                        <li id="generalRecordsSchedule"><label class="li-bold"> - GRS : &nbsp;</label><label data-ax-path="generalRecordsSchedule"></label> </li>
                                                        <ul>
                                                            <li><label>ㆍDraft : &nbsp;</label><label data-ax-path="grsDraft"/></li>
                                                            <li><label>ㆍConfirm : &nbsp;</label><label data-ax-path="grsConfirm"/></li>
                                                        </ul>
                                                        <li id="recordSchedule"><label class="li-bold"> - Records Schedule(RS) : &nbsp;</label><label data-ax-path="recordSchedule"></label> </li>
                                                        <ul>
                                                            <li><label>ㆍDraft : &nbsp;</label><label data-ax-path="rsDraft"/></li>
                                                            <li><label>ㆍConfirm : &nbsp;</label><label data-ax-path="rsConfirm"/></li>
                                                        </ul>
                                                        <li class="recordScheduling"><label class="li-bold"> - Record Scheduling(item)</label></li>
                                                        <li class="recordScheduling" style="padding-left: 20px!important;"><label> : &nbsp;</label><label data-ax-path="rsSchedulingRecord"></label><label>/</label><label data-ax-path="normalRecordItem"></label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-sub">
                                            <div class="panel panel-default">
                                                <p class="panel-heading">ㆍDisposal Freeze</p>
                                                <div class="panel-body gallery" style="height: 314px;width: 100%;padding:10px 2px;">
                                                    <ul style="height: 100%">
                                                        <li id="disposalFreezeEvent"><label class="li-bold"> - Disposal Freeze Event : &nbsp;</label><label data-ax-path="disposalFreezeEvent"></label> </li>
                                                        <ul>
                                                            <li><label>ㆍDraft : &nbsp;</label><label data-ax-path="dfEventDraft"/></li>
                                                            <li><label>ㆍConfirm : &nbsp;</label><label data-ax-path="dfEventConfirm"/></li>
                                                        </ul>
                                                        <li id="disposalFreezeDegree"><label class="li-bold"> - Disposal Freeze Degree :  &nbsp;</label><label data-ax-path="disposalFreezeDegree"></label> </li>
                                                        <ul>
                                                            <li><label>ㆍDraft : &nbsp;</label><label data-ax-path="dfDegreeDraft"/></li>
                                                            <li><label>ㆍConfirm : &nbsp;</label><label data-ax-path="dfDegreeConfirm"/></li>
                                                        </ul>
                                                        <li class="disposalFreezeRecords"><label class="li-bold"> - Disposal Freeze Records(item)</label></li>
                                                        <li class="disposalFreezeRecords" style="padding-left: 20px!important;"><label> : &nbsp;</label><label data-ax-path="dfFreezeRecord"></label><label>/</label><label data-ax-path="normalRecordItem"></label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-sub">
                                            <div class="panel panel-default">
                                                <p class="panel-heading">ㆍDisposal Records</p>
                                                <div class="panel-body gallery" style="height: 314px;width: 100%;padding:10px 2px;">
                                                    <ul style="height: 100%">
                                                        <li id="dfRecordDraft"><label class="li-bold"> - Record for Disposal : &nbsp;</label><label data-ax-path="dfRecordDraft"></label><label>/</label><label data-ax-path="dfRecordConfirm"></label><label>/</label><label data-ax-path="dfRecordComplete"></label></li>
                                                        <ul>
                                                            <li><label>ㆍDraft : &nbsp;</label><label data-ax-path="dfRecordDraft"/></li>
                                                            <li><label>ㆍConfirm : &nbsp;</label><label data-ax-path="dfRecordConfirm"/></li>
                                                            <li><label>ㆍComplete : &nbsp;</label><label data-ax-path="dfRecordComplete"/></li>
                                                        </ul>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_frame">
                            <div class="panel panel-default panel-end">
                                <p class="panel-heading panel-heading01">Storage Statistics</p>
                                <div class="gallery" style="width: 100%">
                                    <div style="height: 131px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div layout:fragment="contents" style="visibility: hidden"></div>
        <!-- footer -->
        <div class="ax-frame-foot">
            <div class="ax-split-col" style="height: 100%;">
                <div class="ax-split-panel text-align-left"
                     th:text="${@environment.getProperty('config.copyrights')}"></div>
                <div class="ax-split-panel text-align-right">
                    Last account activity <b id="account-activity-timer">00</b> ago.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 사용자 설정 팝업창 시작 popup.css-->
<div class="user_edit">
    <table style="width:100%; height:100%">
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <thead>
        <tr>
            <th class="right_title2 bdb" colspan="2" style="text-align:left;font-size:12px;">
                <img src="/assets/images/ams/img_dot1.png" style="vertical-align: middle; margin-right:5px;" alt="">User
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="pdl_10">User ID</td>
            <td><input type="text" class="onlyread"
                       th:placeholder="#{axboot.admin.login.status.message(${loginUser.userId})}" readonly></td>
        </tr>
        <tr>
            <td class="pdl_10">User Name</td>
            <td><input type="text" class="onlyread"
                       th:placeholder="#{axboot.admin.login.status.message(${loginUser.userNm})}" readonly></td>
        </tr>
        <tr>
            <td class="pdl_10">Current Password</td>
            <td>
                <input id="crntPwd" type="password"></td>
        </tr>
        <tr>
            <td class="pdl_10">New Password</td>
            <td><input id="newPwd" type="password"></td>
        </tr>
        <tr>
            <td class="pdl_10">Re-enter New Password</td>
            <td><input id="reNewPwd" type="password"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="userfoot">
                <button id="btnOk" class="btn_3txt">Ok</button>
                <button id="btnCancel" class="btn_3txt">Cancel</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<!-- 사용자 설정 팝업창 시작 popup.css-->
<!-- 사용자 설정 팝업창 끝-->
</body>
</html>
