<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001160.Sh02001160Mapper">

    <select id="findAll" resultType="sh02001160" parameterType="sh02001160" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            FAC_SEQ_NO AS facSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            FAC_GUBUN_CODE AS facGubunCode,
            FAC_CODE AS facCode,
            HIRE_FAC_ENABLE AS hireFacEnable,
            INSTALL_ARTICLE_GUBUN AS installArticleGubun,
            ASSET_SEQ_NO AS assetSeqNo,
            FAC_IP_ADDR AS facIpAddr,
            FAC_GW_ADDR AS facGwAddr,
            FAC_SMASK_ADDR AS facSmaskAddr,
            HIRE_FEE AS hireFee,
            DETAIL_FAC_INFO AS detailFacInfo
        FROM
            ATMS_02001160
    </select>

    <select id="findOne" resultType="sh02001160" parameterType="sh02001160" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            FAC_SEQ_NO AS facSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            FAC_GUBUN_CODE AS facGubunCode,
            FAC_CODE AS facCode,
            HIRE_FAC_ENABLE AS hireFacEnable,
            INSTALL_ARTICLE_GUBUN AS installArticleGubun,
            ASSET_SEQ_NO AS assetSeqNo,
            FAC_IP_ADDR AS facIpAddr,
            FAC_GW_ADDR AS facGwAddr,
            FAC_SMASK_ADDR AS facSmaskAddr,
            HIRE_FEE AS hireFee,
            DETAIL_FAC_INFO AS detailFacInfo
        FROM
            ATMS_02001160
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </select>

   <update id="delete" parameterType="sh02001160" statementType="PREPARED">
        DELETE FROM
            ATMS_02001160
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="update" parameterType="sh02001160" statementType="PREPARED">
        UPDATE ATMS_02001160
        SET
            FAC_SEQ_NO = #{facSeqNo},
            CHANGE_CHASU = #{changeChasu},
            STEXT_GUBUN = #{stextGubun},
            JISA_CODE = #{jisaCode},
            BRANCH_CODE = #{branchCode},
            CORNER_CODE = #{cornerCode},
            FAC_GUBUN_CODE = #{facGubunCode},
            FAC_CODE = #{facCode},
            HIRE_FAC_ENABLE = #{hireFacEnable},
            INSTALL_ARTICLE_GUBUN = #{installArticleGubun},
            ASSET_SEQ_NO = #{assetSeqNo},
            FAC_IP_ADDR = #{facIpAddr},
            FAC_GW_ADDR = #{facGwAddr},
            FAC_SMASK_ADDR = #{facSmaskAddr},
            HIRE_FEE = #{hireFee},
            DETAIL_FAC_INFO = #{detailFacInfo}
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="insert" parameterType="sh02001160" statementType="PREPARED">
        INSERT INTO ATMS_02001160 (
            WORK_SEQ_NO,
            FAC_SEQ_NO,
            CHANGE_CHASU,
            STEXT_GUBUN,
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            FAC_GUBUN_CODE,
            FAC_CODE,
            HIRE_FAC_ENABLE,
            INSTALL_ARTICLE_GUBUN,
            ASSET_SEQ_NO,
            FAC_IP_ADDR,
            FAC_GW_ADDR,
            FAC_SMASK_ADDR,
            HIRE_FEE,
            DETAIL_FAC_INFO
        ) VALUES (
            #{workSeqNo},
            #{facSeqNo},
            #{changeChasu},
            #{stextGubun},
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{facGubunCode},
            #{facCode},
            #{hireFacEnable},
            #{installArticleGubun},
            #{assetSeqNo},
            #{facIpAddr},
            #{facGwAddr},
            #{facSmaskAddr},
            #{hireFee},
            #{detailFacInfo}
        )
    </update>
</mapper>