<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul..St004Mapper">

    <select id="findAll" resultType="st004" parameterType="st004" statementType="PREPARED">
        SELECT
            ARRANGE_CONTAINERS_RESULT_UUID AS arrangeContainersResultUuid,
            LOCATION_UUID AS locationUuid,
            CONTAINER_UUID AS containerUuid,
            STATUS_UUID AS statusUuid,
            ARRANGED_DATE AS arrangedDate,
            DESCRIPTION AS description,
            NOTES AS notes,
            UPDATE_DATE AS updateDate,
            INSERT_UUID AS insertUuid,
            INSERT_DATE AS insertDate,
            UPDATE_UUID AS updateUuid
        FROM
            ST_ARRANGE_CONTAINERS_RESULT
    </select>

    <select id="findOne" resultType="st004" parameterType="st004" statementType="PREPARED">
        SELECT
            ARRANGE_CONTAINERS_RESULT_UUID AS arrangeContainersResultUuid,
            LOCATION_UUID AS locationUuid,
            CONTAINER_UUID AS containerUuid,
            STATUS_UUID AS statusUuid,
            ARRANGED_DATE AS arrangedDate,
            DESCRIPTION AS description,
            NOTES AS notes,
            UPDATE_DATE AS updateDate,
            INSERT_UUID AS insertUuid,
            INSERT_DATE AS insertDate,
            UPDATE_UUID AS updateUuid
        FROM
            ST_ARRANGE_CONTAINERS_RESULT
        WHERE
            ARRANGE_CONTAINERS_RESULT_UUID = #{arrangeContainersResultUuid}
    </select>

   <update id="delete" parameterType="st004" statementType="PREPARED">
        DELETE FROM
            ST_ARRANGE_CONTAINERS_RESULT
        WHERE
            ARRANGE_CONTAINERS_RESULT_UUID = #{arrangeContainersResultUuid}
    </update>

   <update id="update" parameterType="st004" statementType="PREPARED">
        UPDATE ST_ARRANGE_CONTAINERS_RESULT
        SET
            LOCATION_UUID = #{locationUuid},
            CONTAINER_UUID = #{containerUuid},
            STATUS_UUID = #{statusUuid},
            ARRANGED_DATE = #{arrangedDate},
            DESCRIPTION = #{description},
            NOTES = #{notes},
            UPDATE_DATE = #{updateDate},
            INSERT_UUID = #{insertUuid},
            INSERT_DATE = #{insertDate},
            UPDATE_UUID = #{updateUuid}
        WHERE
            ARRANGE_CONTAINERS_RESULT_UUID = #{arrangeContainersResultUuid}
    </update>

   <update id="insert" parameterType="st004" statementType="PREPARED">
        INSERT INTO ST_ARRANGE_CONTAINERS_RESULT (
            ARRANGE_CONTAINERS_RESULT_UUID,
            LOCATION_UUID,
            CONTAINER_UUID,
            STATUS_UUID,
            ARRANGED_DATE,
            DESCRIPTION,
            NOTES,
            UPDATE_DATE,
            INSERT_UUID,
            INSERT_DATE,
            UPDATE_UUID
        ) VALUES (
            #{arrangeContainersResultUuid},
            #{locationUuid},
            #{containerUuid},
            #{statusUuid},
            #{arrangedDate},
            #{description},
            #{notes},
            #{updateDate},
            #{insertUuid},
            #{insertDate},
            #{updateUuid}
        )
    </update>
</mapper>