<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.st.st004.dao.St004Mapper">
    <select id="getStArrangeContainersResult" resultType="St00401VO" parameterType="St00401VO" statementType="PREPARED">
        SELECT
            S1.ARRANGE_CONTAINERS_RESULT_UUID as arrangeContainersResultUuid,
            S1.LOCATION_UUID as locationUuid,
            S1.CONTAINER_UUID as containerUuid,
            S1.STATUS_UUID as statusUuid,
            S1.ARRANGED_DATE as arrangedDate,
            S2.CONTAINER_NAME as containerName,
            S2.CONTROL_NUMBER as controlNumber,
            S1.DESCRIPTION as description,
            S1.NOTES as notes,
            (
              SELECT
                SUBSTR(SYS_CONNECT_BY_PATH(CONTAINER_NAME,' >> '),4) path
              FROM
                ST_CONTAINER S3
              WHERE S3.CONTAINER_UUID = S1.CONTAINER_UUID
              START WITH PARENT_CONTAINER_UUID IS NULL
              CONNECT BY PRIOR CONTAINER_UUID = PARENT_CONTAINER_UUID
            ) as containerPath,
            <include refid="Common.UserName"><property name="userUuid" value="S1.INSERT_UUID"/></include> as insertUuid,
            S1.INSERT_DATE as insertDate,
            <include refid="Common.UserName"><property name="userUuid" value="S1.UPDATE_UUID"/></include> as updateUuid,
            S1.UPDATE_DATE as updateDate
        FROM ST_ARRANGE_CONTAINERS_RESULT S1, ST_CONTAINER S2
        <where>
            S1.CONTAINER_UUID = S2.CONTAINER_UUID
            <if test="locationUuid != null">
                AND S1.LOCATION_UUID = #{locationUuid}
            </if>
        </where>
    </select>
</mapper>