<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.df.df002.dao.Df002Mapper">

    <select id="searchList" resultType="Df00201VO" parameterType="Df00201VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            T1.DISPOSAL_FREEZE_DEGREE_UUID AS disposalFreezeDegreeUuid,
            T1.DISPOSAL_FREEZE_EVENT_UUID AS disposalFreezeEventUuid,
            T1.STATUS_UUID AS statusUuid,
            T2.EVENT_CODE AS eventCode,
            T2.EVENT_NAME AS eventName,
            T1."DEGREE" AS "degree",
            T1.KEYWORD AS keyword,
            T1.END_YN AS endYN,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="T1.TERMINATOR_UUID"/>
        </include>
        AS terminatorUuid,

        <![CDATA[
            T1.END_DATE AS endDate,
        ]]>

        <include refid="Common.UserName">
            <property name="userUuid" value="T1.INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            T1.INSERT_DATE AS insertDate,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="T1.UPDATE_UUID"/>
        </include>
        AS updateUuid,

        <![CDATA[
            T1.UPDATE_DATE AS  updateDate
        FROM
            DF_DISPOSAL_FREEZE_DEGREE T1,
	        DF_DISPOSAL_FREEZE_EVENT T2
        WHERE 1=1
        AND T1.DISPOSAL_FREEZE_EVENT_UUID = T2.DISPOSAL_FREEZE_EVENT_UUID
        ]]>
        <if test="null != statusUuid and '' != statusUuid">
            <![CDATA[
          AND T1.STATUS_UUID = #{statusUuid}
        ]]>
        </if>
        <if test="null != eventCode and '' != eventCode">
            <![CDATA[
           AND T2.EVENT_CODE = #{eventCode}
        ]]>
        </if>
        <if test="null != eventName and '' != eventName">
            <![CDATA[
          AND T2.EVENT_NAME LIKE '%' || #{eventName} || '%'
        ]]>
        </if>
        <if test="null != degree and '' != degree">
            <![CDATA[
           AND T1.DEGREE = #{degree}
        ]]>
        </if>
        <if test="null != endYN and '' != endYN">
            <![CDATA[
          AND  T1.END_YN = #{endYN}
        ]]>
        </if>
        ORDER BY T2.EVENT_CODE, T1.DEGREE ASC
    </select>

    <select id="getDetail" resultType="Df00202VO" parameterType="Df00202VO" statementType="PREPARED">
        SELECT
        Z1.DISPOSAL_FREEZE_DEGREE_UUID as disposalFreezeEventUuid ,
        (SELECT
        COUNT(DISPOSAL_FREEZE_DEGREE_UUID)
        FROM
        DF_DISPOSAL_FREEZE_DEGREE ) as freezeCnt,
        (SELECT
        COUNT(AGGREGATION_ID)
        FROM
        DF_DISPOSAL_FREEZE_RESULT ) as aggregationCnt,
        (SELECT
        COUNT(ITEM_UUID)
        FROM
        DF_DISPOSAL_FREEZE_RESULT ) as itemCnt
        FROM
        DF_DISPOSAL_FREEZE_DEGREE Z1,
        DF_DISPOSAL_FREEZE_RESULT Z2
        <where>
            <if test="disposalFreezeEventUuid != null">
                Z1.DISPOSAL_FREEZE_DEGREE_UUID = #{disposalFreezeEventUuid}
            </if>
            AND Z1.DISPOSAL_FREEZE_DEGREE_UUID = Z2.DISPOSAL_FREEZE_DEGREE_UUID
        </where>
    </select>

    <select id="checkDegree" resultType="int" parameterType="String" statementType="PREPARED">
        SELECT
          NVL2(MAX(DEGREE), MAX(DEGREE), 0)
        FROM
          DF_DISPOSAL_FREEZE_DEGREE
        WHERE
          DISPOSAL_FREEZE_EVENT_UUID = #{uuid}
    </select>

</mapper>