<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.cash.sh03001220.Sh03001220Mapper">

    <select id="findAll" resultType="sh03001220" parameterType="sh03001220" statementType="PREPARED">
        SELECT
            Z1.TX_ID AS txId,
            Z1.JISA_CODE AS jisaCode,
            Z1.MANLESS_BRANCH_CODE AS manlessBranchCode,
            Z1.BRANCH_CODE AS branchCode,
            Z1.CORNER_CODE AS cornerCode,
            Z1.TERMINAL_NO AS terminalNo,
            Z1.REQ_DATE AS reqDate,
            Z1.REQ_GUBUN AS reqGubun,
            Z1.CASH_TYPE_CODE1 AS cashTypeCode1,
            Z1.CASH_TYPE_CODE1_RECV_AMT AS cashTypeCode1RecvAmt,
            Z1.CASH_TYPE_CODE2 AS cashTypeCode2,
            Z1.CASH_TYPE_CODE2_RECV_AMT AS cashTypeCode2RecvAmt,
            Z1.CASH_TYPE_CODE3 AS cashTypeCode3,
            Z1.CASH_TYPE_CODE3_RECV_AMT AS cashTypeCode3RecvAmt,
            Z1.CASH_TYPE_CODE4 AS cashTypeCode4,
            Z1.CASH_TYPE_CODE4_RECV_AMT AS cashTypeCode4RecvAmt,
            Z1.CASH_TYPE_CODE5 AS cashTypeCode5,
            Z1.CASH_TYPE_CODE5_RECV_AMT AS cashTypeCode5RecvAmt,
            Z1.CASH_SENDING_CAR_NO AS cashSendingCarNo,
            Z1.CHARGE_EMP_NAME AS chargeEmpName,
            Z1.CHARGE_EMP_REGNO AS chargeEmpRegno,
            Z1.CHARGE_EMP_PHOTO_URL AS chargeEmpPhotoUrl,
            Z1.DIGITAL_SIGN_URL AS digitalSignUrl,
            Z1.S20_G_CARD_RECV_COUNT AS s20GCardRecvCount,
            Z1.S20_T_CARD_RECV_COUNT AS s20TCardRecvCount,
            Z1.S20PINK_G_CARD_RECV_COUNT AS s20pinkGCardRecvCount,
            Z1.S20PINK_T_CARD_RECV_COUNT AS s20pinkTCardRecvCount,
            Z1.LOVE_CARD_RECV_COUNT AS loveCardRecvCount,
            Z1.HIPOINT_CARD_RECV_COUNT AS hipointCardRecvCount,
            Z1.SCRTY_CARD_RECV_COUNT AS scrtyCardRecvCount,
            Z1.STEXT_SEND_GUBUN AS stextSendGubun
        FROM
        (
            SELECT
                ROW_NUMBER() OVER(PARTITION BY JISA_CODE, MANLESS_BRANCH_CODE, BRANCH_CODE ORDER BY TX_ID DESC) AS rnum,
                TX_ID,
                JISA_CODE,
                MANLESS_BRANCH_CODE,
                BRANCH_CODE,
                CORNER_CODE,
                TERMINAL_NO,
                REQ_DATE,
                REQ_GUBUN,
                CASH_TYPE_CODE1,
                CASH_TYPE_CODE1_RECV_AMT,
                CASH_TYPE_CODE2,
                CASH_TYPE_CODE2_RECV_AMT,
                CASH_TYPE_CODE3,
                CASH_TYPE_CODE3_RECV_AMT,
                CASH_TYPE_CODE4,
                CASH_TYPE_CODE4_RECV_AMT,
                CASH_TYPE_CODE5,
                CASH_TYPE_CODE5_RECV_AMT,
                CASH_SENDING_CAR_NO,
                CHARGE_EMP_NAME,
                CHARGE_EMP_REGNO,
                CHARGE_EMP_PHOTO_URL,
                DIGITAL_SIGN_URL,
                S20_G_CARD_RECV_COUNT,
                S20_T_CARD_RECV_COUNT,
                S20PINK_G_CARD_RECV_COUNT,
                S20PINK_T_CARD_RECV_COUNT,
                LOVE_CARD_RECV_COUNT,
                HIPOINT_CARD_RECV_COUNT,
                SCRTY_CARD_RECV_COUNT,
                STEXT_SEND_GUBUN
            FROM  ATMS_03001220
            <where>
                <if test="jisaCode != null"> JISA_CODE = #{jisaCode} </if>
                <if test="reqGubun != null"> AND REQ_GUBUN = #{reqGubun} </if>
                <if test="reqDate != null"> AND REQ_DATE = #{reqDate} </if>
            </where>
        ) Z1
        WHERE Z1.rnum =1
    </select>

    <select id="findOne" resultType="sh03001220" parameterType="sh03001220" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            JISA_CODE AS jisaCode,
            MANLESS_BRANCH_CODE AS manlessBranchCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            REQ_DATE AS reqDate,
            REQ_GUBUN AS reqGubun,
            CASH_TYPE_CODE1 AS cashTypeCode1,
            CASH_TYPE_CODE1_RECV_AMT AS cashTypeCode1RecvAmt,
            CASH_TYPE_CODE2 AS cashTypeCode2,
            CASH_TYPE_CODE2_RECV_AMT AS cashTypeCode2RecvAmt,
            CASH_TYPE_CODE3 AS cashTypeCode3,
            CASH_TYPE_CODE3_RECV_AMT AS cashTypeCode3RecvAmt,
            CASH_TYPE_CODE4 AS cashTypeCode4,
            CASH_TYPE_CODE4_RECV_AMT AS cashTypeCode4RecvAmt,
            CASH_TYPE_CODE5 AS cashTypeCode5,
            CASH_TYPE_CODE5_RECV_AMT AS cashTypeCode5RecvAmt,
            CASH_SENDING_CAR_NO AS cashSendingCarNo,
            CHARGE_EMP_NAME AS chargeEmpName,
            CHARGE_EMP_REGNO AS chargeEmpRegno,
            CHARGE_EMP_PHOTO_URL AS chargeEmpPhotoUrl,
            DIGITAL_SIGN_URL AS digitalSignUrl,
            S20_G_CARD_RECV_COUNT AS s20GCardRecvCount,
            S20_T_CARD_RECV_COUNT AS s20TCardRecvCount,
            S20PINK_G_CARD_RECV_COUNT AS s20pinkGCardRecvCount,
            S20PINK_T_CARD_RECV_COUNT AS s20pinkTCardRecvCount,
            LOVE_CARD_RECV_COUNT AS loveCardRecvCount,
            HIPOINT_CARD_RECV_COUNT AS hipointCardRecvCount,
            SCRTY_CARD_RECV_COUNT AS scrtyCardRecvCount
        FROM
            ATMS_03001220
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, REQ_DATE = #{reqDate}
    </select>

   <update id="delete" parameterType="sh03001220" statementType="PREPARED">
        DELETE FROM
            ATMS_03001220
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, REQ_DATE = #{reqDate}
    </update>

   <update id="update" parameterType="sh03001220" statementType="PREPARED">
        UPDATE ATMS_03001220
        SET
            JISA_CODE = #{jisaCode},
            MANLESS_BRANCH_CODE = #{manlessBranchCode},
            CORNER_CODE = #{cornerCode},
            REQ_GUBUN = #{reqGubun},
            CASH_TYPE_CODE1 = #{cashTypeCode1},
            CASH_TYPE_CODE1_RECV_AMT = #{cashTypeCode1RecvAmt},
            CASH_TYPE_CODE2 = #{cashTypeCode2},
            CASH_TYPE_CODE2_RECV_AMT = #{cashTypeCode2RecvAmt},
            CASH_TYPE_CODE3 = #{cashTypeCode3},
            CASH_TYPE_CODE3_RECV_AMT = #{cashTypeCode3RecvAmt},
            CASH_TYPE_CODE4 = #{cashTypeCode4},
            CASH_TYPE_CODE4_RECV_AMT = #{cashTypeCode4RecvAmt},
            CASH_TYPE_CODE5 = #{cashTypeCode5},
            CASH_TYPE_CODE5_RECV_AMT = #{cashTypeCode5RecvAmt},
            CASH_SENDING_CAR_NO = #{cashSendingCarNo},
            CHARGE_EMP_NAME = #{chargeEmpName},
            CHARGE_EMP_REGNO = #{chargeEmpRegno},
            CHARGE_EMP_PHOTO_URL = #{chargeEmpPhotoUrl},
            DIGITAL_SIGN_URL = #{digitalSignUrl},
            S20_G_CARD_RECV_COUNT = #{s20GCardRecvCount},
            S20_T_CARD_RECV_COUNT = #{s20TCardRecvCount},
            S20PINK_G_CARD_RECV_COUNT = #{s20pinkGCardRecvCount},
            S20PINK_T_CARD_RECV_COUNT = #{s20pinkTCardRecvCount},
            LOVE_CARD_RECV_COUNT = #{loveCardRecvCount},
            HIPOINT_CARD_RECV_COUNT = #{hipointCardRecvCount},
            SCRTY_CARD_RECV_COUNT = #{scrtyCardRecvCount}
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, REQ_DATE = #{reqDate}
    </update>

   <update id="insert" parameterType="sh03001220" statementType="PREPARED">
        INSERT INTO ATMS_03001220 (
            TX_ID,
            JISA_CODE,
            MANLESS_BRANCH_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            TERMINAL_NO,
            REQ_DATE,
            REQ_GUBUN,
            CASH_TYPE_CODE1,
            CASH_TYPE_CODE1_RECV_AMT,
            CASH_TYPE_CODE2,
            CASH_TYPE_CODE2_RECV_AMT,
            CASH_TYPE_CODE3,
            CASH_TYPE_CODE3_RECV_AMT,
            CASH_TYPE_CODE4,
            CASH_TYPE_CODE4_RECV_AMT,
            CASH_TYPE_CODE5,
            CASH_TYPE_CODE5_RECV_AMT,
            CASH_SENDING_CAR_NO,
            CHARGE_EMP_NAME,
            CHARGE_EMP_REGNO,
            CHARGE_EMP_PHOTO_URL,
            DIGITAL_SIGN_URL,
            S20_G_CARD_RECV_COUNT,
            S20_T_CARD_RECV_COUNT,
            S20PINK_G_CARD_RECV_COUNT,
            S20PINK_T_CARD_RECV_COUNT,
            LOVE_CARD_RECV_COUNT,
            HIPOINT_CARD_RECV_COUNT,
            SCRTY_CARD_RECV_COUNT
        ) VALUES (
            #{txId},
            #{jisaCode},
            #{manlessBranchCode},
            #{branchCode},
            #{cornerCode},
            #{terminalNo},
            #{reqDate},
            #{reqGubun},
            #{cashTypeCode1},
            #{cashTypeCode1RecvAmt},
            #{cashTypeCode2},
            #{cashTypeCode2RecvAmt},
            #{cashTypeCode3},
            #{cashTypeCode3RecvAmt},
            #{cashTypeCode4},
            #{cashTypeCode4RecvAmt},
            #{cashTypeCode5},
            #{cashTypeCode5RecvAmt},
            #{cashSendingCarNo},
            #{chargeEmpName},
            #{chargeEmpRegno},
            #{chargeEmpPhotoUrl},
            #{digitalSignUrl},
            #{s20GCardRecvCount},
            #{s20TCardRecvCount},
            #{s20pinkGCardRecvCount},
            #{s20pinkTCardRecvCount},
            #{loveCardRecvCount},
            #{hipointCardRecvCount},
            #{scrtyCardRecvCount}
        )
    </update>
</mapper>