<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.etc.agent_mng.AgentMngMapper">

    <select id="findAll" resultType="agentMng" parameterType="agentMng" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            EMP_REGNO AS empRegno,
            EMP_NAME AS empName,
            EMP_ENABLE AS empEnable,
            EMP_GUBUN AS empGubun,
            CORP_GUBUN AS corpGubun,
            DIGITAL_SEAL_URL AS digitalSealUrl,
            DIGITAL_SIGN_URL AS digitalSignUrl
        FROM
            ATMS_AGENT_MNG
    </select>

    <select id="findOne" resultType="agentMng" parameterType="agentMng" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            EMP_REGNO AS empRegno,
            EMP_NAME AS empName,
            EMP_ENABLE AS empEnable,
            EMP_GUBUN AS empGubun,
            CORP_GUBUN AS corpGubun,
            DIGITAL_SEAL_URL AS digitalSealUrl,
            DIGITAL_SIGN_URL AS digitalSignUrl
        FROM
            ATMS_AGENT_MNG
        WHERE
            EMP_REGNO = #{empRegno}
    </select>

   <update id="delete" parameterType="agentMng" statementType="PREPARED">
        DELETE FROM
            ATMS_AGENT_MNG
        WHERE
            EMP_REGNO = #{empRegno}
    </update>

   <update id="update" parameterType="agentMng" statementType="PREPARED">
        UPDATE ATMS_AGENT_MNG
        SET
            JISA_CODE = #{jisaCode},
            EMP_NAME = #{empName},
            EMP_ENABLE = #{empEnable},
            EMP_GUBUN = #{empGubun},
            CORP_GUBUN = #{corpGubun},
            DIGITAL_SEAL_URL = #{digitalSealUrl},
            DIGITAL_SIGN_URL = #{digitalSignUrl}
        WHERE
            EMP_REGNO = #{empRegno}
    </update>

   <update id="insert" parameterType="agentMng" statementType="PREPARED">
        INSERT INTO ATMS_AGENT_MNG (
            JISA_CODE,
            EMP_REGNO,
            EMP_NAME,
            EMP_ENABLE,
            EMP_GUBUN,
            CORP_GUBUN,
            DIGITAL_SEAL_URL,
            DIGITAL_SIGN_URL
        ) VALUES (
            #{jisaCode},
            #{empRegno},
            #{empName},
            #{empEnable},
            #{empGubun},
            #{corpGubun},
            #{digitalSealUrl},
            #{digitalSignUrl}
        )
    </update>
</mapper>