<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.sla.sh_sla_30.ShSla30Mapper">

    <select id="findAll" resultType="shSla30" parameterType="shSla30" statementType="PREPARED">
        SELECT
            SEQ_NO AS seqNo,
            MINWON_DATETIME AS minwonDatetime,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            CORP_CODE AS corpCode,
            REG_TYPE AS regType,
            HANDLE_TYPE AS handleType,
            MINWON_TYPE AS minwonType,
            CONTENT AS content,
            REG_DATETIME AS regDatetime
        FROM
            ATMS_SLA_30
    </select>

    <select id="findOne" resultType="shSla30" parameterType="shSla30" statementType="PREPARED">
        SELECT
            SEQ_NO AS seqNo,
            MINWON_DATETIME AS minwonDatetime,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            CORP_CODE AS corpCode,
            REG_TYPE AS regType,
            HANDLE_TYPE AS handleType,
            MINWON_TYPE AS minwonType,
            CONTENT AS content,
            REG_DATETIME AS regDatetime
        FROM
            ATMS_SLA_30
        WHERE
            SEQ_NO = #{seqNo}
    </select>

   <update id="delete" parameterType="shSla30" statementType="PREPARED">
        DELETE FROM
            ATMS_SLA_30
        WHERE
            SEQ_NO = #{seqNo}
    </update>

   <update id="update" parameterType="shSla30" statementType="PREPARED">
        UPDATE ATMS_SLA_30
        SET
            MINWON_DATETIME = #{minwonDatetime},
            BRANCH_CODE = #{branchCode},
            BRANCH_NAME = #{branchName},
            CORNER_CODE = #{cornerCode},
            CORNER_NAME = #{cornerName},
            CORP_CODE = #{corpCode},
            REG_TYPE = #{regType},
            HANDLE_TYPE = #{handleType},
            MINWON_TYPE = #{minwonType},
            CONTENT = #{content},
            REG_DATETIME = #{regDatetime}
        WHERE
            SEQ_NO = #{seqNo}
    </update>

   <update id="insert" parameterType="shSla30" statementType="PREPARED">
        INSERT INTO ATMS_SLA_30 (
            SEQ_NO,
            MINWON_DATETIME,
            BRANCH_CODE,
            BRANCH_NAME,
            CORNER_CODE,
            CORNER_NAME,
            CORP_CODE,
            REG_TYPE,
            HANDLE_TYPE,
            MINWON_TYPE,
            CONTENT,
            REG_DATETIME
        ) VALUES (
            #{seqNo},
            #{minwonDatetime},
            #{branchCode},
            #{branchName},
            #{cornerCode},
            #{cornerName},
            #{corpCode},
            #{regType},
            #{handleType},
            #{minwonType},
            #{content},
            #{regDatetime}
        )
    </update>
</mapper>