<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.st.st010.dao.St010Mapper">

    <select id="getAggregation" resultType="St01004VO" parameterType="St01004VO" statementType="PREPARED">
      SELECT A.ARRANGE_CONTAINERS_RESULT_UUID                                   as arrangeContainersResultUuid,
           A.LOCATION_UUID                                           as locationUuid,
           A.CONTAINER_UUID                                            as containerUuid,
           A.INSERT_DATE                                                 as insertDate,
           A.UPDATE_DATE,
           B.uuid,
           B.orderNo,
           B.publishedStatus,
           B.code,
           B.title,
           B."type",
           B."level",
           B.author,
           B.descStrDate,
           B.descEdDate,
           B.description,
           B.notes
    FROM ST_ARRANGE_CONTAINERS_RESULT A INNER JOIN ST_ARRANGE_RECORDS_RESULT SARR
        ON A.CONTAINER_UUID = SARR.CONTAINER_UUID
           INNER JOIN (SELECT AGGREGATION_UUID                                                                         as uuid,
                              1                                                                                        as orderNo,
                              (SELECT CODE_NAME
                               FROM AD_CODE_DETAIL
                               WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID)                                      as publishedStatus,
                              AGGREGATION_CODE                                                                         as code,
                              TITLE                                                                                    as title,
                              (SELECT CODE_NAME
                               FROM AD_CODE_DETAIL
                               WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID)                                                  as "type",
                              (SELECT TO_CHAR(LEVEL_NO)
                               FROM RC_LEVEL
                               WHERE LEVEL_UUID = Z1.LEVEL_UUID)                                                       as "level",
                              AUTHOR                                                                                   as author,
                              DESCRIPTION_START_DATE                                                                   as descStrDate,
                              DESCRIPTION_END_DATE                                                                     as descEdDate,
                              DESCRIPTION                                                                              as description,
                              NOTES                                                                                    as notes,
                              ((SELECT COUNT(*) FROM RC_AGGREGATION WHERE PARENT_AGGREGATION_UUID = Z1.AGGREGATION_UUID) +
                               (SELECT COUNT(*)
                                FROM RC_ITEM
                                WHERE AGGREGATION_UUID = Z1.AGGREGATION_UUID))                                         as childCnt
                       FROM RC_AGGREGATION Z1
                       UNION
                       ALL SELECT ITEM_UUID                                                                    as uuid,
                                  2                                                                            as orderNo,
                                  (SELECT CODE_NAME
                                   FROM AD_CODE_DETAIL
                                   WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID)                          as publishedStatus,
                                  ITEM_CODE                                                                    as code,
                                  TITLE                                                                        as title,
                                  (SELECT CODE_NAME FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID) as "type",
                                  ''                                                                           as "level",
                                  AUTHOR                                                                       as author,
                                  DESCRIPTION_START_DATE                                                       as descStrDate,
                                  DESCRIPTION_END_DATE                                                         as descEdDate,
                                  DESCRIPTION                                                                  as description,
                                  NOTES                                                                        as notes,
                                  0                                                                            as childCnt
                           FROM RC_ITEM Z1) B on SARR.AGGREGATION_UUID = B.uuid
        <where>
            1=1
            <if test="locationUuid != null">
                AND LOCATION_UUID = #{locationUuid}
            </if>
        </where>
    </select>

</mapper>