<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.error.sh01001160.Sh01001160Mapper">

    <select id="findAll" resultType="sh01001160" parameterType="sh01001160" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_REQ_SEQ_NO AS calleeReqSeqNo,
            CALLEE_REQ_CHASU AS calleeReqChasu,
            CALLEE_REQ_GUBUN_CODE AS calleeReqGubunCode,
            CALLEE_CHASU_GUBUN AS calleeChasuGubun,
            CANCLE_REQ_DATETIME AS cancleReqDatetime,
            CALLEE_CANCLE_REASON_CODE AS calleeCancleReasonCode,
            UNUSL AS unusl,
            CRT_NO AS crtNo,
            CALLEE_REQ_REASON_CODE AS calleeReqReasonCode,
            TERMINAL_ERROR_CODE_1 AS terminalErrorCode1,
            TERMINAL_ERROR_CODE_2 AS terminalErrorCode2,
            TOTAL_CLASSIFY_CODE AS totalClassifyCode
        FROM
            ATMS_01001160
    </select>

    <select id="findOne" resultType="sh01001160" parameterType="sh01001160" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_REQ_SEQ_NO AS calleeReqSeqNo,
            CALLEE_REQ_CHASU AS calleeReqChasu,
            CALLEE_REQ_GUBUN_CODE AS calleeReqGubunCode,
            CALLEE_CHASU_GUBUN AS calleeChasuGubun,
            CANCLE_REQ_DATETIME AS cancleReqDatetime,
            CALLEE_CANCLE_REASON_CODE AS calleeCancleReasonCode,
            UNUSL AS unusl,
            CRT_NO AS crtNo,
            CALLEE_REQ_REASON_CODE AS calleeReqReasonCode,
            TERMINAL_ERROR_CODE_1 AS terminalErrorCode1,
            TERMINAL_ERROR_CODE_2 AS terminalErrorCode2,
            TOTAL_CLASSIFY_CODE AS totalClassifyCode
        FROM
            ATMS_01001160
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </select>

   <update id="delete" parameterType="sh01001160" statementType="PREPARED">
        DELETE FROM
            ATMS_01001160
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="update" parameterType="sh01001160" statementType="PREPARED">
        UPDATE ATMS_01001160
        SET
            JISA_CODE = #{jisaCode},
            CALLEE_REQ_SEQ_NO = #{calleeReqSeqNo},
            CALLEE_REQ_CHASU = #{calleeReqChasu},
            CALLEE_REQ_GUBUN_CODE = #{calleeReqGubunCode},
            CALLEE_CHASU_GUBUN = #{calleeChasuGubun},
            CANCLE_REQ_DATETIME = #{cancleReqDatetime},
            CALLEE_CANCLE_REASON_CODE = #{calleeCancleReasonCode},
            UNUSL = #{unusl},
            CRT_NO = #{crtNo},
            CALLEE_REQ_REASON_CODE = #{calleeReqReasonCode},
            TERMINAL_ERROR_CODE_1 = #{terminalErrorCode1},
            TERMINAL_ERROR_CODE_2 = #{terminalErrorCode2},
            TOTAL_CLASSIFY_CODE = #{totalClassifyCode}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="insert" parameterType="sh01001160" statementType="PREPARED">
        INSERT INTO ATMS_01001160 (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            TERMINAL_NO,
            ERROR_DATETIME,
            CALLEE_REQ_SEQ_NO,
            CALLEE_REQ_CHASU,
            CALLEE_REQ_GUBUN_CODE,
            CALLEE_CHASU_GUBUN,
            CANCLE_REQ_DATETIME,
            CALLEE_CANCLE_REASON_CODE,
            UNUSL,
            CRT_NO,
            CALLEE_REQ_REASON_CODE,
            TERMINAL_ERROR_CODE_1,
            TERMINAL_ERROR_CODE_2,
            TOTAL_CLASSIFY_CODE
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{terminalNo},
            #{errorDatetime},
            #{calleeReqSeqNo},
            #{calleeReqChasu},
            #{calleeReqGubunCode},
            #{calleeChasuGubun},
            #{cancleReqDatetime},
            #{calleeCancleReasonCode},
            #{unusl},
            #{crtNo},
            #{calleeReqReasonCode},
            #{terminalErrorCode1},
            #{terminalErrorCode2},
            #{totalClassifyCode}
        )
    </update>
</mapper>