<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.rc.rc001.dao.Rc001Mapper">

    <select id="getAggregationNode" resultType="Rc00101VO" parameterType="Rc00101VO" statementType="PREPARED">
        <![CDATA[
            SELECT
              Z1.AGGREGATION_UUID as uuid
              , Z1.PARENT_AGGREGATION_UUID as parentUuid
              , Z1.TITLE as name
              , (SELECT LOWER (CODE_NAME) FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID) as nodeType
              , (SELECT LEVEL_NO FROM RC_LEVEL WHERE LEVEL_UUID = Z1.LEVEL_UUID) as "level"
              , (
                (SELECT COUNT(*) FROM RC_AGGREGATION WHERE PARENT_AGGREGATION_UUID = Z1.AGGREGATION_UUID)
                +(SELECT COUNT(*) FROM RC_ITEM WHERE AGGREGATION_UUID = Z1.AGGREGATION_UUID)
                )as childCnt
            FROM
              RC_AGGREGATION Z1
        ]]>
          <if test=" null != uuid and '' != uuid">
            WHERE
              PARENT_AGGREGATION_UUID = #{uuid}
          </if>
    </select>
    <select id="getItemNode" resultType="Rc00101VO" parameterType="Rc00101VO" statementType="PREPARED">
        <![CDATA[
            SELECT
              ITEM_UUID as uuid
              , AGGREGATION_UUID as parentUuid
              , TITLE as name
              , 'item' as nodeType
            FROM
                RC_ITEM
        ]]>
        <if test=" null != uuid and '' != uuid">
            WHERE
            AGGREGATION_UUID = #{uuid}
        </if>
    </select>
    <select id="getAggregationInfo" resultType="Rc00102VO" parameterType="Rc00101VO" statementType="PREPARED">
      <![CDATA[
            SELECT
              (SELECT CODE_NAME FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID) as publishedStatus
              , AGGREGATION_CODE as code
              , TITLE as title
              , (SELECT CODE_NAME FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID) as "type"
              , (SELECT LEVEL_NAME FROM RC_LEVEL WHERE LEVEL_UUID = Z1.LEVEL_UUID) as "level"
              , AUTHOR as author
              , DESCRIPTION_START_DATE as descStrDate
              , DESCRIPTION_END_DATE as descEdDate
              , DESCRIPTION as description
              , NOTES as notes
            FROM
                RC_AGGREGATION Z1
            WHERE
                AGGREGATION_UUID = #{uuid}
        ]]>
    </select>
    <select id="getItemInfo" resultType="Rc00102VO" parameterType="Rc00101VO" statementType="PREPARED">
        <![CDATA[
            SELECT
              (SELECT CODE_NAME FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID) as publishedStatus
              , ITEM_CODE as code
              , TITLE as title
              , (SELECT CODE_NAME FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID) as "type"
              , AUTHOR as author
              , DESCRIPTION_START_DATE as descStrDate
              , DESCRIPTION_END_DATE as descEdDate
              , DESCRIPTION as description
              , NOTES as notes
            FROM
                RC_ITEM Z1
            WHERE
                ITEM_UUID = #{uuid}
        ]]>
    </select>
    <select id="getGridDataInAggregation" resultType="Rc00103VO" parameterType="Rc00101VO" statementType="PREPARED">
            SELECT
              AGGREGATION_UUID as uuid
              ,(SELECT CODE_NAME FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID) as publishedStatus
              , AGGREGATION_CODE as code
              , TITLE as title
              , (SELECT CODE_NAME FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID) as "type"
              , (SELECT LEVEL_NO FROM RC_LEVEL WHERE LEVEL_UUID = Z1.LEVEL_UUID) as "level"
              , AUTHOR as author
              , DESCRIPTION_START_DATE as descStrDate
              , DESCRIPTION_END_DATE as descEdDate
              , DESCRIPTION as description
              , NOTES as notes
                , (
                (SELECT COUNT(*) FROM RC_AGGREGATION WHERE PARENT_AGGREGATION_UUID = Z1.AGGREGATION_UUID)
                +(SELECT COUNT(*) FROM RC_ITEM WHERE AGGREGATION_UUID = Z1.AGGREGATION_UUID)
                )as childCnt
            FROM
                RC_AGGREGATION Z1
            <if test=" null == uuid or '' == uuid">
                WHERE
                PARENT_AGGREGATION_UUID IS NULL
            </if>
            <if test=" null != uuid and '' != uuid">
                WHERE
                PARENT_AGGREGATION_UUID = #{uuid}
            </if>
    </select>
    <select id="getGridDataInItem" resultType="Rc00103VO" parameterType="Rc00101VO" statementType="PREPARED">
          SELECT
              ITEM_UUID as uuid
              ,(SELECT CODE_NAME FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID) as publishedStatus
              , ITEM_CODE as code
              , TITLE as title
              , (SELECT CODE_NAME FROM AD_CODE_DETAIL WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID) as "type"
              , '-1' as "level"
              , AUTHOR as author
              , DESCRIPTION_START_DATE as descStrDate
              , DESCRIPTION_END_DATE as descEdDate
              , DESCRIPTION as description
              , NOTES as notes

            FROM
                RC_ITEM Z1
            WHERE
                AGGREGATION_UUID = #{uuid}
    </select>

    <update id="save" parameterType="java.util.Map" statementType="PREPARED">
        <choose>
            <when test="nodeType == 'item'">
              UPDATE
                  RC_ITEM
              SET
                AGGREGATION_UUID = #{parentUuid}
              WHERE
                ITEM_UUID = #{uuid}
            </when>
            <otherwise>
                UPDATE
                  RC_AGGREGATION
                SET
                  PARENT_AGGREGATION_UUID = #{parentUuid}
                WHERE
                  AGGREGATION_UUID = #{uuid}
            </otherwise>
        </choose>
    </update>
    <select id="getMenu" parameterType="java.util.Map" resultType="Ac002VO">
      SELECT
          Z2."MENU_NAME" as "id",
          Z2."MENU_UUID" as "menuId",
          Z2."MENU_NAME" as "menuNm",
          Z1."PROGRAM_NAME" as "progNm",
          Z2."PARAMETER" as "menuParams",
          Z1."URL" as "url",
          Z1."URL" as "progPh"
        FROM
          AD_PROGRAM Z1,
          AD_MENU Z2
        WHERE
          Z1.PROGRAM_UUID =Z2.PROGRAM_UUID
          AND
          ROWNUM = 1
          AND
          LOWER(Z1.PROGRAM_NAME) = #{progNm}
    </select>
</mapper>