<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/mng/equip/corner_status.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] ===== -->
<div layout:fragment="base-title" class="ax-base-title" role="page-title">
    <h1 class="title"><i class="cqc-browser"></i> <span th:text="${pageName}"/></h1>
    <p class="desc" th:text="${pageRemark}"/>
</div>
<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <th:block layout:insert="~{/fragments/page-buttons :: buttons}"/>
    <th:block layout:insert="~{/fragments/page-header  :: search-s-m2(id='searchView0', label1='지사명', label2='지점명/코드', label3='코너명/단말번호')}"/>
    <th:block layout:insert="~{/fragments/page-content :: content-panels}" th:with="orientation='vertical',
        attr1='{width: \'1000\'}', style1='padding-right: 10px',
        attr2='{width: \'*\'}',   style2='padding: 0px 10px',   scroll2='scroll'">

        <!-- ===== [ left-panel ] ===== -->
        <div layout:fragment="panel-1">

            <div class="ax-button-group" data-fit-height-aside="grid-view-01">
                <div class="left">
                    <h2><i class="cqc-list"></i> 코너목록</h2>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default" data-grid-view-01-btn="excel">
                        <i class="cqc-download"></i> 엑셀
                    </button>
                </div>
            </div>
            <div data-ax5grid="grid-view-01" data-fit-height-content="grid-view-01" style="height: 300px;"></div>

        </div>
        <!-- ===== [ left-panel _END_ ] ===== -->

        <!-- ===== [ right-panel ] ===== -->
        <div layout:fragment="panel-2">

                <div data-ax5layout="ax2" data-config='{layout:"tab-panel"}' data-fit-height-content="layout-view-01" style="height:100%;">

                    <th:block layout:insert="~{/fragments/tab :: panel(label='코너현황 상세', scroll='scroll', active='true')}">
                        <div layout:fragment="wrap">

                            <form name="formView01" id="formView01" method="post" onsubmit="return false">
                                <div class="ax-button-group" role="panel-header">
                                    <div class="left">
                                        <h2><i class="cqc-news"></i> 코너현황 상세</h2>
                                    </div>
                                    <div class="right">
                                        <button type="button" class="btn btn-default" data-form-view-01-btn="form-clear">
                                            <i class="cqc-erase"></i> 초기화
                                        </button>
                                        <button type="button" class="btn btn-default" data-form-view-01-btn="form-save">
                                            <i class="cqc-save"></i> 저장
                                        </button>
                                    </div>
                                </div>

                                <div data-ax-tbl class="ax-search-tbl" minWidth="500px">
                                    <th:block layout:insert="~{/fragments/table :: tr-td2(text1='지사코드', style1='width: 350px', text2='지점명/코드', style2='width: 350px')}">
                                        <div layout:fragment="wrap-1">
                                            <select th:class="form-control" th:classappend="${class}" data-ax-path="jisaCode"
                                                    name="jisaCode" id="jisaCodeForm" style="width: 80px">
                                                <option value="">전체</option>
                                                <option th:each="item : ${jisaCode}" th:value="${item.code}" th:text="${item.name}"/>
                                            </select>
                                        </div>
                                        <div layout:fragment="wrap-2">
                                            <div class="form-inline">
                                                <input type="text" id="branchName" class="form-control W150" value="" data-ax-path="branchName"
                                                        style="text-align: center" />
                                                <input type="text" id="branchName" class="form-control W60" value="" data-ax-path="branchCode"
                                                        style="text-align: center" maxlength="4" minlength="4"/>
                                            </div>
                                        </div>
                                    </th:block>
                                    <th:block layout:insert="~{/fragments/table :: tr-td2(text1='코너명/코드', style1='width: 350px', text2='장소구분', style2='width: 350px')}">
                                        <div layout:fragment="wrap-1">
                                            <div class="form-inline">
                                                <input type="text" id="cornerName" class="form-control W150" value="" data-ax-path="cornerName"
                                                        style="text-align: center" />
                                                <input type="text" id="cornerCode" data-ax-path="cornerCode" class="form-control W60" value=""
                                                        style="text-align: center" maxlength="4" minlength="4"/>
                                            </div>
                                        </div>
                                        <div layout:fragment="wrap-2">
                                            <select th:class="form-control" th:classappend="${class}" name="placeGubun" id="placeGubun" data-ax-path="placeGubun">
                                                <option th:each="item : ${placeGubun}" th:value="${item.code}" th:text="${item.name}"/>
                                            </select>
                                        </div>
                                    </th:block>
                                    <th:block layout:insert="~{/fragments/table :: tr-td2(text1='점포구분', style1='width: 350px', text2='특수형구분', style2='width: 350px')}">
                                        <div layout:fragment="wrap-1">
                                            <select th:class="form-control" th:classappend="${class}" name="branchGubun" id="branchGubun" data-ax-path="branchGubun">
                                                <option th:each="item : ${branchGubun}" th:value="${item.code}" th:text="${item.name}"/>
                                            </select>
                                        </div>
                                        <div layout:fragment="wrap-2">
                                            <select th:class="form-control" th:classappend="${class}" name="specialStyleGubun" id="specialStyleGubun" data-ax-path="specialStyleGubun">
                                                <option th:each="item : ${specialStyleGubun}" th:value="${item.code}" th:text="${item.name}"/>
                                            </select>
                                        </div>
                                    </th:block>
                                    <th:block layout:insert="~{/fragments/table :: tr-td2(text1='운영시작시간', style1='width: 350px', text2='운영종료시간', style2='width: 350px')}">
                                        <div layout:fragment="wrap-1">
                                            <input type="time" value="00:00"  name="operStartTime" id="operStartTime" data-ax-path="operStartTime"
                                                   class="form-control" style="width: 100px">
                                        </div>
                                        <div layout:fragment="wrap-2">
                                            <input type="time" value="23:59" name="operEndTime" id="operEndTime" data-ax-path="operEndTime"
                                                   class="form-control" style="width: 100px">
                                        </div>
                                    </th:block>
                                    <th:block layout:insert="~{/fragments/table :: tr-td2(text1='운영시간구분', style1='width: 350px', text2='수표운영여부', style2='width: 350px')}">
                                        <div layout:fragment="wrap-1">
                                            <select th:class="form-control" th:classappend="${class}" name="operTimeGubun" id="operTimeGubun" data-ax-path="operTimeGubun">
                                                <option th:each="item : ${operTimeGubun}" th:value="${item.code}" th:text="${item.name}"/>
                                            </select>
                                        </div>
                                        <div layout:fragment="wrap-2">
                                            <select th:class="form-control" th:classappend="${class}" name="checkOperEnable" id="checkOperEnable" data-ax-path="checkOperEnable">
                                                <option th:each="item : ${checkOperEnable}" th:value="${item.code}" th:text="${item.name}"/>
                                            </select>
                                        </div>
                                    </th:block>
                                    <th:block layout:insert="~{/fragments/table :: tr-td2(text1='용역료', style1='width: 350px', text2='경비사코드', style2='width: 350px')}">
                                        <div layout:fragment="wrap-1">
                                            <input type="text" data-ax-path="seviceFee" class="form-control" placeholder data-ax5formatter="money(int)"/>
                                        </div>
                                        <div layout:fragment="wrap-2">
                                            <select th:class="form-control" th:classappend="${class}" name="securityCorpCode" id="securityCorpCode" data-ax-path="securityCorpCode">
                                                <option th:each="item : ${securityCorpCode}" th:value="${item.code}" th:text="${item.name}"/>
                                            </select>
                                        </div>
                                    </th:block>
                                    <th:block layout:insert="~{/fragments/table :: tr-td2(text1='시설물임차여부', style1='width: 350px', text2='운영요일', style2='width: 350px')}">
                                        <div layout:fragment="wrap-1">
                                            <select th:class="form-control" th:classappend="${class}" name="facHireEnable" id="facHireEnable" data-ax-path="facHireEnable">
                                                <option th:each="item : ${facHireEnable}" th:value="${item.code}" th:text="${item.name}"/>
                                            </select>
                                        </div>
                                        <div layout:fragment="wrap-2">
                                            <input type="text" data-ax-path="operDay" class="form-control"/>
                                        </div>
                                    </th:block>
                                    <th:block layout:insert="~{/fragments/table :: tr-td(text='주소', style='width: 350px')}">
                                        <div layout:fragment="wrap">
                                            <input type="text" data-ax-path="addr" title="주소" class="form-control W300" />
                                        </div>
                                    </th:block>
                                    <th:block layout:insert="~{/fragments/table :: tr-td(text='특이사항', style='width: 350px')}">
                                        <div layout:fragment="wrap">
                                            <input type="text" data-ax-path="unusl" title="특이사항" class="form-control W300" />
                                        </div>
                                    </th:block>
                                </div>
                            </form>
                        </div>
                    </th:block>

                    <th:block layout:insert="~{/fragments/tab :: panel(label='시설물 목록', scroll='scroll', active='true')}">
                        <div layout:fragment="wrap">

                            <div class="ax-button-group" role="panel-header">
                                <div class="left">
                                    <h2><i class="cqc-news"></i> 시설물 목록</h2>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-default" data-grid-view-06-btn="excel">
                                        <i class="cqc-download"></i> 엑셀
                                    </button>
                                </div>
                            </div>
                            <div data-ax5grid="grid-view-06" data-fit-height-content="grid-view-06" style="height: 300px;"></div>

                        </div>
                    </th:block>

                    <th:block layout:insert="~{/fragments/tab :: panel(label='코너신규등록통보이력', scroll='scroll', active='true')}">
                        <div layout:fragment="wrap">

                            <div class="ax-button-group" role="panel-header">
                                <div class="left">
                                    <h2><i class="cqc-news"></i> 코너신규등록통보이력 목록</h2>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-default" data-grid-view-02-btn="excel">
                                        <i class="cqc-download"></i> 엑셀
                                    </button>
                                </div>
                            </div>
                            <div data-ax5grid="grid-view-02" data-fit-height-content="grid-view-02" style="height: 300px;"></div>

                        </div>
                    </th:block>

                    <th:block layout:insert="~{/fragments/tab :: panel(label='코너정보변경통보이력', scroll='scroll', active='true')}">
                        <div layout:fragment="wrap">

                            <div class="ax-button-group" role="panel-header">
                                <div class="left">
                                    <h2><i class="cqc-news"></i> 코너정보변경통보이력 목록</h2>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-default" data-grid-view-03-btn="excel">
                                        <i class="cqc-download"></i> 엑셀
                                    </button>
                                </div>
                            </div>
                            <div data-ax5grid="grid-view-03" data-fit-height-content="grid-view-03" style="height: 300px;"></div>
                        </div>
                    </th:block>

                    <th:block layout:insert="~{/fragments/tab :: panel(label='코너폐쇄통보이력', scroll='scroll', active='true')}">
                        <div layout:fragment="wrap">

                            <div class="ax-button-group" role="panel-header">
                                <div class="left">
                                    <h2><i class="cqc-news"></i> 코너폐쇄통보이력 목록</h2>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-default" data-grid-view-04-btn="excel">
                                        <i class="cqc-download"></i> 엑셀
                                    </button>
                                </div>
                            </div>
                            <div data-ax5grid="grid-view-04" data-fit-height-content="grid-view-04" style="height: 300px;"></div>
                        </div>
                    </th:block>

                    <th:block layout:insert="~{/fragments/tab :: panel(label='코너상태변경통보이력', scroll='scroll', active='true')}">
                        <div layout:fragment="wrap">

                            <div class="ax-button-group" role="panel-header">
                                <div class="left">
                                    <h2><i class="cqc-news"></i> 코너상태변경통보이력 목록</h2>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-default" data-grid-view-05-btn="excel">
                                        <i class="cqc-download"></i> 엑셀
                                    </button>
                                </div>
                            </div>
                            <div data-ax5grid="grid-view-05" data-fit-height-content="grid-view-05" style="height: 300px;"></div>
                        </div>
                    </th:block>
                </div>

        </div>
        <!-- ===== [ right-panel ] _END_ ===== -->
    </th:block>
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>