<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/mng/equip/sh02001160.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] ===== -->
<div layout:fragment="base-title" class="ax-base-title" role="page-title">
    <h1 class="title"><i class="cqc-browser"></i> <span th:text="${pageName}"/></h1>
    <p class="desc" th:text="${pageRemark}"/>
</div>
<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <th:block layout:insert="~{/fragments/page-buttons :: buttons}"/>
    <th:block layout:insert="~{/fragments/page-header  :: search-s3-t(id='searchView0', label1='지사명', label2='지점명', label3='코너명', label4='작업일련번호')}">
        <div layout:fragment="wrap-1">
            <select class="form-control" name="jisa" id="jisa">
                <option value="">전체</option>
                <option th:each="item : ${jisa}" th:value="${item.code}" th:text="${item.name}"/>
            </select>
        </div>
        <div layout:fragment="wrap-2">
            <select class="form-control" name="branch" id="branch">
                <option value="">전체</option>
                <option th:each="item : ${branch}" th:value="${item.code}" th:text="${item.name}"/>
            </select>
        </div>
        <div layout:fragment="wrap-3">
            <select class="form-control" name="corner" id="corner">
                <option value="">전체</option>
                <option th:each="item : ${corner}" th:value="${item.code}" th:text="${item.name}"/>
            </select>
        </div>
    </th:block>
    <th:block layout:insert="~{/fragments/page-content :: content(orientation='horizontal', attr='{width: *}')}">

        <!-- ===== [ page-content ] ===== -->
        <div layout:fragment="content-detail">
            <div class="ax-button-group" data-fit-height-aside="grid-view-01">
                <div class="left">
                    <h2><i class="cqc-list"></i> 프로그램 목록</h2>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default" data-grid-view-01-btn="add"><i class="cqc-circle-with-plus"></i> 추가</button>
                </div>
            </div>
            <div data-ax5grid="grid-view-01" data-fit-height-content="grid-view-01" style="height: 300px;"></div>
            <div class="H10"></div>
        </div>
        <!-- ===== [ page-content ] _END_ ===== -->
    </th:block>
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>