<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/mng/equip/sh02001290.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] ===== -->
<div layout:fragment="base-title" class="ax-base-title" role="page-title">
    <h1 class="title"><i class="cqc-browser"></i> <span th:text="${pageName}"/></h1>
    <p class="desc" th:text="${pageRemark}"/>
</div>
<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <th:block layout:insert="~{/fragments/page-buttons :: buttons}"/>
    <th:block layout:insert="~{/fragments/page-header  :: search-s-m2-d2(id='searchView0', label1='지사명', label2='지점명/코드', label3='코너명/단말번호', label4='작업일정')}"/>
    <th:block layout:insert="~{/fragments/page-content :: content-panels}" th:with="orientation='vertical',
        attr1='{width: \'1031\'}', style1='padding-right: 10px',
        attr2='{width: \'*\'}',   style2='padding: 0px 10px',   scroll2='scroll'">

        <!-- ===== [ left-panel ] ===== -->
        <div layout:fragment="panel-1">

            <div class="ax-button-group" data-fit-height-aside="grid-view-01">
                <div class="left">
                    <h2><i class="cqc-list"></i> 일회성비용청구</h2>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default" data-grid-view-01-btn="excel">
                        <i class="cqc-download"></i> 엑셀
                    </button>
                </div>
            </div>
            <div data-ax5grid="grid-view-01" data-fit-height-content="grid-view-01" style="height: 300px;"></div>

        </div>
        <!-- ===== [ left-panel _END_ ] ===== -->

        <!-- ===== [ right-panel ] ===== -->
        <div layout:fragment="panel-2">

            <form name="formView01" id="formView01" method="post" onsubmit="return false">
                <div data-ax5layout="ax2" data-config='{layout:"tab-panel"}' data-fit-height-content="layout-view-01" style="height:100%;">

                    <th:block layout:insert="~{/fragments/tab :: panel(label='일회성비용청구상세', scroll='scroll', active='true')}">
                        <div layout:fragment="wrap">

                            <div class="ax-button-group" role="panel-header">
                                <div class="left">
                                    <h2><i class="cqc-news"></i> 일회성비용청구상세</h2>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-default" data-form-view-01-btn="form-clear">
                                        <i class="cqc-erase"></i> 초기화
                                    </button>
                                    <button type="button" class="btn btn-default" data-form-view-01-btn="form-save">
                                        <i class="cqc-save"></i> 일회성비용청구 전문전송
                                    </button>
                                </div>
                            </div>

                            <div data-ax-tbl class="ax-search-tbl" minWidth="500px">
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='지사코드', style1='width: 350px', text2='지점명/코드', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <select th:class="form-control" th:classappend="${class}" data-ax-path="jisaCode"
                                                name="jisaCode" id="jisaCodeForm" style="width: 80px">
                                            <option value="">전체</option>
                                            <option th:each="item : ${jisaCode}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <div class="form-inline">
                                            <input type="text" id="branchName" class="form-control W150" value="" data-ax-path="branchName"
                                                   data-form-view-01-btn="form_modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                                            <input type="text" id="branchCode" class="form-control W60" value="" data-ax-path="branchCode"
                                                   data-form-view-01-btn="form_modal" readonly="readonly" style="text-align: center" maxlength="4" minlength="4"/>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='코너명/코드', style1='width: 350px', text2='단말코드', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <div class="form-inline">
                                            <input type="text" id="cornerName" class="form-control W150" value="" data-ax-path="cornerName"
                                                   data-form-view-01-btn="form_modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                                            <input type="text" id="cornerCode" data-ax-path="cornerCode" class="form-control W60" value=""
                                                   data-form-view-01-btn="form_modal" readonly="readonly" style="text-align: center" maxlength="4" minlength="4"/>
                                        </div>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <div class="form-inline">
                                            <input type="text" id="terminalNo" data-ax-path="terminalNo" class="form-control W60" value=""
                                                   data-form-view-01-btn="form_modal" readonly="readonly" style="text-align: center" maxlength="4" minlength="4"/>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='청구월', style1='width: 350px', text2='비용구분', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <div class="input-group" data-ax5picker="month">
                                            <input type="text" data-ax-validate="required" title="청구월"  data-ax-path="billingMonth" id="billingMonth" class="form-control" placeholder="yyyy-MM" style="text-align: center">
                                            <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <select th:class="form-control" th:classappend="${class}" name="costGubun" id="costGubun" data-ax-path="costGubun">
                                            <option th:each="item : ${costGubun}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='상세항목구분', style1='width: 350px', text2='일련번호', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <select th:class="form-control" th:classappend="${class}" name="detailItemGubun" id="detailItemGubun" data-ax-path="detailItemGubun">
                                            <option th:each="item : ${detailItemGubun}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <input type="text" title="일련번호" data-ax-validate="required" data-ax-path="seqNo" id="seqNo"  class="form-control"/>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='작업일시', style1='width: 350px', text2='검수월', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <div class="input-group" data-ax5picker="date">
                                            <input type="text" title="작업일시1" data-ax-validate="required" data-ax-path="workDate" id="workDate" class="form-control" placeholder="yyyy-MM-dd" style="text-align: center">
                                            <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <div class="input-group" data-ax5picker="month">
                                            <input type="text" title="검수월" data-ax-validate="required" data-ax-path="inspectionMonth" id="inspectionMonth" class="form-control" placeholder="yyyy-MM" style="text-align: center">
                                            <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='청구금액', style1='width: 350px', text2='상세내역', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <input type="text" title="청구금액" data-ax-path="billingAmt" id="billingAmt"  class="form-control"  placeholder data-ax5formatter="money(int)"/>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <input type="text" title="상세내역" data-ax-validate="required" data-ax-path="detailContent" id="detailContent"  class="form-control"/>
                                    </div>
                                </th:block>
                            </div>

                        </div>
                    </th:block>


                </div>
            </form>

        </div>
        <!-- ===== [ right-panel ] _END_ ===== -->
    </th:block>
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>