<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rmsoft.ams.seoul.rc.rc005.dao.Rc005Mapper">
    <select id="getRecordItemList" resultType="RC00501VO" statementType="PREPARED">
        SELECT
        ZZ1.LEVEL_VALUE,
        ZZ1.TITLE as raTitle,
        ZZ1.AGGREGATION_UUID as raAggregationUuid,
        ZZ1.PUBLISHED_STATUS_UUID as raPublishedStatusUuid,
        ZZ1.AGGREGATION_CODE as raAggregationCode,
        ZZ1.TYPE_UUID as raTypeUuid,
        ZZ1.PARENT_AGGREGATION_UUID as raParentAggregationUuid,
        ZZ1.LEVEL_UUID as raLevelUuid,
        FC_AD_CODE_NM(ZZ1.LEVEL_UUID) as raLevelNm,
        ZZ1.AUTHOR as raAuthor,
        ZZ1.DESCRIPTION_START_DATE as raDescriptionStartDate,
        ZZ1.DESCRIPTION_END_DATE as raDescriptionEndDate,
        ZZ1.DESCRIPTION as description,
        ZZ1.NOTES as notes,
        ZZ1.INSERT_UUID as insertUuid,
        ZZ1.INSERT_DATE as insertDate,
        ZZ1.UPDATE_UUID as updateUuid,
        ZZ1.UPDATE_DATE as updateDate,
        ZZ1.ITEM_UUID as riItemUuid,
        FC_AD_CODE_NM(ZZ1.PUBLISHED_STATUS_UUID1) as riPublishedStatusNm,
        ZZ1.PUBLISHED_STATUS_UUID1 as riPublishedStatusUuid,
        ZZ1.ITEM_CODE as riItemCode,
        NVL(ZZ1.TITLE1 ,ZZ1.TITLE) as name,
        ZZ1.TYPE_UUID1 as riTypeUuid,
        FC_AD_CODE_NM(ZZ1.TYPE_UUID1) as riTypeNm,
        ZZ1.AGGREGATION_UUID1 as riAggregationUuid,
        ZZ1.AUTHOR1 as riAuthor,
        ZZ1.DESCRIPTION_START_DATE1 as riDescriptionStartDate,
        ZZ1.DESCRIPTION_END_DATE1 as riDescriptionEndDate,
        ZZ1.DESCRIPTION1 as description1,
        ZZ1.NOTES1 as notes1,
        ZZ1.INSERT_UUID1 as insertUuid1,
        ZZ1.INSERT_DATE1 as insertDate1,
        ZZ1.UPDATE_UUID1 as updateUuid1,
        ZZ1.UPDATE_DATE1 as updateDate1,
        FC_AD_CODE_NM(ZZ1.OPEN_STATUS_UUID) as openStatusUuid,
        ZZ1.KEYWORD as keyword,
        ZZ1.REFERENCE_CODE as referenceCode,
        ZZ1.PROVENANCE as provenance,
        ZZ1.CREATOR as creator ,
        ZZ1.CREATION_START_DATE as creationStartDate,
        ZZ1.CREATION_END_DATE as creationEndDate,
        ZZ1.ADD_METADATA01 as addMetadata01,
        ZZ1.ADD_METADATA02 as addMetadata02,
        ZZ1.ADD_METADATA03 as addMetadata03,
        ZZ1.ADD_METADATA04 as addMetadata04,
        ZZ1.ADD_METADATA05 as addMetadata05,
        ZZ1.ADD_METADATA06 as addMetadata06,
        ZZ1.ADD_METADATA07 as addMetadata07,
        ZZ1.ADD_METADATA08 as addMetadata08,
        ZZ1.ADD_METADATA09 as addMetadata09,
        ZZ1.ADD_METADATA10 as addMetadata10,
        ZZ1.INSERT_UUID2 as insertUuid2,
        ZZ1.INSERT_DATE2 as insertDate2,
        ZZ1.UPDATE_UUID2 as updateUuid2,
        ZZ1.UPDATE_DATE2 as updateDate2
        FROM
         (  SELECT
                LEVEL AS LEVEL_VALUE,
                Z1.TITLE,
                Z1.AGGREGATION_UUID,
                Z1.PUBLISHED_STATUS_UUID,
                Z1.AGGREGATION_CODE,
                Z1.TYPE_UUID,
                Z1.PARENT_AGGREGATION_UUID,
                Z1.LEVEL_UUID,
                Z1.AUTHOR,
                Z1.DESCRIPTION_START_DATE,
                Z1.DESCRIPTION_END_DATE,
                Z1.DESCRIPTION,
                Z1.NOTES,
                Z1.INSERT_UUID,
                Z1.INSERT_DATE,
                Z1.UPDATE_UUID,
                Z1.UPDATE_DATE,
                '' as ITEM_UUID,
                '' as PUBLISHED_STATUS_UUID1,
                '' as ITEM_CODE,
                '' as TITLE1,
                '' as TYPE_UUID1,
                '' as AGGREGATION_UUID1,
                '' as AUTHOR1,
                '' as DESCRIPTION_START_DATE1,
                '' as DESCRIPTION_END_DATE1,
                '' as DESCRIPTION1,
                '' as NOTES1,
                '' as INSERT_UUID1,
                SYSDATE as INSERT_DATE1,
                '' as UPDATE_UUID1,
                SYSDATE as UPDATE_DATE1,
                '' as OPEN_STATUS_UUID,
                '' as KEYWORD,
                '' as REFERENCE_CODE,
                '' as PROVENANCE,
                '' as CREATOR ,
                '' as CREATION_START_DATE,
                '' as CREATION_END_DATE,
                '' as ADD_METADATA01,
                '' as ADD_METADATA02,
                '' as ADD_METADATA03,
                '' as ADD_METADATA04,
                '' as ADD_METADATA05,
                '' as ADD_METADATA06,
                '' as ADD_METADATA07,
                '' as ADD_METADATA08,
                '' as ADD_METADATA09,
                '' as ADD_METADATA10,
                '' as INSERT_UUID2,
                SYSDATE as INSERT_DATE2,
                '' as UPDATE_UUID2,
                SYSDATE as UPDATE_DATE2
        FROM
            RC_AGGREGATION Z1 START WITH
            <if test="riAggregationUuid != null">
              Z1.AGGREGATION_UUID = #{riAggregationUuid}
            </if>
        CONNECT   BY
            Z1.AGGREGATION_UUID= PRIOR Z1.PARENT_AGGREGATION_UUID
        UNION
                SELECT
                    99 AS LEVEL_VALUE,
                    '' as TITLE,
                    '' as AGGREGATION_UUID,
                    '' as PUBLISHED_STATUS_UUID,
                    '' as AGGREGATION_CODE,
                    '' as TYPE_UUID,
                    Z01.AGGREGATION_UUID as PARENT_AGGREGATION_UUID,
                    '' as LEVEL_UUID,
                    '' as AUTHOR,
                    '' as DESCRIPTION_START_DATE,
                    '' as DESCRIPTION_END_DATE,
                    '' as DESCRIPTION,
                    '' as NOTES,
                    '' as INSERT_UUID,
                    SYSDATE as INSERT_DATE,
                    '' as UPDATE_UUID,
                    SYSDATE as UPDATE_DATE,
                    Z01.ITEM_UUID,
                    Z01.PUBLISHED_STATUS_UUID as PUBLISHED_STATUS_UUID1,
                    Z01.ITEM_CODE,
                    Z01.TITLE as TITLE1,
                    Z01.TYPE_UUID as TYPE_UUID1 ,
                    Z01.AGGREGATION_UUID as AGGREGATION_UUID1,
                    Z01.AUTHOR as AUTHOR1,
                    Z01.DESCRIPTION_START_DATE as DESCRIPTION_START_DATE1,
                    Z01.DESCRIPTION_END_DATE as DESCRIPTION_END_DATE1,
                    Z01.DESCRIPTION as DESCRIPTION1,
                    Z01.NOTES as NOTES1,
                    Z01.INSERT_UUID as INSERT_UUID1,
                    Z01.INSERT_DATE as INSERT_DATE1,
                    Z01.UPDATE_UUID as UPDATE_UUID1,
                    Z01.UPDATE_DATE as UPDATE_DATE1,
                    Z02.OPEN_STATUS_UUID,
                    Z02.KEYWORD,
                    Z02.REFERENCE_CODE,
                    Z02.PROVENANCE,
                    Z02.CREATOR,
                    Z02.CREATION_START_DATE,
                    Z02.CREATION_END_DATE,
                    Z02.ADD_METADATA01,
                    Z02.ADD_METADATA02,
                    Z02.ADD_METADATA03,
                    Z02.ADD_METADATA04,
                    Z02.ADD_METADATA05,
                    Z02.ADD_METADATA06,
                    Z02.ADD_METADATA07,
                    Z02.ADD_METADATA08,
                    Z02.ADD_METADATA09,
                    Z02.ADD_METADATA10,
                    Z02.INSERT_UUID AS INSERT_UUID2,
                    Z02.INSERT_DATE AS INSERT_DATE2,
                    Z02.UPDATE_UUID AS UPDATE_UUID2,
                    Z02.UPDATE_DATE AS UPDATE_DATE2
                FROM
                    RC_ITEM Z01 ,
                    RC_ITEM_CON Z02
                    WHERE
                        Z01.ITEM_UUID = Z02.ITEM_UUID
                        <if test="riItemUuid != null">
                          AND Z01.ITEM_UUID =  #{riItemUuid}
                        </if>
                        <if test="riAggregationUuid != null">
                          AND Z01.AGGREGATION_UUID = #{riAggregationUuid}
                        </if>
                        ) ZZ1
                    ORDER BY
                    ZZ1.LEVEL_VALUE
    </select>
    <select id="getRecordComponentList" resultType="RC00502VO" statementType="PREPARED">
        SELECT
          Z2.ITEM_COMPONENT_UUID as itemComponentUuid,
          Z2.ITEM_UUID as itemUuid,
          Z2.COMPONENT_UUID as componentUuid,
          Z3.PUBLICATION_STATUS_UUID as publicationStatusUuid,
          FC_AD_CODE_NM(Z3.AREA_UUID) as areaNm,
          Z3.AREA_UUID as areaUuid,
          Z3.TITLE as title,
          FC_AD_CODE_NM(Z3.OPEN_STATUS_UUID) as openStatusNm,
          Z3.OPEN_STATUS_UUID as openStatusUuid,
          Z3.ELECTRON_YN as electronYn,
          Z3.SOURCE_SYSTEM_UUID as sourceSystemUuid,
          Z3.CONTENTS_SIZE as contentsSize,
          FC_AD_CODE_NM(Z3.TYPE_UUID) as typeNm,
          Z3.TYPE_UUID as typeUuid,
          Z3.FILE_FORMAT_UUID as fileFormatUuid,
          Z3.THUMBNAIL as thumbnail,
          Z3.CHECKSUM_TYPE_UUID as checksumTypeUuid,
          Z3.CHECKSUM as checksum,
        <include refid="Common.UserName"><property name="userUuid" value="INSERT_UUID"/></include> as insertUuid,
          Z2.INSERT_DATE as insertDate,
        <include refid="Common.UserName"><property name="userUuid" value="UPDATE_UUID"/></include> as updateUuid,
          Z2.UPDATE_DATE as updateDate
        FROM
          RC_ITEM Z1, RC_ITEM_COMPONENT Z2, RC_COMPONENT Z3
        WHERE
          Z1.ITEM_UUID = Z2.ITEM_UUID
          AND Z3.COMPONENT_UUID = Z2.COMPONENT_UUID
        <if test="itemUuid != null">
          AND Z1.ITEM_UUID = #{itemUuid}
        </if>
    </select>
</mapper>