<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">


<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rc/rc003/rc003.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">

                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                        <ul class="bdb">
                            <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                            <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry}"/>
                        </ul>
                    </div>
                    <div class="div_tablerow">
                        <ul style="height: 30px; width: 100%" class="bdb">
                            <li style="width: 2%;"><img th:src="@{/assets/images/ams/icon/fo.png}" alt="folder"></li>
                            <li style="width: 78%; text-align: left" data-ax-path="navi"></li>
                            <li style="width: 19.5%; padding-right: 0.5%">
                            </li>

                        </ul>
                    </div>
                    <div class="bdb div_tablerow cont_title">
                        <ul style="height: 30px; width: 100%">
                            <li class="pdl_10" data-ax-path="rcHeadTitle">
                                Record Group - 2017's Seoul Digital Archives Material design guideline
                            </li>
                        </ul>
                    </div>

                    <div style="height:100%; width:100%" class="div_tablerow">

                        <div style="display:table; height:100%; width:16%; float:left" class="bdr">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Record Hierarchy')}"/>
                            </ul>

                            <ul class="bdb" style="height:30px;width:100%; float:left">
                                <li class="bdr"><a href="#" class="open_close" id="rg_tree_allopen">Expand</a></li>
                                <li><a href="#" class="open_close" id="rg_tree_allclose">Collapse</a></li>
                            </ul>
                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div data-z-tree="tree-view-01" data-fit-height-content="tree-view-01" style="height: 100%;width : 100%;overflow-x: auto; max-width: 271px;" class="ztree"></div>
                                <!--<div id="realgrid01" style="width:100%; height:100%"></div>-->
                            </div>
                        </div>
                        <!--오늘쪽 내용에서 좌측 트리부분-->

                        <div style="display:table; height:100%; width:84%; float:left">

                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Aggregation Details')}"/>
                            </ul>
                            <div style="height:100%; width:100%;" class="div_tablerow">
                                <div class="explorer_list">
                                    <div id="topmove" class="explorer_list_cont">

                                        <div class="bdt cont_wrap01" style="width: 86%;">

                                            <!-- system metadata -->
                                            <div class="serv_title" style="border-top:0; margin-top: 0">
                                                <span><b>System Metadata</b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">
                                                <ul>
                                                    <li style="width: 33%;">
                                                        <b>Code </b>
                                                        <div data-ax-path="rcAggregationCode"></div>
                                                    </li>
                                                    <li style="width: 33%;">
                                                        <b>Type </b>
                                                        <div data-ax-path="rcType"></div>
                                                    </li>
                                                    <li style="width: 34%;">
                                                        <b>Published Status </b>
                                                        <div data-ax-path="rcPublishedStatus"></div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 66%;">
                                                        <b>Title </b>
                                                        <div data-ax-path="rcTitle"></div>
                                                    </li>

                                                    <li style="width: 34%;">
                                                        <b>Level </b>
                                                        <div data-ax-path="rcLevel"></div>
                                                    </li>
                                                </ul>

                                                <ul style="padding-top: 32px">
                                                    <li style="width: 49%;">
                                                        <b>Description </b>
                                                        <div data-ax-path="rcDescription" >
                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Notes </b>
                                                        <div data-ax-path="rcNotes">
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Author </b>
                                                        <div data-ax-path="rcAuthor"></div>
                                                    </li>
                                                    <li style="width: 67%;">
                                                        <b>From </b>
                                                        <div data-ax-path="rcFrom"></div>
                                                    </li>

                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Date of Description </b>
                                                        <div data-ax-path="rcDateOfDescription"></div>
                                                    </li>
                                                </ul>

                                            </div>
                                            <!-- system metadata -->

                                            <!-- Contextual Metadata  -->
                                            <div class="bdb bdt mgt_10 bgf7 bdr bdl " style="padding: 5px;">
                                                <span><b>Contextual Metadata</b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">

                                                <ul>
                                                    <li style="width: 49%">
                                                        <ol>
                                                            <li>
                                                                <b>Provenance </b>
                                                                <div data-ax-path="rcProvenance"></div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Creator </b>
                                                                <div data-ax-path="rcCreator"></div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Date of Creation</b>
                                                                <div data-ax-path="rcDateOfCreation"></div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Reference Code </b>
                                                        <div data-ax-path="rcReferenceCode">
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>
                                            <!-- Contextual Metadata  -->


                                            <!-- Storage Service  -->
                                           <!-- <div class="togl01 serv_title">
                                                <b>Storage Service</b>
                                                <input type="button" value="▼" id="open_btn1" class="open_btn">
                                            </div>
                                            <div class="togl01_show serv_cont" style="padding: 30px 0">
                                                Storage Service contents
                                            </div>-->
                                            <!-- Storage Service -->


                                            <!-- Long Term Preservation Service  -->
                                            <!--<div class="togl02 serv_title">
                                                <b>Long Term Preservation Service</b>
                                                <input type="button" value="▼" id="open_btn2" class="open_btn">
                                            </div>
                                            <div class="togl02_show serv_cont">
                                                Long Term Preservation Service contents
                                            </div>-->
                                            <!-- Long Term Preservation Service -->


                                        </div>

                                        <!--우측메뉴 시작-->

                                        <div class="bdt cont_wrap02" style="width: 11%;">
                                            <div style="border:0px;">
                                                <!--<div class="bdb pdb_20" style="padding: 5px">
                                              <span><b>Title</b></span>
                                            </div>
                                            -->
                                                <!--ADD -->
                                                <div class="bdb pdb_30">
                                                    <ul>
                                                        <li>
                                                            <b>Add</b>
                                                        </li>
                                                        <li>
                                                            <a href="#" id="doAggregation">
                                                                <span><img src="/assets/images/ams/icon/icon12.png" alt="aggregation"></span>
                                                                <span>Aggregation</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" id="doItem">
                                                                <span><img src="/assets/images/ams/icon/icon11.png" alt="item"></span>
                                                                <span>Item</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--ADD -->


                                                <!--Editor-->
                                                <div class="bdb pdb_30">
                                                    <ul>
                                                        <li>
                                                            <b>Do</b>
                                                        </li>
                                                        <li>
                                                            <a href="#" id="edit">
                                                                <span><img src="/assets/images/ams/icon/icon05.png" alt="edit"></span>
                                                                <span>Edit</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                    <span><img src="images/icon/icon06.png"></span>
                                                    <span>Digital Object</span>
                                                    </li>-->
                                                        <li>
                                                            <a href="#" id="move">
                                                                <span><img src="/assets/images/ams/icon/icon07.png" alt="move"></span>
                                                                <span>Move</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                    <span><img src="images/icon/icon08.png"></span>
                                                    <span>Duplicate</span>
                                                    </li>-->
                                                        <li>
                                                            <a href="#" id="updateStatus">
                                                                <span><img src="/assets/images/ams/icon/icon15.png" alt="update"></span>
                                                                <span>Update Status</span>
                                                            </a>
                                                        </li>
                                                        <li style="border-bottom: 1px dotted #ddd; width: 85%">
                                                            <a href="#" id="delete">
                                                                <span><img src="/assets/images/ams/icon/icon13.png" alt="delete"></span>
                                                                <span>Delete</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--Editor-->


                                                <div class="top_move">
                                                    <a href="#topmove">&and;<br>Top</a>
                                                </div>
                                            </div>

                                        </div>
                                        <!--우측메뉴 끝-->

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>