<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">


<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rc/rc003/rc003.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">

                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                        <ul class="bdb">
                            <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                            <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry}"/>
                        </ul>
                    </div>
                    <div class="div_tablerow">
                        <ul style="height: 30px; width: 100%" class="bdb">
                            <li style="width: 2%;"><img th:src="@{/assets/images/ams/icon/fo.png}" alt="folder"></li>
                            <li style="width: 78%; text-align: left">Root > root2 > root3</li>
                            <li style="width: 19.5%; padding-right: 0.5%">
                                <!--    <div class="src_box3" ><input type=text>
                              <a href="#" id="dialog-link5">
                              <img src="images/search_normal.png" alt="search"></a>
                              </div>-->
                            </li>
                        </ul>
                    </div>
                    <div class="bdb div_tablerow cont_title">
                        <ul style="height: 30px; width: 100%">
                            <li class="pdl_10" data-ax-path="rcHeadTitle">
                                Record Group - 2017's Seoul Digital Archives Material design guideline
                            </li>
                        </ul>
                    </div>

                    <div style="height:100%; width:100%" class="div_tablerow">

                        <div style="display:table; height:100%; width:16%; float:left" class="bdr">
                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Record Hierarchy')}"/>
                            </ul>

                            <ul class="bdb" style="height:30px;width:100%; float:left">
                                <li class="bdr"><a href="#" class="open_close" id="rg_tree_allopen">Expand</a></li>
                                <li><a href="#" class="open_close" id="rg_tree_allclose">Collapse</a></li>
                            </ul>
                            <div style="height:100%; width:100%" class="div_tablerow bdb">
                                <div data-z-tree="tree-view-01" data-fit-height-content="tree-view-01" style="height: 100%;width : 100%;overflow-x: auto; max-width: 271px;" class="ztree"></div>
                                <!--<div id="realgrid01" style="width:100%; height:100%"></div>-->
                            </div>
                        </div>
                        <!--오늘쪽 내용에서 좌측 트리부분-->

                        <div style="display:table; height:100%; width:84%; float:left">

                            <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                <th:block layout:insert="~{/fragments/page-buttons :: dot('Aggregation Details')}"/>
                            </ul>
                            <div style="height:100%; width:100%;" class="div_tablerow">
                                <div class="explorer_list">
                                    <div id="topmove" class="explorer_list_cont">

                                        <div class="bdt cont_wrap01" style="width: 86%;">

                                            <!-- system metadata -->
                                            <div class="serv_title" style="border-top:0; margin-top: 0">
                                                <span><b>System Metadata</b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">
                                                <ul>
                                                    <li style="width: 33%;">
                                                        <b>Code </b>
                                                        <div data-ax-path="rcAggregationCode">wo0120</div>
                                                    </li>
                                                    <li style="width: 33%;">
                                                        <b>Type </b>
                                                        <div data-ax-path="rcType">Normal</div>
                                                    </li>
                                                    <li style="width: 34%;">
                                                        <b>Published Status </b>
                                                        <div data-ax-path="rcPublishedStatus">Published</div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 66%;">
                                                        <b>Title </b>
                                                        <div data-ax-path="rcTitle">2017's Seoul Digital Archives Material design guideline
                                                        </div>
                                                    </li>

                                                    <li style="width: 34%;">
                                                        <b>Level </b>
                                                        <div data-ax-path="rcLevel">Record Group</div>
                                                    </li>
                                                </ul>

                                                <ul style="padding-top: 32px">
                                                    <li style="width: 49%;">
                                                        <b>Description </b>
                                                        <div data-ax-path="rcDescription" >
                                                            서울특별시는 1946년 서울시청으로 출범하여, 1949년 서울특별시청으로 승격되었다. 주요 업무는 정책 및
                                                            기획, 예산 및 조직 관리, 정보화 사업 추진, 청사 및 문서 관리, 사유재산 관리, 지역 산업정책 수립
                                                            집행, 종합방재계획 수립, 재난 및 복구, 민바우이, 교통정책 등의 업무를 수행한다. 또 주택계획 및
                                                            재개발, 여성정책, 감사 및 국제협력, 시민 보건복지, 문화예술 진흥 및 관광진흥, 도시계획 수립 및 조정,
                                                            도시 생태계 보호, 건설행정, 도로사업, 하천·유수지 관리, 시설물 안전점검 및 유지 관리, 도로 복구,
                                                            청계천복원 총괄 계획수립·조정, 지하철 건설공사 및 재산 관리, 수돗물의 안전 공급과 급수 등 서울특별시와
                                                            관련된 전반적인 업무를 총괄한다.
                                                            <br> 서울특별시 기록물군은 조직의 기능과 기록물 유형에 따라 행정지원, 건설건축지원, 농업기반시설관리,
                                                            사회단체관리, 사회복지시설관리, 소방관리, 지방세정, 지역 및 도시개발산업지원, 토지지적관리, 정부간행물의
                                                            13개 기록물계열로 구성되어 있다.

                                                        </div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Notes </b>
                                                        <div data-ax-path="rcNotes">
                                                            "1955.07.15 국군묘지로 발족
                                                            <br> 1965.03.30 국립묘지로 승격, 개칭
                                                            <br> 1996.06.01 국립현충원으로 기관명칭 개칭
                                                            <br> 2006.01.30 국립서울현충원으로 관리가관 명칭 변경
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Author </b>
                                                        <div data-ax-path="rcAuthor">김태형(1986~)</div>
                                                    </li>
                                                    <li style="width: 67%;">
                                                        <b>From </b>
                                                        <div data-ax-path="rcFrom">Record Group : 2017's Seoul Digital Archives Material</div>
                                                    </li>

                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 33%;">
                                                        <b>Date of Description </b>
                                                        <div data-ax-path="rcDateOfDescription"> 2017-01-01</div>
                                                    </li>
                                                    <li style="width: 67%;">
                                                        <b>Includes </b>
                                                        <div>
                                                            <br>
                                                        </div>
                                                    </li>

                                                </ul>

                                            </div>
                                            <!-- system metadata -->

                                            <!-- Contextual Metadata  -->
                                            <div class="bdb bdt mgt_10 bgf7 bdr bdl " style="padding: 5px;">
                                                <span><b>Contextual Metadata</b></span>
                                            </div>
                                            <div class="bdb" style="padding: 5px;">

                                                <ul>
                                                    <li style="width: 49%">
                                                        <ol>
                                                            <li>
                                                                <b>Provenance </b>
                                                                <div data-ax-path="rcProvenance">서울특별시 >> 행정국 >> 정보공개정책과 >> 기록문화팀</div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Creator </b>
                                                                <div data-ax-path="rcCreator">Whatomugh, Isaac Abraham(1996~2014)</div>
                                                            </li>
                                                            <li class="pdt_20">
                                                                <b>Date of Creation</b>
                                                                <div data-ax-path="rcDateOfCreation">[between 1955 and 1965]</div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Reference Code </b>
                                                        <div data-ax-path="rcReferenceCode">
                                                            c7db746c-2344-4efc-f7ca3b483ecc
                                                            <br> (구전자문서 시스템)
                                                            <br> 1331383-ZZ00007-2004-000001-002
                                                            <br> (신전자문서 시스템)
                                                            <br>
                                                            04-1312241-B1000620080806000214547-2013-TRD05781C55A763FA
                                                            <br> (표준 기록관리 시스템)
                                                        </div>
                                                    </li>
                                                </ul>

                                                <!--<ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 01 </b>
                                                        <div data-ax-path="rcAddMetadata01"> Additional Metadata Contents 01</div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 02 </b>
                                                        <div data-ax-path="rcAddMetadata02">Additional Metadata Contents 02</div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 03 </b>
                                                        <div data-ax-path="rcAddMetadata03"> Additional Metadata Contents 03</div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 04 </b>
                                                        <div data-ax-path="rcAddMetadata04">Additional Metadata Contents 04</div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 05 </b>
                                                        <div data-ax-path="rcAddMetadata05"> Additional Metadata Contents 05</div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 06 </b>
                                                        <div data-ax-path="rcAddMetadata06">Additional Metadata Contents 06</div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 07 </b>
                                                        <div data-ax-path="rcAddMetadata07"> Additional Metadata Contents 07</div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 08 </b>
                                                        <div data-ax-path="rcAddMetadata08">Additional Metadata Contents 08</div>
                                                    </li>
                                                </ul>

                                                <ul class="pdt_20">
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 09 </b>
                                                        <div data-ax-path="rcAddMetadata09"> Additional Metadata Contents 09</div>
                                                    </li>
                                                    <li style="width: 2%;">
                                                    </li>
                                                    <li style="width: 49%;">
                                                        <b>Additional Metadata 10 </b>
                                                        <div data-ax-path="rcAddMetadata10">Additional Metadata Contents 11</div>
                                                    </li>
                                                </ul>-->

                                            </div>
                                            <!-- Contextual Metadata  -->


                                            <!-- Storage Service  -->
                                            <div class="togl01 serv_title">
                                                <b>Storage Service</b>
                                                <input type="button" value="▼" id="open_btn1" class="open_btn">
                                            </div>
                                            <div class="togl01_show serv_cont" style="padding: 30px 0">
                                                Storage Service contents
                                            </div>
                                            <!-- Storage Service -->


                                            <!-- Long Term Preservation Service  -->
                                            <div class="togl02 serv_title">
                                                <b>Long Term Preservation Service</b>
                                                <input type="button" value="▼" id="open_btn2" class="open_btn">
                                            </div>
                                            <div class="togl02_show serv_cont">
                                                Long Term Preservation Service contents
                                            </div>
                                            <!-- Long Term Preservation Service -->


                                        </div>

                                        <!--우측메뉴 시작-->

                                        <div class="bdt cont_wrap02" style="width: 11%;">
                                            <div style="border:0px;">
                                                <!--<div class="bdb pdb_20" style="padding: 5px">
                                              <span><b>Title</b></span>
                                            </div>
                                            -->
                                                <!--ADD -->
                                                <div class="bdb pdb_30">
                                                    <ul>
                                                        <li>
                                                            <b>Add</b>
                                                        </li>
                                                        <li>
                                                            <a href="#" id="doAggregation">
                                                                <span><img src="/assets/images/ams/icon/icon12.png" alt="aggregation"></span>
                                                                <span>Aggregation</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" id="doItem">
                                                                <span><img src="/assets/images/ams/icon/icon11.png" alt="item"></span>
                                                                <span>Item</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--ADD -->


                                                <!--Editor-->
                                                <div class="bdb pdb_30">
                                                    <ul>
                                                        <li>
                                                            <b>Do</b>
                                                        </li>
                                                        <li>
                                                            <a href="#" id="edit">
                                                                <span><img src="/assets/images/ams/icon/icon05.png" alt="edit"></span>
                                                                <span>Edit</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                    <span><img src="images/icon/icon06.png"></span>
                                                    <span>Digital Object</span>
                                                    </li>-->
                                                        <li>
                                                            <a href="#" id="move">
                                                                <span><img src="/assets/images/ams/icon/icon07.png" alt="move"></span>
                                                                <span>Move</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                    <span><img src="images/icon/icon08.png"></span>
                                                    <span>Duplicate</span>
                                                    </li>-->
                                                        <li>
                                                            <a href="#" id="updateStatus">
                                                                <span><img src="/assets/images/ams/icon/icon15.png" alt="update"></span>
                                                                <span>Update Status</span>
                                                            </a>
                                                        </li>
                                                        <li style="border-bottom: 1px dotted #ddd; width: 85%">
                                                            <a href="#" id="delete">
                                                                <span><img src="/assets/images/ams/icon/icon13.png" alt="delete"></span>
                                                                <span>Delete</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--Editor-->


                                                <div class="top_move">
                                                    <a href="#topmove">&and;<br>Top</a>
                                                </div>
                                            </div>

                                        </div>
                                        <!--우측메뉴 끝-->

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>