<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.rs.rs003.dao.Rs003Mapper">
    <select id="getRsRecordScheduleList" resultType="Rs00301VO" parameterType="Rs00301VO" statementType="PREPARED">
        SELECT
            A.RECORD_SCHEDULE_UUID as recordScheduleUuid,
            A.GENERAL_RECORD_SCHEDULE_UUID as generalRecordScheduleUuid,
            A.TRIGGER_UUID as triggerUuid,
            A.STATUS_UUID as statusUuid,
            A.RS_CODE as rsCode,
            A.RS_NAME as rsName,
            B.GRS_CODE as grsCode,
            B.GRS_NAME as grsName,
            A.RETENTION_PERIOD_UUID as retentionPeriodUuid,
            A.DISPOSAL_TYPE_UUID as disposalTypeUuid,
            A.BASED_ON as basedOn,
            T.TRIGGER_NAME as triggerName,
            TO_CHAR(T.TRIGGER_DATE,'YYYY-MM-DD') as triggerDate,
            A.DESCRIPTION as description,
            A.NOTES as notes,
            A.USE_YN as useYn,
            A.RE_CALCULATION_YN as reCalculationYn,
            <include refid="Common.UserName"><property name="userUuid" value="A.INSERT_UUID"/></include> as insertUuid,
            A.INSERT_DATE as insertDate,
            <include refid="Common.UserName"><property name="userUuid" value="A.UPDATE_UUID"/></include> as updateUuid,
            A.UPDATE_DATE as updateDate,
            (
              SELECT Count(ITEM_UUID)
              FROM RS_RECORD_SCHEDULE_RESULT
              WHERE A.RECORD_SCHEDULE_UUID = RECORD_SCHEDULE_UUID
            ) as relatedItems
        FROM
          RS_RECORD_SCHEDULE A, RS_GENERAL_RECORD_SCHEDULE B, RS_TRIGGER T
        <where>
            A.TRIGGER_UUID = T.TRIGGER_UUID(+)
            AND A.GENERAL_RECORD_SCHEDULE_UUID = B.GENERAL_RECORD_SCHEDULE_UUID(+)
            <if test="statusUuid != null">
                AND A.STATUS_UUID = #{statusUuid}
            </if>
            <if test="retentionPeriodUuid != null">
                AND A.RETENTION_PERIOD_UUID = #{retentionPeriodUuid}
            </if>
            <if test="disposalTypeUuid != null">
                AND A.DISPOSAL_TYPE_UUID = #{disposalTypeUuid}
            </if>
            <if test="useYn != null">
                AND A.USE_YN = #{useYn}
            </if>
            <if test="grsCode != null">
                AND B.GRS_CODE = #{grsCode}
            </if>
            <if test="rsCode != null">
                AND A.RS_CODE LIKE '%'||#{rsCode}||'%'
            </if>
            <if test="rsName != null">
                AND A.RS_NAME LIKE '%'||#{rsName}||'%'
            </if>
            <if test="triggerYn != null and triggerYn.equalsIgnoreCase('Y')">
                AND T.TRIGGER_NAME IS NOT NULL
            </if>
            <if test="triggerYn != null and triggerYn.equalsIgnoreCase('N')">
                AND T.TRIGGER_NAME IS NULL
            </if>
        </where>
        ORDER BY RS_CODE
    </select>
</mapper>