<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.lt.lt001.dao.Lt001Mapper">

    <select id="searchList" resultType="Lt00101VO" parameterType="Lt00101VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            FILE_FORMAT_UUID AS fileFormatUuid,
            PUID AS puid,
            FORMAT_NAME AS formatName,
            FORMAT_VERSION AS formatVersion,
            FORMAT_RISK AS formatRisk,
            EXTENSION AS extension,
            FORMAT_GROUP_UUID AS formatGroupUuid,
            DESCRIPTION AS description,
            NOTES AS notes,
            USE_YN AS useYn,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            INSERT_DATE AS insertDate,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="UPDATE_UUID"/>
        </include>
        AS updateUuid,

        <![CDATA[
            UPDATE_DATE AS  updateDate
        FROM
            LT_FILE_FORMAT
        WHERE 1=1
        ]]>
        <if test="null != puid and '' != puid">
            <![CDATA[
          AND PUID LIKE '%' || #{puid} || '%'
        ]]>
        </if>
        <if test="null != formatName and '' != formatName">
            <![CDATA[
          AND FORMAT_NAME LIKE '%' || #{formatName} || '%'
        ]]>
        </if>
        <if test="null != formatVersion and '' != formatVersion">
            <![CDATA[
          AND FORMAT_VERSION LIKE '%' || #{formatVersion} || '%'
        ]]>
        </if>
        <if test="null != formatRisk and '' != formatRisk">
            <![CDATA[
          AND FORMAT_RISK LIKE '%' || #{formatName} || '%'
        ]]>
        </if>
        <if test="null != extension and '' != extension">
            <![CDATA[
          AND EXTENTION LIKE '%' || #{extension} || '%'
        ]]>
        </if>
        <if test="null != formatGroupUuid and '' != formatGroupUuid">
            <![CDATA[
          AND FORMAT_GROUP_UUID = #{formatGroupUuid}
        ]]>
        </if>
        <if test="null != useYN and '' != useYN">
            <![CDATA[
          AND  USE_YN = #{useYN}
        ]]>
        </if>
    </select>

    <select id="checkUpdate" resultType="int" parameterType="Lt00101VO" statementType="PREPARED">
        SELECT
         ((SELECT COUNT(PUID) FROM LT_FILE_FORMAT WHERE PUID= #{puid}) +
         (SELECT COUNT(FORMAT_NAME) FROM LT_FILE_FORMAT WHERE FORMAT_NAME= #{formatName})) AS CNT
        FROM DUAL
    </select>
</mapper>