<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad001.dao.Ad001Mapper">

    <select id="select" resultType="Ad00101VO" parameterType="Ad00101VO" statementType="PREPARED">
            <![CDATA[
            SELECT
               Z.CONFIGURATION_UUID configurationUUID,
               Z.CONFIGURATION_CODE configurationCode,
               Z.CONFIGURATION_VALUE configurationValue,
               Z.SERVICE_UUID serviceUuid,
               Z.DESCRIPTION description,
               Z.NOTES notes,
               Z.USE_YN useYN,
            ]]>
               <include refid="Common.UserName"><property name="userUuid" value="Z.INSERT_UUID"/></include> as insertUuid,
            <![CDATA[
               Z.INSERT_DATE as insertDate,
            ]]>
               <include refid="Common.UserName"><property name="userUuid" value="Z.UPDATE_UUID"/></include> as updateUuid,
            <![CDATA[
               Z.UPDATE_DATE as updateDate
            FROM
               AD_CONFIGURATION Z
            WHERE
              1=1
            ]]>
        <if test="null != configurationCode and '' != configurationCode">
            <![CDATA[
            AND
            Z.CONFIGURATION_CODE LIKE '%' || #{configurationCode} || '%'
            ]]>
        </if>
        <if test="null != configurationValue and '' != configurationValue">
            <![CDATA[
            AND
            Z.CONFIGURATION_VALUE LIKE '%' || #{configurationValue} || '%'
            ]]>
        </if>
        <if test="null != serviceUuid and '' != serviceUuid">
            <![CDATA[
            AND
            Z.SERVICE_UUID = #{serviceUuid}
            ]]>
        </if>
        <if test="null != useYN and '' != useYN">
            <![CDATA[
            AND
            Z.USE_YN = #{useYN}
            ]]>
        </if>
        ORDER BY Z.CONFIGURATION_CODE ASC
    </select>

</mapper>