<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rmsoft.ams.seoul.rc.rc005.dao.Rc005Mapper">
    <resultMap id="getItemInfoMap" type="Rc00501VO">
        <result property="raTitle" column="raTitle" />
        <result property="raAggregationUuid" column="raAggregationUuid" />
        <result property="raPublishedStatusUuid" column="raPublishedStatusUuid" />
        <result property="raAggregationCode" column="raAggregationCode" />
        <result property="raTypeUuid" column="raTypeUuid" />
        <result property="raParentAggregationUuid" column="raParentAggregationUuid" />
        <result property="raLevelUuid" column="raLevelUuid" />
        <result property="raLevelNm" column="raLevelNm" />
        <result property="raAuthor" column="raAuthor" />
        <result property="raDescriptionStartDate" column="raDescriptionStartDate" />
        <result property="raDescriptionEndDate" column="raDescriptionEndDate" />
        <result property="description" column="description" />
        <result property="notes" column="notes" />
        <result property="insertUuid" column="insertUuid" />
        <result property="insertDate" column="insertDate" />
        <result property="updateUuid" column="updateUuid" />
        <result property="updateDate" column="updateDate" />
        <result property="riItemUuid" column="riItemUuid" />
        <result property="riPublishedStatusNm" column="riPublishedStatusNm" />
        <result property="riPublishedStatusUuid" column="riPublishedStatusUuid" />
        <result property="riItemCode" column="riItemCode" />
        <result property="riTypeUuid" column="riTypeUuid" />
        <result property="name" column="name" />
        <result property="riTypeNm" column="riTypeNm" />
        <result property="riAggregationUuid" column="riAggregationUuid" />
        <result property="riAuthor" column="riAuthor" />
        <result property="riDescriptionStartDate" column="riDescriptionStartDate" />
        <result property="riDescriptionEndDate" column="riDescriptionEndDate" />
        <result property="description1" column="description1" />
        <result property="notes1" column="notes1" />
        <!--<result property="insertUuid1" column="insertUuid1" />
        <result property="insertDate1" column="insertDate1" />
        <result property="updateUuid1" column="updateUuid1" />
        <result property="updateDate1" column="updateDate1" />-->
        <result property="openStatusUuid" column="openStatusUuid" />
        <result property="keyword" column="keyword" />
        <result property="referenceCode" column="referenceCode" />
        <result property="provenance" column="provenance" />
        <result property="creator" column="creator" />
        <result property="creationStartDate" column="creationStartDate" />
        <result property="creationEndDate" column="creationEndDate" />
        <result property="addMetadata01" column="addMetadata01" />
        <result property="addMetadata02" column="addMetadata02" />
        <result property="addMetadata03" column="addMetadata03" />
        <result property="addMetadata04" column="addMetadata04" />
        <result property="addMetadata05" column="addMetadata05" />
        <result property="addMetadata06" column="addMetadata06" />
        <result property="addMetadata07" column="addMetadata07" />
        <result property="addMetadata08" column="addMetadata08" />
        <result property="addMetadata09" column="addMetadata09" />
        <result property="addMetadata10" column="addMetadata10" />
        <result property="languageCode" column="languageCode" />
        <result property="statusDescription" column="statusDescription" />
        <result property="levelOfDetailUuid" column="levelOfDetailUuid" />
        <result property="extraMetadata" column="extraMetadata" jdbcType="CLOB" javaType="java.lang.String" />
        <result property="sourceSystemUuid" column="sourceSystemUuid" />
        <result property="creationSystemUuid" column="creationSystemUuid" />
        <result property="addMetaTemplateSetUuid" column="addMetaTemplateSetUuid" />
        <result property="legalStatusUuid" column="legalStatusUuid" />
        <result property="repositoriesUuid" column="repositoriesUuid" />
        <result property="repositoriesName" column="repositoriesName" />
        <result property="electronicRecordStatusUuid" column="electronicRecordStatusUuid" />
        <result property="accumulationStartDate" column="accumulationStartDate" />
        <result property="accumulationEndDate" column="accumulationEndDate" />
        <result property="scopeContent" column="scopeContent" />
        <result property="custodialHistory" column="custodialHistory" />
        <result property="sourceAcquisitionUuid" column="sourceAcquisitionUuid" />
        <result property="sourceAcquisitionName" column="sourceAcquisitionName" />
        <result property="physicalCondition" column="physicalCondition" />
        <result property="useCondition" column="useCondition" />
        <result property="findingAids" column="findingAids" />
        <result property="rulesConversionUuid" column="rulesConversionUuid" />
        <result property="recordScheduleUuid" column="recordScheduleUuid" />
        <result property="accessCondition" column="accessCondition" />
        <!--<result property="insertUuid2" column="insertUuid2" />
        <result property="insertDate2" column="insertDate2" />
        <result property="updateUuid2" column="updateUuid2" />
        <result property="updateDate2" column="updateDate2" />-->
    </resultMap>

    <select id="getRecordItemList" resultMap="getItemInfoMap" statementType="PREPARED">
        SELECT
            ZZ1.LEVEL_VALUE,
            ZZ1.TITLE as raTitle,
            ZZ1.AGGREGATION_UUID as raAggregationUuid,
            ZZ1.PUBLISHED_STATUS_UUID as raPublishedStatusUuid,
            ZZ1.AGGREGATION_CODE as raAggregationCode,
            ZZ1.TYPE_UUID as raTypeUuid,
            ZZ1.PARENT_AGGREGATION_UUID as raParentAggregationUuid,
            ZZ1.LEVEL_UUID as raLevelUuid,
            FC_AD_CODE_NM(ZZ1.LEVEL_UUID) as raLevelNm,
            ZZ1.AUTHOR as raAuthor,
            ZZ1.DESCRIPTION_START_DATE as raDescriptionStartDate,
            ZZ1.DESCRIPTION_END_DATE as raDescriptionEndDate,
            ZZ1.DESCRIPTION as description,
            ZZ1.NOTES as notes,
            ZZ1.INSERT_UUID as insertUuid,
            ZZ1.INSERT_DATE as insertDate,
            ZZ1.UPDATE_UUID as updateUuid,
            ZZ1.UPDATE_DATE as updateDate,
            ZZ1.ITEM_UUID as riItemUuid,
            FC_AD_CODE_NM(ZZ1.PUBLISHED_STATUS_UUID1) as riPublishedStatusNm,
            ZZ1.PUBLISHED_STATUS_UUID1 as riPublishedStatusUuid,
            ZZ1.ITEM_CODE as riItemCode,
            NVL(ZZ1.TITLE1 ,ZZ1.TITLE) as name,
            ZZ1.TYPE_UUID1 as riTypeUuid,
            FC_AD_CODE_NM(ZZ1.TYPE_UUID1) as riTypeNm,
            ZZ1.AGGREGATION_UUID1 as riAggregationUuid,
            ZZ1.AUTHOR1 as riAuthor,
            ZZ1.DESCRIPTION_START_DATE1 as riDescriptionStartDate,
            ZZ1.DESCRIPTION_END_DATE1 as riDescriptionEndDate,
            ZZ1.DESCRIPTION1 as description1,
            ZZ1.NOTES1 as notes1,
            ZZ1.INSERT_UUID1 as insertUuid1,
            ZZ1.INSERT_DATE1 as insertDate1,
            ZZ1.UPDATE_UUID1 as updateUuid1,
            ZZ1.UPDATE_DATE1 as updateDate1,
            ZZ1.LANGUAGE_CODE as languageCode,
            ZZ1.STATUS_DESCRIPTION as statusDescription,
            ZZ1.LEVEL_OF_DETAIL_UUID as levelOfDetailUuid,
            FC_AD_CODE_NM(ZZ1.OPEN_STATUS_UUID) as openStatusUuid,
            ZZ1.KEYWORD as keyword,
            ZZ1.REFERENCE_CODE as referenceCode,
            ZZ1.PROVENANCE as provenance,
            ZZ1.CREATOR as creator ,
            ZZ1.CREATION_START_DATE as creationStartDate,
            ZZ1.CREATION_END_DATE as creationEndDate,
            ZZ1.ADD_METADATA01 as addMetadata01,
            ZZ1.ADD_METADATA02 as addMetadata02,
            ZZ1.ADD_METADATA03 as addMetadata03,
            ZZ1.ADD_METADATA04 as addMetadata04,
            ZZ1.ADD_METADATA05 as addMetadata05,
            ZZ1.ADD_METADATA06 as addMetadata06,
            ZZ1.ADD_METADATA07 as addMetadata07,
            ZZ1.ADD_METADATA08 as addMetadata08,
            ZZ1.ADD_METADATA09 as addMetadata09,
            ZZ1.ADD_METADATA10 as addMetadata10,
            ZZ1.EXTRA_METADATA as extraMetadata,
            ZZ1.SOURCE_SYSTEM_UUID as sourceSystemUuid,
            ZZ1.CREATION_SYSTEM_UUID as creationSystemUuid,
            ZZ1.ADD_META_TEMPLATE_SET_UUID as addMetaTemplateSetUuid,
            ZZ1.LEGAL_STATUS_UUID as legalStatusUuid,
            ZZ1.REPOSITORIES_UUID as repositoriesUuid,
            ZZ1.REPOSITORIES_NAME as repositoriesName,
            ZZ1.ELECTRONIC_RECORD_STATUS_UUID as electronicRecordStatusUuid,
            ZZ1.ACCUMULATION_START_DATE as accumulationStartDate,
            ZZ1.ACCUMULATION_END_DATE as accumulationEndDate,
            ZZ1.SCOPE_CONTENT as scopeContent,
            ZZ1.CUSTODIAL_HISTORY as custodialHistory,
            ZZ1.SOURCE_ACQUISITION_UUID as sourceAcquisitionUuid,
            ZZ1.SOURCE_ACQUISITION_NAME as sourceAcquisitionName,
            ZZ1.PHYSICAL_CONDITION as physicalCondition,
            ZZ1.USE_CONDITION as useCondition,
            ZZ1.FINDING_AIDS as findingAids,
            ZZ1.RULES_CONVERSION_UUID as rulesConversionUuid,
            ZZ1.RECORD_SCHEDULE_UUID as recordScheduleUuid,
            ZZ1.ACCESS_CONDITION as accessCondition,
            ZZ1.INSERT_UUID2 as insertUuid2,
            ZZ1.INSERT_DATE2 as insertDate2,
            ZZ1.UPDATE_UUID2 as updateUuid2,
            ZZ1.UPDATE_DATE2 as updateDate2
        FROM
         (  SELECT
                LEVEL AS LEVEL_VALUE,
                Z1.TITLE,
                Z1.AGGREGATION_UUID,
                Z1.PUBLISHED_STATUS_UUID,
                Z1.AGGREGATION_CODE,
                Z1.TYPE_UUID,
                Z1.PARENT_AGGREGATION_UUID,
                Z1.LEVEL_UUID,
                Z1.AUTHOR,
                Z1.DESCRIPTION_START_DATE,
                Z1.DESCRIPTION_END_DATE,
                Z1.DESCRIPTION,
                Z1.NOTES,
                Z1.INSERT_UUID,
                Z1.INSERT_DATE,
                Z1.UPDATE_UUID,
                Z1.UPDATE_DATE,
                '' as ITEM_UUID,
                '' as PUBLISHED_STATUS_UUID1,
                '' as ITEM_CODE,
                '' as TITLE1,
                '' as TYPE_UUID1,
                '' as AGGREGATION_UUID1,
                '' as AUTHOR1,
                '' as DESCRIPTION_START_DATE1,
                '' as DESCRIPTION_END_DATE1,
                '' as DESCRIPTION1,
                '' as NOTES1,
                '' as INSERT_UUID1,
                SYSDATE as INSERT_DATE1,
                '' as UPDATE_UUID1,
                SYSDATE as UPDATE_DATE1,
                '' as LANGUAGE_CODE,
                '' as STATUS_DESCRIPTION,
                '' as LEVEL_OF_DETAIL_UUID,
                '' as OPEN_STATUS_UUID,
                '' as KEYWORD,
                '' as REFERENCE_CODE,
                '' as PROVENANCE,
                '' as CREATOR ,
                '' as CREATION_START_DATE,
                '' as CREATION_END_DATE,
                '' as ADD_METADATA01,
                '' as ADD_METADATA02,
                '' as ADD_METADATA03,
                '' as ADD_METADATA04,
                '' as ADD_METADATA05,
                '' as ADD_METADATA06,
                '' as ADD_METADATA07,
                '' as ADD_METADATA08,
                '' as ADD_METADATA09,
                '' as ADD_METADATA10,
                TO_CLOB('') as EXTRA_METADATA,
                '' as SOURCE_SYSTEM_UUID,
                '' as CREATION_SYSTEM_UUID,
                '' as ADD_META_TEMPLATE_SET_UUID,
                '' as LEGAL_STATUS_UUID,
                '' as REPOSITORIES_UUID,
                '' as REPOSITORIES_NAME,
                '' as ELECTRONIC_RECORD_STATUS_UUID,
                '' as ACCUMULATION_START_DATE,
                '' as ACCUMULATION_END_DATE,
                '' as SCOPE_CONTENT,
                '' as CUSTODIAL_HISTORY,
                '' as SOURCE_ACQUISITION_UUID,
                '' as SOURCE_ACQUISITION_NAME,
                '' as PHYSICAL_CONDITION,
                '' as USE_CONDITION,
                '' as FINDING_AIDS,
                '' as RULES_CONVERSION_UUID,
                '' as RECORD_SCHEDULE_UUID,
                '' as ACCESS_CONDITION,
                '' as INSERT_UUID2,
                SYSDATE as INSERT_DATE2,
                '' as UPDATE_UUID2,
                SYSDATE as UPDATE_DATE2
        FROM
            RC_AGGREGATION Z1 START WITH
            <if test="riAggregationUuid != null">
              Z1.AGGREGATION_UUID = #{riAggregationUuid}
            </if>
        CONNECT   BY
            Z1.AGGREGATION_UUID= PRIOR Z1.PARENT_AGGREGATION_UUID
        UNION ALL
                SELECT
                    99 AS LEVEL_VALUE,
                    '' as TITLE,
                    '' as AGGREGATION_UUID,
                    '' as PUBLISHED_STATUS_UUID,
                    '' as AGGREGATION_CODE,
                    '' as TYPE_UUID,
                    Z01.AGGREGATION_UUID as PARENT_AGGREGATION_UUID,
                    '' as LEVEL_UUID,
                    '' as AUTHOR,
                    '' as DESCRIPTION_START_DATE,
                    '' as DESCRIPTION_END_DATE,
                    '' as DESCRIPTION,
                    '' as NOTES,
                    '' as INSERT_UUID,
                    SYSDATE as INSERT_DATE,
                    '' as UPDATE_UUID,
                    SYSDATE as UPDATE_DATE,
                    Z01.ITEM_UUID,
                    Z01.PUBLISHED_STATUS_UUID as PUBLISHED_STATUS_UUID1,
                    Z01.ITEM_CODE,
                    Z01.TITLE as TITLE1,
                    Z01.TYPE_UUID as TYPE_UUID1 ,
                    Z01.AGGREGATION_UUID as AGGREGATION_UUID1,
                    Z01.AUTHOR as AUTHOR1,
                    Z01.DESCRIPTION_START_DATE as DESCRIPTION_START_DATE1,
                    Z01.DESCRIPTION_END_DATE as DESCRIPTION_END_DATE1,
                    Z01.DESCRIPTION as DESCRIPTION1,
                    Z01.NOTES as NOTES1,
                    Z01.INSERT_UUID as INSERT_UUID1,
                    Z01.INSERT_DATE as INSERT_DATE1,
                    Z01.UPDATE_UUID as UPDATE_UUID1,
                    Z01.UPDATE_DATE as UPDATE_DATE1,
                    Z01.LANGUAGE_CODE,
                    Z01.STATUS_DESCRIPTION,
                    Z01.LEVEL_OF_DETAIL_UUID,
                    Z02.OPEN_STATUS_UUID,
                    Z02.KEYWORD,
                    Z02.REFERENCE_CODE,
                    Z02.PROVENANCE,
                    Z02.CREATOR,
                    Z02.CREATION_START_DATE,
                    Z02.CREATION_END_DATE,
                    Z02.ADD_METADATA01,
                    Z02.ADD_METADATA02,
                    Z02.ADD_METADATA03,
                    Z02.ADD_METADATA04,
                    Z02.ADD_METADATA05,
                    Z02.ADD_METADATA06,
                    Z02.ADD_METADATA07,
                    Z02.ADD_METADATA08,
                    Z02.ADD_METADATA09,
                    Z02.ADD_METADATA10,
                    Z02.EXTRA_METADATA,
                    Z02.SOURCE_SYSTEM_UUID,
                    Z02.CREATION_SYSTEM_UUID,
                    Z02.ADD_META_TEMPLATE_SET_UUID,
                    Z02.LEGAL_STATUS_UUID,
                    Z02.REPOSITORIES_UUID,
                    (SELECT AUTHORITY_NAME FROM AT_AUTHORITY WHERE AUTHORITY_UUID = Z02.REPOSITORIES_UUID) as REPOSITORIES_NAME,
                    Z02.ELECTRONIC_RECORD_STATUS_UUID,
                    Z02.ACCUMULATION_START_DATE,
                    Z02.ACCUMULATION_END_DATE,
                    Z02.SCOPE_CONTENT,
                    Z02.CUSTODIAL_HISTORY,
                    Z02.SOURCE_ACQUISITION_UUID,
                    (SELECT AUTHORITY_NAME FROM AT_AUTHORITY WHERE AUTHORITY_UUID = Z02.SOURCE_ACQUISITION_UUID) as SOURCE_ACQUISITION_NAME,
                    Z02.PHYSICAL_CONDITION,
                    Z02.USE_CONDITION,
                    Z02.FINDING_AIDS,
                    Z02.RULES_CONVERSION_UUID,
                    Z02.RECORD_SCHEDULE_UUID,
                    Z02.ACCESS_CONDITION,
                    Z02.INSERT_UUID AS INSERT_UUID2,
                    Z02.INSERT_DATE AS INSERT_DATE2,
                    Z02.UPDATE_UUID AS UPDATE_UUID2,
                    Z02.UPDATE_DATE AS UPDATE_DATE2
                FROM
                    RC_ITEM Z01 ,
                    RC_ITEM_CON Z02
                    WHERE
                        Z01.ITEM_UUID = Z02.ITEM_UUID
                        <if test="riItemUuid != null">
                          AND Z01.ITEM_UUID =  #{riItemUuid}
                        </if>
                        <if test="riAggregationUuid != null">
                          AND Z01.AGGREGATION_UUID = #{riAggregationUuid}
                        </if>
                        ) ZZ1
                    ORDER BY
                    ZZ1.LEVEL_VALUE
    </select>
    <select id="getRecordComponentList" resultType="RC00502VO" statementType="PREPARED">
        SELECT
          Z2.ITEM_COMPONENT_UUID as itemComponentUuid,
          Z2.ITEM_UUID as itemUuid,
          Z2.COMPONENT_UUID as componentUuid,
          Z3.PUBLICATION_STATUS_UUID as publicationStatusUuid,
          FC_AD_CODE_NM(Z3.AREA_UUID) as areaNm,
          Z3.AREA_UUID as areaUuid,
          Z3.TITLE as title,
          FC_AD_CODE_NM(Z3.OPEN_STATUS_UUID) as openStatusNm,
          Z3.OPEN_STATUS_UUID as openStatusUuid,
          Z3.ELECTRON_YN as electronYn,
          Z3.SOURCE_SYSTEM_UUID as sourceSystemUuid,
          Z3.CONTENTS_SIZE as contentsSize,
          FC_AD_CODE_NM(Z3.TYPE_UUID) as typeNm,
          Z3.TYPE_UUID as typeUuid,
          Z3.FILE_FORMAT_UUID as fileFormatUuid,
          <!--Z3.THUMBNAIL as thumbnail,-->
          Z3.CHECKSUM_TYPE_UUID as checksumTypeUuid,
          Z3.CHECKSUM as checksum,
        <include refid="Common.UserName"><property name="userUuid" value="INSERT_UUID"/></include> as insertUuid,
          Z2.INSERT_DATE as insertDate,
        <include refid="Common.UserName"><property name="userUuid" value="UPDATE_UUID"/></include> as updateUuid,
          Z2.UPDATE_DATE as updateDate
        FROM
          RC_ITEM Z1, RC_ITEM_COMPONENT Z2, RC_COMPONENT Z3
        WHERE
          Z1.ITEM_UUID = Z2.ITEM_UUID
          AND Z3.COMPONENT_UUID = Z2.COMPONENT_UUID
        <if test="itemUuid != null">
          AND Z1.ITEM_UUID = #{itemUuid}
        </if>
    </select>

    <select id="getCreatorList" resultType="Rc00503VO" parameterType="String" statementType="PREPARED">
        SELECT
            ITEM_CREATOR_UUID as itemCreatorUuid,
            CREATOR_UUID as creatorUuid,
            (SELECT AUTHORITY_NAME FROM AT_AUTHORITY WHERE AUTHORITY_UUID = T1.CREATOR_UUID) as creatorName
        FROM RC_ITEM_CREATOR T1
        WHERE ITEM_UUID = #{itemUuid}
        ORDER BY INSERT_DATE ASC
    </select>

    <select id="getRelatedAuthorityList" resultType="Rc00505VO" parameterType="String" statementType="PREPARED">
        SELECT
            ITEM_RELATED_AUTHORITY_UUID as itemRelatedAuthorityUuid,
            AUTHORITY_UUID as authorityUuid,
            (SELECT AUTHORITY_NAME FROM AT_AUTHORITY WHERE AUTHORITY_UUID = T1.AUTHORITY_UUID) as authorityName
        FROM RC_ITEM_RELATED_AUTHORITY T1
        WHERE ITEM_UUID = #{itemUuid}
        ORDER BY INSERT_DATE ASC
    </select>
</mapper>