<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/uploader}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/mng/etc/agent_mng.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] ===== -->
<div layout:fragment="base-title" class="ax-base-title" role="page-title">
    <h1 class="title"><i class="cqc-browser"></i> <span th:text="${pageName}"/></h1>
    <p class="desc" th:text="${pageRemark}"/>
</div>
<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <th:block layout:insert="~{/fragments/page-buttons :: buttons}"/>
    <th:block layout:insert="~{/fragments/page-header  :: search-t-s(id='searchView0', label1='직원성명', label2='지사코드')}">
        <div layout:fragment="wrap-1">
            <select class="form-control" name="jisaCode" id="jisaCode">
                <option value="">전체</option>
                <option th:each="item : ${jisaCode}" th:value="${item.code}" th:text="${item.name}"/>
            </select>
        </div>
    </th:block>
    <th:block layout:insert="~{/fragments/page-content :: content-panels}" th:with="orientation='vertical',
        attr1='{width: \'1260\'}', style1='padding-right: 10px',
        attr2='{width: \'*\'}',   style2='padding: 0px 0px',   scroll2='scroll'">
        <!-- ===== [ left-panel ] ===== -->
        <div layout:fragment="panel-1">
            <div class="ax-button-group" data-fit-height-aside="grid-view-01">
                <div class="left">
                    <h2><i class="cqc-list"></i> 요원정보 목록</h2>
                </div>
                <div class="right">
                    <!--<button type="button" class="btn btn-default" data-form-view-01-btn="form-save">
                        <i class="cqc-erase"></i> 저장
                    </button>-->
                    <button type="button" class="btn btn-default" data-page-btn="excel">
                        <i class="cqc-download"></i> 엑셀
                    </button>
                </div>
            </div>
            <div data-ax5grid="grid-view-01" data-fit-height-content="grid-view-01" style="height: 300px;"></div>
        </div>
        <!-- ===== [ left-panel _END_ ] ===== -->

        <!-- ===== [ right-panel ] ===== -->
        <div layout:fragment="panel-2">
            <div data-ax5layout="ax2" data-config='{layout:"tab-panel"}' data-fit-height-content="layout-view-01"
                 style="height:100%;">
                <th:block layout:insert="~{/fragments/tab :: panel(label='요원상세정보', scroll='scroll', active='true')}">
                    <div layout:fragment="wrap">
                        <form name="formView01" id="formView01" method="post" onsubmit="return false">
                            <input type="hidden" data-ax-path="jisaCode"/>
                            <input type="hidden" data-ax-path="txId"/>
                            <div class="ax-button-group" role="panel-header">
                                <div class="left">
                                    <h2><i class="cqc-news"></i> 요원정보관리</h2>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-default" data-form-view-01-btn="send-stext">
                                        <i class="cqc-erase"></i> 저장
                                    </button>
                                    <button class="btn btn-primary" data-form-view-01-btn="form-clear" style="margin-left: 5px;">
                                        <i class="cqc-zoomout"></i> 초기화
                                    </button>
                                </div>
                            </div>
                            <div data-ax-tbl class="ax-search-tbl" minWidth="500px">
                                <th:block layout:insert="~{/fragments/table :: tr-td(text='지사명', style='width: 100%', style1='width: 150px')}">
                                    <div layout:fragment="wrap">
                                        <select th:class="form-control" th:classappend="${class}" data-ax-path="jisaCode"
                                                name="jisaCodeForm" id="jisaCodeForm" style="width: 95px">
                                            <option value="">선택</option>
                                            <option th:each="item : ${jisaCode}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='직원성명',style='width: 250px', style1='width: 150px', text2='직원여부', style2='width: 150px')}">
                                    <div layout:fragment="wrap-1">
                                        <input type="text" data-ax-path="empName"
                                               class="form-control"/>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <select th:class="form-control" th:classappend="${class}" data-ax-path="empEnable"
                                                name="empEnable" id="empEnable" style="width: 95px">
                                            <option value="">선택</option>
                                            <option th:each="item : ${empEnable}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='직원구분',style='width: 250px', style1='width: 150px', text2='회사구분', style2='width: 150px')}">
                                    <div layout:fragment="wrap-1">
                                        <select th:class="form-control" th:classappend="${class}" data-ax-path="empGubun"
                                                name="empGubun" id="empGubun" style="width: 95px">
                                            <option value="">선택</option>
                                            <option th:each="item : ${empGubun}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <select th:class="form-control" th:classappend="${class}" data-ax-path="corpGubun"
                                                name="corpGubun" id="corpGubun" style="width: 95px">
                                            <option value="">선택</option>
                                            <option th:each="item : ${corpGubun}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2-label(text1='전자인감주소', style='width: 250px', style1='width: 150px', text2='전자서명주소', style2='width: 150px')}">
                                    <div layout:fragment="wrap-1" style="height: 150px">
                                        <div data-ax5uploader="upload1">
                                            <div data-uploaded-box="upload1" data-ax5uploader-uploaded-box="thumbnail" style="height: 185px"></div>
                                        </div>
                                    </div>
                                    <div layout:fragment="wrap-2" style="height: 150px">
                                        <div data-ax5uploader="upload2">
                                            <div data-uploaded-box="upload2" data-ax5uploader-uploaded-box="thumbnail" style="height: 185px"></div>
                                        </div>
                                    </div>
                                </th:block>

                                <div data-ax5uploader="upload1" style="display: none">
                                    <button data-ax5uploader-button="selector" class="btn btn-primary">Select File (*/*)</button>
                                </div>
                                <div data-ax5uploader="upload2" style="display: none">
                                    <button data-ax5uploader-button="selector" class="btn btn-primary">Select File (*/*)</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </th:block>
            </div>
        </div>
        <!-- ===== [ right-panel ] _END_ ===== -->
    </th:block>
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>