<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/mng/etc/sh04001140.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] ===== -->
<div layout:fragment="base-title" class="ax-base-title" role="page-title">
    <h1 class="title"><i class="cqc-browser"></i> <span th:text="${pageName}"/></h1>
    <p class="desc" th:text="${pageRemark}"/>
</div>
<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <th:block layout:insert="~{/fragments/page-buttons :: buttons}"/>
    <th:block layout:insert="~{/fragments/page-header  :: search-s-m2(id='searchView0', label1='지사명', label2='지점명/코드', label3='코너명/단말번호')}"/>
    <th:block layout:insert="~{/fragments/page-content :: content-panels}" th:with="orientation='vertical',
        attr1='{width: \'1031\'}', style1='padding-right: 10px',
        attr2='{width: \'*\'}',   style2='padding: 0px 10px',   scroll2='scroll'">

        <!-- ===== [ left-panel ] ===== -->
        <div layout:fragment="panel-1">

            <div class="ax-button-group" data-fit-height-aside="grid-view-01">
                <div class="left">
                    <h2><i class="cqc-list"></i> 기기점검결과 목록</h2>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default" data-grid-view-01-btn="excel">
                        <i class="cqc-download"></i> 엑셀
                    </button>
                </div>
            </div>
            <div data-ax5grid="grid-view-01" data-fit-height-content="grid-view-01" style="height: 300px;"></div>

        </div>
        <!-- ===== [ left-panel _END_ ] ===== -->

        <!-- ===== [ right-panel ] ===== -->
        <div layout:fragment="panel-2">

            <form name="formView01" id="formView01" method="post" onsubmit="return false">
                <div data-ax5layout="ax2" data-config='{layout:"tab-panel"}' data-fit-height-content="layout-view-01" style="height:100%;">

                    <th:block layout:insert="~{/fragments/tab :: panel(label='기기점검결과 상세', scroll='scroll', active='true')}">
                        <div layout:fragment="wrap">

                            <div class="ax-button-group" role="panel-header">
                                <div class="left">
                                    <h2><i class="cqc-news"></i> 기기점검결과 상세</h2>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-default" data-form-view-01-btn="form-clear">
                                        <i class="cqc-erase"></i> 초기화
                                    </button>
                                    <button type="button" class="btn btn-default" data-form-view-01-btn="form-save">
                                        <i class="cqc-save"></i> 저장
                                    </button>
                                </div>
                            </div>

                            <div data-ax-tbl class="ax-search-tbl" minWidth="500px">

                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='일련번호', style1='width: 350px', text2='지사코드', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <input type="text" title="일련번호" data-ax-validate="required" data-ax-path="seqNo" id="seqNo"  class="form-control"/>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <select th:class="form-control" th:classappend="${class}"
                                                data-ax-path="jisaCode" name="jisaCodeForm" id="jisaCodeForm" style="width: 80px">
                                            <option value="">전체</option>
                                            <option th:each="item : ${jisaCode}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='지점명/코드', style1='width: 350px', text2='코너명/코드', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <div class="form-inline">
                                            <input type="text" id="branchNameForm" class="form-control W150" value="" data-ax-path="branchName"
                                                   data-form-view-01-btn="form_modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                                            <input type="text" id="branchCodeForm" class="form-control W60" value="" data-ax-path="branchCode"
                                                   data-form-view-01-btn="form_modal" readonly="readonly" style="text-align: center" maxlength="4" minlength="4"/>
                                        </div>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <div class="form-inline">
                                            <input type="text" id="cornerNameForm" class="form-control W150" value="" data-ax-path="cornerName"
                                                   data-form-view-01-btn="form_modal" readonly="readonly" style="text-align: center" placeholder="클릭시 검색"/>
                                            <input type="text" id="cornerCodeForm" data-ax-path="cornerCode" class="form-control W60" value=""
                                                   data-form-view-01-btn="form_modal" readonly="readonly" style="text-align: center" maxlength="4" minlength="4"/>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='단말번호', style1='width: 350px', text2='관리지점코드', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <input type="text" title="단말번호" data-ax-validate="required" id="terminalNo" data-ax-path="terminalNo" class="form-control W60" value="" data-form-view-01-btn="form_modal" readonly="readonly" maxlength="4" minlength="4"/>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <select th:class="form-control" th:classappend="${class}" name="mngBranchCode" id="mngBranchCode" data-ax-path="mngBranchCode">
                                            <option th:each="item : ${mngBranchCode}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='점검구분', style1='width: 350px', text2='기기타입', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <select th:class="form-control" th:classappend="${class}" name="overhaulGubun" id="overhaulGubun" data-ax-path="overhaulGubun">
                                            <option th:each="item : ${overhaulGubun}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <select th:class="form-control" th:classappend="${class}" name="modelCode" id="modelCode" data-ax-path="modelCode">
                                            <option th:each="item : ${modelCode}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='점검사', style1='width: 350px', text2='점검직원명', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <select th:class="form-control" th:classappend="${class}" name="overhaulCorp" id="overhaulCorp" data-ax-path="overhaulCorp">
                                            <option th:each="item : ${overhaulCorp}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <input type="text" title="점검직원명" data-ax-validate="required" data-ax-path="overhaulEmpName" id="overhaulEmpName"  class="form-control"  />
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='검수자명', style1='width: 350px', text2='검수회사', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <input type="text" title="검수자명" data-ax-validate="required" data-ax-path="inspectionEmpName" id="inspectionEmpName"  class="form-control"  />
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <select th:class="form-control" th:classappend="${class}" name="inspectionCorp" id="inspectionCorp" data-ax-path="inspectionCorp">
                                            <option th:each="item : ${inspectionCorp}" th:value="${item.code}" th:text="${item.name}"/>
                                        </select>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td(text='점검일', style='width: 350px')}">
                                    <div layout:fragment="wrap">
                                        <div class="input-group" data-ax5picker="date">
                                            <input type="text" title="점검일" data-ax-validate="required" data-ax-path="overhaulDate" id="overhaulDate" class="form-control" placeholder="yyyy-MM-dd" style="text-align: center">
                                            <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='점검시작시간', style1='width: 350px', text2='점검종료시간', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <input type="time" value="00:00" title="점검시작시간" data-ax-validate="required"  name="overhaulStartTime" id="overhaulStartTime" data-ax-path="overhaulStartTime"
                                               class="form-control" style="width: 100px">
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <input type="time" value="00:00" title="점검종료시간" data-ax-validate="required"  name="overhaulEndTime" id="overhaulEndTime" data-ax-path="overhaulEndTime"
                                               class="form-control" style="width: 100px">
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td(text='점검작업내용', style='width: 100%')}">
                                    <div layout:fragment="wrap">
                                        <textarea title="점검작업내용" data-ax-validate="required" data-ax-path="overhaulHandleContent" id="overhaulHandleContent" class="form-control"></textarea>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td(text='검수의견', style='width: 100%')}">
                                    <div layout:fragment="wrap">
                                        <textarea title="검수의견" data-ax-validate="required" data-ax-path="inspectionOpinion" id="inspectionOpinion" class="form-control"></textarea>
                                    </div>
                                </th:block>
                            </div>

                        </div>
                    </th:block>


                </div>
            </form>

        </div>
        <!-- ===== [ right-panel ] _END_ ===== -->
    </th:block>
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>