<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/mng/etc/sh04001110.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] ===== -->
<div layout:fragment="base-title" class="ax-base-title" role="page-title">
    <h1 class="title"><i class="cqc-browser"></i> <span th:text="${pageName}"/></h1>
    <p class="desc" th:text="${pageRemark}"/>
</div>
<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <th:block layout:insert="~{/fragments/page-buttons :: buttons}"/>
    <th:block layout:insert="~{/fragments/page-header  :: search-t-d2(id='searchView0', label1='전문요청일련번호', label2='전문요청일자')}"/>
    <th:block layout:insert="~{/fragments/page-content :: content-panels}" th:with="orientation='vertical',
        attr1='{width: \'1031\'}', style1='padding-right: 10px',
        attr2='{width: \'*\'}',   style2='padding: 0px 10px',   scroll2='scroll'">
        <!-- ===== [ left-panel ] ===== -->
        <div layout:fragment="panel-1">
            <div class="ax-button-group" data-fit-height-aside="grid-view-01">
                <div class="left">
                    <h2><i class="cqc-list"></i> 결번요청 목록</h2>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-default" data-grid-view-01-btn="excel">
                        <i class="cqc-download"></i> 엑셀
                    </button>
                </div>
            </div>
            <div data-ax5grid="grid-view-01" data-fit-height-content="grid-view-01" style="height: 300px;"></div>

        </div>
        <!-- ===== [ left-panel _END_ ] ===== -->

        <!-- ===== [ right-panel ] ===== -->
        <div layout:fragment="panel-2">

            <form name="formView01" id="formView01" method="post" onsubmit="return false">
                <div data-ax5layout="ax2" data-config='{layout:"tab-panel"}' data-fit-height-content="layout-view-01" style="height:100%;">

                    <th:block layout:insert="~{/fragments/tab :: panel(label='결변요청 상세', scroll='scroll', active='true')}">
                        <div layout:fragment="wrap">

                            <div class="ax-button-group" role="panel-header">
                                <div class="left">
                                    <h2><i class="cqc-news"></i> 결변요청 상세</h2>
                                </div>
                                <div class="right">
                                    <button type="button" class="btn btn-default" data-form-view-01-btn="form-clear">
                                        <i class="cqc-erase"></i> 초기화
                                    </button>
                                    <button type="button" class="btn btn-default" data-form-view-01-btn="form-save">
                                        <i class="cqc-save"></i> 저장
                                    </button>
                                </div>
                            </div>

                            <div data-ax-tbl class="ax-search-tbl" minWidth="500px">

                                <th:block layout:insert="~{/fragments/table :: tr-td2(text1='전문요청일자', style1='width: 350px', text2='전문요청일련번호', style2='width: 350px')}">
                                    <div layout:fragment="wrap-1">
                                        <div class="input-group" data-ax5picker="date">
                                            <input type="text" title="전문요청일자" data-ax-validate="required" data-ax-path="reqStextDate" id="reqStextDate" class="form-control" placeholder="yyyy-MM-dd" style="text-align: center">
                                            <span class="input-group-addon"><i class="cqc-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div layout:fragment="wrap-2">
                                        <input type="text" title="전문요청일련번호" data-ax-validate="required" data-ax-path="reqStextSeqNo" id="reqStextSeqNo"  class="form-control"/>
                                    </div>
                                </th:block>
                                <th:block layout:insert="~{/fragments/table :: tr-td(text='메세지', style='width: 100%')}">
                                    <div layout:fragment="wrap">
                                        <textarea title="메세지" data-ax-validate="required" data-ax-path="message" id="message" class="form-control"></textarea>
                                    </div>
                                </th:block>
                            </div>

                        </div>
                    </th:block>


                </div>
            </form>


        </div>
        <!-- ===== [ right-panel ] _END_ ===== -->
    </th:block>
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>