<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. RMSoft Co.,Ltd. All rights reserved
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.sp.sp001.dao.Sp001Mapper">
    <select id="findAllRole" resultType="Sp00101VO" parameterType="Sp00101VO" statementType="PREPARED">
        SELECT
        Z.ROLE_UUID as roleUuid,
        Z.ROLE_NAME as roleName,
        Z.DESCRIPTION description,
        Z.NOTES notes,
        Z.USE_YN useYn,
        <include refid="Common.UserName">
            <property name="userUuid" value="Z.INSERT_UUID"/>
        </include>
        as insertUuid,
        Z.INSERT_DATE as insertDate,
        <include refid="Common.UserName">
            <property name="userUuid" value="Z.UPDATE_UUID"/>
        </include>
        as updateUuid,
        Z.UPDATE_DATE as updateDate
        FROM
        AC_ROLE Z
        <where>
            <if test="roleName != null">
                Z.ROLE_NAME LIKE '%' || #{roleName} || '%'
            </if>
            <if test="useYn != null">
                AND Z.USE_YN = #{useYn}
            </if>
        </where>
    </select>

    <select id="findRolePermission" resultType="Sp00102VO" parameterType="String"
            statementType="PREPARED">
        SELECT
        Z1.ROLE_PERMISSION_UUID as rolePermissionUuid,
        Z1.ROLE_UUID as roleUuid,
        Z1.PERMISSION_UUID as permissionUuid,
        Z2.PERMISSION_NAME as permissionName,
        Z2.PMS_PROGRAM_UUID as pmsProgramUuid,
        (SELECT PROGRAM_NAME FROM AD_PROGRAM WHERE PROGRAM_UUID = Z2.PMS_PROGRAM_UUID) as programName,
        Z2.PMS_ENTITY_TYPE_UUID as pmsEntityTypeUuid,
        (SELECT ENTITY_TYPE_NAME FROM AD_ENTITY_TYPE WHERE ENTITY_TYPE_UUID = Z2.PMS_ENTITY_TYPE_UUID) as entityTypeName,
        Z2.PMS_FUNCTION_UUID as pmsFunctionUuid,
        Z1.DESCRIPTION as description,
        Z1.NOTES as notes,
        Z1.USE_YN as useYn,
        <include refid="Common.UserName">
            <property name="userUuid" value="Z1.INSERT_UUID"/>
        </include>
        as insertUuid,
        Z1.INSERT_DATE insertDate,
        <include refid="Common.UserName">
            <property name="userUuid" value="Z1.UPDATE_UUID"/>
        </include>
        as updateUuid,
        Z1.UPDATE_DATE updateDate
        FROM
        AC_ROLE_PERMISSION Z1,
        AC_PERMISSION Z2
        WHERE Z1.PERMISSION_UUID = Z2.PERMISSION_UUID
        AND Z1.ROLE_UUID = #{roleUuid}
    </select>
</mapper>