<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="select(id, codeType, dataPath)">
    <select class="form-control W150" th:name="${id}" th:id="${id}" th:attr="data-ax-path=${dataPath}">
        <th:block th:if="${codeType == 'USER_STATUS'}">
            <option value="">-</option>
            <option th:each="item : ${userStatus}" th:value="${item.code}" th:text="${item.name}"/>
        </th:block>
        <th:block th:if="${codeType == 'MENU_GROUP'}">
            <option value="">-</option>
            <option th:each="item : ${menuGroup}" th:value="${item.code}" th:text="${item.name}"/>
        </th:block>
    </select>
</th:block>

<th:block layout:fragment="checkbox(id, codeType, dataPath)">
    <th:block th:if="${codeType == 'AUTH_GROUP'}">
        <label class="checkbox-inline" th:each="item : ${authGroup}">
            <input type="checkbox" th:name="${id}" th:value="${item.code}" th:text="${item.name}" th:attr="data-ax-path=${dataPath}">
        </label>
    </th:block>
</th:block>

</html>
