<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="buttons">
    <div data-page-buttons class="button-warp">
        <th:block th:if="${authGroupMenu != null}">
            <!--<th:block th:if="${authGroupMenu.schAh == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="search"><i class="cqc-magnifier"></i> 조회</button>
            </th:block>-->
            <th:block th:if="${authGroupMenu.savAh == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="save"><i class="cqc-save"></i> 저장</button>
            </th:block>
            <th:block th:if="${authGroupMenu.delAh == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="delete"><i class="cqc-minus"></i> 삭제
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.exlAh == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="excel"><i class="cqc-download"></i> 엑셀
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.fn1Ah == 'Y'}">
                <select data-page-btn="fn1" class="btn btn-primary" id="page-refresh">
                    <option value="10">10초마다 갱신</option>
                    <option value="20">20초마다 갱신</option>
                    <option value="30" selected="selected">30초마다 갱신</option>
                    <option value="60"> 1분마다 갱신</option>
                </select>
            </th:block>
            <th:block th:if="${authGroupMenu.fn2Ah == 'Y'}">
                <button type="button" class="btn btn-primary" data-page-btn="fn2">
                    <i class="axi axi-plus-circle"></i> <span th:text="${fn2Label}">페이지+모델 작성</span>
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.fn3Ah == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="fn3">
                    <i class="axi axi-minus-circle"></i> ${function1Label}
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.fn4Ah == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="fn4">
                    <i class="axi axi-plus-circle"></i> ${function2Label}
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.fn5Ah == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="fn5">
                    ${function3Label}
                </button>
            </th:block>
        </th:block>
    </div>
</th:block>

<th:block layout:fragment="error-status-buttons">
    <div data-page-buttons class="button-warp">
        <button type="button" class="btn btn-default" data-page-btn="search"><i class="cqc-magnifier"></i> 조회</button>
        <button type="button" class="btn btn-default" data-page-btn="excel"><i class="cqc-download"></i> 엑셀</button>
        <select data-page-btn="fn1" class="btn btn-primary" id="page-refresh">
            <option value="0" selected="selected">타이머 OFF</option>
            <option value="10">10초마다 갱신</option>
            <option value="20">20초마다 갱신</option>
            <option value="30">30초마다 갱신</option>
            <option value="60"> 1분마다 갱신</option>
        </select>
    </div>
</th:block>

<th:block layout:fragment="sla-buttons">
    <div data-page-buttons class="button-warp">
        <button type="button" class="btn btn-default" data-page-btn="save"><i class="cqc-save"></i> 저장</button>
        <button type="button" class="btn btn-default" data-page-btn="write"><i class="cqc-save"></i> SLA파일로 저장</button>
    </div>
</th:block>

<th:block layout:fragment="modal-buttons">
    <div data-page-buttons class="button-warp">
        <th:block th:if="${authGroupMenu != null}">
            <th:block th:if="${authGroupMenu.schAh == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="search"><i class="cqc-magnifier"></i> 조회
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.savAh == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="save"><i class="cqc-save"></i> 저장</button>
            </th:block>
            <th:block th:if="${authGroupMenu.delAh == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="delete"><i class="cqc-minus"></i> 삭제
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.exlAh == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="excel"><i class="cqc-download"></i> 엑셀
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.fn1Ah == 'Y'}">
                <select data-page-btn="fn1" class="btn btn-primary" id="page-refresh">
                    <option value="10">10초마다 갱신</option>
                    <option value="20">20초마다 갱신</option>
                    <option value="30" selected="selected">30초마다 갱신</option>
                    <option value="60"> 1분마다 갱신</option>
                </select>
            </th:block>
            <th:block th:if="${authGroupMenu.fn2Ah == 'Y'}">
                <button type="button" class="btn btn-primary" data-page-btn="fn2">
                    <i class="axi axi-plus-circle"></i> <span th:text="${fn2Label}">페이지+모델 작성</span>
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.fn3Ah == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="fn3">
                    <i class="axi axi-minus-circle"></i> ${function1Label}
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.fn4Ah == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="fn4">
                    <i class="axi axi-plus-circle"></i> ${function2Label}
                </button>
            </th:block>
            <th:block th:if="${authGroupMenu.fn5Ah == 'Y'}">
                <button type="button" class="btn btn-default" data-page-btn="fn5">
                    ${function3Label}
                </button>
            </th:block>
        </th:block>
        <button type="button" class="btn btn-default" data-page-btn="close">창닫기</button>
        <button type="button" class="btn btn-info" data-page-btn="search">조회</button>
        <button type="button" class="btn btn-fn1" data-page-btn="choice">선택</button>
    </div>
</th:block>

<th:block layout:fragment="modal-exec-buttons">
    <div data-page-buttons class="button-warp">
        <button type="button" class="btn btn-default" data-page-btn="exec">생성</button>
    </div>
</th:block>

<th:block layout:fragment="modal-exec-buttons">
    <div data-page-buttons class="button-warp">
        <button type="button" class="btn btn-default" data-page-btn="exec">생성</button>
    </div>
</th:block>
<!--Save 버튼 & Inquiry 버튼-->
<th:block layout:fragment="save-and-inquiry">
    <li style="text-align:right; width:48%;">
        <button class="btn_s" th:id="save">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Save(S)</span>
        </button>
        <button class="btn_i" th:id="inquiry">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Inquiry(I)</span>
        </button>
    </li>
</th:block>
<!--Classify버튼 & Save 버튼 & Inquiry 버튼-->
<th:block layout:fragment="classify-and-save-and-inquiry">
    <li style="text-align:right; width:48%;">
        <button class="btn_co" th:id="save">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Classify</span>
        </button>
        <button class="btn_s" th:id="save">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Save(S)</span>
        </button>
        <button class="btn_i" th:id="inquiry">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Inquiry(I)</span>
        </button>
    </li>
</th:block>
<!--Add 버튼 & Delete 버튼-->
<th:block layout:fragment="add-and-delete">
    <li style="text-align:right; width:68%;">
        <button class="btn_a">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Add</span>
        </button>
        <button class="btn_d">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Delete</span>
        </button>
    </li>
</th:block>

<!--Confirm 버튼 & Cancle 버튼 & Add 버튼 & Delete 버튼-->
<th:block layout:fragment="confirm-and-cancle-and-save-and-inquiry">
    <li style="text-align:right; width:48%;">
        <button class="btn_co">
            <span class="btn_icon_co" th:id="confirm">&nbsp;</span>
            <span class="btn_main_txt">Confirm</span>
        </button>
        <button class="btn_co" th:id="cancel">
            <span class="btn_icon_co">&nbsp;</span>
            <span class="btn_main_txt">Cancel</span>
        </button>
        <button class="btn_s" th:id="save">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Save(S)</span>
        </button>
        <button class="btn_i" th:id="inquiry">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Inquiry(I)</span>
        </button>
    </li>
</th:block>

<!--inquiry 버튼 & confirm 버튼 & cancel 버튼 & add 버튼 & Delete 버튼-->
<th:block layout:fragment="inquiry-and-confirm-and-cancle-and-add-and-delete">
    <li style="text-align:right; width:48%;">
        <button class="btn_co" th:id="inquiry">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Inquiry</span>
        </button>
        <button class="btn_co">
            <span class="btn_icon_co" th:id="confirm">&nbsp;</span>
            <span class="btn_main_txt">Confirm</span>
        </button>
        <button class="btn_co" th:id="cancel">
            <span class="btn_icon_co">&nbsp;</span>
            <span class="btn_main_txt">Cancel</span>
        </button>
        <button class="btn_a">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Add</span>
        </button>
        <button class="btn_d">
            <span class="btn_icon">&nbsp;</span>
            <span class="btn_main_txt">Delete</span>
        </button>
    </li>
</th:block>
<!--Add 버튼 & Delete 버튼-->
<th:block layout:fragment="dot (str)">
    <li style="width:50%; text-align:left;">
        <img src="/assets/images/ams/img_dot2.png" alt="dot">
        <span th:text="${str}"></span>
    </li>
</th:block>
<!--북마크-->
<th:block layout:fragment="bookmark">
    <li style="width:30px">
        <div class="bookmark_star"><img src="/assets/images/ams/bookmark.png" alt="즐겨찾기"></div>
    </li>
    <li style="width:50%; text-align:left;" th:text="${pageName==null?'User':pageName}"></li>
</th:block>

<th:block layout:fragment="searchInputYellow (lb,dap)">
    <dt class="pdl_5 w150" th:text="${lb}"></dt>
    <dd>
        <div class="src_box2" style="background-color: #fffdd6">
            <input th:attr="data-ax-path=${dap}"  type="text" style="background-color: #fffdd6">
            <a href="#" id="dialog-link">
                <img th:src="@{/assets/images/ams/search_normal.png}" alt="find"></a>
        </div>
    </dd>
</th:block>

<th:block layout:fragment="searchInput (lb,dap)">
    <dt class="pdl_5 w150" th:text="${lb}"></dt>
    <dd>
        <div class="src_box2">
            <input th:attr="data-ax-path=${dap}"  type="text">
            <a href="#" id="dialog-link">
                <img th:src="@{/assets/images/ams/search_normal.png}" alt="find"></a>
        </div>
    </dd>
</th:block>
</html>
