<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.st.st028.dao.St028Mapper">

    <select id="getStGate" resultType="St02801VO" parameterType="St02801VO" statementType="PREPARED">
        select A.GATE_UUID as gateUuid,
               A.GATE_ID as gateId,
               A.GATE_NAME as gateName,
               A.MODE_UUID as modeUuid,
               A.SENSOR_USE_YN as sensorUseYn,
               A.IN_ZONE_UUID as inZoneUuid,
               B.ZONE_NAME as inZoneName,
               A.OUT_ZONE_UUID as outZoneUuid,
               C.ZONE_NAME as outZoneName,
               A.LIGHT_BAR_STATUS_UUID as lightBarStatusUuid
          from ST_GATE A LEFT OUTER JOIN ST_ZONE B
              ON A.IN_ZONE_UUID = B.ZONE_UUID
          LEFT OUTER JOIN ST_ZONE C
              ON A.OUT_ZONE_UUID = C.ZONE_UUID
        <where>
            1=1
            <if test="gateId != null">
                AND A.GATE_ID LIKE '%' || #{gateId} || '%'
            </if>
            <if test="gateName != null">
                AND A.GATE_NAME LIKE '%' || #{gateName} || '%'
            </if>
            <if test="modeUuid != null">
                AND A.MODE_UUID = #{modeUuid}
            </if>
            <if test="sensorUseYn != null">
                AND A.SENSOR_USE_YN = #{sensorUseYn}
            </if>
            <if test="inZoneUuid != null">
                AND A.IN_ZONE_UUID = #{inZoneUuid}
            </if>
            <if test="outZoneUuid != null">
                AND A.OUT_ZONE_UUID = #{outZoneUuid}
            </if>
        </where>
    </select>

</mapper>