<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad007.dao.Ad007Mapper">

    <select id="searchSetup" resultType="Ad00701VO" parameterType="Ad00701VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            ADD_META_TEMPLATE_SET_UUID AS addMetaTemplateSetUuid,
            ENTITY_TYPE AS entityType,
            SET_CODE AS setCode,
            SET_NAME AS setName,
            DESCRIPTION AS description,
            NOTES AS notes,
            USE_YN AS useYN,
            DEFAULT_YN AS defaultYN,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            INSERT_DATE AS insertDate,
        ]]>

        <include refid="Common.UserName">
            <property name="userUuid" value="UPDATE_UUID"/>
        </include>
        AS updateUuid,
        <![CDATA[
            UPDATE_DATE AS  updateDate
        FROM
            AD_CON_META_SETUP
        WHERE 1=1
        ]]>
        <if test="null != entityType and '' != entityType">
            <![CDATA[
            AND ENTITY_TYPE = #{entityType}
          ]]>
        </if>
        <if test="null != setName and '' != setName">
            <![CDATA[
            AND SET_NAME = #{setName}
          ]]>
        </if>
        <if test="null != useYN and '' != useYN">
            <![CDATA[
            AND USE_YN = #{useYN}
          ]]>
        </if>
        ORDER BY ENTITY_TYPE ASC
    </select>
    <select id="searchSegment" resultType="Ad00702VO" parameterType="Ad00702VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            ADD_META_SEGMENT_UUID AS addMetaSegmentUuid,
            ADD_META_TEMPLATE_SET_UUID AS addMetaTemplateSetUuid,
            SEQUENCE AS sequence,
            ENTITY_TYPE AS entityType,
            TITLE AS title,
            ADDITIONAL_COLUMN AS additionalColumn,
            POPUP_UUID AS popupUuid,
            DISPLAYED_YN AS displayedYN,
            REQUIRED_YN AS requiredYN,
            DISPLAY_SIZE AS displaySize,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            INSERT_DATE AS insertDate,
        ]]>

        <include refid="Common.UserName">
            <property name="userUuid" value="UPDATE_UUID"/>
        </include>
        AS updateUuid,
        <![CDATA[
            UPDATE_DATE AS  updateDate
        FROM
            AD_CON_META_SEGMENT
        WHERE ADD_META_TEMPLATE_SET_UUID = #{addMetaTemplateSetUuid}
        ORDER BY SEQUENCE, ADDITIONAL_COLUMN ASC
        ]]>
    </select>
    <select id="checkDelete" resultType="int" parameterType="String" statementType="PREPARED">
        SELECT
        COUNT(DISPOSAL_FREEZE_DEGREE_UUID)
        FROM
        DF_DISPOSAL_FREEZE_DEGREE
        WHERE
        DISPOSAL_FREEZE_EVENT_UUID = #{uuid}
    </select>
</mapper>