<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001200.Sh02001200Mapper">

    <select id="findAll" resultType="sh02001200" parameterType="sh02001200" statementType="PREPARED">
        SELECT
            STEXT_NOTICE_DATETIME AS stextNoticeDatetime,
            STEXT_GUBUN AS stextGubun,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            PLACE_GUBUN AS placeGubun,
            BRANCH_GUBUN AS branchGubun,
            OPER_START_GUBUN AS operStartGubun,
            OPER_START_TIME AS operStartTime,
            OPER_END_TIME AS operEndTime,
            SECURITY_CORP_CODE AS securityCorpCode,
            CHECK_OPER_ENABLE AS checkOperEnable,
            OPER_DAY AS operDay,
            ADDR AS addr,
            INSTALL_PLACE AS installPlace,
            DETAIL_FAC_INFO AS detailFacInfo
        FROM
            ATMS_02001200
    </select>

    <select id="findOne" resultType="sh02001200" parameterType="sh02001200" statementType="PREPARED">
        SELECT
            STEXT_NOTICE_DATETIME AS stextNoticeDatetime,
            STEXT_GUBUN AS stextGubun,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            PLACE_GUBUN AS placeGubun,
            BRANCH_GUBUN AS branchGubun,
            OPER_START_GUBUN AS operStartGubun,
            OPER_START_TIME AS operStartTime,
            OPER_END_TIME AS operEndTime,
            SECURITY_CORP_CODE AS securityCorpCode,
            CHECK_OPER_ENABLE AS checkOperEnable,
            OPER_DAY AS operDay,
            ADDR AS addr,
            INSTALL_PLACE AS installPlace,
            DETAIL_FAC_INFO AS detailFacInfo
        FROM
            ATMS_02001200
        WHERE
            STEXT_NOTICE_DATETIME = #{stextNoticeDatetime}
    </select>

   <update id="delete" parameterType="sh02001200" statementType="PREPARED">
        DELETE FROM
            ATMS_02001200
        WHERE
            STEXT_NOTICE_DATETIME = #{stextNoticeDatetime}
    </update>

   <update id="update" parameterType="sh02001200" statementType="PREPARED">
        UPDATE ATMS_02001200
        SET
            STEXT_GUBUN = #{stextGubun},
            JISA_CODE = #{jisaCode},
            BRANCH_CODE = #{branchCode},
            CORNER_CODE = #{cornerCode},
            CORNER_NAME = #{cornerName},
            PLACE_GUBUN = #{placeGubun},
            BRANCH_GUBUN = #{branchGubun},
            OPER_START_GUBUN = #{operStartGubun},
            OPER_START_TIME = #{operStartTime},
            OPER_END_TIME = #{operEndTime},
            SECURITY_CORP_CODE = #{securityCorpCode},
            CHECK_OPER_ENABLE = #{checkOperEnable},
            OPER_DAY = #{operDay},
            ADDR = #{addr},
            INSTALL_PLACE = #{installPlace},
            DETAIL_FAC_INFO = #{detailFacInfo}
        WHERE
            STEXT_NOTICE_DATETIME = #{stextNoticeDatetime}
    </update>

   <update id="insert" parameterType="sh02001200" statementType="PREPARED">
        INSERT INTO ATMS_02001200 (
            STEXT_NOTICE_DATETIME,
            STEXT_GUBUN,
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            CORNER_NAME,
            PLACE_GUBUN,
            BRANCH_GUBUN,
            OPER_START_GUBUN,
            OPER_START_TIME,
            OPER_END_TIME,
            SECURITY_CORP_CODE,
            CHECK_OPER_ENABLE,
            OPER_DAY,
            ADDR,
            INSTALL_PLACE,
            DETAIL_FAC_INFO
        ) VALUES (
            #{stextNoticeDatetime},
            #{stextGubun},
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{cornerName},
            #{placeGubun},
            #{branchGubun},
            #{operStartGubun},
            #{operStartTime},
            #{operEndTime},
            #{securityCorpCode},
            #{checkOperEnable},
            #{operDay},
            #{addr},
            #{installPlace},
            #{detailFacInfo}
        )
    </update>
</mapper>