<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001120.Sh02001120Mapper">

    <select id="findAll" resultType="sh02001120" parameterType="sh02001120" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            CLOSING_BRANCH_NO AS closingBranchNo,
            CLOSING_CORNER_CODE AS closingCornerCode,
            ADDR AS addr,
            UNUSL AS unusl
        FROM
            ATMS_02001120
    </select>

    <select id="findOne" resultType="sh02001120" parameterType="sh02001120" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            CLOSING_BRANCH_NO AS closingBranchNo,
            CLOSING_CORNER_CODE AS closingCornerCode,
            ADDR AS addr,
            UNUSL AS unusl
        FROM
            ATMS_02001120
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </select>

   <update id="delete" parameterType="sh02001120" statementType="PREPARED">
        DELETE FROM
            ATMS_02001120
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="update" parameterType="sh02001120" statementType="PREPARED">
        UPDATE ATMS_02001120
        SET
            CHANGE_CHASU = #{changeChasu},
            STEXT_GUBUN = #{stextGubun},
            CLOSING_BRANCH_NO = #{closingBranchNo},
            CLOSING_CORNER_CODE = #{closingCornerCode},
            ADDR = #{addr},
            UNUSL = #{unusl}
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="insert" parameterType="sh02001120" statementType="PREPARED">
        INSERT INTO ATMS_02001120 (
            WORK_SEQ_NO,
            CHANGE_CHASU,
            STEXT_GUBUN,
            CLOSING_BRANCH_NO,
            CLOSING_CORNER_CODE,
            ADDR,
            UNUSL
        ) VALUES (
            #{workSeqNo},
            #{changeChasu},
            #{stextGubun},
            #{closingBranchNo},
            #{closingCornerCode},
            #{addr},
            #{unusl}
        )
    </update>
</mapper>