<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.cash.sh03001190.Sh03001190Mapper">

    <select id="findFormAmt" resultType="sh03001190FormVO" parameterType="sh03001190VO" statementType="PREPARED">
        -- 21
        -- 운영자금청구
        -- 금일/휴일추가현송금액 (-1일)
        SELECT DATA_GUBUN as dataGubun,
               NVL(DATA1,0) as data1,
               NVL(DATA2,0) as data2,
               NVL(DATA3,0) as data3
        FROM (
          -- 평일
          SELECT '평일추가현송금액' AS DATA_GUBUN,
                 SUM(ADD_CASH_SENDING_AMT) + SUM(ADD_CASH_50K_SENDING_AMT) as DATA1,
                 0 as DATA2,
                 0  as DATA3
          FROM ATMS_03001160
          WHERE CASH_SENDING_DATE = TO_DATE(#{reqDate}, 'YYYY-MM-DD')- (INTERVAL '1' DAY)
                AND CLOSE_GUBUN IN ('0', '1')
          UNION ALL
          -- 휴일
          SELECT '휴일추가현송금액' AS DATA_GUBUN,
                 SUM(ADD_CASH_SENDING_AMT)+ SUM(ADD_CASH_50K_SENDING_AMT) as DATA1,
                 0  as DATA2,
                 0  as DATA3
          FROM ATMS_03001160
          WHERE CASH_SENDING_DATE = TO_DATE(#{reqDate}, 'YYYY-MM-DD')- (INTERVAL '1' DAY)
                AND CLOSE_GUBUN = 2

          -- 11, 19, 20
          -- 회수자금 결과통보 지급,입금금액합계,금일회수자금  -1일자
          UNION ALL
          SELECT '입금지급회수금액' AS DATA_GUBUN,
                 SUM(DEPOSIT_AMT) as DATA1, -- 입금금액
                 SUM(GIVE_AMT)as DATA2, -- 지급금액
                 SUM(CLOSE_AMT) as DATA3 -- 마감금액
          FROM ATMS_03001140
          WHERE CLOSE_DATE = TO_DATE(#{reqDate}, 'YYYY-MM-DD')- (INTERVAL '1' DAY)
          -- 18
          -- 금일정규현송금액 -> 현송계획보고 전일자 -1 현송금액 합계
          UNION ALL
          SELECT '금일정규현송금액' AS DATA_GUBUN,
                 SUM(CASH_SENDING_AMT) + SUM(CASH_50K_SENDING_AMT) as DATA1,
                 0 DATA2,
                 0 DATA3
          FROM ATMS_03001180
          WHERE CASH_SENDING_DATE = TO_DATE(#{reqDate}, 'YYYY-MM-DD')- (INTERVAL '1' DAY)
          -- 16
          -- 전일재고금액 -> 운영자금청구 금일재고금액 -1
          UNION ALL
          SELECT '금일재고금액' AS DATA_GUBUN,
                 SUM(TOTAL_STOCK_AMT) as DATA1,
                 0 DATA2,
                 0 DATA3
          FROM ATMS_03001190
          WHERE REQ_DATE = TO_DATE(#{reqDate}, 'YYYY-MM-DD')- (INTERVAL '1' DAY)

        )
    </select>

    <select id="findAll" resultType="sh03001190" parameterType="sh03001190" statementType="PREPARED">
        SELECT
            BRANCH_CODE AS branchCode,
            REQ_DATE AS reqDate,
            FUND_EXPENSE_START_DATE AS fundExpenseStartDate,
            FUND_EXPENSE_END_DATE AS fundExpenseEndDate,
            FUND_EXPENSE_TERM AS fundExpenseTerm,
            NEXT_DAY_CASH_SENDING_AMT AS nextDayCashSendingAmt,
            NOW_DAY_ADD_CASH_SENDING_AMT AS nowDayAddCashSendingAmt,
            NOW_DAY_RTRVL_AMT AS nowDayRtrvlAmt,
            NOW_DAY_LACK_AMT AS nowDayLackAmt,
            THIS_DAY_RTRVL_EXCPECT_AMT AS thisDayRtrvlExcpectAmt,
            NEXT_DAY_RTRVL_EXCPECT_AMT AS nextDayRtrvlExcpectAmt,
            NEXT_DAY_BILLING_AMT AS nextDayBillingAmt,
            TOTAL_STOCK_AMT AS totalStockAmt,
            BEFORE_BDATE_STOCK_AMT AS beforeBdateStockAmt,
            BEFORE_BDATE_RECV_AMT AS beforeBdateRecvAmt,
            BEFORE_BDATE_CASH_SENDING_AMT AS beforeBdateCashSendingAmt,
            BEFORE_BDATE_GIVE_AMT AS beforeBdateGiveAmt,
            BEFORE_BDATE_DEPOSIT_AMT AS beforeBdateDepositAmt,
            MNG_OFFICE AS mngOffice,
            THIS_DAY_ADD_CASH_SENDING_AMT AS thisDayAddCashSendingAmt,
            THIS_DAY_NONE_LOAD_AMT AS thisDayNoneLoadAmt,
            PAYMENT_OVER_AMT AS paymentOverAmt
        FROM
            ATMS_03001190
    </select>

    <select id="findOne" resultType="sh03001190" parameterType="sh03001190" statementType="PREPARED">
        SELECT
            BRANCH_CODE AS branchCode,
            REQ_DATE AS reqDate,
            FUND_EXPENSE_START_DATE AS fundExpenseStartDate,
            FUND_EXPENSE_END_DATE AS fundExpenseEndDate,
            FUND_EXPENSE_TERM AS fundExpenseTerm,
            NEXT_DAY_CASH_SENDING_AMT AS nextDayCashSendingAmt,
            NOW_DAY_ADD_CASH_SENDING_AMT AS nowDayAddCashSendingAmt,
            NOW_DAY_RTRVL_AMT AS nowDayRtrvlAmt,
            NOW_DAY_LACK_AMT AS nowDayLackAmt,
            THIS_DAY_RTRVL_EXCPECT_AMT AS thisDayRtrvlExcpectAmt,
            NEXT_DAY_RTRVL_EXCPECT_AMT AS nextDayRtrvlExcpectAmt,
            NEXT_DAY_BILLING_AMT AS nextDayBillingAmt,
            TOTAL_STOCK_AMT AS totalStockAmt,
            BEFORE_BDATE_STOCK_AMT AS beforeBdateStockAmt,
            BEFORE_BDATE_RECV_AMT AS beforeBdateRecvAmt,
            BEFORE_BDATE_CASH_SENDING_AMT AS beforeBdateCashSendingAmt,
            BEFORE_BDATE_GIVE_AMT AS beforeBdateGiveAmt,
            BEFORE_BDATE_DEPOSIT_AMT AS beforeBdateDepositAmt,
            MNG_OFFICE AS mngOffice,
            THIS_DAY_ADD_CASH_SENDING_AMT AS thisDayAddCashSendingAmt,
            THIS_DAY_NONE_LOAD_AMT AS thisDayNoneLoadAmt,
            PAYMENT_OVER_AMT AS paymentOverAmt
        FROM
            ATMS_03001190
        WHERE
            BRANCH_CODE = #{branchCode}, REQ_DATE = #{reqDate}
    </select>

   <update id="delete" parameterType="sh03001190" statementType="PREPARED">
        DELETE FROM
            ATMS_03001190
        WHERE
            BRANCH_CODE = #{branchCode}, REQ_DATE = #{reqDate}
    </update>

   <update id="update" parameterType="sh03001190" statementType="PREPARED">
        UPDATE ATMS_03001190
        SET
            FUND_EXPENSE_START_DATE = #{fundExpenseStartDate},
            FUND_EXPENSE_END_DATE = #{fundExpenseEndDate},
            FUND_EXPENSE_TERM = #{fundExpenseTerm},
            NEXT_DAY_CASH_SENDING_AMT = #{nextDayCashSendingAmt},
            NOW_DAY_ADD_CASH_SENDING_AMT = #{nowDayAddCashSendingAmt},
            NOW_DAY_RTRVL_AMT = #{nowDayRtrvlAmt},
            NOW_DAY_LACK_AMT = #{nowDayLackAmt},
            THIS_DAY_RTRVL_EXCPECT_AMT = #{thisDayRtrvlExcpectAmt},
            NEXT_DAY_RTRVL_EXCPECT_AMT = #{nextDayRtrvlExcpectAmt},
            NEXT_DAY_BILLING_AMT = #{nextDayBillingAmt},
            TOTAL_STOCK_AMT = #{totalStockAmt},
            BEFORE_BDATE_STOCK_AMT = #{beforeBdateStockAmt},
            BEFORE_BDATE_RECV_AMT = #{beforeBdateRecvAmt},
            BEFORE_BDATE_CASH_SENDING_AMT = #{beforeBdateCashSendingAmt},
            BEFORE_BDATE_GIVE_AMT = #{beforeBdateGiveAmt},
            BEFORE_BDATE_DEPOSIT_AMT = #{beforeBdateDepositAmt},
            MNG_OFFICE = #{mngOffice},
            THIS_DAY_ADD_CASH_SENDING_AMT = #{thisDayAddCashSendingAmt},
            THIS_DAY_NONE_LOAD_AMT = #{thisDayNoneLoadAmt},
            PAYMENT_OVER_AMT = #{paymentOverAmt}
        WHERE
            BRANCH_CODE = #{branchCode}, REQ_DATE = #{reqDate}
    </update>

   <update id="insert" parameterType="sh03001190" statementType="PREPARED">
        INSERT INTO ATMS_03001190 (
            BRANCH_CODE,
            REQ_DATE,
            FUND_EXPENSE_START_DATE,
            FUND_EXPENSE_END_DATE,
            FUND_EXPENSE_TERM,
            NEXT_DAY_CASH_SENDING_AMT,
            NOW_DAY_ADD_CASH_SENDING_AMT,
            NOW_DAY_RTRVL_AMT,
            NOW_DAY_LACK_AMT,
            THIS_DAY_RTRVL_EXCPECT_AMT,
            NEXT_DAY_RTRVL_EXCPECT_AMT,
            NEXT_DAY_BILLING_AMT,
            TOTAL_STOCK_AMT,
            BEFORE_BDATE_STOCK_AMT,
            BEFORE_BDATE_RECV_AMT,
            BEFORE_BDATE_CASH_SENDING_AMT,
            BEFORE_BDATE_GIVE_AMT,
            BEFORE_BDATE_DEPOSIT_AMT,
            MNG_OFFICE,
            THIS_DAY_ADD_CASH_SENDING_AMT,
            THIS_DAY_NONE_LOAD_AMT,
            PAYMENT_OVER_AMT
        ) VALUES (
            #{branchCode},
            #{reqDate},
            #{fundExpenseStartDate},
            #{fundExpenseEndDate},
            #{fundExpenseTerm},
            #{nextDayCashSendingAmt},
            #{nowDayAddCashSendingAmt},
            #{nowDayRtrvlAmt},
            #{nowDayLackAmt},
            #{thisDayRtrvlExcpectAmt},
            #{nextDayRtrvlExcpectAmt},
            #{nextDayBillingAmt},
            #{totalStockAmt},
            #{beforeBdateStockAmt},
            #{beforeBdateRecvAmt},
            #{beforeBdateCashSendingAmt},
            #{beforeBdateGiveAmt},
            #{beforeBdateDepositAmt},
            #{mngOffice},
            #{thisDayAddCashSendingAmt},
            #{thisDayNoneLoadAmt},
            #{paymentOverAmt}
        )
    </update>
</mapper>