<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.etc.sh04001150.Sh04001150Mapper">

    <select id="findAll" resultType="sh04001150" parameterType="sh04001150" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            CORNER_NAME AS cornerName,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_REQ_DATE AS calleeReqDate,
            CALLEE_REQ_SEQ_NO AS calleeReqSeqNo,
            CALLEE_REQ_CHASU AS calleeReqChasu,
            CALLEE_CHASU_GUBUN AS calleeChasuGubun,
            CORNER_ARRIVAL_DATE AS cornerArrivalDate,
            CORNER_ARRIVAL_TIME AS cornerArrivalTime,
            REPAIR_DATETIME AS repairDatetime,
            TERMINAL_TYPE AS terminalType,
            ERROR_CONTENT AS errorContent,
            PENALTY_AMT AS penaltyAmt,
            NONE_PENALTY__ENABLE AS nonePenalty_enable,
            NONE_PENALTY_REASON AS nonePenaltyReason
        FROM
            ATMS_04001150
    </select>

    <select id="findOne" resultType="sh04001150" parameterType="sh04001150" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            CORNER_NAME AS cornerName,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_REQ_DATE AS calleeReqDate,
            CALLEE_REQ_SEQ_NO AS calleeReqSeqNo,
            CALLEE_REQ_CHASU AS calleeReqChasu,
            CALLEE_CHASU_GUBUN AS calleeChasuGubun,
            CORNER_ARRIVAL_DATE AS cornerArrivalDate,
            CORNER_ARRIVAL_TIME AS cornerArrivalTime,
            REPAIR_DATETIME AS repairDatetime,
            TERMINAL_TYPE AS terminalType,
            ERROR_CONTENT AS errorContent,
            PENALTY_AMT AS penaltyAmt,
            NONE_PENALTY__ENABLE AS nonePenalty_enable,
            NONE_PENALTY_REASON AS nonePenaltyReason
        FROM
            ATMS_04001150
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </select>

   <update id="delete" parameterType="sh04001150" statementType="PREPARED">
        DELETE FROM
            ATMS_04001150
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="update" parameterType="sh04001150" statementType="PREPARED">
        UPDATE ATMS_04001150
        SET
            JISA_CODE = #{jisaCode},
            CORNER_NAME = #{cornerName},
            CALLEE_REQ_DATE = #{calleeReqDate},
            CALLEE_REQ_SEQ_NO = #{calleeReqSeqNo},
            CALLEE_REQ_CHASU = #{calleeReqChasu},
            CALLEE_CHASU_GUBUN = #{calleeChasuGubun},
            CORNER_ARRIVAL_DATE = #{cornerArrivalDate},
            CORNER_ARRIVAL_TIME = #{cornerArrivalTime},
            REPAIR_DATETIME = #{repairDatetime},
            TERMINAL_TYPE = #{terminalType},
            ERROR_CONTENT = #{errorContent},
            PENALTY_AMT = #{penaltyAmt},
            NONE_PENALTY__ENABLE = #{nonePenalty_enable},
            NONE_PENALTY_REASON = #{nonePenaltyReason}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="insert" parameterType="sh04001150" statementType="PREPARED">
        INSERT INTO ATMS_04001150 (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            TERMINAL_NO,
            CORNER_NAME,
            ERROR_DATETIME,
            CALLEE_REQ_DATE,
            CALLEE_REQ_SEQ_NO,
            CALLEE_REQ_CHASU,
            CALLEE_CHASU_GUBUN,
            CORNER_ARRIVAL_DATE,
            CORNER_ARRIVAL_TIME,
            REPAIR_DATETIME,
            TERMINAL_TYPE,
            ERROR_CONTENT,
            PENALTY_AMT,
            NONE_PENALTY__ENABLE,
            NONE_PENALTY_REASON
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{terminalNo},
            #{cornerName},
            #{errorDatetime},
            #{calleeReqDate},
            #{calleeReqSeqNo},
            #{calleeReqChasu},
            #{calleeChasuGubun},
            #{cornerArrivalDate},
            #{cornerArrivalTime},
            #{repairDatetime},
            #{terminalType},
            #{errorContent},
            #{penaltyAmt},
            #{nonePenalty_enable},
            #{nonePenaltyReason}
        )
    </update>
</mapper>