<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh05001110.Sh05001110Mapper">

    <select id="findAll" resultType="sh05001110" parameterType="sh05001110" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            OVERHAUL_DATE AS overhaulDate,
            CORNER_NAME AS cornerName,
            TERMINAL_INSIDE_CLEANING AS terminalInsideCleaning,
            TERMINAL_CLEANING AS terminalCleaning,
            INTERCOM_CLEANING AS intercomCleaning,
            FLOAR_CLEANING AS floarCleaning,
            GARBAGECAN_CLEANING AS garbagecanCleaning,
            GLASS_CLEAN_CONFIRM AS glassCleanConfirm,
            PORTFOLIO_PAPER AS portfolioPaper,
            JRNL_PAPER AS jrnlPaper,
            BNKB_RIBBON AS bnkbRibbon,
            NOTICEGUIDE AS noticeguide,
            ETC_NOTICE AS etcNotice,
            INTERCOM AS intercom,
            DVR AS dvr,
            FLUORESCENT_LIGHT AS fluorescentLight,
            COOLER AS cooler,
            HEATER AS heater,
            BOOTH_OVERHAUL AS boothOverhaul,
            CHECK_RESIDUAL_QUANTITY AS checkResidualQuantity,
            RTRVL_BOX AS rtrvlBox,
            BILLBOARD_LIGHTING AS billboardLighting,
            UNUSL AS unusl,
            REPORT_EMP AS reportEmp,
            OFFICE_NAME AS officeName,
            TAKE_PHOTO_ENABLE AS takePhotoEnable
        FROM
            ATMS_05001110
    </select>

    <select id="findOne" resultType="sh05001110" parameterType="sh05001110" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            OVERHAUL_DATE AS overhaulDate,
            CORNER_NAME AS cornerName,
            TERMINAL_INSIDE_CLEANING AS terminalInsideCleaning,
            TERMINAL_CLEANING AS terminalCleaning,
            INTERCOM_CLEANING AS intercomCleaning,
            FLOAR_CLEANING AS floarCleaning,
            GARBAGECAN_CLEANING AS garbagecanCleaning,
            GLASS_CLEAN_CONFIRM AS glassCleanConfirm,
            PORTFOLIO_PAPER AS portfolioPaper,
            JRNL_PAPER AS jrnlPaper,
            BNKB_RIBBON AS bnkbRibbon,
            NOTICEGUIDE AS noticeguide,
            ETC_NOTICE AS etcNotice,
            INTERCOM AS intercom,
            DVR AS dvr,
            FLUORESCENT_LIGHT AS fluorescentLight,
            COOLER AS cooler,
            HEATER AS heater,
            BOOTH_OVERHAUL AS boothOverhaul,
            CHECK_RESIDUAL_QUANTITY AS checkResidualQuantity,
            RTRVL_BOX AS rtrvlBox,
            BILLBOARD_LIGHTING AS billboardLighting,
            UNUSL AS unusl,
            REPORT_EMP AS reportEmp,
            OFFICE_NAME AS officeName,
            TAKE_PHOTO_ENABLE AS takePhotoEnable
        FROM
            ATMS_05001110
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </select>

   <update id="delete" parameterType="sh05001110" statementType="PREPARED">
        DELETE FROM
            ATMS_05001110
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </update>

   <update id="update" parameterType="sh05001110" statementType="PREPARED">
        UPDATE ATMS_05001110
        SET
            JISA_CODE = #{jisaCode},
            CORNER_NAME = #{cornerName},
            TERMINAL_INSIDE_CLEANING = #{terminalInsideCleaning},
            TERMINAL_CLEANING = #{terminalCleaning},
            INTERCOM_CLEANING = #{intercomCleaning},
            FLOAR_CLEANING = #{floarCleaning},
            GARBAGECAN_CLEANING = #{garbagecanCleaning},
            GLASS_CLEAN_CONFIRM = #{glassCleanConfirm},
            PORTFOLIO_PAPER = #{portfolioPaper},
            JRNL_PAPER = #{jrnlPaper},
            BNKB_RIBBON = #{bnkbRibbon},
            NOTICEGUIDE = #{noticeguide},
            ETC_NOTICE = #{etcNotice},
            INTERCOM = #{intercom},
            DVR = #{dvr},
            FLUORESCENT_LIGHT = #{fluorescentLight},
            COOLER = #{cooler},
            HEATER = #{heater},
            BOOTH_OVERHAUL = #{boothOverhaul},
            CHECK_RESIDUAL_QUANTITY = #{checkResidualQuantity},
            RTRVL_BOX = #{rtrvlBox},
            BILLBOARD_LIGHTING = #{billboardLighting},
            UNUSL = #{unusl},
            REPORT_EMP = #{reportEmp},
            OFFICE_NAME = #{officeName},
            TAKE_PHOTO_ENABLE = #{takePhotoEnable}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </update>

   <update id="insert" parameterType="sh05001110" statementType="PREPARED">
        INSERT INTO ATMS_05001110 (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            OVERHAUL_DATE,
            CORNER_NAME,
            TERMINAL_INSIDE_CLEANING,
            TERMINAL_CLEANING,
            INTERCOM_CLEANING,
            FLOAR_CLEANING,
            GARBAGECAN_CLEANING,
            GLASS_CLEAN_CONFIRM,
            PORTFOLIO_PAPER,
            JRNL_PAPER,
            BNKB_RIBBON,
            NOTICEGUIDE,
            ETC_NOTICE,
            INTERCOM,
            DVR,
            FLUORESCENT_LIGHT,
            COOLER,
            HEATER,
            BOOTH_OVERHAUL,
            CHECK_RESIDUAL_QUANTITY,
            RTRVL_BOX,
            BILLBOARD_LIGHTING,
            UNUSL,
            REPORT_EMP,
            OFFICE_NAME,
            TAKE_PHOTO_ENABLE
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{overhaulDate},
            #{cornerName},
            #{terminalInsideCleaning},
            #{terminalCleaning},
            #{intercomCleaning},
            #{floarCleaning},
            #{garbagecanCleaning},
            #{glassCleanConfirm},
            #{portfolioPaper},
            #{jrnlPaper},
            #{bnkbRibbon},
            #{noticeguide},
            #{etcNotice},
            #{intercom},
            #{dvr},
            #{fluorescentLight},
            #{cooler},
            #{heater},
            #{boothOverhaul},
            #{checkResidualQuantity},
            #{rtrvlBox},
            #{billboardLighting},
            #{unusl},
            #{reportEmp},
            #{officeName},
            #{takePhotoEnable}
        )
    </update>
</mapper>