<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.sla.sh_sla_50.ShSla50Mapper">

    <select id="findAll" resultType="shSla50" parameterType="shSla50" statementType="PREPARED">
        SELECT
            CORP_CODE AS corpCode,
            TX_DATETIME AS txDatetime,
            OCM_AMOUNT AS ocmAmount,
            OCM_AMOUNT2 AS ocmAmount2,
            ACCOUNT_BALANCE AS accountBalance
        FROM
            ATMS_SLA_50
    </select>

    <select id="findOne" resultType="shSla50" parameterType="shSla50" statementType="PREPARED">
        SELECT
            CORP_CODE AS corpCode,
            TX_DATETIME AS txDatetime,
            OCM_AMOUNT AS ocmAmount,
            OCM_AMOUNT2 AS ocmAmount2,
            ACCOUNT_BALANCE AS accountBalance
        FROM
            ATMS_SLA_50
        WHERE
            CORP_CODE = #{corpCode}, TX_DATETIME = #{txDatetime}
    </select>

   <update id="delete" parameterType="shSla50" statementType="PREPARED">
        DELETE FROM
            ATMS_SLA_50
        WHERE
            CORP_CODE = #{corpCode}, TX_DATETIME = #{txDatetime}
    </update>

   <update id="update" parameterType="shSla50" statementType="PREPARED">
        UPDATE ATMS_SLA_50
        SET
            OCM_AMOUNT = #{ocmAmount},
            OCM_AMOUNT2 = #{ocmAmount2},
            ACCOUNT_BALANCE = #{accountBalance}
        WHERE
            CORP_CODE = #{corpCode}, TX_DATETIME = #{txDatetime}
    </update>

   <update id="insert" parameterType="shSla50" statementType="PREPARED">
        INSERT INTO ATMS_SLA_50 (
            CORP_CODE,
            TX_DATETIME,
            OCM_AMOUNT,
            OCM_AMOUNT2,
            ACCOUNT_BALANCE
        ) VALUES (
            #{corpCode},
            #{txDatetime},
            #{ocmAmount},
            #{ocmAmount2},
            #{accountBalance}
        )
    </update>
</mapper>