<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001210.Sh02001210Mapper">

    <select id="findAll" resultType="sh02001210" parameterType="sh02001210" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            TERMINAL_SEQ_NO AS terminalSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            NOUSE_JISA_CODE AS nouseJisaCode,
            NOUSE_BRANCH_CODE AS nouseBranchCode,
            NOUSE_CORNER_CODE AS nouseCornerCode,
            NOUSE_TERMINAL_NO AS nouseTerminalNo,
            NOUSE_TERMINAL_CORP_CODE AS nouseTerminalCorpCode,
            NOUSE_MODEL_CODE AS nouseModelCode,
            NOUSE_HIRE_TERMINAL_ENABLE AS nouseHireTerminalEnable,
            NOUSE_GUBUN AS nouseGubun,
            WORK_PLAN_DATETIME AS workPlanDatetime,
            NEW_BRANCH_CODE AS newBranchCode,
            NEW_CORNER_CODE AS newCornerCode,
            NEW_TERMINAL_NO AS newTerminalNo,
            NEW_TERMINAL_CORP_CODE AS newTerminalCorpCode,
            NEW_MODEL_CODE AS newModelCode,
            NEW_HIRE_TERMINAL_ENABLE AS newHireTerminalEnable,
            NEW_INSTALL_TERMINAL_GUBUN AS newInstallTerminalGubun,
            NEW_TERMINAL_HIRE_FEE AS newTerminalHireFee,
            NEW_GATEWAY_IP_ADDR AS newGatewayIpAddr,
            NEW_TERMINAL_IP_ADDR AS newTerminalIpAddr,
            NEW_TERMINAL_SMASK_ADDR AS newTerminalSmaskAddr,
            TERMINAL_PROD_NO AS terminalProdNo,
            NEW_TERMINAL_MNG_GUBUN AS newTerminalMngGubun
        FROM
            ATMS_02001210
    </select>

    <select id="findOne" resultType="sh02001210" parameterType="sh02001210" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            TERMINAL_SEQ_NO AS terminalSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            NOUSE_JISA_CODE AS nouseJisaCode,
            NOUSE_BRANCH_CODE AS nouseBranchCode,
            NOUSE_CORNER_CODE AS nouseCornerCode,
            NOUSE_TERMINAL_NO AS nouseTerminalNo,
            NOUSE_TERMINAL_CORP_CODE AS nouseTerminalCorpCode,
            NOUSE_MODEL_CODE AS nouseModelCode,
            NOUSE_HIRE_TERMINAL_ENABLE AS nouseHireTerminalEnable,
            NOUSE_GUBUN AS nouseGubun,
            WORK_PLAN_DATETIME AS workPlanDatetime,
            NEW_BRANCH_CODE AS newBranchCode,
            NEW_CORNER_CODE AS newCornerCode,
            NEW_TERMINAL_NO AS newTerminalNo,
            NEW_TERMINAL_CORP_CODE AS newTerminalCorpCode,
            NEW_MODEL_CODE AS newModelCode,
            NEW_HIRE_TERMINAL_ENABLE AS newHireTerminalEnable,
            NEW_INSTALL_TERMINAL_GUBUN AS newInstallTerminalGubun,
            NEW_TERMINAL_HIRE_FEE AS newTerminalHireFee,
            NEW_GATEWAY_IP_ADDR AS newGatewayIpAddr,
            NEW_TERMINAL_IP_ADDR AS newTerminalIpAddr,
            NEW_TERMINAL_SMASK_ADDR AS newTerminalSmaskAddr,
            TERMINAL_PROD_NO AS terminalProdNo,
            NEW_TERMINAL_MNG_GUBUN AS newTerminalMngGubun
        FROM
            ATMS_02001210
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </select>

   <update id="delete" parameterType="sh02001210" statementType="PREPARED">
        DELETE FROM
            ATMS_02001210
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="update" parameterType="sh02001210" statementType="PREPARED">
        UPDATE ATMS_02001210
        SET
            TERMINAL_SEQ_NO = #{terminalSeqNo},
            CHANGE_CHASU = #{changeChasu},
            STEXT_GUBUN = #{stextGubun},
            NOUSE_JISA_CODE = #{nouseJisaCode},
            NOUSE_BRANCH_CODE = #{nouseBranchCode},
            NOUSE_CORNER_CODE = #{nouseCornerCode},
            NOUSE_TERMINAL_NO = #{nouseTerminalNo},
            NOUSE_TERMINAL_CORP_CODE = #{nouseTerminalCorpCode},
            NOUSE_MODEL_CODE = #{nouseModelCode},
            NOUSE_HIRE_TERMINAL_ENABLE = #{nouseHireTerminalEnable},
            NOUSE_GUBUN = #{nouseGubun},
            WORK_PLAN_DATETIME = #{workPlanDatetime},
            NEW_BRANCH_CODE = #{newBranchCode},
            NEW_CORNER_CODE = #{newCornerCode},
            NEW_TERMINAL_NO = #{newTerminalNo},
            NEW_TERMINAL_CORP_CODE = #{newTerminalCorpCode},
            NEW_MODEL_CODE = #{newModelCode},
            NEW_HIRE_TERMINAL_ENABLE = #{newHireTerminalEnable},
            NEW_INSTALL_TERMINAL_GUBUN = #{newInstallTerminalGubun},
            NEW_TERMINAL_HIRE_FEE = #{newTerminalHireFee},
            NEW_GATEWAY_IP_ADDR = #{newGatewayIpAddr},
            NEW_TERMINAL_IP_ADDR = #{newTerminalIpAddr},
            NEW_TERMINAL_SMASK_ADDR = #{newTerminalSmaskAddr},
            TERMINAL_PROD_NO = #{terminalProdNo},
            NEW_TERMINAL_MNG_GUBUN = #{newTerminalMngGubun}
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="insert" parameterType="sh02001210" statementType="PREPARED">
        INSERT INTO ATMS_02001210 (
            WORK_SEQ_NO,
            TERMINAL_SEQ_NO,
            CHANGE_CHASU,
            STEXT_GUBUN,
            NOUSE_JISA_CODE,
            NOUSE_BRANCH_CODE,
            NOUSE_CORNER_CODE,
            NOUSE_TERMINAL_NO,
            NOUSE_TERMINAL_CORP_CODE,
            NOUSE_MODEL_CODE,
            NOUSE_HIRE_TERMINAL_ENABLE,
            NOUSE_GUBUN,
            WORK_PLAN_DATETIME,
            NEW_BRANCH_CODE,
            NEW_CORNER_CODE,
            NEW_TERMINAL_NO,
            NEW_TERMINAL_CORP_CODE,
            NEW_MODEL_CODE,
            NEW_HIRE_TERMINAL_ENABLE,
            NEW_INSTALL_TERMINAL_GUBUN,
            NEW_TERMINAL_HIRE_FEE,
            NEW_GATEWAY_IP_ADDR,
            NEW_TERMINAL_IP_ADDR,
            NEW_TERMINAL_SMASK_ADDR,
            TERMINAL_PROD_NO,
            NEW_TERMINAL_MNG_GUBUN
        ) VALUES (
            #{workSeqNo},
            #{terminalSeqNo},
            #{changeChasu},
            #{stextGubun},
            #{nouseJisaCode},
            #{nouseBranchCode},
            #{nouseCornerCode},
            #{nouseTerminalNo},
            #{nouseTerminalCorpCode},
            #{nouseModelCode},
            #{nouseHireTerminalEnable},
            #{nouseGubun},
            #{workPlanDatetime},
            #{newBranchCode},
            #{newCornerCode},
            #{newTerminalNo},
            #{newTerminalCorpCode},
            #{newModelCode},
            #{newHireTerminalEnable},
            #{newInstallTerminalGubun},
            #{newTerminalHireFee},
            #{newGatewayIpAddr},
            #{newTerminalIpAddr},
            #{newTerminalSmaskAddr},
            #{terminalProdNo},
            #{newTerminalMngGubun}
        )
    </update>
</mapper>