<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.lt.lt003.dao.Lt003Mapper">

    <select id="searchList" resultType="Lt00301VO" parameterType="Lt00301VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            T1.TOOL_UUID AS toolUuid,
            T1.TOOL_NAME AS toolName,
            T1.API AS api,
            T1.SOFTWARE_UUID AS softwareUuid,
            (SELECT SOFTWARE_NAME FROM LT_SOFTWARE WHERE USE_YN='Y' AND SOFTWARE_UUID= T1.SOFTWARE_UUID) AS softwareName,
            T1.DESCRIPTION AS description,
            T1.NOTES AS notes,
            T1.USE_YN AS useYn,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="T1.INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            T1.INSERT_DATE AS insertDate,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="T1.UPDATE_UUID"/>
        </include>
        AS updateUuid,

        <![CDATA[
            T1.UPDATE_DATE AS  updateDate
        FROM
            LT_TOOL T1
        WHERE 1=1
        ]]>
        <if test="null != toolName and '' != toolName">
            <![CDATA[
          AND T1.TOOL_NAME LIKE '%' || #{toolName} || '%'
        ]]>
        </if>
        <if test="null != softwareUuid and '' != softwareUuid">
            <![CDATA[
          AND  T1.SOFTWARE_UUID = #{softwareUuid}
        ]]>
        </if>
        <if test="null != useYN and '' != useYN">
            <![CDATA[
          AND  T1.USE_YN = #{useYN}
        ]]>
        </if>
        ORDER BY T1.TOOL_NAME ASC
    </select>

    <select id="checkDelete" resultType="int" parameterType="String" statementType="PREPARED">
        SELECT
        COUNT(TOOL_NAME)
        FROM
        LT_TOOL
        WHERE TOOL_NAME = #{toolName}
    </select>
</mapper>