<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.etc.sh04001170.Sh04001170Mapper">

    <select id="findAll" resultType="sh04001170" parameterType="sh04001170" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            INFO_GUBUN AS infoGubun,
            PARTITION_COUNT AS partitionCount,
            DRIVE_GUBUN1 AS driveGubun1,
            TOTAL_LIMIT1 AS totalLimit1,
            USAGE1 AS usage1,
            DRIVE_GUBUN2 AS driveGubun2,
            TOTAL_LIMIT2 AS totalLimit2,
            USAGE2 AS usage2,
            DRIVE_GUBUN3 AS driveGubun3,
            TOTAL_LIMIT3 AS totalLimit3,
            USAGE3 AS usage3,
            DRIVE_GUBUN4 AS driveGubun4,
            TOTAL_LIMIT4 AS totalLimit4,
            USAGE4 AS usage4,
            DRIVE_GUBUN5 AS driveGubun5,
            TOTAL_LIMIT5 AS totalLimit5,
            USAGE5 AS usage5,
            DRIVE_GUBUN6 AS driveGubun6,
            TOTAL_LIMIT6 AS totalLimit6,
            USAGE6 AS usage6,
            CONTENT AS content
        FROM
            ATMS_04001170
    </select>

    <select id="findOne" resultType="sh04001170" parameterType="sh04001170" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            INFO_GUBUN AS infoGubun,
            PARTITION_COUNT AS partitionCount,
            DRIVE_GUBUN1 AS driveGubun1,
            TOTAL_LIMIT1 AS totalLimit1,
            USAGE1 AS usage1,
            DRIVE_GUBUN2 AS driveGubun2,
            TOTAL_LIMIT2 AS totalLimit2,
            USAGE2 AS usage2,
            DRIVE_GUBUN3 AS driveGubun3,
            TOTAL_LIMIT3 AS totalLimit3,
            USAGE3 AS usage3,
            DRIVE_GUBUN4 AS driveGubun4,
            TOTAL_LIMIT4 AS totalLimit4,
            USAGE4 AS usage4,
            DRIVE_GUBUN5 AS driveGubun5,
            TOTAL_LIMIT5 AS totalLimit5,
            USAGE5 AS usage5,
            DRIVE_GUBUN6 AS driveGubun6,
            TOTAL_LIMIT6 AS totalLimit6,
            USAGE6 AS usage6,
            CONTENT AS content
        FROM
            ATMS_04001170
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}
    </select>

   <update id="delete" parameterType="sh04001170" statementType="PREPARED">
        DELETE FROM
            ATMS_04001170
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}
    </update>

   <update id="update" parameterType="sh04001170" statementType="PREPARED">
        UPDATE ATMS_04001170
        SET
            JISA_CODE = #{jisaCode},
            INFO_GUBUN = #{infoGubun},
            PARTITION_COUNT = #{partitionCount},
            DRIVE_GUBUN1 = #{driveGubun1},
            TOTAL_LIMIT1 = #{totalLimit1},
            USAGE1 = #{usage1},
            DRIVE_GUBUN2 = #{driveGubun2},
            TOTAL_LIMIT2 = #{totalLimit2},
            USAGE2 = #{usage2},
            DRIVE_GUBUN3 = #{driveGubun3},
            TOTAL_LIMIT3 = #{totalLimit3},
            USAGE3 = #{usage3},
            DRIVE_GUBUN4 = #{driveGubun4},
            TOTAL_LIMIT4 = #{totalLimit4},
            USAGE4 = #{usage4},
            DRIVE_GUBUN5 = #{driveGubun5},
            TOTAL_LIMIT5 = #{totalLimit5},
            USAGE5 = #{usage5},
            DRIVE_GUBUN6 = #{driveGubun6},
            TOTAL_LIMIT6 = #{totalLimit6},
            USAGE6 = #{usage6},
            CONTENT = #{content}
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}
    </update>

   <update id="insert" parameterType="sh04001170" statementType="PREPARED">
        INSERT INTO ATMS_04001170 (
            TX_ID,
            JISA_CODE,
            BRANCH_CODE,
            TERMINAL_NO,
            INFO_GUBUN,
            PARTITION_COUNT,
            DRIVE_GUBUN1,
            TOTAL_LIMIT1,
            USAGE1,
            DRIVE_GUBUN2,
            TOTAL_LIMIT2,
            USAGE2,
            DRIVE_GUBUN3,
            TOTAL_LIMIT3,
            USAGE3,
            DRIVE_GUBUN4,
            TOTAL_LIMIT4,
            USAGE4,
            DRIVE_GUBUN5,
            TOTAL_LIMIT5,
            USAGE5,
            DRIVE_GUBUN6,
            TOTAL_LIMIT6,
            USAGE6,
            CONTENT
        ) VALUES (
            #{txId},
            #{jisaCode},
            #{branchCode},
            #{terminalNo},
            #{infoGubun},
            #{partitionCount},
            #{driveGubun1},
            #{totalLimit1},
            #{usage1},
            #{driveGubun2},
            #{totalLimit2},
            #{usage2},
            #{driveGubun3},
            #{totalLimit3},
            #{usage3},
            #{driveGubun4},
            #{totalLimit4},
            #{usage4},
            #{driveGubun5},
            #{totalLimit5},
            #{usage5},
            #{driveGubun6},
            #{totalLimit6},
            #{usage6},
            #{content}
        )
    </update>
</mapper>