<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.sla.sh_sla_70.ShSla70Mapper">

    <select id="findAll" resultType="shSla70" parameterType="shSla70" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_CHASU AS calleeChasu,
            CUSTOMER_WAIT AS customerWait,
            EVAL_TYPE AS evalType,
            CORP_CODE AS corpCode,
            CALLEE_TYPE AS calleeType,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            LOCATION AS location,
            AREA AS area,
            TERMINAL_NO AS terminalNo,
            CALLEE_GUBUN AS calleeGubun,
            CALLEE_REQ_DATETIME AS calleeReqDatetime,
            ARRIVAL_PLAN_DATETIME AS arrivalPlanDatetime,
            ARRIVAL_DATETIME AS arrivalDatetime,
            ARRIVAL_TYPE AS arrivalType,
            CALLEE_REQ_ELAPSED_TIME AS calleeReqElapsedTime,
            CALLEE_REQ_ELAPSED_SECONDS AS calleeReqElapsedSeconds,
            ARRIVAL_ELAPSED_TIME AS arrivalElapsedTime,
            ARRIVAL_ELAPSED_SECONDS AS arrivalElapsedSeconds,
            REPORT_DATETIME AS reportDatetime,
            ERROR_CONTENT AS errorContent,
            DEVICE AS device,
            ACCEPT AS accept,
            REFUSE_REASON AS refuseReason
        FROM
            ATMS_SLA_70
    </select>

    <select id="findOne" resultType="shSla70" parameterType="shSla70" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            ERROR_DATETIME AS errorDatetime,
            CALLEE_CHASU AS calleeChasu,
            CUSTOMER_WAIT AS customerWait,
            EVAL_TYPE AS evalType,
            CORP_CODE AS corpCode,
            CALLEE_TYPE AS calleeType,
            BRANCH_CODE AS branchCode,
            BRANCH_NAME AS branchName,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            LOCATION AS location,
            AREA AS area,
            TERMINAL_NO AS terminalNo,
            CALLEE_GUBUN AS calleeGubun,
            CALLEE_REQ_DATETIME AS calleeReqDatetime,
            ARRIVAL_PLAN_DATETIME AS arrivalPlanDatetime,
            ARRIVAL_DATETIME AS arrivalDatetime,
            ARRIVAL_TYPE AS arrivalType,
            CALLEE_REQ_ELAPSED_TIME AS calleeReqElapsedTime,
            CALLEE_REQ_ELAPSED_SECONDS AS calleeReqElapsedSeconds,
            ARRIVAL_ELAPSED_TIME AS arrivalElapsedTime,
            ARRIVAL_ELAPSED_SECONDS AS arrivalElapsedSeconds,
            REPORT_DATETIME AS reportDatetime,
            ERROR_CONTENT AS errorContent,
            DEVICE AS device,
            ACCEPT AS accept,
            REFUSE_REASON AS refuseReason
        FROM
            ATMS_SLA_70
        WHERE
            TX_ID = #{txId}, ERROR_DATETIME = #{errorDatetime}, CALLEE_CHASU = #{calleeChasu}
    </select>

   <update id="delete" parameterType="shSla70" statementType="PREPARED">
        DELETE FROM
            ATMS_SLA_70
        WHERE
            TX_ID = #{txId}, ERROR_DATETIME = #{errorDatetime}, CALLEE_CHASU = #{calleeChasu}
    </update>

   <update id="update" parameterType="shSla70" statementType="PREPARED">
        UPDATE ATMS_SLA_70
        SET
            CUSTOMER_WAIT = #{customerWait},
            EVAL_TYPE = #{evalType},
            CORP_CODE = #{corpCode},
            CALLEE_TYPE = #{calleeType},
            BRANCH_CODE = #{branchCode},
            BRANCH_NAME = #{branchName},
            CORNER_CODE = #{cornerCode},
            CORNER_NAME = #{cornerName},
            LOCATION = #{location},
            AREA = #{area},
            TERMINAL_NO = #{terminalNo},
            CALLEE_GUBUN = #{calleeGubun},
            CALLEE_REQ_DATETIME = #{calleeReqDatetime},
            ARRIVAL_PLAN_DATETIME = #{arrivalPlanDatetime},
            ARRIVAL_DATETIME = #{arrivalDatetime},
            ARRIVAL_TYPE = #{arrivalType},
            CALLEE_REQ_ELAPSED_TIME = #{calleeReqElapsedTime},
            CALLEE_REQ_ELAPSED_SECONDS = #{calleeReqElapsedSeconds},
            ARRIVAL_ELAPSED_TIME = #{arrivalElapsedTime},
            ARRIVAL_ELAPSED_SECONDS = #{arrivalElapsedSeconds},
            REPORT_DATETIME = #{reportDatetime},
            ERROR_CONTENT = #{errorContent},
            DEVICE = #{device},
            ACCEPT = #{accept},
            REFUSE_REASON = #{refuseReason}
        WHERE
            TX_ID = #{txId}, ERROR_DATETIME = #{errorDatetime}, CALLEE_CHASU = #{calleeChasu}
    </update>

   <update id="insert" parameterType="shSla70" statementType="PREPARED">
        INSERT INTO ATMS_SLA_70 (
            TX_ID,
            ERROR_DATETIME,
            CALLEE_CHASU,
            CUSTOMER_WAIT,
            EVAL_TYPE,
            CORP_CODE,
            CALLEE_TYPE,
            BRANCH_CODE,
            BRANCH_NAME,
            CORNER_CODE,
            CORNER_NAME,
            LOCATION,
            AREA,
            TERMINAL_NO,
            CALLEE_GUBUN,
            CALLEE_REQ_DATETIME,
            ARRIVAL_PLAN_DATETIME,
            ARRIVAL_DATETIME,
            ARRIVAL_TYPE,
            CALLEE_REQ_ELAPSED_TIME,
            CALLEE_REQ_ELAPSED_SECONDS,
            ARRIVAL_ELAPSED_TIME,
            ARRIVAL_ELAPSED_SECONDS,
            REPORT_DATETIME,
            ERROR_CONTENT,
            DEVICE,
            ACCEPT,
            REFUSE_REASON
        ) VALUES (
            #{txId},
            #{errorDatetime},
            #{calleeChasu},
            #{customerWait},
            #{evalType},
            #{corpCode},
            #{calleeType},
            #{branchCode},
            #{branchName},
            #{cornerCode},
            #{cornerName},
            #{location},
            #{area},
            #{terminalNo},
            #{calleeGubun},
            #{calleeReqDatetime},
            #{arrivalPlanDatetime},
            #{arrivalDatetime},
            #{arrivalType},
            #{calleeReqElapsedTime},
            #{calleeReqElapsedSeconds},
            #{arrivalElapsedTime},
            #{arrivalElapsedSeconds},
            #{reportDatetime},
            #{errorContent},
            #{device},
            #{accept},
            #{refuseReason}
        )
    </update>
</mapper>