<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.df.df001.dao.Df001Mapper">

    <select id="searchList" resultType="Df00101VO" parameterType="Df00101VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            DISPOSAL_FREEZE_EVENT_UUID AS disposalFreezeEventUuid,
            STATUS_UUID AS statusUuid,
            EVENT_CODE AS eventCode,
            EVENT_NAME AS eventName,
            EVENT_TYPE_UUID AS eventTypeUuid,
            TO_CHAR(REVIEW_DATE, 'yyyy-MM-dd') AS reviewDate,
            DESCRIPTION AS description,
            NOTES AS notes,
            END_YN AS endYN,
            REASON as reason,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="TERMINATOR_UUID"/>
        </include>
        AS terminatorUuid,

        <![CDATA[
            END_DATE AS endDate,
        ]]>

        <include refid="Common.UserName">
            <property name="userUuid" value="INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            INSERT_DATE AS insertDate,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="UPDATE_UUID"/>
        </include>
        AS updateUuid,

        <![CDATA[
            UPDATE_DATE AS  updateDate
        FROM
            DF_DISPOSAL_FREEZE_EVENT
        WHERE 1=1
        ]]>
        <if test="null != statusUuid and '' != statusUuid">
            <![CDATA[
          AND STATUS_UUID = #{statusUuid}
        ]]>
        </if>
        <if test="null != eventCode and '' != eventCode">
            <![CDATA[
          AND EVENT_CODE LIKE '%' || #{eventCode} || '%'
        ]]>
        </if>
        <if test="null != eventName and '' != eventName">
            <![CDATA[
          AND EVENT_NAME LIKE '%' || #{eventName} || '%'
        ]]>
        </if>
        <if test="null != eventTypeUuid and '' != eventTypeUuid">
            <![CDATA[
          AND EVENT_TYPE_UUID = #{eventTypeUuid}
        ]]>
        </if>
        <if test="null != endYN and '' != endYN">
            <![CDATA[
          AND  END_YN = #{endYN}
        ]]>
        </if>
        <if test="null != reviewDate and '' != reviewDate">
            <![CDATA[
          AND TO_CHAR(REVIEW_DATE, 'yyyy-MM-dd') BETWEEN #{reviewDate} AND #{reviewDateTo}
        ]]>
        </if>
        ORDER BY EVENT_CODE ASC
    </select>

    <select id="getDetail" resultType="Df00102VO" parameterType="Df00102VO" statementType="PREPARED">
        SELECT
            (SELECT MAX("DEGREE")
            FROM DF_DISPOSAL_FREEZE_DEGREE
            WHERE DISPOSAL_FREEZE_EVENT_UUID = #{disposalFreezeEventUuid}) AS freezeCnt,
            (SELECT COUNT(AGGREGATION_ID)
            FROM DF_DISPOSAL_FREEZE_RESULT
            WHERE DISPOSAL_FREEZE_EVENT_UUID = #{disposalFreezeEventUuid}) AS aggregationCnt,
            (SELECT COUNT(ITEM_UUID)
            FROM DF_DISPOSAL_FREEZE_RESULT
            WHERE DISPOSAL_FREEZE_EVENT_UUID = #{disposalFreezeEventUuid}) AS itemCnt
        FROM dual
    </select>

    <select id="checkDegree" resultType="int" parameterType="String" statementType="PREPARED">
        SELECT
          COUNT(DISPOSAL_FREEZE_DEGREE_UUID)
        FROM
          DF_DISPOSAL_FREEZE_DEGREE
        WHERE
          DISPOSAL_FREEZE_EVENT_UUID = #{uuid}
    </select>
</mapper>