<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001100.Sh02001100Mapper">

    <select id="findAll" resultType="sh02001100" parameterType="sh02001100" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            WORK_GUBUN AS workGubun,
            NOTICE_DATETIME AS noticeDatetime,
            TASK_APPLY_DATE AS taskApplyDate,
            WORK_DATE AS workDate,
            INSTALL_TERMINAL_COUNT AS installTerminalCount,
            INSTALL_FAC_COUNT AS installFacCount,
            BRANCH_NAME AS branchName,
            CORNER_NAME AS cornerName,
            BIZ_MANAGER_NAME AS bizManagerName,
            MANAGER_TELNO AS managerTelno,
            WORK_CONTENT AS workContent
        FROM
            ATMS_02001100
    </select>

    <select id="findOne" resultType="sh02001100" parameterType="sh02001100" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            CHANGE_CHASU AS changeChasu,
            STEXT_GUBUN AS stextGubun,
            WORK_GUBUN AS workGubun,
            NOTICE_DATETIME AS noticeDatetime,
            TASK_APPLY_DATE AS taskApplyDate,
            WORK_DATE AS workDate,
            INSTALL_TERMINAL_COUNT AS installTerminalCount,
            INSTALL_FAC_COUNT AS installFacCount,
            BRANCH_NAME AS branchName,
            CORNER_NAME AS cornerName,
            BIZ_MANAGER_NAME AS bizManagerName,
            MANAGER_TELNO AS managerTelno,
            WORK_CONTENT AS workContent
        FROM
            ATMS_02001100
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </select>

   <update id="delete" parameterType="sh02001100" statementType="PREPARED">
        DELETE FROM
            ATMS_02001100
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="update" parameterType="sh02001100" statementType="PREPARED">
        UPDATE ATMS_02001100
        SET
            CHANGE_CHASU = #{changeChasu},
            STEXT_GUBUN = #{stextGubun},
            WORK_GUBUN = #{workGubun},
            NOTICE_DATETIME = #{noticeDatetime},
            TASK_APPLY_DATE = #{taskApplyDate},
            WORK_DATE = #{workDate},
            INSTALL_TERMINAL_COUNT = #{installTerminalCount},
            INSTALL_FAC_COUNT = #{installFacCount},
            BRANCH_NAME = #{branchName},
            CORNER_NAME = #{cornerName},
            BIZ_MANAGER_NAME = #{bizManagerName},
            MANAGER_TELNO = #{managerTelno},
            WORK_CONTENT = #{workContent}
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="insert" parameterType="sh02001100" statementType="PREPARED">
        INSERT INTO ATMS_02001100 (
            WORK_SEQ_NO,
            CHANGE_CHASU,
            STEXT_GUBUN,
            WORK_GUBUN,
            NOTICE_DATETIME,
            TASK_APPLY_DATE,
            WORK_DATE,
            INSTALL_TERMINAL_COUNT,
            INSTALL_FAC_COUNT,
            BRANCH_NAME,
            CORNER_NAME,
            BIZ_MANAGER_NAME,
            MANAGER_TELNO,
            WORK_CONTENT
        ) VALUES (
            #{workSeqNo},
            #{changeChasu},
            #{stextGubun},
            #{workGubun},
            #{noticeDatetime},
            #{taskApplyDate},
            #{workDate},
            #{installTerminalCount},
            #{installFacCount},
            #{branchName},
            #{cornerName},
            #{bizManagerName},
            #{managerTelno},
            #{workContent}
        )
    </update>
</mapper>