<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.cash.sh03001140.Sh03001140Mapper">

    <select id="findAll" resultType="sh03001140" parameterType="sh03001140" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            CLOSE_DATE AS closeDate,
            PREV_DAY_CASH_SENDING_AMT AS prevDayCashSendingAmt,
            DEPOSIT_AMT AS depositAmt,
            GIVE_AMT AS giveAmt,
            CLOSE_AMT AS closeAmt,
            NONE_PROCESS_AMT AS noneProcessAmt,
            RTRVL_FUND AS rtrvlFund,
            NONE_PROCESS_AT AS noneProcessAt,
            MNG_OFFICE AS mngOffice,
            ADJUST_LACK_AMT_COUNT AS adjustLackAmtCount,
            ADJUST_LACK_AMT AS adjustLackAmt
        FROM
            ATMS_03001140
    </select>

    <select id="findOne" resultType="sh03001140" parameterType="sh03001140" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            CLOSE_DATE AS closeDate,
            PREV_DAY_CASH_SENDING_AMT AS prevDayCashSendingAmt,
            DEPOSIT_AMT AS depositAmt,
            GIVE_AMT AS giveAmt,
            CLOSE_AMT AS closeAmt,
            NONE_PROCESS_AMT AS noneProcessAmt,
            RTRVL_FUND AS rtrvlFund,
            NONE_PROCESS_AT AS noneProcessAt,
            MNG_OFFICE AS mngOffice,
            ADJUST_LACK_AMT_COUNT AS adjustLackAmtCount,
            ADJUST_LACK_AMT AS adjustLackAmt
        FROM
            ATMS_03001140
        WHERE
            BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CLOSE_DATE = #{closeDate}
    </select>

   <update id="delete" parameterType="sh03001140" statementType="PREPARED">
        DELETE FROM
            ATMS_03001140
        WHERE
            BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CLOSE_DATE = #{closeDate}
    </update>

   <update id="update" parameterType="sh03001140" statementType="PREPARED">
        UPDATE ATMS_03001140
        SET
            JISA_CODE = #{jisaCode},
            PREV_DAY_CASH_SENDING_AMT = #{prevDayCashSendingAmt},
            DEPOSIT_AMT = #{depositAmt},
            GIVE_AMT = #{giveAmt},
            CLOSE_AMT = #{closeAmt},
            NONE_PROCESS_AMT = #{noneProcessAmt},
            RTRVL_FUND = #{rtrvlFund},
            NONE_PROCESS_AT = #{noneProcessAt},
            MNG_OFFICE = #{mngOffice},
            ADJUST_LACK_AMT_COUNT = #{adjustLackAmtCount},
            ADJUST_LACK_AMT = #{adjustLackAmt}
        WHERE
            BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CLOSE_DATE = #{closeDate}
    </update>

   <update id="insert" parameterType="sh03001140" statementType="PREPARED">
        INSERT INTO ATMS_03001140 (
            JISA_CODE,
            BRANCH_CODE,
            TERMINAL_NO,
            CLOSE_DATE,
            PREV_DAY_CASH_SENDING_AMT,
            DEPOSIT_AMT,
            GIVE_AMT,
            CLOSE_AMT,
            NONE_PROCESS_AMT,
            RTRVL_FUND,
            NONE_PROCESS_AT,
            MNG_OFFICE,
            ADJUST_LACK_AMT_COUNT,
            ADJUST_LACK_AMT
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{terminalNo},
            #{closeDate},
            #{prevDayCashSendingAmt},
            #{depositAmt},
            #{giveAmt},
            #{closeAmt},
            #{noneProcessAmt},
            #{rtrvlFund},
            #{noneProcessAt},
            #{mngOffice},
            #{adjustLackAmtCount},
            #{adjustLackAmt}
        )
    </update>
</mapper>