<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.lt.lt002.dao.Lt002Mapper">

    <select id="searchList" resultType="Lt00201VO" parameterType="Lt00201VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            SOFTWARE_UUID AS softwareUuid,
            SOFTWARE_NAME AS softwareName,
            SOFTWARE_VERSION AS softwareVersion,
            VENDOR_NAME AS vendorName,
            VENDOR_HOMEPAGE AS vendorHomepage,
            LICENSE_CODE AS licenseCode,
            INSTALL_PATH AS installPath,
            EXE_FILE_NAME AS exeFileName,
            DESCRIPTION AS description,
            NOTES AS notes,
            USE_YN AS useYN,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            INSERT_DATE AS insertDate,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="UPDATE_UUID"/>
        </include>
        AS updateUuid,

        <![CDATA[
            UPDATE_DATE AS  updateDate
        FROM
            LT_SOFTWARE
        WHERE 1=1
        ]]>
        <if test="null != softwareName and '' != softwareName">
            <![CDATA[
          AND SOFTWARE_NAME LIKE '%' || #{softwareName} || '%'
        ]]>
        </if>
        <if test="null != useYN and '' != useYN">
            <![CDATA[
          AND  USE_YN = #{useYN}
        ]]>
        </if>
        ORDER BY SOFTWARE_NAME ASC, SOFTWARE_VERSION ASC
    </select>

    <select id="checkDelete" resultType="int" parameterType="Lt00201VO" statementType="PREPARED">
        SELECT
          COUNT(SOFTWARE_NAME)
        FROM
          LT_SOFTWARE
        WHERE SOFTWARE_NAME = #{softwareName}
        AND SOFTWARE_VERSION= #{softwareVersion}
    </select>
</mapper>