<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ac.ac003.dao.Ac003Mapper">
    <select id="findAllUser" resultType="Ac00301VO" parameterType="Ac00301VO" statementType="PREPARED">
        SELECT
            Z.USER_UUID as userUuid,
            Z.USER_ID as userId,
            Z.USER_NAME as userNm,
            Z.PASSWORD as userPassword,
            Z.PASSWORD_UPDATE_DATE as passwordUpdateDate,
            Z.USER_TYPE_UUID as userTypeUuid,
            Z.START_PROGRAM_UUID startProgramUuid,
            (SELECT PROGRAM_NAME FROM AD_PROGRAM WHERE PROGRAM_UUID = Z.START_PROGRAM_UUID)as startProgramName,
            Z.ORGANIZATION_UUID organizationUuid,
            Z.DESCRIPTION description,
            Z.NOTES notes,
            Z.USE_YN useYn,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z.INSERT_UUID"/>
            </include>
            as insertUuid,
            Z.INSERT_DATE as insertDate,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z.UPDATE_UUID"/>
            </include>
            as updateUuid,
            Z.UPDATE_DATE as updateDate
        FROM
        AC_USER Z
        <where>
            <if test="userId != null">
                Z.USER_ID LIKE '%' || #{userId} || '%'
            </if>
            <if test="userNm != null">
                AND Z.USER_NAME LIKE '%' || #{userNm} || '%'
            </if>
            <if test="userTypeUuid != null">
                AND Z.USER_TYPE_UUID = #{userTypeUuid}
            </if>
            <if test="useYn != null">
                AND Z.USE_YN = #{useYn}
            </if>
        </where>
    </select>

    <select id="findUserGroupUserByUserUuid" resultType="Ac00302VO" parameterType="String" statementType="PREPARED">
        SELECT
            Z1.USER_GROUP_USER_UUID as userGroupUserUuid,
            Z1.USER_GROUP_UUID as userGroupUuid,
            Z2.USER_GROUP_NAME as userGroupName,
            Z1.USER_UUID as userUuid,
            Z1.DESCRIPTION as description,
            Z1.NOTES as notes,
            Z1.USE_YN as useYn,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z1.INSERT_UUID"/>
            </include>
            as insertUuid,
            Z1.INSERT_DATE insertDate,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z1.UPDATE_UUID"/>
            </include>
            as updateUuid,
            Z1.UPDATE_DATE updateDate
        FROM
            AC_USER_GROUP_USER Z1,
            AC_USER_GROUP Z2
        WHERE Z1.USER_GROUP_UUID = Z2.USER_GROUP_UUID
        AND Z1.USER_UUID = #{userUuid}
    </select>

    <select id="findUserRole" resultType="Ac00303VO" parameterType="Ac00303VO" statementType="PREPARED">
        SELECT DISTINCT
            Z1.ACCESS_CONTROL_UUID as accessControlUuid,
            Z1.USER_UUID as userUuid,
            Z1.USER_GROUP_UUID as userGroupUuid,
            Z1.ROLE_UUID as roleUuid,
            Z2.ROLE_NAME as roleName,
            Z1.DESCRIPTION as description,
            Z1.NOTES as notes,
            Z1.USE_YN as useYn,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z1.INSERT_UUID"/>
            </include>
            as insertUuid,
            Z1.INSERT_DATE insertDate,
            <include refid="Common.UserName">
                <property name="userUuid" value="Z1.UPDATE_UUID"/>
            </include>
            as updateUuid,
            Z1.UPDATE_DATE updateDate
        FROM
            AC_ACCESS_CONTROL Z1,
            AC_ROLE Z2
        WHERE Z1.ROLE_UUID = Z2.ROLE_UUID
        <choose>
            <when test="userUuid != null">
                AND Z1.USER_UUID = #{userUuid}
            </when>
        </choose>
    </select>
</mapper>