<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad008.dao.Ad008Mapper">

    <select id="searchList" resultType="Ad00801VO" parameterType="Ad00801VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            T1.AUDIT_UUID AS auditUuid,
            T1.ENTITY_TYPE AS entityType,
            (SELECT ENTITY_TYPE_NAME FROM AD_ENTITY_TYPE WHERE ENTITY_TYPE_CODE = T1.ENTITY_TYPE) AS entityTypeName,
            T1.ENTITY_COLUMN AS entityColumn,
            T1.PROGRAM_ID AS programId,
            T1.PROGRAM_NAME AS programName,
            T1.FUNCTION AS "function",
            T1.PRIMARY_KEY_UUID AS primaryKey,
            T1.PREVIOUS_VALUE AS previousValue,
            T1.NEW_VALUE AS newValue,
            T1.DESCRIPTION AS description,
            T1.NOTES AS notes,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            INSERT_DATE AS insertDate,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="UPDATE_UUID"/>
        </include>
        AS updateUuid,

        <![CDATA[
            UPDATE_DATE AS  updateDate
        FROM
             AD_AUDIT T1,
            (
                SELECT A.ENTITY_COLUMN_UUID, B.TERM_NAME
                FROM AD_ENTITY_COLUMN A, AD_GLOSSARY B
                WHERE A.GLOSSARY_UUID = B.GLOSSARY_UUID
            ) T2
        WHERE T1.PRIMARY_KEY_UUID = T2.ENTITY_COLUMN_UUID(+)
        ]]>
        <if test="null != entityType and '' != entityType">
            <![CDATA[
            AND T1.ENTITY_TYPE = #{entityType}
          ]]>
        </if>
        <if test="null != primaryKey and '' != primaryKey">
            <![CDATA[
            AND T1.PRIMARY_KEY_UUID = #{primaryKey}
          ]]>
        </if>
        <if test="null != programName and '' != programName">
            <![CDATA[
            AND T1.PROGRAM_NAME = #{programName}
          ]]>
        </if>
        <if test="null != function and '' != function">
            <![CDATA[
            AND T1.FUNCTION = #{function}
          ]]>
        </if>
        <if test="null != modifyDateFrom and '' != modifyDateFrom">
            <![CDATA[
          AND TO_CHAR(T1.UPDATE_DATE, 'yyyy-MM-dd') >= #{modifyDateFrom}
        ]]>
        </if>
        <if test="null != modifyDateTo and '' != modifyDateTo">
            <![CDATA[
          AND TO_CHAR(T1.UPDATE_DATE, 'yyyy-MM-dd') <= #{modifyDateTo}
        ]]>
        </if>
        ORDER BY T1.UPDATE_DATE DESC
    </select>

</mapper>