<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul..Ad007Mapper">

    <select id="findAll" resultType="ad007" parameterType="ad007" statementType="PREPARED">
        SELECT
            SERVICE_UUID AS serviceUuid,
            SERVICE_CODE AS serviceCode,
            SERVICE_NAME AS serviceName,
            INSTALL_YN AS installYn,
            DESCRIPTION AS description,
            NOTES AS notes,
            USE_YN AS useYn,
            INSERT_UUID AS insertUuid,
            INSERT_DATE AS insertDate,
            UPDATE_UUID AS updateUuid,
            UPDATE_DATE AS updateDate
        FROM
            AD_SERVICE
    </select>

    <select id="findOne" resultType="ad007" parameterType="ad007" statementType="PREPARED">
        SELECT
            SERVICE_UUID AS serviceUuid,
            SERVICE_CODE AS serviceCode,
            SERVICE_NAME AS serviceName,
            INSTALL_YN AS installYn,
            DESCRIPTION AS description,
            NOTES AS notes,
            USE_YN AS useYn,
            INSERT_UUID AS insertUuid,
            INSERT_DATE AS insertDate,
            UPDATE_UUID AS updateUuid,
            UPDATE_DATE AS updateDate
        FROM
            AD_SERVICE
        WHERE
            SERVICE_UUID = #{serviceUuid}
    </select>

   <update id="delete" parameterType="ad007" statementType="PREPARED">
        DELETE FROM
            AD_SERVICE
        WHERE
            SERVICE_UUID = #{serviceUuid}
    </update>

   <update id="update" parameterType="ad007" statementType="PREPARED">
        UPDATE AD_SERVICE
        SET
            SERVICE_CODE = #{serviceCode},
            SERVICE_NAME = #{serviceName},
            INSTALL_YN = #{installYn},
            DESCRIPTION = #{description},
            NOTES = #{notes},
            USE_YN = #{useYn},
            INSERT_UUID = #{insertUuid},
            INSERT_DATE = #{insertDate},
            UPDATE_UUID = #{updateUuid},
            UPDATE_DATE = #{updateDate}
        WHERE
            SERVICE_UUID = #{serviceUuid}
    </update>

   <update id="insert" parameterType="ad007" statementType="PREPARED">
        INSERT INTO AD_SERVICE (
            SERVICE_UUID,
            SERVICE_CODE,
            SERVICE_NAME,
            INSTALL_YN,
            DESCRIPTION,
            NOTES,
            USE_YN,
            INSERT_UUID,
            INSERT_DATE,
            UPDATE_UUID,
            UPDATE_DATE
        ) VALUES (
            #{serviceUuid},
            #{serviceCode},
            #{serviceName},
            #{installYn},
            #{description},
            #{notes},
            #{useYn},
            #{insertUuid},
            #{insertDate},
            #{updateUuid},
            #{updateDate}
        )
    </update>
</mapper>