<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad007.dao.Ad007Mapper">

    <select id="searchList" resultType="Ad00701VO" parameterType="Ad00701VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            ADD_CONTEXTUAL_META_UUID AS addContextualMetaUuid,
            STATUS_UUID AS statusUuid,
            ENTITY_TYPE AS entityType,
            COLUMN_CODE AS columnCode,
            COLUMN_VALUE AS columnValue,
            METADATA_ENTITY_TYPE AS metadataEntityType,
            ADDITIONAL_COLUMN AS additionalColumn,
            INPUT_METHOD_UUID AS inputMethodUuid,
            INPUT_VALUE AS inputValue,
            TITLE AS title,
            REQUIRED_YN AS requiredYN,
            DISPLAY_YN AS displayYN,
            DESCRIPTION AS description,
            NOTES AS notes,
            USE_YN AS useYN,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            INSERT_DATE AS insertDate,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="UPDATE_UUID"/>
        </include>
        AS updateUuid,

        <![CDATA[
            UPDATE_DATE AS  updateDate
        FROM
            AD_CONTEXTUAL_METADATA_SETUP
        WHERE 1=1
        ]]>
        <if test="null != statusUuid and '' != statusUuid">
            <![CDATA[
            AND STATUS_UUID = #{statusUuid}
          ]]>
        </if>
        <if test="null != entityType and '' != entityType">
            <![CDATA[
            AND ENTITY_TYPE = #{entityType}
          ]]>
        </if>
        <if test="null != columnCode and '' != columnCode">
            <![CDATA[
            AND COLUMN_CODE = #{columnCode}
          ]]>
        </if>
        <if test="null != additionalColumn and '' != additionalColumn">
            <![CDATA[
            AND ADDITIONAL_COLUMN = #{additionalColumn}
          ]]>
        </if>
        <if test="null != useYN and '' != useYN">
            <![CDATA[
            AND USE_YN = #{useYN}
          ]]>
        </if>
        ORDER BY ENTITY_TYPE ASC
    </select>
    <select id="checkDelete" resultType="int" parameterType="String" statementType="PREPARED">
        SELECT
        COUNT(DISPOSAL_FREEZE_DEGREE_UUID)
        FROM
        DF_DISPOSAL_FREEZE_DEGREE
        WHERE
        DISPOSAL_FREEZE_EVENT_UUID = #{uuid}
    </select>
</mapper>