<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh05001120.Sh05001120Mapper">

    <select id="findAll" resultType="sh05001120" parameterType="sh05001120" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            OVERHAUL_DATE AS overhaulDate,
            CORNER_NAME AS cornerName,
            PHOTO_URL AS photoUrl,
            OUTSIDE_BILLBOARD_PHOTO AS outsideBillboardPhoto,
            GATE_PHOTO AS gatePhoto,
            FLOAR_PHOTO AS floarPhoto,
            BOOTH_LEFT_PHOTO AS boothLeftPhoto,
            BOOTH_RIGHT_PHOTO AS boothRightPhoto,
            CEILING_PHOTO AS ceilingPhoto,
            TERMINAL_TOP_PHOTO AS terminalTopPhoto,
            TERMINAL_BOTTOM_PHOTO AS terminalBottomPhoto
        FROM
            ATMS_05001120
    </select>

    <select id="findOne" resultType="sh05001120" parameterType="sh05001120" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            OVERHAUL_DATE AS overhaulDate,
            CORNER_NAME AS cornerName,
            PHOTO_URL AS photoUrl,
            OUTSIDE_BILLBOARD_PHOTO AS outsideBillboardPhoto,
            GATE_PHOTO AS gatePhoto,
            FLOAR_PHOTO AS floarPhoto,
            BOOTH_LEFT_PHOTO AS boothLeftPhoto,
            BOOTH_RIGHT_PHOTO AS boothRightPhoto,
            CEILING_PHOTO AS ceilingPhoto,
            TERMINAL_TOP_PHOTO AS terminalTopPhoto,
            TERMINAL_BOTTOM_PHOTO AS terminalBottomPhoto
        FROM
            ATMS_05001120
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </select>

   <update id="delete" parameterType="sh05001120" statementType="PREPARED">
        DELETE FROM
            ATMS_05001120
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </update>

   <update id="update" parameterType="sh05001120" statementType="PREPARED">
        UPDATE ATMS_05001120
        SET
            JISA_CODE = #{jisaCode},
            CORNER_NAME = #{cornerName},
            PHOTO_URL = #{photoUrl},
            OUTSIDE_BILLBOARD_PHOTO = #{outsideBillboardPhoto},
            GATE_PHOTO = #{gatePhoto},
            FLOAR_PHOTO = #{floarPhoto},
            BOOTH_LEFT_PHOTO = #{boothLeftPhoto},
            BOOTH_RIGHT_PHOTO = #{boothRightPhoto},
            CEILING_PHOTO = #{ceilingPhoto},
            TERMINAL_TOP_PHOTO = #{terminalTopPhoto},
            TERMINAL_BOTTOM_PHOTO = #{terminalBottomPhoto}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </update>

   <update id="insert" parameterType="sh05001120" statementType="PREPARED">
        INSERT INTO ATMS_05001120 (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            OVERHAUL_DATE,
            CORNER_NAME,
            PHOTO_URL,
            OUTSIDE_BILLBOARD_PHOTO,
            GATE_PHOTO,
            FLOAR_PHOTO,
            BOOTH_LEFT_PHOTO,
            BOOTH_RIGHT_PHOTO,
            CEILING_PHOTO,
            TERMINAL_TOP_PHOTO,
            TERMINAL_BOTTOM_PHOTO
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{overhaulDate},
            #{cornerName},
            #{photoUrl},
            #{outsideBillboardPhoto},
            #{gatePhoto},
            #{floarPhoto},
            #{boothLeftPhoto},
            #{boothRightPhoto},
            #{ceilingPhoto},
            #{terminalTopPhoto},
            #{terminalBottomPhoto}
        )
    </update>
</mapper>