<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.sla.sh_sla_60.ShSla60Mapper">

    <select id="findAll" resultType="shSla60" parameterType="shSla60" statementType="PREPARED">
        SELECT
            CORP_CODE AS corpCode,
            REG_DATETIME AS regDatetime,
            EQUALS AS equals,
            ETC AS etc
        FROM
            ATMS_SLA_60
    </select>

    <select id="findOne" resultType="shSla60" parameterType="shSla60" statementType="PREPARED">
        SELECT
            CORP_CODE AS corpCode,
            REG_DATETIME AS regDatetime,
            EQUALS AS equals,
            ETC AS etc
        FROM
            ATMS_SLA_60
        WHERE
            CORP_CODE = #{corpCode}, REG_DATETIME = #{regDatetime}
    </select>

   <update id="delete" parameterType="shSla60" statementType="PREPARED">
        DELETE FROM
            ATMS_SLA_60
        WHERE
            CORP_CODE = #{corpCode}, REG_DATETIME = #{regDatetime}
    </update>

   <update id="update" parameterType="shSla60" statementType="PREPARED">
        UPDATE ATMS_SLA_60
        SET
            EQUALS = #{equals},
            ETC = #{etc}
        WHERE
            CORP_CODE = #{corpCode}, REG_DATETIME = #{regDatetime}
    </update>

   <update id="insert" parameterType="shSla60" statementType="PREPARED">
        INSERT INTO ATMS_SLA_60 (
            CORP_CODE,
            REG_DATETIME,
            EQUALS,
            ETC
        ) VALUES (
            #{corpCode},
            #{regDatetime},
            #{equals},
            #{etc}
        )
    </update>
</mapper>