<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/mng/error/sh01001110.js}"></script>
<!-- ===== [ script ] _END_ ===== -->

<!-- ===== [ base-title ] ===== -->
<div layout:fragment="base-favorites" role="page-title">
</div>
<!-- ===== [ base-title ] _END_ ===== -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <div class="cssBody" style="top:80px">
          <div class="contents_wrap"><div style=" height:30px; width:100%" class="bgf7 div_tablerow">
              <ul class="bdb">
                  <li style="width:30px">
                      <div class="bookmark_star"><img src="/assets/images/content/bookmark.png" alt="즐겨찾기"></div>
                  </li>
                  <li style="width:50%; text-align:left;">사용자</li>
                  <li style="text-align:right; width:48%;">
                      <button class="btn_s">
                          <span class="btn_icon">&nbsp;</span>
                          <span class="btn_main_txt">저장(S)</span>
                      </button>
                      <button class="btn_i">
                          <span class="btn_icon">&nbsp;</span>
                          <span class="btn_main_txt">조회(I)</span>
                      </button>
                  </li>
              </ul>
          </div>
                <div class="bdb div_tablerow">
                    <dl>
                        <dt class="pdl_5">내부키</dt>
                        <dd><input type=text style="width:135px"></dd>
                        <dt>아이디</dt>
                        <dd><input type=text style="width:135px"></dd>
                        <dt>사용자명</dt>
                        <dd><input type=text style="width:135px"></dd>
                        <dt>사용자 유형</dt>
                        <dd><select style="width:135px;">
                            <option>&nbsp;</option>
                            <option>일반</option>
                            <option>법령</option>
                            <option>시기</option>
                        </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="pdl_5">상위 분류명</dt>
                        <dd>
                            <div class="src_box2" ><input type=text>
                                <a href="#" id="dialog-link">
                                    <img src="http://localhost/images/search_normal.png" alt="찾기"></a>
                            </div>
                        </dd>
                        <dd class="w_auto">
                            <div class="rdo_box">
                                <span class="rdo_box_title">사용여부</span>
                                <label><input type="radio" name="radio" class="no_border" checked>사용</label>
                                <label><input type="radio" name="radio" class="no_border">미사용</label>
                                <label><input type="radio" name="radio" class="no_border">전체</label>
                            </div>
                        </dd>
                    </dl>

                </div>

                <div style="height:100%; width:100%" class="bgf7 div_tablerow">

                    <div style="height:100%; width:100%" class="div_table">
                        <ul class="bdb bdt div_tablerow" style="height:30px;">
                            <li style="width:50%; text-align:left;">
                                <img src="images/img_dot2.png" alt="dot"> 사용자 목록</li>
                            <li style="text-align:right; width:48%;">
                                <button class="btn_a">
                                    <span class="btn_icon">&nbsp;</span>
                                    <span class="btn_main_txt">추가</span>
                                </button>
                                <button class="btn_d">
                                    <span class="btn_icon">&nbsp;</span>
                                    <span class="btn_main_txt">삭제</span>
                                </button>
                            </li>
                        </ul>
                        <div style="height:100%; width:100%" class="div_tablerow bdb">
                            <div id="realgrid" style="width:100%; height:100%"></div>
                        </div>
                    </div>

                </div>



            </div>

        </div>

    </div><!--오른쪽 내용영역 전체 e -->
</div>
<!-- ===== [ base-content ] _END_ ===== -->
</html>