<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad003.dao.Ad003Mapper">

    <select id="searchPopupHeader" resultType="Ad00401VO" parameterType="Ad00401VO" statementType="PREPARED">
    <![CDATA[

        ]]>
    </select>
    <select id="searchPopupDetail" resultType="Ad00402VO" parameterType="Ad00402VO" statementType="PREPARED">
        <![CDATA[
        SELECT
          B.CODE_DETAIL_UUID  codeDetailUUID
          , B.CODE            code
          , B.CODE_NAME       codeName
        FROM
          AD_CODE_HEADER A
          , AD_CODE_DETAIL B
        WHERE
          A.CODE_HEADER_UUID = B.CODE_HEADER_UUID
         ]]>
        <if test="null != categoryCode">
          AND
          A.CATEGORY_CODE = #{categoryCode}
        </if>

    </select>
</mapper>