<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.cash.sh03001180.Sh03001180Mapper">

    <select id="findAll" resultType="sh03001180" parameterType="sh03001180" statementType="PREPARED">
        SELECT
            B.TX_ID AS txId,
            A.JISA_CODE AS jisaCode,
            A.BRANCH_CODE AS branchCode,
            A.TERMINAL_NO AS terminalNo,
            DECODE(B.CASH_SENDING_DATE,NULL ,TO_TIMESTAMP(#{cashSendingDate}),B.CASH_SENDING_DATE) AS cashSendingDate,
            B.CASH_SENDING_AMT AS cashSendingAmt,
            B.CASH_50K_SENDING_AMT AS cash50kSendingAmt,
            B.ACCEPT_ENABLE AS acceptEnable,
            C.MON_CASH_SENDING_ENABLE AS monCashSendingEnable,
            C.TUE_CASH_SENDING_ENABLE AS tueCashSendingEnable,
            C.WED_CASH_SENDING_ENABLE AS wedCashSendingEnable,
            C.THU_CASH_SENDING_ENABLE AS thuCashSendingEnable,
            C.FRI_CASH_SENDING_ENABLE AS friCashSendingEnable,
            B.STEXT_SEND_GUBUN AS stextSendGubun,
            C.STEXT_SEND_GUBUN AS stextSendGubun1
        FROM
            (SELECT * FROM ATMS_TERMINAL_STATUS
                <where>
                    <if test="jisaCode != null"> JISA_CODE = #{jisaCode} </if>
                    <if test="branchCode != null"> AND BRANCH_CODE = #{branchCode} </if>
                    <if test="terminalNo != null"> AND TERMINAL_NO = #{terminalNo} </if>
                </where>
            ) A
            LEFT OUTER JOIN ATMS_03001180 B
                 ON B.CASH_SENDING_DATE = #{cashSendingDate}
                AND B.JISA_CODE = A.JISA_CODE
                AND B.BRANCH_CODE = A.BRANCH_CODE
                AND B.TERMINAL_NO = A.TERMINAL_NO
            LEFT OUTER JOIN ATMS_03001200 C
                 ON C.JISA_CODE = A.JISA_CODE
                AND C.BRANCH_CODE = A.BRANCH_CODE
                AND C.TERMINAL_NO = A.TERMINAL_NO
    </select>

    <select id="findOne" resultType="sh03001180" parameterType="sh03001180" statementType="PREPARED">
        SELECT
            TX_ID AS txId,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            TERMINAL_NO AS terminalNo,
            CASH_SENDING_DATE AS cashSendingDate,
            CASH_SENDING_AMT AS cashSendingAmt,
            ACCEPT_ENABLE AS acceptEnable,
            CASH_50K_SENDING_AMT AS cash50kSendingAmt
        FROM
            ATMS_03001180
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CASH_SENDING_DATE = #{cashSendingDate}
    </select>

    <select id="findExcel" resultType="Sh03001180ExcelVO" parameterType="sh03001180" statementType="PREPARED">
        SELECT
            A.TERMINAL_NO AS terminalNo,
            (SELECT NAME FROM ATMS_COMMON_CODE
              WHERE GROUP_CD = 'MODEL_CODE'
                AND CODE = CONCAT(A.TERMINAL_CORP_CODE,A.MODEL_CODE)
            ) AS modelName,
            (SELECT DISTINCT CORNER_NAME FROM ATMS_TERMINAL_STATUS
              WHERE TERMINAL_NO = A.TERMINAL_NO
            ) AS cornerName,
            NVL(D.CASH_AMT,0) AS cashAmt,
            TO_NUMBER(D.CASH_50K_GIVE_ENABLE_COUNT)*50000 AS cash50kGiveAmt,
            NVL(E.CASH_SENDING_AMT,0) AS predictionCashSendingAmt,
            NVL(E.CASH_50K_SENDING_AMT,0) AS predictionCash50kSendingAmt,
            NVL(B.CASH_SENDING_AMT,0) AS cashSendingAmt,
            NVL(B.CASH_50K_SENDING_AMT,0) AS cash50kSendingAmt,
            NVL((SELECT SUM(ADD_CASH_SENDING_AMT) FROM ATMS_03001160
              WHERE CASH_SENDING_DATE = #{cashSendingDate}
                AND JISA_CODE = A.JISA_CODE
                AND BRANCH_CODE = A.BRANCH_CODE
                AND TERMINAL_NO = A.TERMINAL_NO
            ) ,0) AS addCashSendingAmt,
            NVL((SELECT SUM(ADD_CASH_50K_SENDING_AMT) FROM ATMS_03001160
              WHERE CASH_SENDING_DATE = #{cashSendingDate}
                AND JISA_CODE = A.JISA_CODE
                AND BRANCH_CODE = A.BRANCH_CODE
                AND TERMINAL_NO = A.TERMINAL_NO
            ) ,0) AS addCash50kSendingAmt,
            NVL(F.RTRVL_AMT,0) AS rtrvlAmt,
            (SELECT
                 DECODE(C.MON_CASH_SENDING_ENABLE,'1','월','') ||
                 DECODE(C.TUE_CASH_SENDING_ENABLE,'1','화','') ||
                 DECODE(C.WED_CASH_SENDING_ENABLE,'1','수','') ||
                 DECODE(C.THU_CASH_SENDING_ENABLE,'1','목','') ||
                 DECODE(C.FRI_CASH_SENDING_ENABLE,'1','금','') FROM dual
            ) AS weekCashSendingEnable
        FROM
          (SELECT * FROM ATMS_TERMINAL_STATUS WHERE JISA_CODE = #{jisaCode}) A
          LEFT OUTER JOIN ATMS_03001180 B
            ON B.CASH_SENDING_DATE = #{cashSendingDate}
               AND B.JISA_CODE = A.JISA_CODE
               AND B.BRANCH_CODE = A.BRANCH_CODE
               AND B.TERMINAL_NO = A.TERMINAL_NO
          LEFT OUTER JOIN ATMS_03001200 C
            ON C.JISA_CODE = A.JISA_CODE
               AND C.BRANCH_CODE = A.BRANCH_CODE
               AND C.TERMINAL_NO = A.TERMINAL_NO
          LEFT OUTER JOIN ATMS_03001110 D
            ON D.REFER_DATE = #{cashSendingDate}
               AND D.JISA_CODE = A.JISA_CODE
               AND D.BRANCH_CODE = A.BRANCH_CODE
               AND D.TERMINAL_NO = A.TERMINAL_NO
          LEFT OUTER JOIN ATMS_03001170 E
            ON E.CASH_SENDING_DATE = #{cashSendingDate}
               AND E.JISA_CODE = A.JISA_CODE
               AND E.BRANCH_CODE = A.BRANCH_CODE
               AND E.TERMINAL_NO = A.TERMINAL_NO
          LEFT OUTER JOIN ATMS_03001130 F
            ON F.REQ_DATE = #{cashSendingDate}
               AND F.JISA_CODE = A.JISA_CODE
               AND F.BRANCH_CODE = A.BRANCH_CODE
               AND F.TERMINAL_NO = A.TERMINAL_NO
          ORDER BY A.TERMINAL_NO ASC
    </select>

   <update id="delete" parameterType="sh03001180" statementType="PREPARED">
        DELETE FROM
            ATMS_03001180
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CASH_SENDING_DATE = #{cashSendingDate}
    </update>

   <update id="update" parameterType="sh03001180" statementType="PREPARED">
        UPDATE ATMS_03001180
        SET
            JISA_CODE = #{jisaCode},
            CASH_SENDING_AMT = #{cashSendingAmt},
            ACCEPT_ENABLE = #{acceptEnable},
            CASH_50K_SENDING_AMT = #{cash50kSendingAmt}
        WHERE
            TX_ID = #{txId}, BRANCH_CODE = #{branchCode}, TERMINAL_NO = #{terminalNo}, CASH_SENDING_DATE = #{cashSendingDate}
    </update>

   <update id="insert" parameterType="sh03001180" statementType="PREPARED">
        INSERT INTO ATMS_03001180 (
            TX_ID,
            JISA_CODE,
            BRANCH_CODE,
            TERMINAL_NO,
            CASH_SENDING_DATE,
            CASH_SENDING_AMT,
            ACCEPT_ENABLE,
            CASH_50K_SENDING_AMT
        ) VALUES (
            #{txId},
            #{jisaCode},
            #{branchCode},
            #{terminalNo},
            #{cashSendingDate},
            #{cashSendingAmt},
            #{acceptEnable},
            #{cash50kSendingAmt}
        )
    </update>
</mapper>