<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/ap/ap001/ap001.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div class="contents_wrap" style="position:absolute">
                <div style=" height:30px; width:100%;" class="bgf7 div_tablerow">
                    <ul class="bdb">
                        <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                        <th:block layout:insert="~{/fragments/page-buttons :: load-and-unload}"/>
                    </ul>
                </div>
                <div class="bdb div_tablerow searchFields">
                    <dl>
                        <dt class="mgl_5 w150">Environment Code</dt>
                        <dd>
                            <input type=text style="width:135px" data-ax-path="configurationCode">
                        </dd>
                        <dt class="w150">Environment Value</dt>
                        <dd>
                            <input type=text style="width:135px" data-ax-path="configurationValue">
                        </dd>
                        <dt>Service</dt>
                        <dd>
                            <select data-ax-path="serviceUuid" style="width:135px;" id="serviceList">
                                <option value=""></option>
                                <option th:each="item : ${serviceList}"
                                        th:value="${item.codeDetailUUID}"
                                        th:text="${item.codeName}"/>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="none">USE</dt>
                        <dd class="w_auto mgl_5">
                            <div class="rdo_box">
                                <span class="rdo_box_title">Use</span>
                                <label>
                                    <input type="radio" name="radio" data-ax-path="useYN" class="no_border" value="Y">Yes</label>
                                <label>
                                    <input type="radio" name="radio" data-ax-path="useYN" class="no_border" value="N">No</label>
                                <label>
                                    <input type="radio" name="radio" data-ax-path="useYN" class="no_border" value="" checked>All</label>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div style="width:100%" class="bgf7 div_tablerow">
                    <div data-ax-tbl class="ax-search-tbl" minWidth="500px">
                        <th:block
                                layout:insert="~{/fragments/table :: tr-td2(text1='성명', style1='width: 350px', text2='주민번호', style2='width: 350px')}">
                            <div layout:fragment="wrap-1">
                                <input type="text" title="성명" data-ax-validate="required" id="customerNm" data-ax-path="customerNm" class="form-control W120" th:placeholder="성명입력필수"/>
                            </div>
                            <div layout:fragment="wrap-2" style="width: 300px">
                                <div class="form-inline">
                                    <input type="text" title="주민번호앞자리" data-ax-validate="required" id="idCardNo1" class="form-control W120"
                                           data-ax-path="idCardNo1" style="text-align: center" maxlength="6"
                                           minlength="6" th:placeholder="주민번호입력필수"/>~<input type="text" title="주민번호뒷자리" data-ax-validate="required" id="idCardNo2" class="form-control W120"
                                                                                            data-ax-path="idCardNo2" style="text-align: center;-webkit-text-security: disc;" maxlength="7"
                                                                                            minlength="7" th:placeholder="주민번호입력필수"/>
                                </div>
                            </div>
                        </th:block>
                        <th:block layout:insert="~{/fragments/table :: tr-td(text='주소찾기', style='width: 100%')}">
                            <div layout:fragment="wrap">
                                <input type="text" data-ax-path="postNo" class="form-control inline-block W100" readonly="readonly"/>
                                <button class="btn btn-default" data-form-view-01-btn="addrfind">
                                    <i class="cqc-magnifier"></i> 찾기
                                </button>
                                <div class="H5"></div>
                                <div class="form-inline">
                                    <input type="text" title="주소" data-ax-path="addr" data-ax-validate="required" class="form-control W400" th:placeholder="주소입력필수"/>
                                    <input type="text" title="상세주소" data-ax-path="addr1" data-ax-validate="required" class="form-control" th:placeholder="상세주소입력필수"/>
                                </div>
                            </div>
                        </th:block>
                        <th:block
                                layout:insert="~{/fragments/table :: tr-td2(text1='휴대전화번호', style1='width: 350px', text2='기타전화번호', style2='width: 350px')}">
                            <div layout:fragment="wrap-1">
                                <input type="text" title="휴대전화번호" id="phoneNo" data-ax-path="phoneNo" data-ax-validate="required" class="form-control" th:placeholder="휴대전화번호입력필수"/>
                            </div>
                            <div layout:fragment="wrap-2">
                                <input type="text" id="phoneNo1" data-ax-path="phoneNo1" class="form-control"/>
                            </div>
                        </th:block>
                        <th:block
                                layout:insert="~{/fragments/table :: tr-td3(text1='은행명', style1='width: 240px', text2='계좌번호', style2='width: 320px', text3='예금주명', style3='width: 240px')}">
                            <div layout:fragment="wrap-1">
                                <input type="text" title="은행명" id="bankNm" data-ax-path="bankNm" data-ax-validate="required" class="form-control W120" th:placeholder="은행명입력필수"/>
                            </div>
                            <div layout:fragment="wrap-2">
                                <input type="text" title="계좌번호" id="accountNo" data-ax-path="accountNo" data-ax-validate="required" class="form-control W200" th:placeholder="계좌번호입력필수"/>
                            </div>
                            <div layout:fragment="wrap-3">
                                <input type="text" title="예금주명" id="accountHolderNm" data-ax-path="accountHolderNm" data-ax-validate="required" class="form-control W120"
                                       th:placeholder="예금주명입력필수"/>
                            </div>
                        </th:block>
                        <th:block layout:insert="~{/fragments/table :: tr-td(text='신분증사진', style='width: 100%')}">
                            <div layout:fragment="wrap">
                                <div class="DH20"></div>

                                <div data-ax5uploader="upload1">
                                    <button data-ax5uploader-button="selector" style="display: none" class="btn btn-primary">Select File (*/*)</button>
                                    <div data-uploaded-box="upload1" data-ax5uploader-uploaded-box="inline"></div>
                                </div>
                            </div>
                        </th:block>
                        <th:block layout:insert="~{/fragments/table :: tr-td(text='비고', style='width: 100%')}">
                            <div layout:fragment="wrap">
                                <textarea title="비고" data-ax-path="customerNotes" id="customerNotes" class="form-control"></textarea>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</html>

