<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.st.st011.dao.St011Mapper">
    <select id="getAggregation" resultType="St01101VO" parameterType="St01101VO" statementType="PREPARED">
        SELECT AGGREGATION_UUID                                                                         as uuid,
       1                                                                                        as orderNo,
       (SELECT CODE_NAME
        FROM AD_CODE_DETAIL
        WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID)                                      as publishedStatus,
       AGGREGATION_CODE                                                                         as code,
       TITLE                                                                                    as title,
       (SELECT CODE_NAME
        FROM AD_CODE_DETAIL
        WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID)                                                  as "type",
       (SELECT LEVEL_NAME
        FROM RC_LEVEL
        WHERE LEVEL_UUID = Z1.LEVEL_UUID)                                                       as "level",
       AUTHOR                                                                                   as author,
       DESCRIPTION_START_DATE                                                                   as descStrDate,
       DESCRIPTION_END_DATE                                                                     as descEdDate,
       DESCRIPTION                                                                              as description,
       NOTES                                                                                    as notes,
       ((SELECT COUNT(*) FROM RC_AGGREGATION WHERE PARENT_AGGREGATION_UUID = Z1.AGGREGATION_UUID) +
        (SELECT COUNT(*)
         FROM RC_ITEM
         WHERE AGGREGATION_UUID = Z1.AGGREGATION_UUID))                                         as childCnt
      FROM RC_AGGREGATION Z1
    </select>

    <select id="getTakeInOutList" resultType="St01102VO" parameterType="St01102VO" statementType="PREPARED">
        SELECT
           A.TAKEOUT_REQUEST_UUID as takeoutRequestUuid,
           A.REQUEST_TYPE_UUID as requestTypeUuid,
           A.REQUEST_NAME as requestName,
           A.REQUESTOR_UUID as requestorUuid,
           A.TAKEOUT_DATE as takeoutDate,
           A.RETURN_DUE_DATE as returnDueDate,
           A.RETURN_DATE as returnDate,
           A.TAKEOUT_PROPOSE as takeoutPropose,
           A.STATUS_UUID as statusUuid,
           A.OUTSOURCING_DEPARTMENT as outsourcingDepartment,
           A.OUTSOURCING_POSITION as outsourcingPosition,
           A.OUTSOURCING_PERSON_NAME as outsourcingPersonName,
           A.OUTSOURCING_PHONE as outsourcingPhone,
           (SELECT
                   USER_NAME
            FROM
                 AC_USER
            WHERE
                USER_UUID = INSERT_UUID
              AND ROWNUM = 1)  as insertUuid,
           A.INSERT_DATE as insertDate,
           (SELECT
                   USER_NAME
            FROM
                 AC_USER
            WHERE
                USER_UUID = UPDATE_UUID
              AND ROWNUM = 1)  as updateUuid,
           A.UPDATE_DATE as updateDate,
           B.AGGREGATION_UUID
    FROM
         ST_TAKEOUT_REQUEST A INNER JOIN ST_TAKEOUT_RECORD_RESULT B
         ON A.TAKEOUT_REQUEST_UUID = B.TAKEOUT_REQUEST_UUID
        <where>
            1=1
            <if test="aggregationUuid != null">
               AND B.AGGREGATION_UUID = #{aggregationUuid}
            </if>
        </where>

    </select>
</mapper>
