<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.lt.lt004.dao.Lt004Mapper">

    <select id="searchList" resultType="Lt00401VO" parameterType="Lt00401VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            T1.PATHWAY_UUID AS pathwayUuid,
            T1.PATHWAY_NAME AS pathwayName,
            (SELECT FORMAT_NAME FROM LT_FILE_FORMAT WHERE USE_YN='Y' AND FILE_FORMAT_UUID= T1.SOURCE_FILE_FORMAT_UUID) AS sourceFileFormat,
            (SELECT FORMAT_NAME FROM LT_FILE_FORMAT WHERE USE_YN='Y' AND FILE_FORMAT_UUID= T1.TARGET_FILE_FORMAT_UUID) AS targetFileFormat,
            (SELECT TOOL_NAME FROM LT_TOOL WHERE USE_YN='Y' AND TOOL_UUID= T1.TOOL_UUID) AS toolName,
            T1.SOURCE_FILE_FORMAT_UUID AS sourceFileFormatUuid,
            T1.TARGET_FILE_FORMAT_UUID AS targetFileFormatUuid,
            T1.TOOL_UUID AS toolUuid,
            T1.DESCRIPTION AS description,
            T1.NOTES AS notes,
            T1.USE_YN AS useYn,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="T1.INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            INSERT_DATE AS insertDate,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="T1.UPDATE_UUID"/>
        </include>
        AS updateUuid,
        <![CDATA[
            T1.UPDATE_DATE AS  updateDate
        FROM
            LT_PATHWAY T1
        WHERE 1=1
        ]]>
        <if test="null != pathwayName and '' != pathwayName">
        <![CDATA[
          AND T1.PATHWAY_NAME LIKE '%' || #{pathwayName} || '%'
        ]]>
        </if>
        <if test="null != sourceFileFormatUuid and '' != sourceFileFormatUuid">
        <![CDATA[
          AND  T1.SOURCE_FILE_FORMAT_UUID = #{sourceFileFormatUuid}
        ]]>
        </if>
        <if test="null != targetFileFormatUuid and '' != targetFileFormatUuid">
        <![CDATA[
          AND  T1.TARGET_FILE_FORMAT_UUID = #{targetFileFormatUuid}
        ]]>
        </if>
        <if test="null != toolUuid and '' != toolUuid">
        <![CDATA[
          AND  T1.TOOL_UUID = #{toolUuid}
        ]]>
        </if>
        <if test="null != useYN and '' != useYN">
            <![CDATA[
          AND  T1.USE_YN = #{useYN}
        ]]>
        </if>
        ORDER BY T1.PATHWAY_NAME ASC
    </select>

    <select id="checkIndex01" resultType="int" parameterType="Lt00401VO" statementType="PREPARED">
        SELECT
          COUNT(PATHWAY_NAME)
        FROM
          LT_PATHWAY
        WHERE PATHWAY_NAME = #{pathwayName}
    </select>

    <select id="checkIndex02" resultType="int" parameterType="Lt00401VO" statementType="PREPARED">
        SELECT
          COUNT(PATHWAY_NAME)
        FROM
          LT_PATHWAY
        WHERE (SOURCE_FILE_FORMAT_UUID = #{sourceFileFormatUuid} AND
          TARGET_FILE_FORMAT_UUID = #{targetFileFormatUuid} AND
          TOOL_UUID = #{toolUuid})
    </select>
</mapper>