<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.error.sh01001150.Sh01001150Mapper">

    <select id="findAll" resultType="sh01001150" parameterType="sh01001150" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            ERROR_DATETIME AS errorDatetime,
            GUT_REQ_SEQ_NO AS calleeReqSeqNo,
            GUT_REQ_ODR AS calleeReqChasu,
            GUT_REQ_GBN AS calleeReqGubun,
            GUT_ODR_GBN AS calleeChasuGubun,
            HANDLE_RESULT AS handleResult,
            HANDLE_FAIL_REASON AS handleFailReason,
            AS_METHOD AS asMethod,
            HANDLE_DATETIEM AS handleDatetime,
            HANDLE_EMP_NAME AS handleEmpName,
            HANDLE_EMP_TELNO AS handleEmpTelno,
            HANDLE_CONTENT_CD AS handleContentCode,
            HANDLE_UNUSL AS handleUnusl,
            CRT_NO AS crtNo
        FROM
            ATMS_01001150
    </select>

    <select id="findOne" resultType="sh01001150" parameterType="sh01001150" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            ERROR_DATETIME AS errorDatetime,
            GUT_REQ_SEQ_NO AS calleeReqSeqNo,
            GUT_REQ_ODR AS calleeReqChasu,
            GUT_REQ_GBN AS calleeReqGubun,
            GUT_ODR_GBN AS calleeChasuGubun,
            HANDLE_RESULT AS handleResult,
            HANDLE_FAIL_REASON AS handleFailReason,
            AS_METHOD AS asMethod,
            HANDLE_DATETIEM AS handleDatetime,
            HANDLE_EMP_NAME AS handleEmpName,
            HANDLE_EMP_TELNO AS handleEmpTelno,
            HANDLE_CONTENT_CD AS handleContentCode,
            HANDLE_UNUSL AS handleUnusl,
            CRT_NO AS crtNo
        FROM
            ATMS_01001150
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </select>

   <update id="delete" parameterType="sh01001150" statementType="PREPARED">
        DELETE FROM
            ATMS_01001150
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="update" parameterType="sh01001150" statementType="PREPARED">
        UPDATE ATMS_01001150
        SET
            JISA_CODE = #{jisaCode},
            GUT_REQ_SEQ_NO = #{calleeReqSeqNo},
            GUT_REQ_ODR = #{calleeReqChasu},
            GUT_REQ_GBN = #{calleeReqGubun},
            GUT_ODR_GBN = #{calleeChasuGubun},
            HANDLE_RESULT = #{handleResult},
            HANDLE_FAIL_REASON = #{handleFailReason},
            AS_METHOD = #{asMethod},
            HANDLE_DATETIEM = #{handleDatetime},
            HANDLE_EMP_NAME = #{handleEmpName},
            HANDLE_EMP_TELNO = #{handleEmpTelno},
            HANDLE_CONTENT_CD = #{handleContentCode},
            HANDLE_UNUSL = #{handleUnusl},
            CRT_NO = #{crtNo}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="insert" parameterType="sh01001150" statementType="PREPARED">
        INSERT INTO ATMS_01001150 (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            TERMINAL_NO,
            ERROR_DATETIME,
            GUT_REQ_SEQ_NO,
            GUT_REQ_ODR,
            GUT_REQ_GBN,
            GUT_ODR_GBN,
            HANDLE_RESULT,
            HANDLE_FAIL_REASON,
            AS_METHOD,
            HANDLE_DATETIEM,
            HANDLE_EMP_NAME,
            HANDLE_EMP_TELNO,
            HANDLE_CONTENT_CD,
            HANDLE_UNUSL,
            CRT_NO
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{terminalNo},
            #{errorDatetime},
            #{calleeReqSeqNo},
            #{calleeReqChasu},
            #{calleeReqGubun},
            #{calleeChasuGubun},
            #{handleResult},
            #{handleFailReason},
            #{asMethod},
            #{handleDatetime},
            #{handleEmpName},
            #{handleEmpTelno},
            #{handleContentCode},
            #{handleUnusl},
            #{crtNo}
        )
    </update>
</mapper>