<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">


<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/rc/rc005/p_rc005.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">


        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">

                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                        <ul class="bdb">
                            <li data-ax-path="itemTitle" class="pdl_10  record_title"></li>
                            <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry('none','none')}"/>
                        </ul>
                    </div>

                    <div style="height:100%; width:100%" class="div_tablerow">

                        <div style="display:table; height:100%; width:100%; float:left">
                            <div style="height:100%; width:100%;" class="div_tablerow">
                                <div class="explorer_list">
                                    <div style="width: 100%; height: 100%; position: absolute; float: left"
                                         id="topmove">

                                        <div class="cont_wrap01" style="width: 86%;">

                                            <!-- Contents display -->
                                            <div class="bdb bgf7 bdr bdl " style="padding: 5px;display:none;">
                                                <span><b>Contents Display</b></span>
                                            </div>
                                            <div class="scr_bar cont_display" style="display: none">
                                                <ul>
                                                    <li class="pdr_5">
                                                        <img src="/assets/images/ams/img01.jpg" alt="img">
                                                        <p></p>
                                                    </li>

                                                </ul>
                                            </div>
                                            <!-- Contents display -->

                                            <div style="height:100%; width:100%; overflow-y: auto">
                                                <div class="record_detail">
                                                    <!-- Identification -->
                                                    <h3>Identification</h3>
                                                    <div id="identificationArea" class="rc_contents">
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Identifier</b>
                                                                <div>
                                                                    <input data-ax-path="riItemCode" type="text" style="width: 200px">
                                                                </div>
                                                            </li>
                                                            <li style="width: 33%;">
                                                                <b>Type </b>
                                                                <div>
                                                                    <select data-ax-path="riTypeUuid" style="width: 200px;">
                                                                        <option th:each="item : ${typeList}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"
                                                                                th:attr="defaultYN =  ${item.defaultYN}"
                                                                        />
                                                                    </select>
                                                                    <input data-ax-path="raAggregationCode" type="hidden">
                                                                    <input data-ax-path="raAggregationUuid" type="hidden">
                                                                </div>
                                                            </li>
                                                            <li style="width: 34%;">
                                                                <b>Published Status</b>
                                                                <div>
                                                                    <select data-ax-path="riPublishedStatusUuid" style="width: 200px;" >
                                                                        <option th:each="item : ${publishedStatusList}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"
                                                                                th:attr="defaultYN =  ${item.defaultYN}"
                                                                        />
                                                                    </select>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        <ul style="padding-top: 16px">
                                                            <li style="width: 100%;">
                                                                <b>Title </b>
                                                                <div>
                                                                    <textarea class="txtar" data-ax-path="name" style="height: 35px;"></textarea>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul style="padding-top: 16px">
                                                            <li style="width: 100%;">
                                                                <b>Creator</b>
                                                                <div id="creatorArea" style="padding:0px; display: block">
                                                                    <div class="childDnrInfo" style="display: block">
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Open Status</b>
                                                                <div>
                                                                    <select style="width: 200px" data-ax-path="openStatus" id="openStatus">
                                                                        <option value=""></option>
                                                                        <option th:each="item : ${openStatusList}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"
                                                                                th:attr="defaultYN =  ${item.defaultYN}"
                                                                        />
                                                                    </select>
                                                                </div>
                                                            </li>
                                                            <li style="width: 33%;">
                                                                <b>Legal Status</b>
                                                                <div>
                                                                    <select style="width: 200px" data-ax-path="legalStatusUuid" id="legalStatus">
                                                                        <option value=""></option>
                                                                        <option th:each="item : ${legalStatusList}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"
                                                                                th:attr="defaultYN =  ${item.defaultYN}"
                                                                        />
                                                                    </select>
                                                                </div>
                                                            </li>
                                                            <li style="width: 34%;">
                                                                <b>Repositories</b>
                                                                <div id="repositoriesArea">
                                                                    <input type="text" data-ax-path="repositoriesName" style="width: 200px">
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <!-- Contents & Structure -->
                                                    <h3>Contents & Structure</h3>
                                                    <div id="contentsStructureArea" class="rc_contents">
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Type(s) of Archival Materials</b>
                                                                <div>
                                                                    Develop
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Format of Archival Materials</b>
                                                                <div>
                                                                    <select style="width: 200px" data-ax-path="electronicRecordStatusUuid" id="electronicRecordStatus">
                                                                        <option value=""></option>
                                                                        <option th:each="item : ${electronicRecordStatusList}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"
                                                                                th:attr="defaultYN =  ${item.defaultYN}"
                                                                        />
                                                                    </select>
                                                                </div>
                                                            </li>
                                                            <li style="width: 33%;">
                                                                <b>Date of Creation</b>
                                                                <div data-ax5picker="date">
                                                                    <div class="cld_box" >
                                                                        <input type="text" data-ax-path="creationStartDate" style="ime-mode:disabled;"
                                                                               placeholder="YYYY-MM-DD" maxlength="10">
                                                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                    </div>
                                                                    ~
                                                                    <div class="cld_box" >
                                                                        <input type="text" data-ax-path="creationEndDate" style="ime-mode:disabled;"
                                                                               placeholder="YYYY-MM-DD" maxlength="10">
                                                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li style="width: 34%;">
                                                                <b>Date of Accumulation</b>
                                                                <div data-ax5picker="date">
                                                                    <div class="cld_box">
                                                                        <input type="text" data-ax-path="accumulationStartDate" style="ime-mode:disabled;"
                                                                               placeholder="YYYY-MM-DD" maxlength="10">
                                                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                    </div>
                                                                    ~
                                                                    <div class="cld_box">
                                                                        <input type="text" data-ax-path="accumulationEndDate" style="ime-mode:disabled;"
                                                                               placeholder="YYYY-MM-DD" maxlength="10">
                                                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Includes</b>
                                                                <div data-ax-path="includes">Develop</div>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Scope & Content</b>
                                                                <div style="padding-top: 5px">
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="scopeContent"></textarea>
                                                                </div>
                                                            </li>
                                                            <!--<li style="width: 33%;">
                                                                <b>Arrangement</b>
                                                                <div style="padding-top: 5px">
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="arrangement"></textarea>
                                                                </div>
                                                            </li>
                                                            <li style="width: 34%;">
                                                                <b>Accruals</b>
                                                                <div style="padding-top: 5px">
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="accruals"></textarea>
                                                                </div>
                                                            </li>-->
                                                        </ul>
                                                        <ul style="padding-top: 16px">
                                                            <li style="width: 100%;">
                                                                <b>Access Points</b>
                                                                <div id="authorityArea" style="padding:0px; display: block">
                                                                    <div class="childDnrInfo" style="display: block">
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <h3>Controls & Access</h3>
                                                    <div id="controlsAccessArea" class="rc_contents">
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Immediate Source of Acquisition</b>
                                                                <div id="sourceAcquisitionArea">
                                                                    <ul style="width: 200px;vertical-align: middle">
                                                                        <input type="text" data-ax-path="sourceAcquisitionName" style="width: 200px">
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li style="width: 33%;">
                                                                <b>Language</b>
                                                                <div>
                                                                    <select style="width: 200px" data-ax-path="languageCode" id="languageCode">
                                                                        <option value=""></option>
                                                                        <option th:each="item : ${languageCodeList}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"
                                                                                th:attr="defaultYN =  ${item.defaultYN}"
                                                                        />
                                                                    </select>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li style="width: 50%;">
                                                                <b>Custodial History</b>
                                                                <div>
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="custodialHistory"></textarea>
                                                                </div>
                                                            </li>
                                                            <li style="width: 50%;">
                                                                <b>Physical Condition</b>
                                                                <div>
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="physicalCondition"></textarea>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <!--<ul>
                                                            <li style="width: 33%;">
                                                                <b>Retention</b>
                                                                <div data-ax-path="recordScheduleUuid">Develop</div>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Freeze</b>
                                                                <div data-ax-path="disposalFreezeEvent">Develop</div>
                                                            </li>
                                                        </ul>-->
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Access Condition</b>
                                                                <div style="padding-top: 5px">
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="accessCondition"></textarea>
                                                                </div>
                                                            </li>
                                                            <li style="width: 33%;">
                                                                <b>Use Condition</b>
                                                                <div style="padding-top: 5px">
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="useCondition"></textarea>
                                                                </div>
                                                            </li>
                                                            <li style="width: 34%;">
                                                                <b>Finding Aids</b>
                                                                <div style="padding-top: 5px">
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="findingAids"></textarea>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <!--<h3>Archival Copies</h3>
                                                    <div id="archivalCopiesArea" class="rc_contents">
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Type(s) of Copy</b>
                                                                <div data-ax-path="typeOfCopy">Develop</div>
                                                            </li>
                                                        </ul>
                                                    </div>-->

                                                    <h3>Description Control</h3>
                                                    <div id="descriptionArea" class="rc_contents">
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Actors of Description</b>
                                                                <div>
                                                                    <input type=text style="width: 97%" data-ax-path="riAuthor"/>
                                                                </div>
                                                            </li>
                                                            <li style="width: 33%;">
                                                                <b>Date of Description</b>
                                                                <div data-ax5picker="date">
                                                                    <div class="cld_box">
                                                                        <input type="text" data-ax-path="riDescriptionStartDate" style="ime-mode:disabled;"
                                                                               placeholder="YYYY-MM-DD" maxlength="10">
                                                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                    </div>
                                                                    ~
                                                                    <div class="cld_box">
                                                                        <input type="text" data-ax-path="riDescriptionEndDate" style="ime-mode:disabled;"
                                                                               placeholder="YYYY-MM-DD" maxlength="10">
                                                                        <img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li style="width: 34%;">
                                                                <b>Rules or Conventions</b>
                                                                <div>
                                                                    <select style="width: 200px" data-ax-path="rulesConversionUuid" id="ruleConversion">
                                                                        <option value=""></option>
                                                                        <option th:each="item : ${ruleConversionList}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"
                                                                                th:attr="defaultYN =  ${item.defaultYN}"
                                                                        />
                                                                    </select>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li style="width: 33%;">
                                                                <b>Status of Description</b>
                                                                <div>
                                                                    <select style="width: 200px" data-ax-path="statusDescription" id="statusDescription">
                                                                        <option value=""></option>
                                                                        <option th:each="item : ${statusDescriptionList}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"
                                                                                th:attr="defaultYN =  ${item.defaultYN}"
                                                                        />
                                                                    </select>
                                                                </div>
                                                            </li>
                                                            <li style="width: 33%;">
                                                                <b>Level of Detail</b>
                                                                <div>
                                                                    <select style="width: 200px" data-ax-path="levelOfDetailUuid" id="levelOfDetail">
                                                                        <option value=""></option>
                                                                        <option th:each="item : ${levelOfDetailList}"
                                                                                th:value="${item.codeDetailUUID}"
                                                                                th:text="${item.codeName}"
                                                                                th:attr="defaultYN =  ${item.defaultYN}"
                                                                        />
                                                                    </select>
                                                                </div>
                                                            </li>
                                                            <li style="width: 34%"/>
                                                        </ul>
                                                        <ul>
                                                            <li style="width: 50%;">
                                                                <b>Archivist's Notes</b>
                                                                <div style="padding-top: 5px">
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="description"></textarea>
                                                                </div>
                                                            </li>
                                                            <li style="width: 50%;">
                                                                <b>Notes</b>
                                                                <div style="padding-top: 5px">
                                                                    <textarea class="txtar" style="height: 100px" data-ax-path="notes"></textarea>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li style="width: 50%;">
                                                                <b>Keyword </b>
                                                                <div>
                                                                    <textarea data-ax-path="keyword" class="txtar" style="height: 80px"></textarea>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <!-- Additional Context Metadata -->
                                                    <h3>Additional Context Metadata</h3>
                                                    <div id="addConMetaArea" class="rc_contents">
                                                        <ul id="templateListContainer">
                                                            <li style="width: 100%;">
                                                                <b>Additional Metadata Template</b>
                                                                <div>
                                                                    <select data-ax-path="addMetaTemplateSetUuid" style="width:200px">
                                                                        <option value=""></option>
                                                                        <option th:each="item : ${templateList}"
                                                                                th:value="${item.addMetaTemplateSetUuid}"
                                                                                th:text="${item.setName}"/>
                                                                    </select>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul style="display: none" id="metaTemplate">
                                                            <li>
                                                                <b class="meta-label"></b>
                                                                <div class="meta-comp">
                                                                    <input class="meta-input" type="text">
                                                                    <select class="meta-combo">
                                                                        <option value=""></option>
                                                                    </select>
                                                                    <!--<a href="#" class="meta-popup-link" style="display: none"><img src="/assets/images/ams/search_normal.png" alt="find"></a>-->
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <!-- Additional Context Metadata -->
                                                    <h3>Component List</h3>
                                                    <div id="componentArea" class="rc_contents">
                                                        <div class="comp_list_wrap pdt_10">
                                                            <div id="realgrid01" style="width:100%; height:100%; border: 1px solid #ccc" ></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>

                                        <!--우측메뉴 시작-->

                                        <div class="bdt cont_wrap02" style="width: 11%;">
                                            <div style="border:0px;">
                                                <!--ADD -->


                                                <!--Editor-->
                                                <div class="bdb pdb_30">
                                                    <ul>
                                                        <li>
                                                            <b>Do</b>
                                                        </li>
                                                        <li>
                                                            <a href="#" id="edit">
                                                                <span><img src="/assets/images/ams/icon/icon05.png" alt="edit"></span>
                                                                <span>Edit</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                    <span><img src="/assets/images/ams/icon/icon06.png"></span>
                                                    <span>Digital Object</span>
                                                    </li>-->
                                                        <li>
                                                            <a href="#" id="move">
                                                                <span><img src="/assets/images/ams/icon/icon07.png" alt="move"></span>
                                                                <span>Move</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                    <span><img src="/assets/images/ams/icon/icon08.png"></span>
                                                    <span>Duplicate</span>
                                                    </li>-->
                                                        <li>
                                                            <a href="#" id="updateStatus">
                                                                <span><img src="/assets/images/ams/icon/icon15.png" alt="update"></span>
                                                                <span>Update Status</span>
                                                            </a>
                                                        </li>
                                                        <li style="border-bottom: 1px dotted #ddd; width: 85%">
                                                            <a href="#" id="delete">
                                                                <span><img src="/assets/images/ams/icon/icon13.png" alt="delete"></span>
                                                                <span>Delete</span>
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                            <span><img src="/assets/images/ams/icon/icon14.png"
                                                                       alt="classify"></span>
                                                            <span>Classify</span>
                                                        </li>-->
                                                    </ul>
                                                </div>
                                                <!--Editor-->


                                                <div class="top_move">
                                                    <a href="#topmove">&and;<br>Top</a></div>
                                            </div>

                                        </div>
                                        <!--우측메뉴 끝-->

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--오른쪽 내용영역 전체 e -->
    </form>
</div>