<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.error.error_handle_mng.ErrorHandleMngMapper">

    <select id="findAll" resultType="errorHandleMng" parameterType="errorHandleMng" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            ERROR_DATETIME AS errorDatetime,
            NOTICE_CONTENT AS noticeContent,
            CUSTOMER_INFO AS customerInfo,
            HANDLE_CONTENT AS handleContent,
            LAST_MODIFY_DATETIME AS lastModifyDatetime,
            LAST_MODIFY_EMP_NAME AS lastModifyEmpName
        FROM
            ATMS_ERROR_HANDLE_MNG
    </select>

    <select id="findOne" resultType="errorHandleMng" parameterType="errorHandleMng" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            TERMINAL_NO AS terminalNo,
            ERROR_DATETIME AS errorDatetime,
            NOTICE_CONTENT AS noticeContent,
            CUSTOMER_INFO AS customerInfo,
            HANDLE_CONTENT AS handleContent,
            LAST_MODIFY_DATETIME AS lastModifyDatetime,
            LAST_MODIFY_EMP_NAME AS lastModifyEmpName
        FROM
            ATMS_ERROR_HANDLE_MNG
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </select>

   <update id="delete" parameterType="errorHandleMng" statementType="PREPARED">
        DELETE FROM
            ATMS_ERROR_HANDLE_MNG
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="update" parameterType="errorHandleMng" statementType="PREPARED">
        UPDATE ATMS_ERROR_HANDLE_MNG
        SET
            JISA_CODE = #{jisaCode},
            NOTICE_CONTENT = #{noticeContent},
            CUSTOMER_INFO = #{customerInfo},
            HANDLE_CONTENT = #{handleContent},
            LAST_MODIFY_DATETIME = #{lastModifyDatetime},
            LAST_MODIFY_EMP_NAME = #{lastModifyEmpName}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, TERMINAL_NO = #{terminalNo}, ERROR_DATETIME = #{errorDatetime}
    </update>

   <update id="insert" parameterType="errorHandleMng" statementType="PREPARED">
        INSERT INTO ATMS_ERROR_HANDLE_MNG (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            TERMINAL_NO,
            ERROR_DATETIME,
            NOTICE_CONTENT,
            CUSTOMER_INFO,
            HANDLE_CONTENT,
            LAST_MODIFY_DATETIME,
            LAST_MODIFY_EMP_NAME
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{terminalNo},
            #{errorDatetime},
            #{noticeContent},
            #{customerInfo},
            #{handleContent},
            #{lastModifyDatetime},
            #{lastModifyEmpName}
        )
    </update>
</mapper>