<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh02001270.Sh02001270Mapper">

    <select id="findAll" resultType="sh02001270" parameterType="sh02001270" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            CHASU AS chasu,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            STEXT_GUBUN AS stextGubun,
            CLOSING_DATE AS closingDate,
            RESTART_GUBUN AS restartGubun,
            RESTART_DATE AS restartDate,
            CHANGE_ITEM_GUBUN AS changeItemGubun,
            OPER_START_TIME AS operStartTime,
            OPER_END_TIME AS operEndTime,
            CHECK_OPER AS checkOper,
            APPLY_DATE AS applyDate
        FROM
            ATMS_02001270
    </select>

    <select id="findOne" resultType="sh02001270" parameterType="sh02001270" statementType="PREPARED">
        SELECT
            WORK_SEQ_NO AS workSeqNo,
            CHASU AS chasu,
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            CORNER_NAME AS cornerName,
            STEXT_GUBUN AS stextGubun,
            CLOSING_DATE AS closingDate,
            RESTART_GUBUN AS restartGubun,
            RESTART_DATE AS restartDate,
            CHANGE_ITEM_GUBUN AS changeItemGubun,
            OPER_START_TIME AS operStartTime,
            OPER_END_TIME AS operEndTime,
            CHECK_OPER AS checkOper,
            APPLY_DATE AS applyDate
        FROM
            ATMS_02001270
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </select>

   <update id="delete" parameterType="sh02001270" statementType="PREPARED">
        DELETE FROM
            ATMS_02001270
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="update" parameterType="sh02001270" statementType="PREPARED">
        UPDATE ATMS_02001270
        SET
            CHASU = #{chasu},
            JISA_CODE = #{jisaCode},
            BRANCH_CODE = #{branchCode},
            CORNER_CODE = #{cornerCode},
            CORNER_NAME = #{cornerName},
            STEXT_GUBUN = #{stextGubun},
            CLOSING_DATE = #{closingDate},
            RESTART_GUBUN = #{restartGubun},
            RESTART_DATE = #{restartDate},
            CHANGE_ITEM_GUBUN = #{changeItemGubun},
            OPER_START_TIME = #{operStartTime},
            OPER_END_TIME = #{operEndTime},
            CHECK_OPER = #{checkOper},
            APPLY_DATE = #{applyDate}
        WHERE
            WORK_SEQ_NO = #{workSeqNo}
    </update>

   <update id="insert" parameterType="sh02001270" statementType="PREPARED">
        INSERT INTO ATMS_02001270 (
            WORK_SEQ_NO,
            CHASU,
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            CORNER_NAME,
            STEXT_GUBUN,
            CLOSING_DATE,
            RESTART_GUBUN,
            RESTART_DATE,
            CHANGE_ITEM_GUBUN,
            OPER_START_TIME,
            OPER_END_TIME,
            CHECK_OPER,
            APPLY_DATE
        ) VALUES (
            #{workSeqNo},
            #{chasu},
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{cornerName},
            #{stextGubun},
            #{closingDate},
            #{restartGubun},
            #{restartDate},
            #{changeItemGubun},
            #{operStartTime},
            #{operEndTime},
            #{checkOper},
            #{applyDate}
        )
    </update>
</mapper>