<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.st.st021.dao.St021Mapper">
    <select id="getStWithoutNoticeInoutHistStatistic" resultType="St02101VO" parameterType="St02101VO" statementType="PREPARED">

        SELECT record.*, hist.INOUT_DATE_TIME inoutDateTime, gate.ZONE_NAME zoneName,
              (
                SELECT CODE
                  FROM AD_CODE_HEADER ZZ1,
                       AD_CODE_DETAIL ZZ2
                  WHERE ZZ1.CODE_HEADER_UUID = ZZ2.CODE_HEADER_UUID
                    AND ZZ1.CATEGORY_CODE = 'CD129'
                    AND ZZ2.CODE_DETAIL_UUID = hist.INOUT_TYPE_UUID
               ) inoutName
        FROM ST_WITHOUT_NOTICE_INOUT_HIST hist
                 INNER JOIN (
                            SELECT * FROM ST_GATE gate
                                            INNER JOIN ST_ZONE zone
                                              ON gate.OUT_ZONE_UUID = zone.ZONE_UUID
                            ) gate
                   ON hist.GATE_UUID = gate.GATE_UUID
                 INNER JOIN (
                            SELECT
                                    inout_record.AGGREGATION_UUID aggregationUuid,
                                    inout_record.WITHOUT_NOTICE_IO_RECORD_UUID withoutNoticeIoRecordUuid,
                                    B.code,
                                    B.title,
                                    B."level",
                                    B."type",
                                    B.publishedStatus,
                                    B.author,
                                    B.descStrDate,
                                    B.descEdDate,
                                    repository.REPOSITORY_NAME repositoryName,
                                    shelf.SHELF_NAME shelfName,
                                    container.CONTAINER_UUID containerUuid,
                                    container.CONTAINER_NAME containerName,
                                    (location.ROW_NO || '행 ' || location.COLUMN_NO || '열') as locationName
                             FROM ST_WITHOUT_NOTICE_INOUT_RECORD inout_record
                                    INNER JOIN (
                                               SELECT ar.AGGREGATION_UUID, ar.CONTAINER_UUID
                                                  FROM RC_ITEM item
                                               INNER JOIN ST_ARRANGE_RECORDS_RESULT ar
                                                 ON ar.AGGREGATION_UUID = item.AGGREGATION_UUID
                                               ) etc
                                      ON etc.AGGREGATION_UUID = inout_record.AGGREGATION_UUID
                                    INNER JOIN ST_ARRANGE_CONTAINERS_RESULT acr
                                      ON acr.CONTAINER_UUID = etc.CONTAINER_UUID
                                    INNER JOIN ST_LOCATION location
                                      ON location.LOCATION_UUID = acr.LOCATION_UUID
                                    INNER JOIN ST_CONTAINER container
                                      ON container.CONTAINER_UUID = etc.CONTAINER_UUID
                                    INNER JOIN ST_SHELF shelf
                                      ON shelf.SHELF_UUID = location.SHELF_UUID
                                    INNER JOIN ST_REPOSITORY repository
                                      ON repository.REPOSITORY_UUID = shelf.REPOSITORY_UUID
                                    INNER JOIN (SELECT AGGREGATION_UUID                                                                         as uuid,
                                                       1                                                                                        as orderNo,
                                                       (SELECT CODE_NAME
                                                        FROM AD_CODE_DETAIL
                                                        WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID)                                      as publishedStatus,
                                                       AGGREGATION_CODE                                                                         as code,
                                                       TITLE                                                                                    as title,
                                                       (SELECT CODE_NAME
                                                        FROM AD_CODE_DETAIL
                                                        WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID)                                                  as "type",
                                                       (SELECT LEVEL_NAME
                                                        FROM RC_LEVEL
                                                        WHERE LEVEL_UUID = Z1.LEVEL_UUID)                                                       as "level",
                                                       AUTHOR                                                                                   as author,
                                                       DESCRIPTION_START_DATE                                                                   as descStrDate,
                                                       DESCRIPTION_END_DATE                                                                     as descEdDate,
                                                       DESCRIPTION                                                                              as description,
                                                       NOTES                                                                                    as notes,
                                                       ((SELECT COUNT(*) FROM RC_AGGREGATION WHERE PARENT_AGGREGATION_UUID = Z1.AGGREGATION_UUID) +
                                                        (SELECT COUNT(*)
                                                         FROM RC_ITEM
                                                         WHERE AGGREGATION_UUID = Z1.AGGREGATION_UUID))                                         as childCnt
                                                FROM RC_AGGREGATION Z1
                                                UNION ALL SELECT ITEM_UUID                                                                    as uuid,
                                                                 2                                                                            as orderNo,
                                                                 (SELECT CODE_NAME
                                                                  FROM AD_CODE_DETAIL
                                                                  WHERE CODE_DETAIL_UUID = Z1.PUBLISHED_STATUS_UUID)                          as publishedStatus,
                                                                 ITEM_CODE                                                                    as code,
                                                                 TITLE                                                                        as title,
                                                                 (SELECT CODE_NAME
                                                                  FROM AD_CODE_DETAIL
                                                                  WHERE CODE_DETAIL_UUID = Z1.TYPE_UUID)                                      as "type",
                                                                 ''                                                                           as "level",
                                                                 AUTHOR                                                                       as author,
                                                                 DESCRIPTION_START_DATE                                                       as descStrDate,
                                                                 DESCRIPTION_END_DATE                                                         as descEdDate,
                                                                 DESCRIPTION                                                                  as description,
                                                                 NOTES                                                                        as notes,
                                                                 0                                                                            as childCnt
                                                          FROM RC_ITEM Z1) B on B.UUID = inout_record.AGGREGATION_UUID

                                  ) record ON hist.WITHOUT_NOTICE_IO_RECORD_UUID = record.withoutNoticeIoRecordUuid



        <where>
            1=1

        </where>
    </select>


</mapper>
