<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. RMSoft Co.,Ltd. All rights reserved
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.wf.wf004.dao.Wf004Mapper">
    <select id="findAllWorkflowResult" resultType="Wf00401VO" parameterType="Wf00401VO" statementType="PREPARED">
        SELECT
            Z1.WORKFLOW_RESULT_UUID AS workflowResultUuid,
            Z1.WORKFLOW_UUID AS workflowUuid,
            Z1.STATUS_UUID AS statusUuid,
            Z1.BATCH_ID AS batchId,
            Z1.WORKFLOW_NAME AS workflowName,
            Z1.SERVICE_UUID AS serviceUuid,
            FC_AC_USER_NM(Z1.EXECUTER_UUID) AS executerUuid,
            Z2.MENU_NAME AS munuName,
            Z1.START_DATE AS startDate,
            Z1.END_DATE AS endDate
        FROM
            WF_WORKFLOW_RESULT Z1,
            AD_MENU Z2
       WHERE
            Z1.MENU_UUID = Z2.MENU_UUID
            <if test="serviceUuid != null">
                AND Z1.SERVICE_UUID = #{serviceUuid}
            </if>
            <if test="statusUuid != null">
                AND Z1.STATUS_UUID = #{statusUuid}
            </if>
            <if test="batchId != null">
                AND Z1.BATCH_ID = #{batchId}
            </if>
            <if test="workflowName != null">
                AND Z1.WORKFLOW_NAME LIKE '%' || #{workflowName} || '%'
            </if>
            <if test="executer != null">
                AND Z1.EXECUTER_UUID = #{executer}
            </if>
            <if test="menu != null">
                AND Z1.MENU_UUID = #{menu}
            </if>
            <if test="startFromDate != null">
                AND Z1.START_DATE <![CDATA[>=]]> TO_DATE(#{startFromDate})
            </if>
            <if test="startToDate != null">
                AND Z1.START_DATE <![CDATA[<]]> TO_DATE(#{startToDate})+1
            </if>
            <if test="endFromDate != null">
                AND Z1.END_DATE <![CDATA[>=]]> TO_DATE(#{endFromDate})
            </if>
            <if test="endToDate != null">
                AND Z1.END_DATE <![CDATA[<]]> TO_DATE(#{endToDate})+1
            </if>
    </select>

    <select id="findWorkflowJobResult" resultType="Wf00402VO" parameterType="String" statementType="PREPARED">
        SELECT
            Z1.JOB_RESULT_UUID AS jobResultUuid,
            Z1.WORKFLOW_RESULT_UUID AS workflowResultUuid,
            Z1.STATUS_UUID AS statusUuid,
            Z1.SEQUENCE AS sequence,
            Z1.JOB_UUID AS jobUuid,
            Z1.JOB_NAME AS jobName,
            Z1.API AS api,
            Z1.SKIP_YN AS skipYn,
            Z1.TERMINATE_YN AS terminateYn,
            Z1.START_DATE AS startDate,
            Z1.END_DATE AS endDate,
            Z1.MESSAGE AS message
        FROM
            WF_JOB_RESULT Z1
        WHERE Z1.WORKFLOW_RESULT_UUID = #{workflowResultUuid}
        ORDER BY Z1.SEQUENCE ASC
    </select>

    <select id="findParameterResult" resultType="Wf00403VO" parameterType="String" statementType="PREPARED">
        SELECT ZZ1.PARAMETER_RESULT_UUID as parameterResultUuid,
                ZZ1.JOB_RESULT_UUID as jobResultUuid,
                ZZ1.PARAMETER_NAME as parameterName,
                ZZ1.INPUT_METHOD_UUID as inputMethodUuid,
                ZZ1.INPUT_CODE_UUID as inputCodeUuid,
                CASE WHEN ZZ1.INPUT_METHOD_CODE = 'COMBO'
                        THEN (SELECT CATEGORY_CODE FROM AD_CODE_HEADER WHERE CODE_HEADER_UUID = ZZ1.INPUT_CODE_UUID)
                      WHEN ZZ1.INPUT_METHOD_CODE = 'POPUP'
                        THEN (SELECT   POPUP_CODE  FROM AD_POPUP_HEADER WHERE POPUP_HEADER_UUID = ZZ1.INPUT_CODE_UUID)
                      ELSE ''
                END as inputCode,
                CASE WHEN ZZ1.INPUT_METHOD_CODE = 'COMBO'
                        THEN (SELECT CATEGORY_NAME FROM AD_CODE_HEADER WHERE CODE_HEADER_UUID = ZZ1.INPUT_CODE_UUID)
                      WHEN ZZ1.INPUT_METHOD_CODE = 'POPUP'
                        THEN (SELECT   POPUP_NAME  FROM AD_POPUP_HEADER WHERE POPUP_HEADER_UUID = ZZ1.INPUT_CODE_UUID)
                      ELSE ''
                END as inputCodeName,
                ZZ1.IN_OUT_UUID as inOutUuid,
                ZZ1.VALUE as value,
                ZZ1.DISPLAY_YN as displayYn,
                ZZ1.REQUIRED_YN as requiredYn,
                ZZ1.INSERT_UUID as insertUuid,
                ZZ1.INSERT_DATE as insertDate,
                ZZ1.UPDATE_UUID as updateUuid,
                ZZ1.UPDATE_DATE as updateDate
        FROM (
                SELECT
                        Z1.PARAMETER_RESULT_UUID,
                        Z1.JOB_RESULT_UUID,
                        Z1.PARAMETER_NAME,
                        Z1.INPUT_METHOD_UUID,
                        (SELECT CODE
                        FROM AD_CODE_HEADER ZZ1,
                        AD_CODE_DETAIL ZZ2
                        WHERE ZZ1.CODE_HEADER_UUID = ZZ2.CODE_HEADER_UUID
                        AND ZZ1.CATEGORY_CODE = 'CD128'
                        AND ZZ2.CODE_DETAIL_UUID = Z1.INPUT_METHOD_UUID) as INPUT_METHOD_CODE,
                        Z1.INPUT_CODE_UUID,
                        Z1.IN_OUT_UUID,
                        Z1.VALUE,
                        Z1.DISPLAY_YN,
                        Z1.REQUIRED_YN,
                        <include refid="Common.UserName">
                            <property name="userUuid" value="Z1.INSERT_UUID"/>
                        </include> as INSERT_UUID,
                        Z1.INSERT_DATE,
                        <include refid="Common.UserName">
                            <property name="userUuid" value="Z1.UPDATE_UUID"/>
                        </include> as UPDATE_UUID,
                        Z1.UPDATE_DATE
                FROM
                    WF_PARAMETER_RESULT Z1
                WHERE
                    Z1.JOB_RESULT_UUID = #{jobResultUuid}
        ) ZZ1
    </select>
</mapper>