<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}">

<!-- ===== [ script ] ===== -->
<script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/lc/lc001/lc001.js}"></script>
<!--realgrid -->

<!-- ===== [ base-content ] ===== -->
<div layout:fragment="base-content" class="ax-base-content">
    <form name="formView01" id="formView01" method="post" onsubmit="return false">
        <div class="cssBody" style="top:80px">
            <div style="display:table; height:100%; width:100%">
                <div class="contents_wrap">
                    <div style=" height:30px; width:100%" class="bgf7 div_tablerow">
                        <ul class="bdb">
                            <th:block layout:insert="~{/fragments/page-buttons :: bookmark}"/>
                            <th:block layout:insert="~{/fragments/page-buttons :: save-and-inquiry}"/>
                        </ul>
                    </div>
                    <div class="bdb div_tablerow searchFields">
                        <dl>
                            <dt class="mgl_5">관리번호</dt>
                            <dd>
                                <input type=text style="width:135px" data-ax-path="leadCaseNo">
                            </dd>
                            <dt>소속/직업</dt>
                            <dd>
                                <input type=text style="width:135px" data-ax-path="occupation">
                            </dd>
                            <dt>지역</dt>
                            <dd>
                                <input type=text style="width:135px" data-ax-path="region">
                            </dd>
                            <!--<dt class="mgl_5">수집일자</dt>-->

                            <!--<dd class="w_auto">-->
                                <!--<div class="input-group" data-ax5picker="date">-->
                                    <!--<div class="cld_box" style="background-color: #fffdd6">-->
                                        <!--<input type="text" data-ax-path="disposalFromDueDate" style="background-color: #fffdd6;ime-mode:disabled;"-->
                                               <!--placeholder="YYYY-MM-DD" maxlength="10">-->
                                        <!--<img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png" >-->
                                    <!--</div>-->
                                    <!--~-->
                                    <!--<div class="cld_box" style="background-color: #fffdd6">-->
                                        <!--<input type="text" data-ax-path="disposalToDueDate" style="background-color: #fffdd6;ime-mode:disabled;"-->
                                               <!--placeholder="YYYY-MM-DD" maxlength="10">-->
                                        <!--<img title="calendar" class="ui-datepicker-trigger" alt="..." src="/assets/images/ams/calendar.png">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</dd>-->
                        </dl>
                        <dl>
                            <dt class="mgl_5">리드명</dt>
                            <dd>
                                <input type=text style="width:135px" data-ax-path="leadCaseName">
                            </dd>
                            <dt>구분(대)</dt>
                            <dd>
                                <select data-ax-path="majorClassificationUuid" style="width:135px;">
                                    <option value=""></option>
                                    <option th:each="item : ${majorClassificationUuid}"
                                            th:value="${item.codeDetailUUID}"
                                            th:text="${item.codeName}"/>
                                </select>
                            </dd>
                            <dt>구분(중)</dt>
                            <dd>
                                <select data-ax-path="middleClassificationUuid" style="width:135px;">
                                    <option value=""></option>
                                    <option th:each="item : ${middleClassificationUuid}"
                                            th:value="${item.codeDetailUUID}"
                                            th:text="${item.codeName}"/>
                                </select>
                            </dd>
                        </dl>


                    </div>
                    <div style="height:100%; width:100%" class="bgf7 div_tablerow">

                        <div style="display:table; height:50%; width:100%">
                            <div style="display:table; height:100%; width:75%; float:left" class="bdr">
                                <ul class="bdb bdt div_tablerow" style="height:30px;">
                                    <th:block layout:insert="~{/fragments/page-buttons :: dot('Category')}"/>
                                    <th:block layout:insert="~{/fragments/page-buttons :: add-and-delete}"/>
                                </ul>
                                <div style="height:100%; width:100%" class="div_tablerow bdb">
                                    <div id="realgrid01" style="width:100%; height:100%"></div>
                                </div>
                            </div>
                            <div style="display:table; height:100%; width:25%; float:right">
                                <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                    <th:block layout:insert="~{/fragments/page-buttons :: dot('보유자료(예상)')}"/>
                                </ul>
                                <div style="height:100%; width:100%;" class="div_tablerow bdb">
                                    <div class="detail_wrap">
                                        <div class="detail_conts">
                                            <ul style="width: 100%; height: 100px;">
                                                <li style="width: 100%; height: 100%"><textarea data-ax-path="ownMaterial"  rows="18" cols="1" class="txtar" style="width: 97%;height: 100%;resize: none;"></textarea></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="display:table; height:50%; width:100%">
                            <div style="display:table; height:100%; width:75%; float:left" class="bdr">
                                <ul class="bdb bdt div_tablerow" style="height:30px;">
                                    <th:block layout:insert="~{/fragments/page-buttons :: dot('수집일지')}"/>
                                    <th:block layout:insert="~{/fragments/page-buttons :: add-and-delete}"/>
                                </ul>
                                <div style="height:100%; width:100%" class="div_tablerow bdb">
                                    <div id="realgrid02" style="width:100%; height:100%"></div>
                                </div>
                            </div>
                            <div style="display:table; height:100%; width:25%; float:right">
                                <ul class="bdb bdt div_tablerow bgf7" style="height:30px;">
                                    <th:block layout:insert="~{/fragments/page-buttons :: dot('수집내용')}"/>
                                </ul>
                                <div style="height:100%; width:100%;" class="div_tablerow bdb">
                                    <div class="detail_wrap">
                                        <div class="detail_conts">
                                            <ul style="width: 100%; height: 100px;">
                                                <li style="width: 100%; height: 100%"><textarea data-ax-path="basedOn" rows="18" cols="1" class="txtar" style="width: 97%;height: 100%;resize: none;"></textarea></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </form>
</div>