<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.ad.ad008.dao.Ad008Mapper">

    <select id="searchList" resultType="Ad00801VO" parameterType="Ad00801VO" statementType="PREPARED">
        <![CDATA[
        SELECT
            AUDIT_UUID AS auditUuid,
            ENTITY_TYPE_UUID AS entityTypeUuid,
            ENTITY_COLUMN_UUID AS entityColumnUuid,
            PROGRAM_UUID AS programUuid,
            PROGRAM_NAME AS programName,
            FUNCTION_UUID AS functionUuid,
            PRIMARY_KEY_UUID AS primaryKeyUuid,
            PREVIOUS_VALUE AS previousValue,
            NEW_VALUE AS newValue,
            DESCRIPTION AS description,
            NOTES AS notes,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="INSERT_UUID"/>
        </include>
        AS insertUuid,

        <![CDATA[
            INSERT_DATE AS insertDate,
        ]]>
        <include refid="Common.UserName">
            <property name="userUuid" value="UPDATE_UUID"/>
        </include>
        AS updateUuid,

        <![CDATA[
            UPDATE_DATE AS  updateDate
        FROM
            AD_AUDIT
        WHERE 1=1
        ]]>
    </select>

</mapper>