<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.cl.cl001.dao.Cl001Mapper">
    <select id="getClassificationSchemeList" resultType="Cl00101VO" parameterType="Cl00101VO" statementType="PREPARED">
        SELECT
          CLASSIFICATION_SCHEME_UUID as classificationSchemeUuid,
          STATUS_UUID as statusUuid,
          CLASSIFICATION_CODE as classificationCode,
          CLASSIFICATION_NAME as classificationName,
          CLASSIFICATION_TYPE_UUID as classificationTypeUuid,
          ORDER_NO as orderNo,
          DESCRIPTION as description,
          NOTES as notes,
          USE_YN as useYn,
        <include refid="Common.UserName"><property name="userUuid" value="INSERT_UUID"/></include> as insertUuid,
         INSERT_DATE as insertDate,
        <include refid="Common.UserName"><property name="userUuid" value="UPDATE_UUID"/></include> as updateUuid,
         UPDATE_DATE as updateDate
        FROM
        CL_CLASSIFICATION_SCHEME
        <where>
            <if test="statusUuid != null">
              STATUS_UUID = #{statusUuid}
            </if>
            <if test="classificationTypeUuid != null">
             AND CLASSIFICATION_TYPE_UUID = #{classificationTypeUuid}
            </if>
            <if test="classificationCode != null">
                AND UPPER(CLASSIFICATION_CODE)  LIKE '%' || #{classificationCode} || '%'
            </if>
            <if test="classificationName != null">
                AND UPPER(CLASSIFICATION_NAME)  LIKE '%' || #{classificationName} || '%'
            </if>
            <if test="useYn != null">
                AND USE_YN = #{useYn}
            </if>
        </where>
        ORDER BY CLASSIFICATION_CODE,ORDER_NO
    </select>
    <select id="getClassificationSchemeDetail" resultType="Cl00102VO" parameterType="Cl00102VO" statementType="PREPARED">
        SELECT
            Z1.CLASSIFICATION_SCHEME_UUID as classificationSchemeUuid ,
            Z2.MANAGER_ORGANIZATION as managerOrganization ,
            Z2.MANAGER as manager ,
            Z2.BASED_ON as basedOn,
            Z2.ADD_METADATA01 as addMetadata01,
            Z2.ADD_METADATA02 as addMetadata02,
            Z2.ADD_METADATA03 as addMetadata03,
            Z2.ADD_METADATA04 as addMetadata04,
            Z2.ADD_METADATA05 as addMetadata05,
            Z2.ADD_METADATA06 as addMetadata06,
            Z2.ADD_METADATA07 as addMetadata07,
            Z2.ADD_METADATA08 as addMetadata08,
            Z2.ADD_METADATA09 as addMetadata09,
            Z2.ADD_METADATA10 as addMetadata10,
            Z2.ADD_META_TEMPLATE_SET_UUID as addMetaTemplateSetUuid,
            (
                SELECT COUNT(K2.AGGREGATION_UUID)
                FROM CL_CLASS K1, CL_CLASSIFY_RECORDS_RESULT K2
                <where>
                    <if test="classificationSchemeUuid != null">
                        K1.CLASSIFICATION_SCHEME_UUID = #{classificationSchemeUuid} AND
                    </if>
                    K1.CLASS_UUID = K2.CLASS_UUID
                </where>
            ) as aggregationCnt,
            (
                SELECT COUNT(USE_YN)
                FROM CL_CLASS
                <where>
                    <if test="classificationSchemeUuid != null">
                        CLASSIFICATION_SCHEME_UUID = #{classificationSchemeUuid} AND
                    </if>
                    USE_YN = 'Y'
                </where>
            ) as useYes ,
            (
                SELECT COUNT(USE_YN)
                FROM CL_CLASS
                <where>
                    <if test="classificationSchemeUuid != null">
                        CLASSIFICATION_SCHEME_UUID = #{classificationSchemeUuid} AND
                    </if>
                    USE_YN = 'N'
                </where>
            ) as useNo
        FROM
            CL_CLASSIFICATION_SCHEME Z1,
            CL_CLASSIFICATION_SCHEME_CON Z2
        <where>
            Z1.CLASSIFICATION_SCHEME_UUID = Z2.CLASSIFICATION_SCHEME_UUID(+)
            <if test="classificationSchemeUuid != null">
                AND Z1.CLASSIFICATION_SCHEME_UUID = #{classificationSchemeUuid}
            </if>
        </where>

    </select>
    <select id="getMaxClassificationCode" resultType="String" parameterType="Cl00101VO" statementType="PREPARED">
        SELECT CLASSIFICATION_CODE
        FROM
        (
            SELECT Z.*, ROW_NUMBER() OVER(ORDER BY CLASSIFICATION_CODE DESC)
            FROM CL_CLASSIFICATION_SCHEME Z
            <where>
                <if test="classificationTypeUuid != null">
                    Z.CLASSIFICATION_TYPE_UUID = #{classificationTypeUuid}
                </if>
            </where>
        )
        WHERE ROWNUM = 1
    </select>
    <select id="getChildClass" resultType="int" parameterType="String" statementType="PREPARED">
        SELECT COUNT(*)
        FROM CL_CLASS
        WHERE CLASSIFICATION_SCHEME_UUID = #{classificationSchemeUuid}
    </select>
</mapper>