<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgf.shbank.domain.mng.equip.sh05001130.Sh05001130Mapper">

    <select id="findAll" resultType="sh05001130" parameterType="sh05001130" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            OVERHAUL_DATE AS overhaulDate,
            CORNER_NAME AS cornerName,
            TERMINAL_FRONT_GLASS AS terminalFrontGlass,
            TERMINAL_FRONT AS terminalFront,
            TERMINAL_CRACKS AS terminalCracks,
            MORNITOR AS mornitor,
            BNKB_PART_ENTRANCE_CRACKS AS bnkbPartEntranceCracks,
            CARD_PART_ENTRANCE_CRACKS AS cardPartEntranceCracks,
            INTERCOM AS intercom,
            BOARD_CRADLE AS boardCradle,
            BRANCH_FLOAR AS branchFloar,
            INSIDE_WALL AS insideWall,
            OUTSIDE_WALL AS outsideWall,
            BRANCH_GLASS AS branchGlass,
            CEILING AS ceiling,
            FLUORESCENT_LIGHT_GLASS AS fluorescentLightGlass,
            STICKING_BILLBOARD AS stickingBillboard,
            GARBAGECAN AS garbagecan,
            COOLER_HEATER AS coolerHeater,
            BRANCH_PERIPHERY AS branchPeriphery,
            UNUSL AS unusl,
            OVERHAUL_EMP AS overhaulEmp,
            OFFICE_NAME AS officeName,
            TAKE_PHOTO_ENABLE AS takePhotoEnable,
            TRANSMIT_ROUND_GUBUN AS transmitRoundGubun
        FROM
            ATMS_05001130
    </select>

    <select id="findOne" resultType="sh05001130" parameterType="sh05001130" statementType="PREPARED">
        SELECT
            JISA_CODE AS jisaCode,
            BRANCH_CODE AS branchCode,
            CORNER_CODE AS cornerCode,
            OVERHAUL_DATE AS overhaulDate,
            CORNER_NAME AS cornerName,
            TERMINAL_FRONT_GLASS AS terminalFrontGlass,
            TERMINAL_FRONT AS terminalFront,
            TERMINAL_CRACKS AS terminalCracks,
            MORNITOR AS mornitor,
            BNKB_PART_ENTRANCE_CRACKS AS bnkbPartEntranceCracks,
            CARD_PART_ENTRANCE_CRACKS AS cardPartEntranceCracks,
            INTERCOM AS intercom,
            BOARD_CRADLE AS boardCradle,
            BRANCH_FLOAR AS branchFloar,
            INSIDE_WALL AS insideWall,
            OUTSIDE_WALL AS outsideWall,
            BRANCH_GLASS AS branchGlass,
            CEILING AS ceiling,
            FLUORESCENT_LIGHT_GLASS AS fluorescentLightGlass,
            STICKING_BILLBOARD AS stickingBillboard,
            GARBAGECAN AS garbagecan,
            COOLER_HEATER AS coolerHeater,
            BRANCH_PERIPHERY AS branchPeriphery,
            UNUSL AS unusl,
            OVERHAUL_EMP AS overhaulEmp,
            OFFICE_NAME AS officeName,
            TAKE_PHOTO_ENABLE AS takePhotoEnable,
            TRANSMIT_ROUND_GUBUN AS transmitRoundGubun
        FROM
            ATMS_05001130
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </select>

   <update id="delete" parameterType="sh05001130" statementType="PREPARED">
        DELETE FROM
            ATMS_05001130
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </update>

   <update id="update" parameterType="sh05001130" statementType="PREPARED">
        UPDATE ATMS_05001130
        SET
            JISA_CODE = #{jisaCode},
            CORNER_NAME = #{cornerName},
            TERMINAL_FRONT_GLASS = #{terminalFrontGlass},
            TERMINAL_FRONT = #{terminalFront},
            TERMINAL_CRACKS = #{terminalCracks},
            MORNITOR = #{mornitor},
            BNKB_PART_ENTRANCE_CRACKS = #{bnkbPartEntranceCracks},
            CARD_PART_ENTRANCE_CRACKS = #{cardPartEntranceCracks},
            INTERCOM = #{intercom},
            BOARD_CRADLE = #{boardCradle},
            BRANCH_FLOAR = #{branchFloar},
            INSIDE_WALL = #{insideWall},
            OUTSIDE_WALL = #{outsideWall},
            BRANCH_GLASS = #{branchGlass},
            CEILING = #{ceiling},
            FLUORESCENT_LIGHT_GLASS = #{fluorescentLightGlass},
            STICKING_BILLBOARD = #{stickingBillboard},
            GARBAGECAN = #{garbagecan},
            COOLER_HEATER = #{coolerHeater},
            BRANCH_PERIPHERY = #{branchPeriphery},
            UNUSL = #{unusl},
            OVERHAUL_EMP = #{overhaulEmp},
            OFFICE_NAME = #{officeName},
            TAKE_PHOTO_ENABLE = #{takePhotoEnable},
            TRANSMIT_ROUND_GUBUN = #{transmitRoundGubun}
        WHERE
            BRANCH_CODE = #{branchCode}, CORNER_CODE = #{cornerCode}, OVERHAUL_DATE = #{overhaulDate}
    </update>

   <update id="insert" parameterType="sh05001130" statementType="PREPARED">
        INSERT INTO ATMS_05001130 (
            JISA_CODE,
            BRANCH_CODE,
            CORNER_CODE,
            OVERHAUL_DATE,
            CORNER_NAME,
            TERMINAL_FRONT_GLASS,
            TERMINAL_FRONT,
            TERMINAL_CRACKS,
            MORNITOR,
            BNKB_PART_ENTRANCE_CRACKS,
            CARD_PART_ENTRANCE_CRACKS,
            INTERCOM,
            BOARD_CRADLE,
            BRANCH_FLOAR,
            INSIDE_WALL,
            OUTSIDE_WALL,
            BRANCH_GLASS,
            CEILING,
            FLUORESCENT_LIGHT_GLASS,
            STICKING_BILLBOARD,
            GARBAGECAN,
            COOLER_HEATER,
            BRANCH_PERIPHERY,
            UNUSL,
            OVERHAUL_EMP,
            OFFICE_NAME,
            TAKE_PHOTO_ENABLE,
            TRANSMIT_ROUND_GUBUN
        ) VALUES (
            #{jisaCode},
            #{branchCode},
            #{cornerCode},
            #{overhaulDate},
            #{cornerName},
            #{terminalFrontGlass},
            #{terminalFront},
            #{terminalCracks},
            #{mornitor},
            #{bnkbPartEntranceCracks},
            #{cardPartEntranceCracks},
            #{intercom},
            #{boardCradle},
            #{branchFloar},
            #{insideWall},
            #{outsideWall},
            #{branchGlass},
            #{ceiling},
            #{fluorescentLightGlass},
            #{stickingBillboard},
            #{garbagecan},
            #{coolerHeater},
            #{branchPeriphery},
            #{unusl},
            #{overhaulEmp},
            #{officeName},
            #{takePhotoEnable},
            #{transmitRoundGubun}
        )
    </update>
</mapper>