<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rmsoft.ams.seoul.cl.cl002.dao.Cl002Mapper">

    <select id="getClassList" resultType="cl00201VO" parameterType="cl00201VO" statementType="PREPARED">
        SELECT
          CLASS_UUID as classUuid,
          CLASSIFICATION_SCHEME_UUID as classificationSchemeUuid,
          STATUS_UUID as statusUuid,
          PARENT_CLASS_UUID as parentClassUuid,
          CLASS_CODE as classCode,
          CLASS_NAME as className,
          CLASS_LEVEL_UUID as classLevelUuid,
          ORDER_NO as orderNo,
          ORDER_KEY as orderKey,
          USE_YN as useYn,
        <include refid="Common.UserName"><property name="userUuid" value="INSERT_UUID"/></include> as insertUuid,
         INSERT_DATE as insertDate,
        <include refid="Common.UserName"><property name="userUuid" value="UPDATE_UUID"/></include> as updateUuid,
         UPDATE_DATE as updateDate
        FROM
        CL_CLASS
    </select>
</mapper>